<html>
  <head><title>Title</title></head>
  <body>
    <h1>Napadi</h1>
    <a id="sqli" href="/blind-sqli">Blind SQLi w/ OOBE</a>
    <a id="xss2pass" href="/xss-to-capture-pass">Xss to capture password</a>
    <a id="domclob" href="/dom-clobering">DOM clobering - logical OR</a>
    <a id="css-keyloger" href="/css-keyloger">CSS Keyloger</a>
  </body>
</html>

