<html>
  <head><title>XSS to capture password - Blog</title></head>
  <h1>XSS to capture password</h1>
  <hr>
  <h1>Blog</h1>
  <p>User: <%= user %></p>
  <% if(posts.length > 0) { %>
  <%    for(var i = 0; i < posts.length; i++) { %>
            <p><%= posts[i] %></p>
  <%    } %>
  <% } %>
  <form id="blog-post" action="/xss-to-capture-pass/blog" method="POST">
    <p>Post</p>
    <textarea name="post" rows="10" cols="30"></textarea>
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <button type="submit">Post it</button>
  </form>
  <form id="logout" action="/xss-to-capture-pass/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</html>